.subtree-dropdown-trigger {background: url("arrow-right.png") no-repeat center center; 
	width: 20px; height: 22px; display: block;}
.subtree-dropdown-trigger:hover, .subtree-dropdown-trigger.open {
	background-image: url("arrow-down.png");}	
.subtree-dropdown>.content {padding: 8px 24px 8px 4px; max-width: 800px; max-height: 600px; overflow: auto;}
.subtree-dropdown .tree-theme-human span.tree-content a {color: #444; font-size: 13px;}
.path-navigator a, .path-navigator em {font-size: 16px;}
.path-navigator em {font-style: normal;}