<wicket:panel>
	<div class="commit-list">
		<div wicket:id="tooManyCommits" class="alert alert-warning"></div>
		<div wicket:id="noAnyCommits" class="alert alert-warning"></div>
		<div wicket:id="container">
			<ul class="list-unstyled">
				<li wicket:id="commits"><wicket:container wicket:id="commit"></wicket:container></li>
			</ul>
		</div>
	</div>
	<wicket:fragment wicket:id="commitFrag">
		<div class="avatar pull-left">
			<span wicket:id="avatar"></span>
		</div>
		<div class="detail pull-left">
			<div class="message-and-labels clearfix">
				<div wicket:id="message" class="message pull-left"></div>
				<span wicket:id="labels" class="label label-default pull-left"></span>
			</div>
			<div wicket:id="contribution"></div>
		</div>
		<div class="pull-right">
			<span class="btn-group">
				<a wicket:id="hashLink" class="hash btn btn-sm btn-default"><span wicket:id="hash"></span></a>
				<a wicket:id="copyHash" class="btn btn-sm btn-default"><i class="fa fa-clipboard"></i></a>
			</span>
			<a wicket:id="browseCode" title="Browse code" class="browse btn btn-default btn-sm"><i class="fa fa-file-text-o"></i></a>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="dateFrag">
		<i class="fa fa-calendar"></i> <span wicket:id="date"></span>
	</wicket:fragment>
</wicket:panel>