<wicket:panel>
	<span wicket:id="content" class="contributor text-muted"></span>
	<wicket:fragment wicket:id="withCommitterFrag">
		<wicket:t>
		<a wicket:id="author" class="name link-gray"></a> committed with <a wicket:id="committer" class="name link-gray"></a> <span wicket:id="date"></span>
		</wicket:t>
	</wicket:fragment>
	<wicket:fragment wicket:id="withoutCommitterFrag">
		<wicket:t>
		<a wicket:id="author" class="name link-gray"></a> committed <span wicket:id="date"></span>
		</wicket:t>
	</wicket:fragment>
</wicket:panel>