#login .username, #login .password  {
	margin-bottom: 20px;
}
#login .forget-register:not(:empty) {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EEE;
	text-align: right;
}
#login .forget-register>a {
	font-size: 16px;
	margin-left: 20px;
}

#login .sso {
	text-align: right;
	border-top: 2px solid #EEE;
	margin-top: 20px;
	padding-top: 20px;
}
#login .sso .btn {
	width: auto;
	margin: 0 0 20px 20px;
}
#login .sso img {
	width: 24px;
	height: 24px;
	margin-right: 8px;
}
