#repo-file>.head {
	border-bottom: 1px solid #BBB;
	height: 31px;
}
#repo-file>.head>.revision-picker {
	padding: 0;
}
#repo-file>.head>.comment-context {
	border-right: 1px solid #BBB;
	padding: 5px 8px 0 8px;
	height: 31px;
	cursor: pointer;
}
#repo-file>.head>a.revision-picker {
	display: block;
	border-right: 1px solid #BBB;
	color: #333;
	text-decoration: none;
}
#repo-file>.head>a.revision-picker:hover {
	background: #EEE;
	clear: both;
}
#repo-file>.head>a.revision-picker, #repo-file>.head>.file-navigator, #repo-file>.file-navigator>div {
	padding: 5px 8px;
}
#repo-file>.head>.file-navigator, #repo-file>.file-navigator>div {
	padding: 5px 8px 0px 8px;
}
#repo-file>.head>.file-navigator input.name {
	height: 30px;
	border: 1px solid #BBB;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
	margin-top: -5px;
	padding-left: 0px 8px;
	width: 160px;
}
#repo-file>.file-navigator {
	border-bottom: 1px solid #BBB;
}
#repo-file>.file-navigator input.name {
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	height: 26px;
	margin-top: -1px;
	border-radius: 3px;
	width: 160px;
}					
	
#repo-file>.head>.operations {
	position: absolute;
	margin-top: 5px;
	right: 6px;
}
#repo-file>.head>.operations>a, #repo-file>.head>.operations>span {
	color: #666;
	margin-right: 8px;
}
#repo-file>.head>.operations .fa-download {
	font-size: 16px;
	vertical-align: bottom;
}
#repo-file>.head>.operations input {
	border-radius: 0;
	border-color: #BBB;
	height: 30px;
	border-top: none;
	border-bottom: none;
	top: -5px;
	padding: 0px 8px;
	position: absolute;
	width: 250px;
	left: -260px;
	font-size: 14px;
}

#repo-file>.file-navigator {
	display: none;
	padding: 2px 0 3px 0;
}

#repo-file>.contribution {
	padding: 6px 12px;
	background: #F9F9F9;
	border-bottom: 1px solid #DDD; 
	color: #999;
}
#repo-file>.contribution img.loading {
	padding: 4px 0;
}
#repo-file>.contribution a {
	color: #666;
}
#repo-file>.contribution .contributors a {
	text-decoration: none;
}
#repo-file>.contribution .pull-left {
	margin-right: 12px;
}
#repo-file>.contribution .date {
	margin-left: 12px;
}

#repo-file>.revision-indexing {
	padding: 8px 8px 9px 8px;
	background: #fcf8e3;
	border-bottom: 1px solid #DDD;
	color: #8a6d3b;
	font-size: 13px;
}
#repo-file>.search-result {
	height: 200px;
	border-top: 1px solid #CCC;
}
#repo-file>.search-result>.ui-resizable-handle {
    background: #EEE url("hgrabber.png") no-repeat scroll center top;
    cursor: n-resize;
    height: 4px;
}

.floating ul.contributors {
	margin: 0;
	padding: 8px 0;
}
.floating ul.contributors>li>a {
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #666;
}
.floating ul.contributors>li>a:hover {
	background: #EEE;
}

