.blob-view>.head {
	border-bottom: 1px solid #E0E0E0; 
	padding: 4px 8px;
}
.blob-view>.body {
	overflow: auto;
}
.blob-view>.head>.info {
	color: #666;
}
.blob-view>.head>.info .separator {
	color: #E0E0E0;	
}
.blob-view>.head .actions {
	white-space: nowrap;
}
.blob-view>.head .actions>* {
	color: #333;
	margin-left: 12px;
	margin-right: 0;
}
.blob-view>.head .actions>input {
	vertical-align: top;
}
.blob-view>.head .actions label {
	font-weight: normal;
	margin-bottom: 0;
	display: inline-block;
}
.blob-view>.head .actions input[type=checkbox] {
	position: relative;
	top: 2px;
}
