<wicket:panel>
	<div class="blob-view autofit">
		<div class="head clearfix">
			<div class="pull-left info expanded">
				<wicket:enclosure child="lines">
				<span wicket:id="lines"></span>
				<span class="separator">|</span>
				<span wicket:id="charset"></span>
				<span class="separator">|</span>
				</wicket:enclosure>
				<span wicket:id="size"></span>
			</div>
			<div class="actions-and-options pull-right clearfix">
				<div wicket:id="options" class="pull-left options expanded"></div>
				<div class="pull-left actions">
					<wicket:container wicket:id="changeActions">
					<a wicket:id="edit"><i class="fa fa-pencil"></i> Edit</a>
					<a wicket:id="delete"><i class="fa fa-trash"></i> Delete</a>
					</wicket:container>
					<a wicket:id="raw"><i class="fa fa-file-o"></i> Raw</a>
					<label><input type="checkbox" wicket:id="blame"> Blame</label>
					<wicket:container wicket:id="extraActions"></wicket:container>
				</div>
			</div>
		</div>
		<div class="body">
			<wicket:child></wicket:child>
		</div>
	</div>
</wicket:panel>