<wicket:panel>
	<div class="md-help">
		<a href="https://help.github.com/articles/github-flavored-markdown/" target="_blank">GitHub flavored markdown</a> is accepted here. 
		You can also input <b>@<em>user_login_name</em></b> to mention an user (and email notification will be sent to the user), or use 
		<b>:<em>emoji</em>:</b> to insert an emoji.		
	</div>
	<div wicket:id="emojis" class="md-emojis"></div>
	<textarea wicket:id="input" rows="10"></textarea>
	<wicket:fragment wicket:id="emojisFrag">
		<div class="mask"></div>
		<div class="emojis">
			<wicket:container wicket:id="emojis"><a wicket:id="emoji" class="emoji"><img wicket:id="icon"></img></a></wicket:container>
		</div>
	</wicket:fragment>
</wicket:panel>