.issue-info>div>.head {
	font-weight: bold;
	margin-bottom: 16px;
}
.issue-info>div .body>* {
	margin-bottom: 16px;
}
.issue-info>div>.body a.avatar {
	margin-right: 8px;
}
.issue-info>div>.body .field-values a.avatar {
	margin-right: 0;
}
.issue-info>* {
	margin-bottom: 20px;
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
}
.issue-info>div:first-child {
	border-top: none;
	padding-top: 0;
}

.issue-info .fields td {
	padding-bottom: 12px;
	vertical-align: top;
}
.issue-info .fields tr:last-child td {
	padding-bottom: 0;
}
.issue-info .fields td.name {
	white-space: nowrap;
	padding-right: 20px;
}
.issue-info a.action {
	margin-top: 0;
	margin-left: 8px;
	color: #666;
}
.issue-info .milestone>.body>.progress {
	margin-top: 20px;
}
