@media(max-width: 767px) {
	#project>.sidebar {
		display: none;
	}
	#project>.sidebar+.content {
		padding-left: 0;
	}	
}
#project>.sidebar>.head a {
	display: block;
	border-bottom: 2px solid #E0E0E0;
	padding: 10px 22px 10px 4px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #444;
	height: 50px;
}
#project>.sidebar>.head a:hover {
	background: #EEE;
}
#project>.sidebar>.head img {
	width: 32px;
	height: 32px;
}
#project>.sidebar>.head i {
	position: absolute;
	right: 12px;
	top: 12px;
	font-style: normal;
	font-size: 20px;
}
#project>.sidebar>.head i:before {
	font-family: "FontAwesome";
	content: "\f142";
}

#project>.sidebar>.tabs {
	top: 50px;
}
#project>.minimized.sidebar>.head a {
	height: 64px;
}
#project>.minimized.sidebar>.head span {
	display: none;
}
#project>.minimized.sidebar>.head i {
	left: 11px;	
	top: 38px;
}
#project>.minimized.sidebar>.head i:before {
	content: "\f141";
}

#project>.minimized.sidebar>.tabs {
	top: 64px;
}

.no-commits>.head {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #444;
}
.no-commits {
	padding: 20px;
}
.no-commits>.body>ul {
	background: #EEE;
	border-radius: 4px;
	padding: 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin: 4px 0 16px 0;
}
.no-commits>.body>ul>li:before {
	content: "$";
	margin-right: 8px;
}
.no-commits>.body>.help-block {
	margin-top: -8px;
}
.project-nav-context-dropdown .info {
	margin: -20px;
}
.project-nav-context-dropdown .setting ul {
	display: none;
	padding-left: 10px;
}
.project-nav-context-dropdown .setting.expanded ul {
	display: block;
}
.project-nav-context-dropdown .setting li a {
	background: white !important;
	font-weight: normal !important;
	color: #666 !important;
}
.project-nav-context-dropdown .setting li:hover a {
	background: #EEE !important;
	color: black !important;
}
.project-nav-context-dropdown .setting li.active a {
	font-weight: bold !important;
	color: black !important;
}
