.job-params-edit>.job-param>* {
    margin-bottom: 12px;
}
.job-params-edit>.job-param>.name {
    font-weight: bold;
}
.job-params-edit>.job-param .specified-value {
    position: relative;
    margin-bottom: 12px;
    background: #F0F0F0;
    border-radius: 4px;
    padding: 8px 36px 8px 8px;
}
.job-params-edit>.job-param .specified-value>a {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #666;
}
.job-params-edit>.job-param .specified-value>a>i {
    font-size: 20px;
}
.job-params-edit>.job-param>.values>.help {
    color: #444;
    font-size: 18px;
    margin-left: 8px;
    vertical-align: middle;
}
.job-params-view>tbody>tr>td {
    padding: 0 8px 16px 0;
    vertical-align: top;    
}
.job-params-view>tbody>tr>td.name {
    font-weight: bold;
    text-align: right;
    width: 20%;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    border-right: 1px solid #E0E0E0;
}
.job-params-view>tbody>tr>td.value {
    padding-left: 8px;
}
.job-params-view .values-provider {
    font-style: italic;
    margin-bottom: 8px;
}
.job-params-view .specified-values {
    padding-left: 30px;
}
