<wicket:extend>
    <div class="form-group">
        <label class="control-label">Status</label>
        <input wicket:id="status" type="hidden" class="form-control">
    </div>  
    <div class="form-group">
        <label class="control-label">Created By</label>
        <input wicket:id="createdBy" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Active Since</label>
        <div class="clearable-wrapper">
            <input wicket:id="activeSince" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label">Not Active Since</label>
        <div class="clearable-wrapper">
            <input wicket:id="notActiveSince" type="text" class="form-control">
        </div>
    </div>    
</wicket:extend>