.edit-save {
	padding: 20px;
	overflow: auto;
}
.edit-save>.head {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
}
.edit-save>.body>.changed>.changes {
	margin-bottom: 20px;
	display: none;
}  
.edit-save .text-diff>.head>.actions {
	display: none;
}