#project-blob>.head {
	border-bottom: 1px solid #BBB;
	height: 31px;
}
#project-blob>.head>.revision-picker {
	padding: 0;
}
#project-blob>.head>.comment-context {
	border-right: 1px solid #BBB;
	padding: 5px 8px 0 8px;
	height: 31px;
	cursor: pointer;
}
#project-blob>.head>a.revision-picker {
	display: block;
	border-right: 1px solid #BBB;
	color: #333;
	text-decoration: none;
}
#project-blob>.head>a.revision-picker:hover {
	background: #EEE;
	clear: both;
}
#project-blob>.head>a.revision-picker, #project-blob>.head>.blob-navigator, #project-blob>.blob-navigator>div {
	padding: 5px 8px;
}
#project-blob>.head>.blob-navigator, #project-blob>.blob-navigator>div {
	padding: 5px 8px 0px 8px;
}
#project-blob>.head>.blob-navigator form.name input {
	height: 30px;
	border: 1px solid #BBB;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
	margin-top: -5px;
	padding-left: 0px 8px;
	width: 160px;
}
#project-blob>.blob-navigator {
	border-bottom: 1px solid #BBB;
}
#project-blob>.blob-navigator form.name input {
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	height: 26px;
	margin-top: -1px;
	border-radius: 3px;
	width: 160px;
}					
	
#project-blob>.head>.operations {
	margin-top: 4px;
	position: absolute;
	right: 0;
}
#project-blob>.head>.operations>a {
	padding: 4px 8px;
	color: #333;	
}

#project-blob>.blob-navigator {
	display: none;
	padding: 2px 0 3px 0;
}

#project-blob>.revision-indexing {
	padding: 8px 8px 9px 8px;
	background: #fcf8e3;
	border-bottom: 1px solid #DDD;
	color: #8a6d3b;
	font-size: 13px;
}
#project-blob>.search-result {
	height: 150px;
	border-top: 1px solid #CCC;
	top: 0 !important;
}
#project-blob>.search-result>.ui-resizable-handle {
	background: #EEE url(hgrabber.png) no-repeat scroll center top;
    cursor: n-resize;
    height: 4px;
    top: 0;
    position: relative;
}

.floating ul.contributors {
	margin: 0;
	padding: 8px 0;
}
.floating ul.contributors>li>a {
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #666;
}
.floating ul.contributors>li>a:hover {
	background: #EEE;
}

