#dashboard {
	padding: 20px;
}
#dashboard .head>div {
	margin-right: 20px;
}
#dashboard>div, #dashboard>ul {
	margin-bottom: 20px;
} 
#dashboard ul li a {
	display: block;
	text-decoration: none;
	padding: 6px 12px;
	color: #333;
}
#dashboard ul li a:hover {
	background: #EEE;
}

#dashboard table.projects {
	font-size: 13px;
}
#dashboard table.projects td.project {
	font-size: 14px;
}

#dashboard table.projects a {
	color: #444;
}
#dashboard table.projects td.author img.avatar {
	width: 20px;
	height: 20px;
}
#dashboard table.projects td.author span, #dashboard table.projects td.commit-date {
	color: #888;
}
