<wicket:extend>
    <div class="form-group">
        <label class="control-label"><wicket:t>Type</wicket:t></label>
        <input wicket:id="type" type="hidden" class="form-control">
    </div>  
    <div class="form-group">
        <label class="control-label"><wicket:t>Label</wicket:t></label>
        <input wicket:id="label" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Published After</wicket:t></label>
        <div class="clearable-wrapper">
            <input wicket:id="publishedAfter" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Published Before</wicket:t></label>
        <div class="clearable-wrapper">
            <input wicket:id="publishedBefore" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Published By Project</wicket:t></label>
        <input wicket:id="publishedByProject" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Published By User</wicket:t></label>
        <input wicket:id="publishedByUser" type="hidden" class="form-control">
    </div>    
</wicket:extend>