<wicket:extend>
    <div class="form-group">
        <label class="control-label">Type</label>
        <input wicket:id="type" type="hidden" class="form-control">
    </div>  
    <div class="form-group">
        <label class="control-label">Label</label>
        <input wicket:id="label" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Published After</label>
        <div class="clearable-wrapper">
            <input wicket:id="publishedAfter" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label">Published Before</label>
        <div class="clearable-wrapper">
            <input wicket:id="publishedBefore" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label">Published By Project</label>
        <input wicket:id="publishedByProject" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Published By User</label>
        <input wicket:id="publishedByUser" type="hidden" class="form-control">
    </div>    
</wicket:extend>