.compare-context {
	margin-bottom: 0;
}
.compare-context a {
	text-decoration: none;
	display: block;
	color: #333;
	padding: 4px 8px;
	white-space: nowrap;
	font-family: monospace;
}
.compare-context a:hover {
	background: #F2F2F2;
}
.compare-context a.commented {
	background: white;
	cursor: default;
}
.compare-context a .hash, .compare-context .icon {
	color: #666;
}
