#request-detail>.integration-preview>.available>.head {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #BBB;
	font-size: 16px;
}
#request-detail>.integration-preview>.available>.head .out-dated {
	margin-left: 20px;
}
#request-detail>.integration-preview>.available>.head .out-dated a {
	color: #666;
}
#request-detail>.integration-preview>.not-available {
	font-size: 16px;
}