#milestone-list>.head {
	margin-bottom: 20px;
}
#milestone-list>.head>.pull-left {
	margin-right: 20px;
}
#milestone-list>.body tbody a {
	margin-right: 8px;
}
#milestone-list>.body tbody .actions {
	white-space: nowrap;
}
#milestone-list>.body tbody .actions a {
	color: #666;
}

.issue-stats>.progress {
	float: left;
	width: 200px;
	margin-bottom: 0;
}
.issue-stats>.text {
	float: left;
	margin-right: 16px;
	margin-bottom: 4px;
}
.issue-stats>.text a:first-child {
	margin-right: 8px;
}
.milestone-sort.active:before {
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 6px;
}
#new-milestone>.head, #milestone-edit>.head {
	margin-bottom: 20px;
}
#milestone-detail>* {
	margin-bottom: 20px;
}
#milestone-detail>.title {
	margin-bottom: 12px;
}
#milestone-detail>.title>* {
	margin-right: 20px;
	margin-bottom: 8px;
}
#milestone-detail>.title>.status {
	margin-right: 10px;
	font-size: 16px;
	margin-top: -2px;
}
#milestone-detail>.title .due, #milestone-detail>.title a {
	font-weight: normal;
	font-size: 16px;
}
#milestone-detail>.title .actions a {
	color: #666;
}
#milestone-detail .description {
	background: #F5F5F5;
	border-radius: 4px;
	padding: 20px;
}