.imports>.import {
	border: 2px dashed var(--secondary);
	border-radius: 0.42rem;
	padding: 0.6rem 1.2rem;
	margin-bottom: 1.2rem;
	background: white;
}
.dark-mode .imports>.import {
	border-color: var(--dark-mode-lighter-dark);
	background: var(--dark-mode-dark);
}
.imports>.import:last-child {
	margin-bottom: 0;
}

.imports>.import>.head {
	margin-bottom: 1rem;
}
