#account.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	width: 220px;
}
#account.sidebar>table>tbody>tr>td.nav>.head {
	margin: -20px 0 20px 0;
	padding: 10px 10px 0 10px;
	border-bottom: 1px solid #BBB;
}
#account.sidebar>table>tbody>tr>td.nav>.head>div.avatar img {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .select2-container {
	width: 200px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .select2-container .avatar {
	display: none;
}
#account.sidebar>table>tbody>tr>td.nav>.head .name {
	font-size: 16px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.run-as {
	margin-bottom: 10px;
	border-bottom: 1px solid #BBB;
	padding: 0 10px 10px 10px;
	color: #666;
	display: block;
}
#account.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
#account.sidebar>table>tbody>tr>td.content .list table td.actions {
	width: 20%;
	white-space: nowrap;
}
#account.sidebar>table>tbody>tr>td.content .teams.table td.members img.avatar {
	margin-right: 4px;
}
#account.sidebar>table>tbody>tr>td.content .member.add .role label {
	font-weight: normal;
	margin-left: 8px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.content .detail>.head {
	padding: 12px;
	border: 1px dashed #BBB;
	background: #F0F0F0;
	border-radius: 4px;
	margin-bottom: 20px;
}
#account.sidebar>table>tbody>tr>td.content .team.detail>.head .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 12px;
}
#account.sidebar>table>tbody>tr>td.content .team.detail>.head .actions {
	border-top: 1px dashed #CCC;
	padding-top: 12px;
	margin-top: 16px;
}

#account.sidebar>table>tbody>tr>td.content .list td.name .note {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
}

#account.sidebar>table>tbody>tr>td.content .user.detail>.head .avatar {
	width: 32px;
	height: 32px;
}
#account.sidebar>table>tbody>tr>td.content .user.detail>.head>a, 
#account.sidebar>table>tbody>tr>td.content .user.detail>.head>span {
	margin-left: 8px;
}
#account.sidebar>table>tbody>tr>td.content .user.detail>.head>a.name {
	margin-left: 2px;
	font-size: 16px;
	vertical-align: middle;
}

#account.sidebar>table>tbody>tr>td.content td.privilege, 
#account.sidebar>table>tbody>tr>td.content td.role {
	width: 20%;
}

.user-overview .title {
	font-size: 18px;
	margin-bottom: 4px;
}
.user-overview .subtitle, .user-overview .subtitle a {
	color: #777;
}
.user-overview .subtitle span {
	margin-right: 8px;
}
.user-overview .operations {
	margin-top: 20px;
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
}
.user-overview .operations a {
	margin-right: 20px;
}