#account.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	width: 220px;
}
#account.sidebar>table>tbody>tr>td.nav>.head {
	margin: -20px 0 10px 0;
	padding: 10px;
}
#account.sidebar>table>tbody>tr>td.nav>.head>div>.avatar {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .select2-container {
	width: 200px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .name {
	font-size: 16px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.run-as {
	margin-bottom: 10px;
	border-bottom: 1px solid #BBB;
	padding: 0 10px 10px 10px;
	color: #666;
	display: block;
}
#account.sidebar>table>tbody>tr>td.nav>.run-as .fa {
	font-size: 18px;
}
#account.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
.select2-results .account .avatar {
	display: inline-block;
	border-radius: 3px;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	margin-right: 6px;
}
