#account.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	width: 220px;
}
#account.sidebar>table>tbody>tr>td.nav>.head {
	margin: -20px 0 20px 0;
	padding: 10px 10px 0 10px;
	border-bottom: 1px solid #DDD;
}
#account.sidebar>table>tbody>tr>td.nav>.head>div.avatar img {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .select2-container {
	width: 200px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .select2-container .avatar {
	display: none;
}
#account.sidebar>table>tbody>tr>td.nav>.head .name {
	font-size: 16px;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.head .dropdown-trigger {
	font-size: 18px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.nav>.run-as {
	margin-bottom: 10px;
	border-bottom: 1px solid #BBB;
	padding: 0 10px 10px 10px;
	color: #666;
	display: block;
}
#account.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
#account.sidebar>table>tbody>tr>td.content .list table td.actions {
	width: 20%;
	white-space: nowrap;
}
#account.sidebar>table>tbody>tr>td.content .teams.table td.members img.avatar {
	margin-right: 4px;
}
#account.sidebar>table>tbody>tr>td.content .member.add .role label {
	font-weight: normal;
	margin-left: 8px;
	vertical-align: middle;
}
#account.sidebar>table>tbody>tr>td.content .detail>.head {
	padding: 12px;
	border: 1px dashed #BBB;
	background: #F0F0F0;
	border-radius: 4px;
	margin-bottom: 20px;
}
.team.detail>.head .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 12px;
}
.team.detail>.head .description .md-preview {
	font-size: 14px;
}
.team.detail>.head .actions {
	border-top: 1px dashed #CCC;
	padding-top: 12px;
	margin-top: 16px;
}
.member.add .role label {
	margin-right: 16px;
}
.list td.name .note {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
}

.user.detail>.head .avatar {
	width: 32px;
	height: 32px;
}
.user.detail>.head>a, 
.user.detail>.head>span {
	margin-left: 8px;
}
.user.detail>.head>a.name {
	margin-left: 2px;
	font-size: 16px;
	vertical-align: middle;
}

.list td.privilege, 
.list td.role {
	width: 20%;
}

.account.overview>div {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 20px;
}
.account.overview>div:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 0;
}
.account.overview>.head>.title {
	font-size: 18px;
	font-weight: bold;
}
.account.overview>.head>.subtitle, .account.overview>.head>.subtitle a {
	color: #777;
}
.account.overview>.head>.description {
	margin-top: 8px;
	background: #F5F5F5;
	padding: 8px;
	border-radius: 4px;
}
.account.overview>.head>.description .md-preview {
	font-size: 14px;
}

.account.overview>.head>.subtitle span {
	margin-right: 8px;
}

.account.overview>div>.head {
	font-size: 18px;
	margin-bottom: 12px;
}

.account.overview .organizations ul {
	margin: 0 12px 0 0;
}
.account.overview .organizations a {
	display: block;
	margin-right: 8px;
}
.account.overview .organizations img {
	width: 32px;
	height: 32px;
}
