.source-view>.outline {
	overflow: auto; 
	background: white; 
	padding-left: 4px; 
	border-left: 1px solid #DDD;
}
.CodeMirror-tokentooltip ul.declarations li {
	vertical-align: top; 
	padding: 2px 4px; 
	white-space: nowrap;
}
.CodeMirror-tokentooltip ul.declarations .scope {
	color: #666;
}
.CodeMirror-tokentooltip>div {
	font-weight: bold;
}

.source-view>.outline {
	font-size: 13px;
}
.source-view>.outline .tree-node {
	line-height: 1.6;
}

.CodeMirror {
	font-size: 13px;
}
.CodeMirror-gutters {
	background: white;
}
.CodeMirror-annotations {
	width: 240px;
}

.CodeMirror-annotation {
	font-size: 12px;
	font-family: monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
