.file-list>.body {
	overflow: auto;
}
.file-list>.body>table {
	width: 100%; 
}
.file-list>.body>table>tbody>tr>td {
	padding: 6px 10px; 
	border-top: 1px solid #EEE; 
	vertical-align: top;
}
.file-list>.body>table>tbody>tr:first-child>td {
	border-top: none;
}
.file-list>.body>table tr.child .last-commit a, .file-list>table .last-commit {
	color: #666;
}
.file-list>.body>table tr.parent td {
	padding: 3px 12px;
}
.file-list>.body>table tr.parent td a i {
	margin-right: 2px;
}
.file-list>.body>table tr.parent td a span {
	font-size: 18px;
}
.file-list>.head {
	border-bottom: 1px solid #DDD;
}
.file-list>.head .message {
	background: #F2F2F2;
	padding: 8px;
	max-height: 600px;
	overflow: auto;
}
.file-list>.head .other-info {
	color: #888;
	padding: 6px 8px;
	height: 36px;
}
.file-list>.head .other-info .name {
	font-weight: bold; 
	color: #555;
}
.file-list>.head .other-info a {
	color: #555;
}