<wicket:panel>
	<div class="avatar-edit">
		<div class="current">
			<div class="title">Current avatar</div>
			<img wicket:id="avatar"/>
			<a wicket:id="useDefault" class="btn btn-default"><i class="fa fa-undo"/> Use Default</a>
		</div>
		<div class="use-uploaded">
			<div class="title">Upload avatar</div>
			<form wicket:id="form">
				<div wicket:id="avatar"></div>
				<button wicket:id="upload" type="submit" class="btn btn-default"><i class="fa fa-upload"></i> Upload</button>
			</form>
		</div>
	</div>
</wicket:panel>