#project>.sidebar>.head a {
	display: block;
	border-bottom: 2px solid #E0E0E0;
	padding: 10px 22px 10px 4px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
	color: #444;
	height: 50px;
}
#project>.sidebar>.head a:hover {
	background: #EEE;
}
#project>.sidebar>.head img {
	width: 32px;
	height: 32px;
}
#project>.sidebar>.head i {
	position: absolute;
	right: 4px;
	top: 16px;
}
#project>.sidebar>.tabs {
	top: 50px;
}
#project>.minimized.sidebar>.head a {
	height: 64px;
}
#project>.minimized.sidebar>.head span {
	display: none;
}
#project>.minimized.sidebar>.head i {
	left: 14px;	
	top: 43px;
}
#project>.minimized.sidebar>.tabs {
	top: 60px;
}

.no-commits>.head {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #444;
}
.no-commits {
	padding: 20px;
}
.no-commits>.body>ul {
	background: #EEE;
	border-radius: 4px;
	padding: 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin: 4px 0 16px 0;
}
.no-commits>.body>ul>li:before {
	content: "$";
	margin-right: 8px;
}
.no-commits>.body>.help-block {
	margin-top: -8px;
}

