<wicket:panel>
	<table class="reviews">
		<tr wicket:id="reviews">
			<wicket:enclosure>
			<td class="status">
				<span wicket:id="status"></span>
			</td>
			</wicket:enclosure>
			<td class="user">
				<a wicket:id="user"></a> 
			</td>
			<td class="actions">
				<a wicket:id="delete" class="btn btn-xs btn-icon btn-light btn-hover-danger" title="Remove this reviewer"><wicket:svg href="trash" class="icon"></wicket:svg></a>
			</td>
		</tr>
		<wicket:enclosure child="addReviewer">
		<tr>
			<td class="add-reviewer" colspan="3">
				<input wicket:id="addReviewer" type="hidden" class="form-control">
			</td>
		</tr>
		</wicket:enclosure>
	</table>
</wicket:panel>