table.reviews>tbody>tr>td {
	padding: 6px 12px;
}
table.reviews>tbody>tr>td.result {
	font-size: 16px;
	width: 16px;
	padding-right: 0;
}
table.reviews>tbody>tr>td:first-child {
	padding-left: 0;
}
table.reviews>tbody>tr>td:last-child {
	padding-right: 0;
}
table.reviews>tbody>tr:first-child>td {
	padding-top: 0;
}
table.reviews>tbody>tr:last-child>td {
	padding-bottom: 0;
}
table.reviews>tbody>tr>td.actions {
	font-size: 16px;
	text-align: right;
}
table.reviews>tbody>tr>td.result span {
	cursor: default;
}
table.reviews>tbody>tr>td.result span.awaiting {
	color: #DCB412;
}
table.reviews>tbody>tr>td.result span.approved {
	color: #35A612;
}
table.reviews>tbody>tr>td.result span.request-for-changes {
	color: #F93333;
}
.review-action {
	padding: 8px;
}
.review-action>.title {
	font-weight: bold;
}
.review-action>.comment {
	border-top: 1px solid #D8D8D8;
	margin-top: 8px;
	padding-top: 8px;
}