<wicket:panel>
	<ul class="reviews list-unstyled mb-0">
		<li wicket:id="reviews" class="d-flex flex-nowrap align-items-center">
			<a wicket:id="user" class="reviewer left mr-2 flex-shrink-0"></a> 
			<span class="flex-shrink-0 right d-flex align-items-center">
				<a wicket:id="refresh" class="refresh btn btn-xs btn-icon btn-light btn-hover-primary flex-shrink-0 mr-2" t:data-tippy-content="Request review"><wicket:svg href="refresh" class="icon"></wicket:svg></a>
				<a wicket:id="delete" class="delete btn btn-xs btn-icon btn-light btn-hover-danger flex-shrink-0 mr-2" t:data-tippy-content="Remove this reviewer"><wicket:svg href="trash" class="icon"></wicket:svg></a>
				<span wicket:id="status" class="status flex-shrink-0"></span>
			</span>
		</li>
		<wicket:enclosure child="addReviewer">
		<li class="add-reviewer">
			<input wicket:id="addReviewer" type="hidden" class="form-control">
		</li>
		</wicket:enclosure>
	</ul>
</wicket:panel>