table.reviews>tbody>tr>td {
	padding: 6px 12px;
}
table.reviews>tbody>tr>td.status {
	font-size: 16px;
	width: 16px;
	padding-right: 0;
}
table.reviews>tbody>tr>td:first-child {
	padding-left: 0;
}
table.reviews>tbody>tr>td:last-child {
	padding-right: 0;
}
table.reviews>tbody>tr:first-child>td {
	padding-top: 0;
}
table.reviews>tbody>tr:last-child>td {
	padding-bottom: 0;
}
table.reviews>tbody>tr>td.actions {
	font-size: 16px;
	text-align: right;
}
table.reviews>tbody>tr>td.status span {
	cursor: default;
}
.review-status {
	width: 16px;
	height: 24px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat no-repeat;
}
.review-status.pending {
	background-image: url("time.png");
}
.review-status.approved {
	background-image: url("accept.png");
}
.review-status.requested-for-changes {
	background-image: url("hand.png");
}
.review-detail {
	padding: 8px;
}
.review-detail>.title {
	font-weight: bold;
}
.review-detail>.comment {
	border-top: 1px solid #D8D8D8;
	margin-top: 8px;
	padding-top: 8px;
}
.reviewer-avatar {
	display: inline-block;
	position: relative;
}
.reviewer-avatar>i {
	width: 12px;
	height: 12px;
	position: absolute;
	right: -2px;
	bottom: 0;
	background-size: 12px;
}