<wicket:panel>
	<form wicket:id="form" class="wizard">
		<div wicket:id="title" class="head"></div>
		<div class="body">
			<div wicket:id="feedback"></div>
			<div wicket:id="content"></div>
		</div>
		<div class="foot">
			<a wicket:id="previous" class="btn btn-default previous">Previous</a>
			<a wicket:id="skip" class="btn btn-default skip">Skip</a>
			<input type="submit" value="Next" wicket:id="next" class="btn btn-primary next"></input> 
			<input type="submit" value="Finish" wicket:id="finish" class="btn btn-primary finish"></input>
		</div>
	</form>
</wicket:panel>
