.issue-operations>div {
	margin-bottom: 20px;
}
.issue-operations>.state-and-actions>.issue-state {
	font-size: 16px;
	display: block;
	padding: 4px 8px;
}
.issue-operations>.state-and-actions>* {
	margin-right: 20px;
}
