<wicket:panel>
    <div class="commit-jobs">
        <div wicket:id="jobs" class="job">
            <div class="head clearfix">
                <a wicket:id="name" class="name pull-left"><span wicket:id="label"></span></a>
                <span class="actions pull-right">
                    <a wicket:id="list" class="list" title="Show builds in list"><i class="fa fa-list-ul"></i></a>
                    <a wicket:id="run" class="run" title="Run this job"><i class="fa fa-play-circle"></i></a>
                </span>
            </div>
            <div class="body">
                <wicket:container wicket:id="builds">
                    <a wicket:id="build" class="build"><span wicket:id="status"></span></a>
                </wicket:container>
                <div wicket:id="noBuilds" class="no-builds">No builds</div>
            </div>
        </div>
    </div>
</wicket:panel>