.commit-jobs {
    white-space: nowrap;
}
.commit-jobs>.job {
    display: inline-block;
    margin-right: 20px;
    border: 4px solid #EEE;
    border-radius: 4px;
    width: 211px;
}
.commit-jobs>.job:last-child {
    margin-right: 0;
}
.commit-jobs>.job>.head {
    padding: 4px 8px;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 4px 4px 0 0;
    border-bottom: 2px solid #EEE;
    font-weight: bold;
}
.commit-jobs>.job>.head>.actions a {
    color: #666;
    margin: 0 0 0 8px;
}
.commit-jobs>.job>.head>.actions a.run {
    line-height: 16px;
    font-size: 18px;
}
.commit-jobs>.job>.body {
    height: 75px;
    padding: 8px 8px 0 8px;
    white-space: normal;
}
.commit-jobs>.job>.body .build-status {
    margin-bottom: 8px;
    font-size: 18px;
}
.commit-jobs>.job>.body .build-status-running {
    font-size: 16px;
}
.commit-jobs>.job>.body>.no-builds {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 8px;
}