.text-diff {
	border: 1px solid #E0E0E0;
	position: relative;
}
.text-diff table.diff {
	border: none;
	position: inherit;
}
.text-diff>.head {
	padding: 8px;
	border-bottom: 1px solid #E0E0E0;
}
.text-diff>.head .diff-title span {
	word-break: break-all;
}
.text-diff>.head .actions>a {
	margin-right: 0;
}
.text-diff>.head>div {
	margin-right: 8px;
}
.text-diff>.head>div:last-child {
	margin-right: 0;
}
.text-diff>.body>tbody>tr>td.content>span.content-mark {
	background: #CCCCFF;
}
.text-diff>.body>tbody>tr>td.content>span.content-mark.insert {
	background: #88FFFF;
}
.text-diff>.body>tbody>tr>td.content>span.content-mark.delete {
	background: #FF88FF;
}

.text-diff>.body>tbody>tr>td.number>.comment-indicator {
	margin: 0 4px;
	color: #999;
	font-size: 13px;
}
.text-diff>.body>tbody>tr>td.number>.comment-indicator:hover {
	color: #555;
}
.comment-popover a {
	display: block;
	color: #999;
	text-decoration: none;
	white-space: nowrap;
}
.comment-popover a:hover {
	color: #555;
}
.text-diff>.body>tbody>tr>td.number>.comment-trigger.active, 
.comment-popover .comment-trigger.active {
	color: black;	
}
.text-diff>.body>tbody>tr>td.number>.comment-trigger.active {
	line-height: 14px;
}
.text-diff>.body>tbody>tr>td.blame {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
	border-left: 1px solid #E0E0E0;
}
.text-diff>.body>tbody>tr>td.blame.abbr {
	text-overflow: inherit;
}
.text-diff>.body>tbody>tr>td.blame .hash, .text-diff>.body>tbody>tr>td.blame .date {
	margin-right: 8px;
}
.text-diff>.body>tbody>tr>td.blame.abbr .hash {
	margin-right: 0;
}
.text-diff>.body>tbody>tr>td.blame .same-as-above {
	margin-left: 90px;
	margin-top: -8px;
	color: #666;
	font-size: 16px;
}
.text-diff>.body>tbody>tr>td.blame.abbr .same-as-above {
	margin-left: 14px;
}
.diff-tokentooltip {
	background-color: #FBFCC5; 
	border: 1px solid black;
	border-radius: 4px; 
	color: black; 
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; 
	font-size: 10pt; 
	overflow: auto; 
	padding: 4px 8px; 
	z-index: 100; 
	max-width: 900px; 
	max-height: 600px;
}
