<wicket:panel>
	<div class="task-feedback">
		<div class="modal-header">
			<h5 wicket:id="title" class="modal-title"></h5>
			<button wicket:id="closeIcon" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<pre wicket:id="messages" class="messages"></pre>
			<div wicket:id="result" class="result"></div>
		</div>
		<div class="modal-footer justify-content-center">
			<button wicket:id="closeButton"></button>
		</div>
	</div>
</wicket:panel>