<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${logback.consoleLogPattern}</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logback.logFile}</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>${logback.fileLogPattern}</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>3</maxIndex>
			<FileNamePattern>${logback.logFile}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>250KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<logger name="org.apache.wicket" level="WARN" />
	<logger name="org.eclipse" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="java.sql.DatabaseMetaData" level="WARN"></logger>
	<logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR"></logger>
	<logger name="com.jolbox.bonecp.BoneCPConfig" level="WARN" />
	<logger name="com.sun.jersey" level="WARN" ></logger>
	<logger name="org.hibernate.engine.jdbc.internal.JdbcCoordinatorImpl" level="ERROR"></logger>
	<logger name="org.reflections" level="WARN"></logger>
	<logger name="org.apache.shiro.realm.AuthorizingRealm" level="WARN"></logger>
	<logger name="jetbrains.exodus" level="WARN"></logger>
	<logger name="com.zaxxer.hikari.HikariDataSource" level="ERROR"></logger>
	<logger name="com.pmease" level="INFO"></logger>	
	
	<root level="WARN">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
	
</configuration>