.code-comments td.filter {
	width: 25%;
	border: 1px solid #DDD;
}
.code-comments td.filter>.head {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding: 8px 12px;
	background: #F2F2F2;
}
.code-comments td.filter>.body>.shortcuts {
	margin-bottom: 12px;
}
.code-comments td.filter>.body {
	padding: 12px;
}
.code-comments td.spacing {
	width: 20px;
}
.code-comments td.result {
	border: 1px solid #DDD;
}
.code-comments td.comment {
	padding: 20px 20px 0 20px;
	border-left: 4px solid white;
}
.code-comments td.comment.new {
	border-left: 4px solid #4667EE;
}
.code-comments td.comment>div {
	padding-bottom: 20px;
	border-bottom: 2px dotted #BBB;
}
.code-comments td.result tr:last-child td.comment>div {
	border-bottom: none;
}

.code-comments td.comment>div>.title {
	color: #888;
	font-size: 16px;
	margin-bottom: 8px;
}
.code-comments td.comment>div>.content {
	margin-left: 20px;
	color: #666;
	font-size: 13px;
}
.code-comments td.comment>div>.last-event {
	color: #888;
	margin-left: 20px;
}
.code-comments td.comment>div>.title a, .code-comments td.comment>div>.last-event a {
	color: #444;
}

.code-comments td.comment>div>.title>.file {
	font-weight: bold;
}

.code-comments td.result .norecords-td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
.code-comments .alert {
	border-radius: 0;
}

.code-comment>.outdated-context {
	color: #8a6d3b;
	display: block;
	font-weight: bold;
	margin: 0 0 12px 8px;
	padding: 8px;
	border-radius: 4px;
	background: #fcf8e3;
	border: 1px solid #faebcc;
}
.code-comment>.section {
	position: relative;
	margin-left: -12px;
	padding-left: 12px;
	border-left: 4px solid white;
}
.code-comment>.section>.detail, .code-comment>.section>form {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #EEE;
}
.code-comment>.section.new {
	border-left: 4px solid #4667EE;
}
.code-comment>.section>.user-avatar {
	position: absolute;
	left: 12px;
	top: 0;
}
.code-comment>.section>.user-avatar img {
	width: 32px;
	height: 32px;
}
.code-comment>.section>.detail {
	padding-left: 40px;
}
.code-comment>.section>.detail>.head .user-name {
	color: #666;
}
.code-comment>.section>.detail>.head .reply {
	font-size: 12px;
	margin-top: 2px;
	color: #999;
}
.code-comment>.section>.detail>.head .compare-context {
	color: #666;
	font-size: 14px;
	line-height: 12px;
	margin: 4px 8px 0 0;
}
.code-comment>.section>.detail>.body {
	padding-top: 8px;
}
.code-comment>.section>.detail>.body>.feedback .alert {
	margin-bottom: 0;
}
.code-comment>.section>.detail>.body .no-note {
	font-style: italic;
	margin-bottom: 10px;
}
.code-comment>.section>.detail>.foot {
	margin-top: 4px;
}
.code-comment>.section>.detail>.foot a {
	font-size: 12px;
	color: #999;
}
.code-comment>.section>.detail>.foot a:hover {
	font-size: 12px;
	color: #333;
}
.code-comment>.section>.detail>.foot .middot:before {
	vertical-align: 25%;
	color: #999;
}
.code-comment>.add-reply {
	margin-top: 16px;
}
.code-comment>.add-reply>a {
	color: #999;
}
.code-comment>.add-reply>a:hover {
	color: inherit;
}
.code-comment .markdown-rendered {
	font-size: inherit;
	line-height: inherit;
}

.invalid-code-comment>.head {
	font-size: 20px;
	font-weight: bold;
	color: #444;
	margin-bottom: 20px;
}