.code-comments td.filter {
	width: 25%;
	border: 1px solid #DDD;
}
.code-comments td.filter>.head {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding: 8px 12px;
	background: #F2F2F2;
}
.code-comments td.filter>.body>.shortcuts {
	margin-bottom: 12px;
}
.code-comments td.filter>.body {
	padding: 12px;
}
.code-comments td.spacing {
	width: 20px;
}
.code-comments td.result {
	border: 1px solid #DDD;
}
.code-comments td.comment {
	color: #888;
	padding: 8px 8px 0 8px;
	border-left: 4px solid white;
}
.code-comments td.comment.new {
	border-left: 4px solid #4667EE;
}
.code-comments td.comment>div {
	padding-bottom: 8px;
	border-bottom: 1px dotted #BBB;
}
.code-comments td.result tr:last-child td.comment>div {
	border-bottom: none;
}

.code-comments td.comment a.title {
	font-weight: bold;
	font-size: 16px;
	color: #444;
	margin-right: 4px;
}
.code-comments td.comment .user, .code-comments td.comment .file {
	color: #444;
}
.code-comments td.comment .second-line, .code-comments td.comment .third-line {
	margin-top: 2px;
}
.code-comments td.result .norecords-td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
}
.code-comments .alert {
	border-radius: 0;
}