*/target/**
*/bin/**
.metadata/**
.idea/**
**/.classpath
**/.project
**/*.iml
*/.settings/**
release.properties
pom.xml.releaseBackup

.loadpath
*.class
*~
*.lock
*.swp
*.out
*.tmp
*.bak
*~.nib
*.DS_Store
*.log

