server-product/docker/build/
server-product/docker/onedev-*/
**/target/
**/.classpath
**/.gitignore
**/.settings
**/.project
**/.vscode
**/.idea
release.properties
pom.xml.releaseBackup

.loadpath
*~
*.lock
*.swp
*.out
*.tmp
*.bak
*~.nib
*.DS_Store
