#project-setting .state-transitions table td {
	padding: 0;
}
#project-setting .state-transitions table td.norecords-td {
	padding: 5px;
}
#project-setting .state-transitions table a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 5px;
}

.state-transition-edit .property-prerequisite>.value .control-label, 
.state-transition-edit .property-onAction>.value .control-label {
	font-weight: normal;
}
.floating.state-transition {
	width: 600px;
}
.floating.state-transition .actions {
	margin-bottom: 12px;
}
.floating.state-transition .property-authorized .name {
	border-right: none;
	text-align: left;
} 
.floating.state-transition .property-authorized .value {
	white-space: nowrap;
} 
.floating.state-transition .property-prerequisite .property-inputName td.name, 
.floating.state-transition .property-buttonLabel td.name, 
.floating.state-transition .property-promptFields td.name {
	border-right: none;
	text-align: left;
}