.breadcrumb .project .pull-left {
	margin-right: 4px;
}
.breadcrumb .project .more-info {
	background: #424242;
	padding: 0 8px;
	border-radius: 4px;
	font-size: 14px;
	margin-top: 6px;
	margin-left: 8px;
}

.no-commits>.head {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #444;
}
.no-commits {
	padding: 20px;
}
.no-commits>.body>ul {
	background: #EEE;
	border-radius: 4px;
	padding: 4px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	margin: 4px 0 16px 0;
}
.no-commits>.body>ul>li:before {
	content: "$";
	margin-right: 8px;
}
.no-commits>.body>.help-block {
	margin-top: -8px;
}