.issue-commits {
    border: 2px dotted #BBB;
    padding: 12px;
    border-radius: 4px;
}
.issue-commits>.head {
    font-weight: bold;
    margin-bottom: 8px;
}
.issue-commits>.body .commit {
    margin-bottom: 6px;
}