<wicket:panel>
    <div class="issue-commits">
        <div class="head">Commits</div>
        <div class="body">
            <div wicket:id="commits" class="commit clearfix">
                <a wicket:id="message" class="pull-left"><span wicket:id="label"></span></a>
                <div class="pull-right">
                    <a wicket:id="hash" class="hash"><span wicket:id="label"></span></a>
                    <a wicket:id="copyHash" class="copy"><i class="fa fa-clipboard"></i></a>
                </div>                
            </div>
        </div>
    </div>
</wicket:panel>
