#issue-list>.head {
	margin-bottom: 20px;
}
#issue-list .issue {
	border-bottom: 2px solid #DDD;
	margin-bottom: 12px;
}
#issue-list .issue .primary {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .primary>div {
	display: table-cell;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 8px;
}
#issue-list .issue .primary .id {
	width: 100px;
	font-size: 16px;
	font-weight: bold;
}
#issue-list .issue .primary .title {
	font-size: 16px;
	font-weight: bold;
}
#issue-list .issue .primary .reporter {
	text-align: right;
	width: 300px;
	padding-right: 0;
}
#issue-list .issue .additional {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .additional>div {
	display: table-cell;
	padding: 8px 8px 8px 0;
}
#issue-list .issue .additional .state>div {
	color: white;
}
#issue-list .issue .additional .field-values>.value {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 
#issue-list .issue .additional .field-values>.white.value {
	color: white;
} 

#issue-list .issue .additional .state>div, 
#issue-list .issue .additional .field-values .value>div, 
#issue-list .issue .additional .field-values i {
	display: inline;
	padding: 0 4px;
	border-radius: 3px;
}
#issue-list .issue .additional>.votes {
	text-align: right;
	padding-right: 0;
}