#issue-list {
	margin: -20px;
}
#issue-list>.side {
	position: fixed;
	top: 48px;
	left: 240px;
	bottom: 0;
	width: 300px;
	padding: 20px;
	border-right: 2px solid #E0E0E0;
	overflow: auto;
}
#project>.minimized.sidebar+.content>#issue-list>.side {
	left: 44px;
}
#issue-list>.side>.head>.actions {
	margin: 8px 0 0 12px;
}
#issue-list>.side>.head>.actions>a {
	color: #444;
	margin-right: 8px;
	font-size: 16px;
}
#issue-list>.side>.head>.actions>a[disabled] {
	color: #AAA;
	cursor: default;
}
#issue-list>.side>.body>* {
	margin-bottom: 20px;
}
#issue-list>.side>.body>:last-child {
	margin-bottom: 0;
}
#issue-list>.side>.body .watch-status:after {
	display: none;
}
#issue-list>.side>.body .watch-status:before {
	font-size: 10px;
}

.edit-saved-queries th {
	font-weight: bold !important;
}
.edit-saved-queries th.name {
	width: 30%;
}
.edit-saved-queries tfoot {
	display: none;
}

#issue-list>.main {
	padding: 20px;
	margin-left: 300px;
}
#issue-list>.main>.head {
	position: relative;
	margin-bottom: 20px;
}
#issue-list>.main>.head>form {
	margin-right: 200px;
}
#issue-list>.main>.head>.actions {
	position: absolute; 
	right: 0;
	top: 0;
}

#issue-list .issue {
	border-bottom: 2px solid #DDD;
	margin-bottom: 12px;
}
#issue-list .issue .primary {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .primary>div {
	display: table-cell;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 8px;
}
#issue-list .issue .primary .number {
	width: 75px;
	font-size: 16px;
	font-weight: bold;
}
#issue-list .issue .primary .title a {
	font-size: 16px;
	font-weight: bold;
	color: #444;
}
#issue-list .issue .primary .last-activity {
	text-align: right;
	width: 300px;
	padding-right: 0;
}
#issue-list .issue .additional {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .additional>div {
	display: table-cell;
	padding: 8px 8px 8px 0;
}
#issue-list .issue .additional .state>div {
	color: white;
}
#issue-list .issue .additional .field-values>.value {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 
#issue-list .issue .additional .field-values>.white.value {
	color: white;
} 

#issue-list .issue .additional .state>div, 
#issue-list .issue .additional .field-values .value>div, 
#issue-list .issue .additional .field-values i {
	display: table-cell;
	padding: 3px 6px;
	border-radius: 3px;
}
#issue-list .issue .additional .state>div {
	font-weight: bold;
} 
#issue-list .issue .additional>.votes-and-comments {
	text-align: right;
	padding-right: 0;
}
#issue-list .issue .additional>.votes-and-comments>span:first-child {
	margin-right: 8px;
}
#issue-list .issue {
	border-left: 4px solid white;
	padding-left: 8px;
}
#issue-list .new.issue {
	border-left-color: #4667EE;
}
