#issue-list {
	display: table;
	width: 100%;
}
#issue-list>div {
	display: table-cell;
}
#issue-list>.side {
	width: 240px;
	border: 1px solid #E0E0E0;
	padding: 20px; 
	border-radius: 4px;
}
#issue-list>.main {
	padding-left: 20px;
	vertical-align: top;
}

