#issue-list>.head {
	margin-bottom: 20px;
}
#issue-list>.head>.query-and-actions {
	position: relative;
	margin-bottom: 10px;
}
#issue-list>.head>.query-and-actions>.query {
	margin-right: 260px;
}
#issue-list>.head>.query-and-actions>.actions {
	position: absolute; 
	right: 0;
	top: 0;
}
#issue-list>.head>.query-and-actions>.actions>* {
	margin-left: 8px;
	margin-right: 0;
}
#issue-list>.head .alert {
	margin-top: 20px;
	margin-bottom: 0;
}
#issue-list>.head .list-unstyled {
	margin-bottom: 0;
}
#issue-list>.head>.preset-queries>* {
	margin-right: 8px;
}
#issue-list .issue {
	border-bottom: 2px solid #DDD;
	margin-bottom: 12px;
}
#issue-list .issue .primary {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .primary>div {
	display: table-cell;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 8px;
}
#issue-list .issue .primary .number {
	width: 75px;
	font-size: 16px;
	font-weight: bold;
}
#issue-list .issue .primary .title a {
	font-size: 16px;
	font-weight: bold;
	color: #444;
}
#issue-list .issue .primary .last-activity {
	text-align: right;
	width: 300px;
	padding-right: 0;
}
#issue-list .issue .additional {
	display: table;
	table-layout: fixed;
	width: 100%;
}
#issue-list .issue .additional>div {
	display: table-cell;
	padding: 8px 8px 8px 0;
}
#issue-list .issue .additional .state>div {
	color: white;
}
#issue-list .issue .additional .field-values>.value {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
} 
#issue-list .issue .additional .field-values>.white.value {
	color: white;
} 

#issue-list .issue .additional .state>div, 
#issue-list .issue .additional .field-values .value>div, 
#issue-list .issue .additional .field-values i {
	display: table-cell;
	padding: 3px 6px;
	border-radius: 3px;
}
#issue-list .issue .additional .state>div {
	font-weight: bold;
} 
#issue-list .issue .additional>.votes-and-comments {
	text-align: right;
	padding-right: 0;
}
#issue-list .issue .additional>.votes-and-comments>span:first-child {
	margin-right: 8px;
}
#issue-list .issue {
	border-left: 4px solid white;
	padding-left: 8px;
}
#issue-list .new.issue {
	border-left-color: #4667EE;
}
.edit-saved-issue-query .actions {
	width: 10%;
}
.edit-saved-issue-query .title {
	font-size: 16px;
	margin-bottom: 8px;
}