.pull-request-summary>.first-line {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 16px;
}
.pull-request-summary>.first-line>.title {
    margin-right: 8px;
    color: #444;
}
.pull-request-summary>.second-line>* {
	margin-right: 12px;
}
.pull-request-summary>.second-line>*:last-child {
	margin-right: 0;
}
.pull-request-summary>.second-line>.status {
	width: 75px;
	padding: 6px 8px;
}
.pull-request-summary>.second-line {
	color: #888;
}
