<wicket:panel>
    <div class="pull-request-summary">
        <div class="first-line">
            <a wicket:id="title" class="title"><span wicket:id="label"></span></a> 
            <span wicket:id="number" class="number"></span> 
        </div>
        <div class="second-line clearfix">
            <div wicket:id="status" class="status pull-left"></div>
            <div class="submission pull-left">
                submitted by <a wicket:id="submitter"></a> <span wicket:id="submitDate"></span>
            </div>
            <div class="comments pull-left" title="Comments">
                <span class="fa fa-comments-o"></span> <span wicket:id="comments"></span>
            </div>
        </div>
    </div>
</wicket:panel>
