.hash-and-code {
	line-height: normal;
}
.hash-and-code input.commit-hash {
	font-size: 13px;
	border-radius: 3px 0 0 3px;
	margin-right: -1px;
}
.hash-and-code>.browse-code>a {
	border-radius: 0 3px 3px 0 !important;
}