.hash-and-code .commit-hash {
	border: 1px solid #CCC;
	font-size: 13px;
	height: 22px;
	border-radius: 3px 0 0 3px;
	margin-right: -5px;
}
.hash-and-code .browse-code {
	border-radius: 0 3px 3px 0 !important;
	margin-top: -1px;
}