.floating.job-post-build-action td.name {
    width: 160px !important;
    word-break: break-all !important;
    white-space: normal !important;
}
.post-build-action-edit .group-issue-detail>.toggle {
	cursor: default;
	font-weight: bold;
	color: inherit;
	font-family: inherit;
	background: none;
	border-bottom: 1px solid #E5E5E5;
	padding-left: 0;
	padding-bottom: 8px;
	border-radius: 0;
	font-size: 16px;
}
.post-build-action-edit .group-issue-detail>.toggle:after {
	display: none;
}
.post-build-action-edit .group-issue-detail>div {
	display: block;
}

.post-build-action.def-detail .group-issue-detail>table {
	display: table;
}
.post-build-action.def-detail .group-issue-detail>.toggle {
	cursor: default;
	font-weight: bold;
}
.post-build-action.def-detail .group-issue-detail>.toggle:after {
	display: none;
}
.post-build-action.def-detail .group-issue-detail td.name {
	width: 100px;
}
.post-build-action.def-detail .group-issue-detail .issue-fields-view td {
	padding: 0 8px 16px 0;
}
.post-build-action.def-detail .group-issue-detail .issue-fields-view td.name {
	font-weight: bold;
	text-align: right;	
	font-size: 12px;
	line-height: 20px;
	border-right: 1px solid #E0E0E0;
}
.post-build-action.def-detail .group-issue-detail .issue-fields-view td.value {
	padding-left: 8px;
}
