<wicket:panel>
	<form wicket:id="form" class="confirm-close-milestone no-autofocus">
		<div class="modal-header">
			<button wicket:id="close" type="button" class="close">&times;</button>
			<h4 wicket:id="title" id="modal-title" class="modal-title">
				Confirm Close Milestone
			</h4>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer clearfix">
			<input wicket:id="ok" type="submit" class="dirty-aware btn btn-primary" value="Ok"></input>
			<a wicket:id="cancel" class="btn btn-default">Cancel</a>
		</div>
	</form>	
</wicket:panel>