<wicket:panel>
	<div class="access-token border rounded">
		<h6 class="border-bottom px-4 py-3">
			<span wicket:id="name" class="mr-2"></span>
			<a wicket:id="edit" class="btn btn-xs btn-icon btn-light btn-hover-primary mr-1" title="Edit this access token"><wicket:svg href="edit" class="icon"></wicket:svg></a>
			<a wicket:id="regenerate" class="btn btn-xs btn-icon btn-light btn-hover-primary mr-1" title="Regenerate this access token"><wicket:svg href="refresh" class="icon"></wicket:svg></a>
			<a wicket:id="delete" class="btn btn-xs btn-icon btn-light btn-hover-danger mr-4" title="Delete this access token"><wicket:svg href="trash" class="icon"></wicket:svg></a>
			<span wicket:id="expired" class="badge badge-light-danger">Expired</span>
		</h6>
		<div wicket:id="viewer" class="p-4"></div>
	</div>
</wicket:panel>