.markdown-editor>.warning {
	margin-bottom: 4px;
	display: none;
	padding-top: 8px;
	padding-bottom: 8px;
}
.markdown-editor>.head {
	padding: 8px 0;
}
.markdown-editor>.head .pull-left .btn-group {
	margin-right: 4px;
}
.markdown-editor>.head .pull-right .btn-group {
	margin-left: 4px;
}
.markdown-editor>.head .dropdown .active:BEFORE {
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 4px;
}
.markdown-editor .ui-resizable-handle {
	background: #EEE url(hgrabber.png) no-repeat scroll center top;
    cursor: s-resize;
    height: 2px;
    bottom: -3px;
}

.markdown-editor>.emojis {
	margin-bottom: 8px; 
	display: none;
}
.markdown-editor>.emojis.loaded {
	font-size: 12px; 
	line-height: 24px; 
	height: 200px; 
	overflow: auto;
}
.markdown-editor>.emojis.loading {
	font-size: 16px;
	color: #888;
}
.markdown-editor>.emojis .emoji {
	margin-right: 12px;
}
.markdown-editor>.emojis .emoji img {
	width: 16px; 
	height: 16px;
}
.markdown-editor.preview>.emojis .emoji img {
	opacity: 0.5;
}

.markdown-editor>.help {
	margin-bottom: 8px; 
	display: none;
}

.markdown-editor>.body>.preview>.markdown-rendered {
	border: 1px solid #BBB;
	padding: 8px;
	border-radius: 4px;
	background: white;
}
.markdown-editor>.body>.edit {
	float: left;
	width: 100%;
}
.markdown-editor>.body>.edit>textarea {
	border: 1px solid #BBB;
	border-radius: 4px;
	overflow: auto;
	width: 100%;
	display: block;
	resize: none;
}
.markdown-editor>.body>.preview {
	float: left;
	width: 49%;
	display: none;
}
.markdown-editor>.body>.preview>.markdown-rendered {
	overflow: auto;
}
.markdown-editor>.body>.preview>.markdown-rendered>.message {
	color: #999;
}
.markdown-editor.compact-mode>.body>* {
	width: 100%;
}
.markdown-editor.normal-mode.split-mode>.body>.edit>textarea {
	border-radius: 4px 0 0 4px;
}
.markdown-editor.normal-mode.split-mode>.body>.preview>.markdown-rendered {
	border-left: none;
	border-radius: 0 4px 4px 0;
}
.markdown-editor.compact-mode.split-mode>.body>.preview {
	margin-top: 8px;
	border-left: none;
	border-radius: 0 4px 4px 0;
}

.atwho-view .emoji {
	display: inline-block; 
	height: 20px; 
	width: 20px; 
	vertical-align: middle; 
	background-repeat: no-repeat; 
	background-size: 20px 20px;
}
.atwho-view .avatar img {
	display: inline-block; 
	width: 20px; 
	height: 20px; 
	vertical-align: middle;
}
.atwho-view .cur .text-muted {
	color: inherit;	
}

.insert-url>.section>.or {
	font-size: 16px;
	font-weight: bold;
	margin: 12px 0;
}
.insert-url>.section>.content {
	padding: 12px;
	border: 1px dashed #AAA;
	border-radius: 4px;
	background: #F9F9F9;
}
.insert-url>.section>.content .alert {
	margin-bottom: 0;
	margin-top: 20px;
}

.insert-url input.url {
	width: 480px;
	margin-right: 7px;
}
.insert-url .attachments {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 20px;
}
.insert-url .attachments img {
	max-width: 100%;
}
.insert-url .attachment a {
	color: #666;
}
.insert-url .attachment a.select {
	margin-right: 6px;
}
.insert-url .alert-info {
	margin-top: 20px;
}

.markdown-editor>.body>.edit>textarea>.drag-over {
	border: 2px solid #69B7F7;
}

.markdown-rendered {
	font-size: 16px;
	line-height: 1.5;
}
.markdown-rendered .mention {
	font-weight: bold;
	color: #444;
}
.markdown-rendered li {
	margin-bottom: 6px;
}
.markdown-rendered .emoji {
	width: 20px; 
	height: 20px;
}
.markdown-rendered table {
	width: auto; 
	margin-bottom: 10px;
}
.markdown-rendered table th, .markdown-rendered table td {
	padding: 4px 8px; 
	border: 1px solid #C8C8C8;
}
.markdown-rendered table tr:nth-child(even) td {
	background: #F5F5F5;
}
.markdown-rendered h1, .markdown-rendered h2, .markdown-rendered h3, 
.markdown-rendered h4, .markdown-rendered h5, .markdown-rendered h6 {
	font-weight: bold;
}
.markdown-rendered h1 a, .markdown-rendered h2 a, .markdown-rendered h3 a, 
.markdown-rendered h4 a, .markdown-rendered h5 a, .markdown-rendered h6 a {
	color: #333;
	text-decoration: none;
}
.markdown-rendered blockquote {
	font-size: 15px; 
	border-left: 4px solid #ddd; 
	color: #777; 
	padding: 0 16px;
}
.markdown-rendered code {
	color: #333;
	background: rgba(0, 0, 0, 0.04);
}
.markdown-rendered img {
	max-width: 100%;
}
.markdown-rendered .task-list-item {
	list-style: none;
	margin-left: -21px;
}
.markdown-rendered .task-list-item input {
	margin-right: 8px;
}
.markdown-rendered .permalinked a.permalink {
	display: none;
}
.markdown-rendered .permalinked:hover a.permalink {
	display: inline;
}
.markdown-rendered h1.permalinked a.permalink {
	margin-left: 12px;
	font-size: 24px;
}
.markdown-rendered h2.permalinked a.permalink {
	margin-left: 10px;
	font-size: 20px;
}
.markdown-rendered h3.permalinked a.permalink {
	margin-left: 8px;
	font-size: 16px;
}
.markdown-rendered h4.permalinked a.permalink {
	margin-left: 6px;
	font-size: 14px;
}
.markdown-rendered h5.permalinked a.permalink {
	margin-left: 4px;
	font-size: 12px;
}
.markdown-rendered h6.permalinked a.permalink {
	margin-left: 2px;
	font-size: 10px;
}

