<wicket:panel>
	<div class="privilege-source">
		<b wicket:id="user"></b> can <b wicket:id="privilege"></b> project <b wicket:id="project"></b> as:
		<ul>
			<li wicket:id="userIsRoot" class="user-is-root">The user is administrator</li>
			<li wicket:id="projectIsPublic" class="project-is-public">The project is public</li>
			<wicket:container wicket:id="groups">
			<li class="user-is-member-of-group">The user is member of group <a wicket:id="group"></a></li>
			</wicket:container>
		</ul> 
	</div>
</wicket:panel>