.md-preview .emoji {
	width: 20px; 
	height: 20px;
}
.md-preview table {
	width: auto; 
	margin-bottom: 10px;
}
.md-preview table th, .md-preview table td {
	padding: 4px 8px; 
	border: 1px solid #C8C8C8;
}
.md-preview table tr:nth-child(even) td {
	background: #F5F5F5;
}
.md-preview h1, .md-preview h2, .md-preview h3, 
.md-preview h4, .md-preview h5, .md-preview h6 {
	font-weight: bold;
}
.md-preview h1 a, .md-preview h2 a, .md-preview h3 a, 
.md-preview h4 a, .md-preview h5 a, .md-preview h6 a {
	color: #333;
	text-decoration: none;
}
.md-preview blockquote {
	font-size: 15px; 
	border-left: 4px solid #ddd; 
	color: #777; 
	padding: 0 16px;
}
.md-preview code {
	color: #333;
	background: rgba(0, 0, 0, 0.04);
}
.md-preview img {
	max-width: 100%;
}
.md-preview .task-list-item {
	list-style: none;
	margin-left: -21px;
}
.md-preview .task-list-item input {
	margin-right: 8px;
}
.md-preview .permalinked {
	position: relative;
	margin-left: -20px;
	padding-left: 20px;	
}
.md-preview .permalinked a.permalink {
	position: absolute;
	display: none;
}
.md-preview .permalinked:hover a.permalink {
	display: inherit;
}
.md-preview h1.permalinked a.permalink {
	font-size: 16px;
	left: 3px;
	top: 11px;
}
.md-preview h2.permalinked a.permalink {
	font-size: 15px;
	left: 3px;
	top: 8px;
}
.md-preview h3.permalinked a.permalink {
	font-size: 14px;
	top: 6px;
	left: 3px;
}
.md-preview h4.permalinked a.permalink {
	font-size: 13px;
	top: 3px;
	left: 4px;
}
.md-preview h5.permalinked a.permalink {
	font-size: 12px;
	top: 2px;
	left: 5px;
}
.md-preview h6.permalinked a.permalink {
	font-size: 11px;
	left: 5px;
}
