#request-detail>.attachments>.upload {
	margin-bottom: 8px;
}
#request-detail>.attachments>.upload>form>.feedback {
	margin-top: 16px;
}
#request-detail>.attachments>.available {
	margin-top: 20px;
}