.source-view {
	position: relative;
}
.source-view>.comment {
	background: white; 
	position: absolute;
	padding-right: 4px;
	top: 0;
	left: 0;
}
.source-view>.comment>.content>.head>a {
	margin-right: 8px;
}
.source-view>.comment>.content>.head .context {
	margin-top: -2px;
}
.source-view>.comment>.content>.head .context .fa-ext {
	font-size: 16px;
}
.source-view>.comment>.content>.head .locate {
	font-size: 20px;
}

.source-view>.comment>.content>.head .permanent {
	margin-top: 2px;
	font-size: 18px;
}
.source-view>.comment>.ui-resizable-handle {
	position: absolute;
	border-right: 1px solid #E0E0E0;
	background: #F2F2F2 url(vgrabber.png) no-repeat scroll center center;
    cursor: e-resize;
    width: 8px;
    right: 0;
    top: 0;
}
.source-view>.comment>.content>.head {
	font-weight: bold;
	padding: 8px 12px;
	background: #F2F2F2;
}
.source-view>.comment>.content>.body {
	overflow: auto; 
}
.source-view>.comment>.content>.body>* {
	margin: 12px;
}

.source-view>.outline {
	background: white; 
	position: absolute;
	padding-left: 4px;
	top: 0;
	right: 0;
}
.source-view>.outline>.ui-resizable-handle {
	position: absolute;
	border-left: 1px solid #E0E0E0;
	background: #F2F2F2 url(vgrabber.png) no-repeat scroll center center;
    cursor: w-resize;
    width: 8px;
    left: 0;
    top: 0;
}
.source-view>.outline .tree-node {
	line-height: 1.8;
}
.source-view>.outline>.content>.head {
	font-size: 16px;
	padding: 4px 8px 4px 12px;
	background: #F2F2F2;
}
.source-view>.outline>.content>.body {
	font-size: 13px;
	padding: 4px 4px 4px 8px;
	overflow: auto; 
}
.source-view>.outline>.content>.body .tree-content.active {
	background: #FCF5DA;
}

.CodeMirror-comments {
	width: 20px;
}
.CodeMirror-comment {
	padding-left: 4px;
}
.CodeMirror-comment a {
	color: #999;
}
.CodeMirror-comment a:hover {
	color: #333;
}
.comment-popover a {
	display: block;
	color: #999;
	text-decoration: none;
	white-space: nowrap;
}
.comment-popover a:hover, .comment-trigger.active {
	color: #333;
}
.CodeMirror-comment .comment-trigger.active {
	line-height: 14px;
}
.CodeMirror-annotations {
	width: 240px;
}
.CodeMirror-annotation {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.source-view .CodeMirror .CodeMirror-cursor {
	border-left: none;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: #666;
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}

.outline-search .result {
	margin-top: 20px;
	height: 400px;
	overflow: auto;
}
