body.error .center-box {
	width: 75%;
	padding: 20px;
	margin-top: 50px;
	margin-bottom: 50px;
}

body.error .center-box>div {
	margin-bottom: 20px;
}

body.error .center-box>.title {
	font-size: 24px;
	font-weight: bold;
	border: none;
	background: none;
	font-family: inherit;
}

body.error .center-box .detail>.head {
	font-size: 20px;
	margin-bottom: 20px;
}
body.error .center-box .detail>.body {
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

body.error .center-box textarea {
	height: 600px;
}

body.error .has-errors, body.error .submitting {
	display: none;
}

body.error form .actions {
	margin-bottom: 20px;
}
body.error td.name {
	font-weight: bold;
	color: #444;
	width: 140px;
}
body.error form .error {
	margin-top: 8px;
	color: #A00;	
	display: none;
}

body.error .caption {
	font-size: 16px;
	font-weight: bold;
}