.source-view {
	position: relative;
}
.source-view>.comment {
	background: white; 
	position: absolute;
	padding-right: 4px;
	top: 0;
	left: 0;
}
.source-view>.comment>.content>.head .locate {
	margin-right: 8px;
	font-size: 20px;
}
.source-view>.comment>.ui-resizable-handle {
	position: absolute;
	border-right: 1px solid #CCC;
    background: #EEE url("vgrabber.png") no-repeat scroll right center;
    cursor: e-resize;
    width: 4px;
    right: 0;
    top: 0;
}
.source-view>.comment>.content>.head {
	font-size: 16px;
	padding: 4px 8px;
	border-bottom: 1px dotted #BBB;
}
.source-view>.comment>.content>.body {
	font-size: 13px;
	padding: 12px;
	overflow: auto; 
}

.source-view>.outline {
	background: white; 
	position: absolute;
	padding-left: 4px;
	top: 0;
	right: 0;
}
.source-view>.outline>.ui-resizable-handle {
	position: absolute;
	border-left: 1px solid #CCC;
    background: #EEE url("vgrabber.png") no-repeat scroll left center;
    cursor: w-resize;
    width: 4px;
    left: 0;
    top: 0;
}
.source-view>.outline .tree-node {
	line-height: 1.8;
}
.source-view>.outline>.content>.head {
	font-size: 16px;
	padding: 4px 8px;
	border-bottom: 1px dotted #BBB;
}
.source-view>.outline>.content>.body {
	font-size: 13px;
	padding: 4px;
	overflow: auto; 
}

.CodeMirror-comments {
	width: 20px;
}
.CodeMirror-comment {
	padding-left: 4px;
}
.CodeMirror-comment a {
	color: #999;
}
.CodeMirror-comment a:hover {
	color: #333;
}
.comment-popover a {
	display: block;
	color: #999;
	text-decoration: none;
}
.comment-popover a:hover {
	color: #333;
}
.comment-trigger.active {
	font-size: 16px;	
	color: #333;	
}
.CodeMirror-annotations {
	width: 240px;
}
.CodeMirror-annotation {
	font-family: monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: #666;
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}
