.repository-selector {
	padding: 8px;
}
.repository-selector .search input {
	border-radius: 0;
}
.repository-selector ul.accounts {
	max-width: 600px;
	max-height: 600px;
	overflow: auto;
	margin: 8px 0 0 0;
}
.repository-selector li.account>div {
	font-size: 16px;
	line-height: 30px;
}
.repository-selector li.account .avatar {
	margin-top: -6px;
}
.repository-selector ul.repositories {
	margin: 0 0 8px 24px;
}
.repository-selector li.repository {
	position: relative;
}
.repository-selector li.repository a {
	padding-left: 20px;
}
.repository-selector a.current:before {
	font-family: "FontAwesome"; 
	content: "\f00c"; 
	margin-right: 4px;	
	position: absolute;
	left: 4px;
}