.more-info-side {
    position: fixed;
    top: 51px;
    width: 360px;
    right: 0;
    bottom: 0;
    border-left: 1px solid #E0E0E0;
	padding: 20px;
    background: #FAFAFA;
    z-index: 10;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    overflow: auto;
}
.more-info-side>.close {
    position: absolute;
    top: 20px;
    right: 20px;    
}
