.cm-identifierhighlight {
	background: #CCC;
}
.CodeMirror-mark {
	background: #CCCCFF;
}
.CodeMirror {
	font-size: 12px;
	line-height: 1.5;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.CodeMirror-gutters {
	background: white;
	border-right-color: var(--secondary);
}
.CodeMirror-selected {
	background-color: #3399FF !important;
}
.CodeMirror-selectedtext {
	color: white !important;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
	background: none repeat scroll 0 0 var(--light-dark); 
	border: 1px solid var(--light-dark);
}
.CodeMirror-search-match {
  background: gold;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
.CodeMirror-search-match2 {
  background: #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
.CodeMirror-fullscreen {
	z-index: 210;
}