.cm-s-eclipse span.cm-meta {
	color: #888;
}
.dark-mode .cm-s-eclipse span.cm-meta {
	color: #9899ac;
}

.cm-s-eclipse .CodeMirror-matchingbracket {
	outline: none;
	background: #69B7F7;
}
.dark-mode .cm-s-eclipse .CodeMirror-matchingbracket {
	background: var(--primary);
}
