html, body {
	background: #F7F6F2;
}
#layout>.head {
	background: #010203;
	padding: 8px 16px;
	color: #CCC;
}
#layout>.head>div {
	margin-right: 20px;
}
#layout>.head a {
	text-decoration: none;
	color: #CCC;
}
#layout>.head .push-disabled {
	padding-top: 6px;
}
#layout>.head .push-disabled .label {
	font-size: 15px;
}
#layout>.head>.nav .fa {
	font-size: 28px;
}
#layout>.head>.logo .fa {
	font-size: 28px;
	color: #EEE;
}
#layout>.head>.breadcrumb {
	padding: 0;
	margin: 0;
	background: inherit;
	border-radius: 0;
	font-size: 20px;
}
#layout>.head>.breadcrumb .separator {
	margin: 0 8px;
}
#layout>.head>.help {
	padding-top: 7px;
}
#layout>.head>.help .fa {
	font-size: 18px;
}
#layout>.head>.user {
	margin-right: 0;
}
#layout>.head>.user>.logged-in>.tasks {
	color: #69B7F7;
	margin-right: 16px;
}
#layout>.head>.user>.logged-in>a, #layout>.head>.user>.logged-in>span {
	margin-right: 8px;
	font-size: 20px;
}
#layout>.head>.user>.logged-in>.menu {
	margin-right: 8px;
}
#layout>.head>.user>.logged-out {
	padding-top: 4px;
}
#layout>.head>.user>.logged-out a {
	font-size: 16px;
}
#layout>.head>.user>.logged-out>a:FIRST-CHILD {
	margin-right: 16px;
}
#layout>.head>.user .avatar {
	width: 32px;
	height: 32px;
}

#layout>.body {
	border-bottom: 1px solid #BBB;
	background: white;
}

.sidebar>table>tbody>tr>td.nav {
	padding: 20px 0;
	width: 1px;
	border-right: 1px solid #DDD;
}
.sidebar>table>tbody>tr>td.nav>.tabs {
	margin-bottom: 0;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	color: #666;
	display: block;
	text-decoration: none;
	padding: 12px;
	padding-right: 8px;
	white-space: nowrap;
	border-right: 4px solid white;
	width: 180px;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	clear: both;
	position: relative;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .fa {
	font-size: 16px;
	margin-right: 4px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li:hover>a {
	color: #010203;
	border-right-color: #777;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li.active>a {
	color: #010203;
	border-right-color: #010203;
	font-weight: bold;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .badge {
	position: absolute;
	right: 4px;
	color: #888;
	background: #EEE;
}
#layout>.foot {
	font-size: 11px;
	padding: 8px; 
}
#layout>.foot>div {
	white-space: nowrap;
}

#project-add {
	padding: 20px;
}

.floating>.content>.user {
	padding: 12px 0;
}
.floating>.content>.user a {
	display: block;
	color: #555;
	text-decoration: none;
	padding: 8px 12px;
}
.floating>.content>.user a:hover {
	background: #F2F2F2;
}
