#layout {
	min-width: 768px;
}
#layout>.head {
	background: #212121;
	padding: 8px 16px;
	color: #E0E0E0;
	position: fixed;
	height: 48px;
	z-index: 210;
	left: 0;
	right: 0;
	min-width: 375px;
}
#layout>.head>div {
	margin-right: 20px;
}
#layout>.head a {
	text-decoration: none;
	color: #E0E0E0;
}
#layout>.head .push-disabled {
	padding-top: 6px;
}
#layout>.head .push-disabled .label {
	font-size: 15px;
}
#layout>.head>.nav .fa {
	margin-top: 2px;
	font-size: 28px;
}
#layout>.head>.breadcrumb {
	padding: 0;
	margin: 0;
	background: inherit;
	border-radius: 0;
	font-size: 20px;
}
#layout>.head>.breadcrumb .separator {
	margin: 0 8px;
}
#layout>.head>.breadcrumb .name {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
@media(min-width: 0px) {
	#layout>.head>.breadcrumb .name {
		max-width: 50px;
	}	
}
@media(min-width: 500px) {
	#layout>.head>.breadcrumb .name {
		max-width: 100px;
	}	
}
@media(min-width: 600px) {
	#layout>.head>.breadcrumb .name {
		max-width: 200px;
	}	
}
@media(min-width: 900px) {
	#layout>.head>.breadcrumb .name {
		max-width: 400px;
	}	
}
#layout>.head>.help {
	padding-top: 7px;
}
#layout>.head>.help .fa {
	font-size: 20px;
}
#layout>.head>.user {
	margin-right: 0;
}
#layout>.head>.user>.logged-in>.tasks {
	color: #69B7F7;
	margin-right: 16px;
}
#layout>.head>.user>.logged-in>a, #layout>.head>.user>.logged-in>span {
	margin-right: 8px;
	font-size: 20px;
}
#layout>.head>.user>.logged-in>.menu {
	margin-right: 8px;
}
#layout>.head>.user>.logged-out {
	padding-top: 4px;
}
#layout>.head>.user>.logged-out a {
	font-size: 16px;
}
#layout>.head>.user>.logged-out>a:FIRST-CHILD {
	margin-right: 16px;
}
#layout>.head>.user .avatar {
	width: 32px;
	height: 32px;
}
#layout>.body {
	padding: 68px 20px 20px 20px;
	width: 100%;
}

#project-add {
	padding: 20px;
}

.floating>.content>.user {
	padding: 12px 0;
}
.floating>.content>.user a {
	display: block;
	color: #555;
	text-decoration: none;
	padding: 8px 12px;
}
.floating>.content>.user a:hover {
	background: #F2F2F2;
}

#layout .sidebar {
	top: 48px;
}

.turbodev-help>div {
	padding: 8px 16px;
	font-weight: bold;
}
