input.custom-fileinput {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
input.custom-fileinput + label {
    font-weight: normal;
    border: 1px solid var(--secondary);
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
}
.dark-mode input.custom-fileinput + label {
    border-color: #474761;
}
input.custom-fileinput:focus + label {
    outline: 1px dotted var(--primary);
	outline: -webkit-focus-ring-color auto 5px;    
}
