#build-detail>.main>div {
    margin-bottom: 20px;
}
#build-detail>.main>div:last-child {
	margin-bottom: 0;
}
#build-detail>.main>.summary {
    position: relative;
    font-size: 24px;
}
#build-detail>.main>.summary>* {
    margin-right: 20px;
}
#build-detail>.main>.summary .btn {
    margin-top: -4px;
}
#build-detail>.main>.summary .more-info {
	position: absolute;
	right: 0;
	font-size: 24px;
	margin: 0;
	color: #666;
	transform: rotate(-90deg);
}

#build-detail>.main>.status-message {
    font-size: 13px;
    max-height: 100px;
    overflow: auto;
    position: relative;
}
#build-detail>.main>.commit-info {
    border: 2px dotted #BBB;
    padding: 12px;
    border-radius: 4px;
    background: #F9F9F9;
    display: none;
}
#build-detail>.main>.commit-info>* {
    margin-right: 16px;
}
#build-detail>.main>.commit-info img {
    width: 20px;
    height: 20px;
}

#build-detail .build-side>.nav {
	padding-right: 20px;
	border-right: 1px solid #D8D8D8;
	margin-right: 30px;
}

@media(min-height: 800px) {
	#build-detail>.main>.commit-info {
        display: block;
	}
	#build-detail .side-info .commit {
        display: none;
    }
}
@media(min-width: 1150px) {
	#build-detail>.main {
		padding-right: 360px;
	}
	#build-detail .side-info {
		box-shadow: none;
		border-left-width: 2px;
		display: block !important;
	}
	#build-detail a.more-info, #build-detail .side-info>a.close {
		display: none;
	}
	#build-detail .build-side .nav {
		padding-right: 0;
		border-right: none;
		margin-right: 0;
	}
}

#build-detail>.main>.changes .help-block {
    margin-top: 16px;
}