.git-protocol>div {
	margin-bottom: 12px;
}
.git-protocol>div:last-child {
	margin-bottom: 0;
}
.git-protocol>.protocol {
	font-weight: bold;
	font-size: 13px;
	color: #666;
	border-bottom: 1px solid #DDD;
	padding-bottom: 8px;
}
.git-protocol>.no-ssh-keys {
	font-size: 13px;
	padding: 8px;
	margin-bottom: 16px;
}
.git-protocol .finger-print {
	font-size: 13px;
	word-break: break-all;
	color: #666;
}
