<wicket:panel>
	<div class="git-protocol">
		<div class="protocol clearfix">
			<div wicket:id="current" class="pull-left"></div>
			<a wicket:id="switch" class="switch pull-right"><span wicket:id="label"></span></a>
		</div>
		<div wicket:id="noSshKeysWarning" class="no-ssh-keys alert alert-warning">
			No SSH keys configured in your account. You may <a wicket:id="sshKeys">add a key</a> or switch to <a wicket:id="useHttp">HTTP(S)</a> url
		</div>
		<div wicket:id="content" class="content"></div>
		<div wicket:id="fingerPrint" class="finger-print"></div>
	</div>
</wicket:panel>