.blob-view>.head {
	border-bottom: 1px solid #BBB; 
	padding: 4px 8px;
}
.blob-view>.body {
	overflow: auto;
}
.blob-view>.head>.info {
	color: #666;
}
.blob-view>.head>.info .separator {
	color: #BBB;	
}
.blob-view>.head>.actions {
	white-space: nowrap;
}
.blob-view>.head>.actions>* {
	color: #333;
	margin-left: 12px;
	margin-right: 0;
}
.blob-view>.head>.actions>input {
	vertical-align: top;
}
