<wicket:panel>
	<div class="depot-selector">
		<div class="search clearfix">
			<div class="account pull-left">
				<input wicket:id="searchAccount" class="form-control input-sm" placeholder="Search account"></input>
			</div>
			<div class="depot pull-left">
				<input wicket:id="searchDepot" class="form-control input-sm" placeholder="Search repository"></input>
			</div>
		</div>
		<ul wicket:id="data" class="accounts list-unstyled">
			<li wicket:id="accounts" class="account">
				<div>
					<img wicket:id="avatar" class="avatar"></img>
					<span wicket:id="name" class="name"></span>
				</div>
				<ul class="depots list-unstyled">
					<li wicket:id="depots" class="depot selectable">
						<input wicket:id="id" type="text" class="hidden"/><a wicket:id="link"><span wicket:id="label"></span></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</wicket:panel>