@media(min-width: 768px) {
.step.floating.off-canvas {
    width: 600px;
}
}

.floating.step-type-choice {
	padding: 24px 18px 24px 18px;
	width: 480px !important;
}
.floating.step-type-choice>.content>.content {
	overflow: auto;
	max-height: 480px;
}

