a.verification {
	text-decoration: none;
}
.verification-detail {
	margin-bottom: 0;
	padding: 8px;
}

.verification-detail table td {
	padding: 4px 12px;
}
.verification-detail table td.result {
	padding-right: 4px;
}
.verification-detail table td.name {
	padding-left: 0;
}

.verification-status.success {
	color: #06BC06 !important;
}
.verification-status.failure, .verification-status.error {
	color: red !important;
}
.verification-status.running, .verification-status.awaiting {
	color: #D2A906 !important;
}

.required-verifications td.result {
	width: 12px;
}

.required-verifications tr td {
	padding: 2px 12px;
}

.required-verifications td.result {
	padding-left: 0;
	padding-right: 8px;
	font-size: 16px;
}
.required-verifications td.name {
	padding-left: 0;
}
