#user>.sidebar>.head {
	text-align: center;
	vertical-align: center;
	border-bottom: 2px solid #E0E0E0;
	padding: 10px;
}
#user>.sidebar>.tabs {
	top: 240px;
}
#user>.sidebar>.head img {
	height: 220px;
	width: 220px;
}
#user>.minimized.sidebar>.head {
	display: none;
}
#user>.minimized.sidebar>.tabs {
	top: 0;
}

#user .avatar-edit img.avatar {
	height: 240px;
	width: 240px;
	margin-bottom: 20px;
}
#user .avatar-edit .upload {
	margin-right: 8px;
}

#user .authorization.list a.other-sources {
	margin-left: 4px;
	color: #DCB508;
	vertical-align: middle;
}

#user .membership.list .head .select2-container, 
#user .authorization.list .head .select2-container {
	width: 240px;
} 

.user.list .actions a {
	color: #666;
}
.new-user .actions .btn {
	margin-right: 20px;
}

.token-generate .token-value {
	margin-top: 20px;
}
.token-generate .token-value a {
	color: #444;
	margin-left: 4px;
}