.cm-s-eclipse span.cm-meta { color: #FF1717; }
.cm-s-eclipse span.cm-keyword { line-height: 1em; font-weight: bold; color: #7F0055; }
.cm-s-eclipse span.cm-atom { color: #219; }
.cm-s-eclipse span.cm-number { color: #164; }
.cm-s-eclipse span.cm-def { color: #00f; }
.cm-s-eclipse span.cm-variable { color: black; }
.cm-s-eclipse span.cm-variable-2 { color: #0000C0; }
.cm-s-eclipse span.cm-variable-3 { color: #0000C0; }
.cm-s-eclipse span.cm-property { color: black; }
.cm-s-eclipse span.cm-operator { color: black; }
.cm-s-eclipse span.cm-comment { color: #3F7F5F; }
.cm-s-eclipse span.cm-string { color: #2A00FF; }
.cm-s-eclipse span.cm-string-2 { color: #f50; }
.cm-s-eclipse span.cm-qualifier { color: #555; }
.cm-s-eclipse span.cm-builtin { color: #30a; }
.cm-s-eclipse span.cm-bracket { color: #cc7; }
.cm-s-eclipse span.cm-tag { color: rgb(131, 92, 77); }
.cm-s-eclipse span.cm-attribute { color: #00c; }
.cm-s-eclipse span.cm-link { color: #219; }
.cm-s-eclipse span.cm-error { color: #f00; }

.cm-s-eclipse .CodeMirror-activeline-background { background: #e8f2ff; }
.cm-s-eclipse .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }


.dark-mode .cm-s-eclipse span.cm-meta {color: #569cd6}
.dark-mode .cm-s-eclipse span.cm-number {color: #b5cea8}
.dark-mode .cm-s-eclipse span.cm-keyword {line-height: 1em; font-weight: bold; color: #569cd6;}
.dark-mode .cm-s-eclipse span.cm-def {color:#9cdcfe}
.dark-mode .cm-s-eclipse span.cm-variable {color: #D1D3E0;}
.dark-mode .cm-s-eclipse span.cm-variable-2 {color: #9cdcfe}
.dark-mode .cm-s-eclipse span.cm-variable-3 {color: #ddd6a3;}
.dark-mode .cm-s-eclipse span.cm-type {color: #A9B7C6}
.dark-mode .cm-s-eclipse span.cm-property {color: #9cdcfe}
.dark-mode .cm-s-eclipse span.cm-operator {color: #d4d4d4}
.dark-mode .cm-s-eclipse span.cm-string {color: #ce9178}
.dark-mode .cm-s-eclipse span.cm-string-2 {color: #6A8759}
.dark-mode .cm-s-eclipse span.cm-comment {color: #6A9955}
.dark-mode .cm-s-eclipse span.cm-link {color: #287BDE}
.dark-mode .cm-s-eclipse span.cm-atom {color: #569cd6}
.dark-mode .cm-s-eclipse span.cm-error {color: #BC3F3C}
.dark-mode .cm-s-eclipse span.cm-tag {color: #569cd6}
.dark-mode .cm-s-eclipse span.cm-attribute {color: #9cdcfe}
.dark-mode .cm-s-eclipse span.cm-qualifier {color: #d7ba7d}
.dark-mode .cm-s-eclipse span.cm-bracket {color: #808080}

.dark-mode .cm-s-eclipse.CodeMirror {background: var(--dark-mode-dark); color: #e9e9e9;}
.dark-mode .cm-s-eclipse .CodeMirror-cursor {border-left: 1px solid #bebebe;}
.dark-mode .CodeMirror-activeline-background {background: var(--gray-dark);}
.dark-mode .cm-s-eclipse div.CodeMirror-selected {background: #1e496c !important;}
.dark-mode .cm-s-eclipse .CodeMirror-gutters {background: var(--dark-mode-dark); border-right: 1px solid var(--dark-mode-lighter-dark); color: #606366}
.dark-mode .cm-s-eclipse span.cm-builtin {color: #A9B7C6;}
.dark-mode .cm-s-eclipse .CodeMirror-matchingbracket {background-color: #3b514d; color: var(--light) !important;}
