@media(max-width: 767px) {
	.folder-view .expanded {
		display: none;
	}
}
.folder-view {
	overflow: auto;
}
.folder-view>table>tbody>tr>td {
	padding: 6px 12px; 
	border-top: 1px solid #EEE; 
}

.folder-view>table>tbody>tr>td.path, .folder-view>table>tbody>tr>td.last-commit.author, 
.folder-view>table>tbody>tr>td.last-commit.when {
	white-space: nowrap;
}
.folder-view>table>tbody>tr>td.last-commit img {
	width: 20px;
	height: 20px;
}
.folder-view>table>tbody>tr>td.last-commit, .folder-view>table>tbody>tr>td.last-commit a {
	font-size: 13px;
}
.folder-view>table>tbody>tr>td.last-commit.when {
	color: #888;
}
.folder-view>table>tbody>tr:first-child>td {
	border-top: none;
}
.folder-view>table tr.parent td {
	padding: 3px 12px;
}
.folder-view>table tr.parent td a i {
	margin-right: 2px;
}
.folder-view>table tr.parent td a span {
	font-size: 18px;
}
.folder-view>.readme {
	border-top: 1px solid #BBB;
}
.folder-view>.readme>.head {
	padding: 6px 12px;
	background: #F2F2F2;
	font-weight: bold;	
	border-bottom: 1px solid #BBB;
}
.folder-view>.readme>.body {
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.folder-view a.user {
	text-decoration: none;
}
