body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	background: white;
}

/* CURSORS */
.pointer {
	cursor: pointer;
}
.drag-handle {
	cursor: move;
}

.has-error.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* FEEDBACK */
#session-feedback {
	position: fixed; 
	max-width: 75%;
	padding: 6px 12px; 
	z-index: 10000; 
	border-radius: 0 0 4px 4px; 
	border: 1px solid;
	border-top: none;
	top: 0;
	display: none;
}
#session-feedback.success {
	background: #DFF0D8;
	color: #204021;
}
#session-feedback.error {
	background: #F2DEDE;
	color: #A94442;
	border-color: #622726;
}
#session-feedback.warning {
	background: #FCF8E3;
	color: #8A6D3B;
	border-color: #815A0D;
}
#session-feedback.info {
	background: #D9EDF7;
	color: #31708F;
	border-color: #145562;
}
#session-feedback ul {
	padding: 0; margin: 0;
}
#session-feedback li {
	list-style: none;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none;     
	-ms-user-select: none;     
	user-select: none;                                      
}

/* TABLE COMPONENTS */
table .row-selector {
	width: 24px;
}
.navigator {
	text-align: center;
}
.navigatorLabel {
	display: none;
}

a.disabled {
	color: #999 !important;
	text-decoration: none;
}

a.wicket_orderUp:after, a.wicket_orderDown:after, a.wicket_orderNone:after { 
    font-family: FontAwesome; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
	display: inline-block; 
	color: #666; 
	margin-left: 8px;
}
a.wicket_orderUp:AFTER { 
	content: "\f062"; 
}
a.wicket_orderDown:AFTER { 
	content: "\f063"; 
}
.pagination a.first, .pagination a.prev, .pagination a.next, .pagination a.last {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.norecords-td {
	font-style: italic;
}

/* TREE */
.tree-theme-windows .tree-node span.tree-content a {
	color: #444444;
}
.tree-content {
	white-space: nowrap;
}
a.tree-junction {
	text-decoration: none;
}

/* Tabs */
.tabbable>.tab-content {
	padding-top: 16px;
}

/* Forms */
form .required {
	font-size: 16px; 
	color: #B94A48;
}
form .form-group ul.feedbackPanel, form td.value ul.feedbackPanel {
	margin: 4px 0 0 -8px; 
	padding-bottom: 0;
}
form li.feedbackPanelERROR {
	color: #AA0000;
	list-style: disc;
}
form>.test-feedback {
	margin-top: 16px;
}

.help-block {
	font-size: 13px;
}

/* Editor and Viewer */
.editable table.list {
	margin-bottom: 0;
}
.editable table.list>tfoot>tr.add-element>td {
	padding: 12px 0;
}

.editable>.bean>table {
	width: 100%;
}
.editable>.bean>table>tbody>tr>td {
	vertical-align: top;
	padding: 0 8px 16px 0;
}
.editable td.value>div:last-child>div:last-child>table>tbody>tr:last-child>td.value, 
.editable td.value>div:last-child>div:last-child>div:last-child>div:last-child>table>tbody>tr:last-child>td.value {
	padding-bottom: 0;
	margin-bottom: 0;
}
 
.editable>.bean>table>tbody>tr>td.name {
	font-size: 12px;
	line-height: 22px;
	font-weight: bold;
	border-right: 1px solid #E0E0E0;
	text-align: right; 
	white-space: nowrap; 
	width: 20%;
}
.editable>.bean>table>tbody>tr>td.value {
	padding-left: 8px;
}

.editable>table.polymorphic.vertical.list>tbody>tr>td>.type-selector {
	margin-bottom: 8px;
}
.editable>.polymorphic.vertical>div.type-selector {
	margin-bottom: 8px;
}

.editable>.polymorphic.horizontal>table {
	width: 100%;
}
.editable>.polymorphic.horizontal>table>tbody>tr>td {
	vertical-align: top;
}
.editable>.polymorphic.horizontal>table>tbody>tr>td:first-child {
	padding-right: 8px;
}

.editor>table.list .help-block {
	display: none;
}

.editor>table.list>tbody>tr>td.actions {
	text-align: right;
}
.editor>table.list>tbody>tr>td.actions .fa {
	vertical-align: center;
	font-size: 16px;
	color: #444;
}
.editor>table.list>tbody>tr>td.actions .handle {
	cursor: move; 
}
.editor>table.list .sort-helper {
	border: 2px solid #DDD; 
	background: #F5F5F5;
}

.editor>input.enable {
	margin-bottom: 12px;
}

.editor .password-confirm {
	margin-top: 12px;
}

.property.editor>.bean.editor {
	border-top: 1px dotted #BBB;
	margin-top: 4px;
	padding-top: 12px;
	margin-bottom: 12px;
}
.viewer .bean>table>tbody>tr.name-omitted>td {
	padding-left: 0;
}
.viewer .type-selector, .viewer .no-elements, .editor .no-elements {
	font-style: italic;
} 
.editable .bean.list>thead>tr>th {
	border-bottom: 1px solid #E0E0E0;
}
.editable .viewer .bean.list>thead>tr>th {
	font-size: 12px;
	padding-top: 0;
	line-height: 22px;
	white-space: nowrap;
}
.editable table.bean.list>thead>tr>th, .editable table.bean.list>tbody>tr>td {
	padding: 5px 10px 5px 0;
	font-weight: normal;
}
.editable .editor table.bean.list tr:hover td {
	background: #F9F9F9;
}
.editable .editor table.bean.list tr.add-element:hover td {
	background: none;
}


/* Select2 */
.editor .select2-container {
	width: 100%;
}
.input-group .select2-container.form-control .select2-choice, 
.input-group .select2-container.form-control .select2-choices {
	border-radius: 0 4px 4px 0;
}
.select2-container .avatar {
	margin-right: 4px;
}
	
/* Ajax Loading Indicator */
#ajax-loading-indicator {
	position: fixed; 
	top: 0;
	left: 50%; 
	display:none;
	z-index: 10000;
}
#ajax-loading-indicator>div {
	position:relative; 
	left:-50%;	
	top:0; 
	text-align:center; 
	font-weight: bold;
	width:120px;
	background: #FAF3D0;
	color: #8A6D3B;
	border: 2px solid #F6DBA4;
	border-top:none; 
	padding:6px 12px; 
	border-radius:0 0 4px 4px;
}	

.working-indicator {
	color: #25A305;
	margin-left: 4px;
}

/* Ajax Loading Overlay */
#ajax-loading-overlay {
	z-index:1; 
	display: none;
}
#ajax-loading-overlay>div {
	bottom: 0; 
	left: 0; 
	position: fixed;
    right: 0; 
    top: 0; 
    z-index: 1000000; 
    filter:alpha(opacity=0); /* Only applies to IE */
    background: white; /* This will be overwritten by browsers that support rgba */
    background: rgba(255,255,255,0.0); /* IE ignores this since it's not supported */
}
    
/* WEB SOCKET ERROR */
#websocket-error {
	z-index: 1000;
	display: none;
	position: fixed; 
	left: 50%; 
	top: 0; 
	background: #f2dede; 
	border: 1px solid #ebccd1; 
	color: #a94442; 
	padding: 4px 8px; 
	margin-left: -120px;
}	
#websocket-error span {
	color: #F54D4D;
}

/* FILE INPUT */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.center-box { 
	padding: 50px; 
	max-width: 600px; 
	min-width: 300px;
	background: #FAFAFA;
	border: 8px solid #E0E0E0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	color: #333;
}
@media(max-width: 738px) {
	.center-box {
		border: none;
		background: none;
	}
}
.wide.center-box {
	max-width: 900px;
	min-width: 900px;	
}

.center-box h1 { 
	font-size: 32px; 
	margin: 0 0 30px; 
	font-weight: 300; 
}
.center-box h1 .fa {
	font-size: 32px;
}	


a {
	cursor: pointer;
}
a.fa {
	text-decoration: none; 
	color: #666;
}
table {
	width: 100%;
}
table>tbody>tr>td {
	vertical-align: top;
}
table.table>thead>tr>th>a {
	color: black;
	text-decoration: underline;
}

textarea {
	resize: none;
}
form>.actions {
	margin-top: 20px;
}
form>.actions>.btn {
	margin-right: 12px;
}
form>.actions>.btn:last-child {
	margin-right: 0;
}
.actions>a {
	margin-right: 8px;
}
.actions>a:last-child {
	margin-right: 0;
}
.nav-tabs>li>a {
	color: #777;
}
div.center {
	text-align: center;
}

div.no-records {
	font-style: italic;
	font-size: 16px;
}

.middot:before {
	content: ".";
	font-size: 16px;
	line-height: 12px;
	vertical-align: top;
	color: #999;
}

.input-group>.form-control+.btn.input-group-addon {
	border-radius: 0 4px 4px 0;
	border-left: none;
}

li.selectable a, a.selectable {
	border: 1px solid white;
	text-decoration: none !important;
	display: block;
	padding: 2px 4px;
	color: #333;
}
li.selectable:hover a, a.selectable:hover {
	background-color: #E0F0FC;
	border-color: #BBDFF9;
}
li.selectable.active a, a.selectable.active {
	background-color: #CBE8FB;
	border-color: #8BC8F9;
}

.ellipsis-expander {
	display: inline-block;
	background: #DDD; 
	padding: 0px 6px;
	border-radius: 2px; 
	color: #777;
	vertical-align: middle;
	line-height: 16px;
}
.ellipsis-expander .fa {
	color: #666;
}
.ellipsis-expander:hover {
	background: #888;
}
.ellipsis-expander:hover .fa {
	color: white;
}

input.search {
	width: 200px;
}

.list>.head {
	margin-bottom: 20px;
}
.list>.head>.pull-left {
	margin-right: 20px;
}

.floating>.content>.selection {
	padding: 16px;
}
.floating>.content>.selection>a {
	padding: 4px;
	display: block;
	color: #666;
	text-decoration: none;
	max-width: 360px;
}
.floating>.content>.selection>a.active:BEFORE {
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 4px;
}
.floating>.content>.selection>a>.title {
	font-weight: bold;
	margin-bottom: 2px;
}
.floating>.content>.selection>a:hover {
	background: #F0F0F0;
}

.nav-tabs {
	margin-bottom: 20px;
}
.nav-tabs>li>a>.badge {
	margin-left: 8px;
}

.hash {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.dropdown-menu li a i {
	margin-right: 4px;
}

.modal-header .close {
	font-family: sans-serif;
}

.clearable-wrapper {
	position: relative;
}
.clearable-wrapper input.clearable::-ms-clear {
    display: none;
}
a.input-clear {
	font-family: sans-serif;
	display: block;
	width: 24px; 
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	position: absolute;
	right: 5px;
	top: 0; 
	bottom: 0;
	margin: auto;
	text-decoration: none;
	color: #999;
	z-index: 10;
	background: white;
	text-align: center;
}
a.input-clear.input-group-clear {
	right: 42px;
}