.entity-nav {
	font-size: 16px;
	position: relative;
	text-align: center;
}
.entity-nav a {
	position: absolute;
	color: #666;
	top: 0;
}
.entity-nav  .prev {
	left: 0;
}
.entity-nav  .next {
	right: 0;
}

