<wicket:extend>
	<div id="main">
		<div wicket:id="mainHead" class="head clearfix">
			<div wicket:id="context" class="context pull-left"></div>
			<div class="account pull-right">
			  	<wicket:enclosure child="login">
			  		<div class="logged-out">
				  		<a wicket:id="login">Log in</a>
				  		<a wicket:id="register">Sign up</a>
			  		</div>
				</wicket:enclosure>
				<wicket:enclosure child="user">
					<div class="logged-in">
				  		<a wicket:id="tasks" class="tasks" title="You've got tasks"><i class="fa fa-circle"></i></a>
				  		<a wicket:id="user" class="current"></a>
				  		<a wicket:id="userMenuTrigger" class="menu"><i class="fa fa-angle-down"></i></a>
					</div>
			  	</wicket:enclosure>
			</div>
			<div class="actions pull-right">
				<a wicket:id="depotsLink" title="Accessible repositories"><i class="fa fa-ext fa-repo"></i></a>
				<a wicket:id="createNewDropdown" title="Create new repository or organization"><i class="fa fa-plus"></i> <i class="fa fa-caret-down"></i></a>
				<a wicket:id="docLink" title="Help"><i class="fa fa-question"></i></a>
			</div>
			<div class="search pull-right">
				<input class="hidden form-control input-sm" placeholder="Search..."></input>
			</div>
		</div>
		<div class="body">
			<wicket:child></wicket:child>
		</div>
		<div wicket:id="mainFoot" class="foot clearfix">
			<div class="pull-left">
				<a href="http://www.pmease.com/gitplex">PMEase GitPlex</a>, <span wicket:id="productVersion"></span>, <span wicket:id="releaseDate"></span>
			</div>
			<div class="pull-right">
			    <a href="http://www.pmease.com/gitplex/support">Support & Bug Report</a> 
			</div>
		</div>
	</div>
	<wicket:fragment wicket:id="createNewFrag">
		<div class="create-new">
			<a wicket:id="createNewDepot">Create new repository</a>
			<a wicket:id="createNewOrganization">Create new organization</a>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="userMenuFrag">
		<div class="user">
			<wicket:enclosure child="organizations">
				<div class="organizations">
					<div class="title">Organizations</div>
					<ul class="list-unstyled">
						<li wicket:id="organizations">
							<a wicket:id="link">
								<img wicket:id="avatar"></img>
								<span wicket:id="name"></span>
							</a>
						</li>
					</ul>
				</div>
			</wicket:enclosure>		
			<a wicket:id="administration"><i class="fa fa-fw fa-wrench"></i> Server administration</a>
			<a wicket:id="profile"><i class="fa fa-fw fa-gear"></i> My profile</a>
			<a wicket:id="logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
		</div>
	</wicket:fragment>
</wicket:extend>