<wicket:panel>
	<form wicket:id="form" class="new-board-card leave-confirm">
		<div class="modal-header">
			<h5 id="modal-title" class="modal-title"><wicket:t>New Issue</wicket:t></h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" t:value="Save"></input>
			<a wicket:id="cancel" class="btn btn-secondary"><wicket:t>Cancel</wicket:t></a>
		</div>
	</form>
</wicket:panel>