<wicket:panel>
	<div wicket:id="content" class="field-values"></div>
	<wicket:fragment wicket:id="nonEmptyValuesFrag">
		<div wicket:id="values" class="value"><span wicket:id="value"></span></div>	
	</wicket:fragment>
	<wicket:fragment wicket:id="userFrag">
		<a wicket:id="avatar" class="avatar"></a>
		<a wicket:id="name" class="name"></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="issueFrag">
		<div class="issue referenceable">
			<a wicket:id="link"><span wicket:id="label"></span></a> <span wicket:id="state"></span>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="pullRequestFrag">
		<div class="pull-request referenceable">
			<a wicket:id="link"><span wicket:id="label"></span></a> <span wicket:id="status"></span>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="buildFrag">
		<div class="build referenceable">
			<a wicket:id="link"><span wicket:id="label"></span></a> <span wicket:id="status"></span>
		</div>
	</wicket:fragment>
</wicket:panel>
