.code-comment .md-preview {
	font-size: inherit;
    line-height: inherit;
}
.code-comment>.post {
	position: relative;
	margin-left: -12px;
	padding-left: 12px;
	border-left: 4px solid white;
}
.code-comment>.post>.detail, .code-comment>.post>form {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #EEE;
}
.code-comment>.post.new {
	border-left: 4px solid #4667EE;
}
.code-comment>.post>.user-avatar {
	position: absolute;
	left: 12px;
	top: 0;
}
.code-comment>.post>.user-avatar img {
	width: 32px;
	height: 32px;
}
.code-comment>.post>.detail {
	padding-left: 40px;
}
.code-comment>.post>.detail>.head .user-name {
	color: #999;
}
.code-comment>.post>.detail>.head .user-name:hover {
	color: #333;
}
.code-comment>.post>.detail>.head .activity {
	font-size: 12px;
	color: #999;
}
.code-comment>.post>.detail>.head .compare-context {
	color: #666;
	font-size: 14px;
	line-height: 12px;
	margin-left: 8px;
}
.code-comment>.post>.detail>.body {
	padding-top: 8px;
}
.code-comment>.post>.detail>.body>.feedback .alert {
	margin-bottom: 0;
}
.code-comment>.post>.detail>.body .no-note {
	font-style: italic;
	margin-bottom: 10px;
}
.code-comment>.post>.detail>.foot a {
	font-size: 12px;
	color: #999;
}
.code-comment>.post>.detail>.foot a:hover {
	font-size: 12px;
	color: #333;
}
.code-comment>.post>.detail>.foot .middot:before {
	vertical-align: 25%;
	color: #999;
}
.code-comment>.add-reply {
	margin-top: 16px;
}
.code-comment>.add-reply a {
	color: #999;
}
.code-comment>.add-reply a:hover {
	color: inherit;
}