.code-comments td.filter {
	width: 25%;
	border: 1px solid #DDD;
}
.code-comments td.filter>.head {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding: 8px 12px;
	background: #F2F2F2;
}
.code-comments td.filter>.body>.shortcuts {
	margin-bottom: 12px;
}
.code-comments td.filter>.body {
	padding: 12px;
}
.code-comments td.spacing {
	width: 20px;
}
.code-comments td.result {
	border: 1px solid #DDD;
	overflow: hidden;
}
.code-comments td.comment>div>a {
	display: block;
	text-decoration: none;
	color: #999;
	font-size: 12px;
	padding: 8px;
}
.code-comments td.comment {
	border-left: 4px solid white;
}
.code-comments td.comment:hover {
	border-left: 4px solid #F2F2F2;
}
.code-comments td.comment.new {
	border-left: 4px solid #4667EE;
}
.code-comments td.comment>div>a:hover {
	background: #F2F2F2;
}
.code-comments td.comment>div>a .title {
	font-weight: bold;
	font-size: 16px;
	color: #444;
}
.code-comments td.comment>div>a .resolved {
	font-size: 16px;
	color: #24BE10;
	margin-left: 4px;
}
.code-comments td.comment>div>a .user, .code-comments td.comment>div>a .what {
	font-weight: bold;
	color: #777;
}
.code-comments td.comment .second-line, .code-comments td.comment .third-line {
	margin-top: 2px;
}
.code-comments td.result .norecords-td {
	padding: 20px;
	font-size: 20px;
	text-align: center;
	font-style: italic;
}
.code-comments .alert {
	border-radius: 0;
}