<wicket:panel>
	<div class="code-comment">
		<div wicket:id="comment" class="comment post"></div>
		<div wicket:id="replies" class="reply post"></div>
		<div wicket:id="addReply" class="add-reply">
		</div>
	</div>
	<wicket:fragment wicket:id="viewFrag">
		<div class="author-avatar"><a wicket:id="authorAvatar"></a></div>
		<div class="detail">
			<div class="head clearfix">
				<a wicket:id="authorName" class="author-name pull-left"></a>
				<a wicket:id="compareContext" class="compare-context pull-right"><i class="fa fa-chain-broken"></i></a>
				<span wicket:id="authorDate" class="author-date pull-right"></span>
			</div>
			<div class="body">
				<div wicket:id="feedback" class="feedback"></div>
				<div wicket:id="content"></div>
			</div>
			<div wicket:id="foot" class="foot">
				<a wicket:id="edit">Edit</a>
				<span class="middot"></span>
				<a wicket:id="delete">Delete</a>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="commentEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<div class="form-group">
				<label>Title</label>
				<input wicket:id="title" class="form-control focusable"></input>
			</div>
			<div class="form-group">
				<label>Content</label>
				<textarea wicket:id="content" rows="10" class="form-control focusable"></textarea>
			</div>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Save</button>
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="replyEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<textarea wicket:id="content" rows="10" class="form-control focusable"></textarea>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Save</button>
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="addReplyFrag">
		<a wicket:id="reply" class="btn btn-sm btn-default"><i class="fa fa-reply"></i> Reply</a>
	</wicket:fragment>
</wicket:panel>