<wicket:panel>
	<div class="comment">
		<div wicket:id="head" class="head activity-summary">
			<span wicket:id="user" class="user"></span> <span wicket:id="action"></span> <span wicket:id="age"></span>
			<span class="operations">
				<a wicket:id="edit" title="Edit comment"><span class="fa fa-pencil"></span></a>
				<a wicket:id="delete" title="Delete comment"><span class="fa fa-times"></span></a>
				<span wicket:id="additionalOperations"></span>
			</span>
			<a wicket:id="anchor"></a>
		</div>
		<div wicket:id="body" class="body"></div>
		<div class="replies">
			<table>
				<tbody>
					<tr wicket:id="replies" class="reply">
						<td wicket:id="avatar" class="avatar">
							<div wicket:id="avatar"></div>
						</td>
						<td class="detail">
							<div wicket:id="head" class="head activity-summary">
								<span wicket:id="user" class="user"></span> replied <span wicket:id="age"></span>
								<span class="operations">
									<a wicket:id="edit" title="Edit reply"><span class="fa fa-pencil"></span></a>
									<a wicket:id="delete" title="Delete reply"><span class="fa fa-times"></span></a>
									<span wicket:id="additionalOperations"></span>
								</span>
								<a wicket:id="anchor"></a>
							</div>
							<div wicket:id="body" class="body"></div>
						</td>
					</tr>
				</tbody>
			</table>
			<div wicket:id="addReply" class="add-reply"><div wicket:id="content"></div></div>
		</div>
	</div>
	<wicket:fragment wicket:id="viewFrag">
		<div wicket:id="feedback" class="feedback"></div>
		<div wicket:id="comment"></div>
	</wicket:fragment>
	<wicket:fragment wicket:id="editFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<textarea wicket:id="input" rows="5" class="form-control focusable"></textarea>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Save</button>
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="addFrag">
		<a wicket:id="addReply" class="btn btn-xs btn-default"><i class="fa fa-mail-reply"></i> Add reply</a>
	</wicket:fragment>
</wicket:panel>