.comment>.body {
	padding: 0 0 10px 0;
}
.comment .feedback .alert {
	margin-bottom: 8px;
}
.reply.new>.avatar {
	background: #FCF6D6;
}
div.replies>table {
	table-layout: fixed;
}
div.replies>table>tbody>tr>td {
	border-top: 1px solid #EEE; 
	padding-top: 10px;
}
div.replies>table>tbody>tr>td.avatar {
	width: 26px; 
}
div.replies>table>tbody>tr>td.avatar img {
	width: 26px; 
	height: 26px;
}
div.replies>table>tbody>tr>td.detail {
	padding: 10px 0 10px 10px;
}
div.replies>table>tbody>tr>td.detail>.head {
	margin-bottom: 10px;
}
div.replies>.add-reply>div>a {
	border-top: 1px solid #EEE; 
	display: block;
	color: #BBB;
	padding: 5px 10px;
	text-decoration: none;
}
div.replies>.add-reply:hover>div>a {
	color: #666;
	background: #F5F5F5;
}
