<wicket:panel>
	<div class="comment">
		<div wicket:id="info" class="info">
			<span wicket:id="user" class="user"></span> commented <span wicket:id="age"></span>
			<span class="actions">
				<a wicket:id="edit" title="Edit comment"><span class="fa fa-pencil"></span></a>
				<a wicket:id="delete" title="Delete comment"><span class="fa fa-times"></span></a>
				<a wicket:id="resolve"></a>
				<span wicket:id="resolved" class="fa fa-check" title="This comment is marked as resolved"></span>
				<span wicket:id="additionalActions"></span>
			</span>
			<a wicket:id="anchor"></a>
		</div>
		<div wicket:id="content" class="content"></div>
		<div class="replies">
			<table>
				<tbody>
					<tr wicket:id="replies" class="reply">
						<td wicket:id="avatar" class="avatar">
							<div wicket:id="avatar"></div>
						</td>
						<td class="detail">
							<div class="info">
								<span wicket:id="user" class="user"></span> replied <span wicket:id="age"></span>
								<span class="actions">
									<a wicket:id="edit" title="Edit reply"><span class="fa fa-pencil"></span></a>
									<a wicket:id="delete" title="Delete reply"><span class="fa fa-times"></span></a>
									<span wicket:id="additionalActions"></span>
								</span>
								<a wicket:id="anchor"></a>
							</div>
							<div wicket:id="content" class="content"></div>
						</td>
					</tr>
				</tbody>
			</table>
			<div wicket:id="addReply" class="add-reply"><div wicket:id="content"></div></div>
		</div>
	</div>
	<wicket:fragment wicket:id="viewFrag">
		<div wicket:id="comment"></div>
	</wicket:fragment>
	<wicket:fragment wicket:id="editFrag">
		<form wicket:id="form" class="leave-confirm">
			<textarea wicket:id="input" rows="10" class="form-control focusable"></textarea>
			<div wicket:id="feedback"></div>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Save</button>
				&nbsp;&nbsp;
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="addFrag">
		<a wicket:id="addReply" class="btn btn-xs btn-default"><i class="fa fa-mail-reply"></i> Add reply</a>
	</wicket:fragment>
</wicket:panel>