<html xmlns:wicket>
<wicket:panel>
	<div class="panel panel-default panel-comment">
		<div class="panel-heading">
			<wicket:container wicket:id="head"></wicket:container>
		</div>
		<div class="panel-body">
			<div wicket:id="content"></div>
		</div>
	</div>
	
	<wicket:fragment wicket:id="headfrag">
		<div class="clearfix">
			<div class="pull-left">
				<span class="author" wicket:id="author"></span>
			</div>
			<div class="pull-right actions">
				<span wicket:id="age"></span>
				<a wicket:id="editlink"><i class="icon icon-pencil"></i></a>
				<a wicket:id="removelink"><i class="icon icon-delete"></i></a>
			</div>
		</div>
	</wicket:fragment>
</wicket:panel>
</html>