.comment .md-editor {
	margin-bottom: 16px;
}
.comment>.head {
	margin-bottom: 10px;
}
.comment>.body>form {
	margin-bottom: 12px;
}
.comment .feedback .alert {
	margin-bottom: 8px;
}
.reply>.activity {
	padding: 8px;
}
.reply>.activity>div.summary {
	font-size: 13px;
}
.reply.new>.avatar {
	background: #FCF6D6;
}
div.replies>table {
	table-layout: fixed;
}
div.replies>table>tbody>tr>td {
	padding: 8px 0; 
	border-top: 1px solid #EEE; 
}
div.replies>table>tbody>tr>td.spacer {
	width: 10px; 
}
div.replies>table>tbody>tr>td.avatar {
	width: 26px; 
}
div.replies>table>tbody>tr>td.avatar img {
	width: 26px; 
	height: 26px;
}
div.replies>table>tbody>tr>td.detail {
	padding-left: 10px;
}
div.replies>table>tbody>tr>td.detail>.head {
	margin-bottom: 10px;
}
div.replies>.add-reply>div>a {
	border-top: 1px solid #EEE; 
	display: block;
	color: #BBB;
	padding: 5px 10px;
	text-decoration: none;
}
div.replies>.add-reply:hover>div>a {
	color: #666;
	background: #F5F5F5;
}
div.replies>.add-reply>div form {
	padding: 0 10px 10px 10px;
}
table.comments>tbody>tr>td.avatar {
	width: 1px; 
	padding-right: 16px;
}
table.comments>tbody>tr>td.avatar img {
	width: 36px; 
	height: 36px;
}
table.comments>tbody>tr>td {
	border-top: 1px solid #E5E5E5; 
	padding: 12px 0;
}
table.comments>tbody>tr:first-child>td {
	border-top: none;
}