.inline-comment>.detail {
	margin-left: 36px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.inline-comment>.outdated {
	margin-bottom: 12px;
}
.inline-comment>.outdated>a {
	font-size: 14px;
}
.inline-comment>.avatar img {
	width: 28px;
	height: 28px;
}
