<wicket:panel>
	<form wicket:id="form" class="create-branch">
		<div class="modal-header">
			<h4 class="modal-title">Specify Branch Name</h4>
		</div>
		<div class="modal-body">
			<div wicket:id="feedback"></div>
			<input wicket:id="name" class="form-control autofocus">
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<button wicket:id="create" class="btn btn-primary">Create</button>
				<button wicket:id="cancel" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</form>
</wicket:panel>