#repo-branches {
	padding: 20px;
}

#repo-branches>.list>.head>.base {
	width: 240px;
}
#repo-branches>.list>table .branch .make-default {
	display: none;
}
#repo-branches>.list>table>tbody>tr:hover .branch .make-default {
	display: inline;
}
#repo-branches>.list>table td.detail>.branch {
	height: 24px;
}
#repo-branches>.list>table td.detail>.branch>.name {
	font-weight: bold;
	font-size: 16px;
	color: #555;
	margin-right: 8px;
}
#repo-branches>.list>table td.detail>.commit {
	margin: 8px 0;
}
#repo-branches>.list>table td.detail>.commit>* {
	margin-right: 4px;
}
#repo-branches>.list>table td.detail>.commit>.message {
	color: #666;
}
#repo-branches>.list>table td.behind {
	padding-right: 0;
}
#repo-branches>.list>table td.ahead {
	padding-left: 0;
}
#repo-branches>.list>table td.behind>div {
	border-right: 2px solid #BBB;
}
#repo-branches>.list>table td.behind-ahead div.text {
	margin: 0 8px;
}
#repo-branches>.list>table td.behind-ahead {
	font-size: 13px;
	padding-top: 12px;
	width: 20%;
}
#repo-branches>.list>table td.behind-ahead a {
	color: #555;
}
#repo-branches>.list>table .bar {
	height: 6px;
}
#repo-branches>.list>table .ahead .bar {
	background: #ccc;
	border-radius: 0 2px 2px 0;
}
#repo-branches>.list>table .ahead .bar.request {
	background: #F1D763;
}
#repo-branches>.list>table .behind .bar {
	background: #ccc;
	border-radius: 2px 0 0 2px;
}
#repo-branches>.list>table .behind .bar.request {
	background: #F1D763;
}
#repo-branches>.list>.help-block .bar.request {
	background: #F1D763; 
	font-size: 6px;
	border-radius: 2px;
	vertical-align: middle;
}

#repo-branches>.list>table td.actions {
	text-align: right;
	width: 90px;
}

#searching-branches {
	position: absolute; 
	left: 50%; 
	top: 250px; 
	z-index: 100; 
	display: none;
}

.confirm-delete-branch>.modal-body {
	font-size: 16px;
}