#repository-head>.nav .separator {
	margin: 0 6px;
}
#repository-head>.nav .open a {
	background: inherit;
}
#repository-head>.clone {
	color: #DDD;
	margin: 4px 20px 0 40px;
	font-size: 14px;
}
#repository-head>.clone>label {
	font-weight: normal;
	margin-right: 4px;
}
#repository-head>.clone>input {
	background: #666;
	font-size: 12px;
	width: 200px;
	border: 1px solid #666;
	border-radius: 3px;
	padding-left: 4px;
	padding-right: 4px;
	height: 22px;
	color: #DDD;
}

#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle {
	display: block;
	margin-top: -20px;
	text-align: right;
	font-size: 20px;
	padding-right: 16px;
	border-bottom: 1px solid #BBB;
	text-decoration: none;
	color: #666;
	height: 31px;
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	color: #333;
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle>span:before {
	font-family: "FontAwesome";
	content: "\f100";
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.mini-toggle>span:before {
	content: "\f101";
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	background: #EEE;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav {
	width: 40px;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a {
	width: auto;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.text {
	display: none;
}
