#repository-head .separator {
	margin: 0 6px;
}
#repository-head .open a {
	background: inherit;
}

#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle {
	display: block;
	margin-top: -20px;
	text-align: right;
	font-size: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #BBB;
	text-decoration: none;
	color: #666;
	height: 31px;
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	color: #333;
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle>span:before {
	font-family: "FontAwesome";
	content: "\f100";
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.mini-toggle>span:before {
	content: "\f101";
}
#repository>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	background: #EEE;
}
#repository>.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	width: 220px;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a {
	width: auto;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav {
	width: 40px;
}
#repository>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.text,
#repository>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.badge {
	display: none;
}
