.organization-list .head {
	margin-bottom: 20px;
}
.organization-list .head .search {
	width: 250px;
}
.organization-list .head>.pull-left {
	margin-right: 20px;
}
.organization-list .pagination {
	margin: 0;
}
