<wicket:panel>
	<div class="issue-batch-edit">
		<form wicket:id="form">
			<div class="modal-header">
				<button wicket:id="close" type="button" class="close">&times;</button>
				<h4 wicket:id="title" class="modal-title"></h4>
			</div>
			<div class="modal-body">
				<div class="select-fields">
					<label class="control-label">Fields to Change</label>
					<div class="checkboxes clearfix">
						<div wicket:id="feedback"></div>
						<div class="pull-left">
							<div class="checkbox">
			    				<label>
			      					<input wicket:id="stateCheck" type="checkbox"> State
			    				</label>
			  				</div>					
						</div>
						<div class="pull-left">
							<div class="checkbox">
			    				<label>
			      					<input wicket:id="milestoneCheck" type="checkbox"> Milestone
			    				</label>
			  				</div>					
						</div>
						<div wicket:id="customFields" class="pull-left">
							<div class="checkbox">
			    				<label>
			      					<input wicket:id="customFieldCheck" type="checkbox"> <span wicket:id="name"></span>
			    				</label>
			  				</div>					
						</div>
					</div>
				</div>
				<div wicket:id="builtInFieldsEditor"></div>
				<div wicket:id="customFieldsEditor"></div>
				<div wicket:id="comment" placeholder="Leave a comment"></div>
			</div>				
			<div class="modal-footer clearfix">
				<input wicket:id="save" type="submit" class="btn btn-primary" value="Save">
				<a wicket:id="cancel" class="btn btn-default">Cancel</a>
			</div>
		</form>
	</div>
</wicket:panel>