<wicket:panel>
	<div class="issue-list">
		<div class="head">
			<form wicket:id="query" class="clearable-wrapper">
				<div class="input-group">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order issues here">
					<span class="input-group-btn">
						<button wicket:id="submit" type="submit" class="btn btn-default" title="Query"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<a wicket:id="newIssue" class="open-new btn btn-success"><i class="fa fa-plus"></i> New</a>
			<div class="operations">
				<a wicket:id="showSavedQueries" class="show-saved-queries"><i class="fa fa-eye"></i> Show Saved Queries</a>
				<a wicket:id="saveQuery" class="save-query"><i class="fa fa-save"></i> Save Query</a>
				<a wicket:id="batchEditSelected"><i class="fa fa-pencil"></i> Batch Edit Selected</a>
				<a wicket:id="batchEditAll"><i class="fa fa-pencil"></i> Batch Edit All</a>
				<a wicket:id="listFields" class="list-fields"><i class="fa fa-list-ul"></i> Display Fields</a>
			</div>
		</div>
		<div wicket:id="body" class="body">
			<div wicket:id="feedback"></div>
			<table wicket:id="issues" class="table"></table>
		</div>
	</div>
	<wicket:fragment wicket:id="contentFrag">
		<div class="primary clearfix">
			<div class="pull-left">
				<span wicket:id="number" class="number"></span> 
				<span wicket:id="title" class="title"></span> 
				<a wicket:id="copy" title="Copy issue number and title" class="copy"><i class="fa fa-copy"></i></a>
			</div>
			<div class="pull-right">
				<span class="votes" title="Votes">
					<span class="fa fa-thumbs-o-up"></span> <span wicket:id="votes"></span>
				</span>
				<span class="comments" title="Comments">
					<span class="fa fa-comments-o"></span> <span wicket:id="comments"></span>
				</span>
			</div>
		</div>
		<div class="secondary clearfix">
			<div class="pull-left clearfix">
				<div class="state pull-left"><span wicket:id="state"></span></div>
				<div wicket:id="fields" class="field pull-left"></div>
			</div>
			<div class="last-update pull-right">
				<a wicket:id="user"></a> <span wicket:id="activity"></span> <span wicket:id="date"></span>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="listFieldsFrag">
		<div class="issue-list-fields">
			<form wicket:id="form">
				<div class="modal-header">
					<button wicket:id="close" type="button" class="close">&times;</button>
					<h4 id="modal-title" class="modal-title">
						Fields to Display
					</h4>
				</div>
				<div class="modal-body">
					<input wicket:id="fields" type="hidden" class="form-control">
				</div>
				<div class="modal-footer clearfix">
					<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" value="Save">
					<a wicket:id="useDefault" class="btn btn-primary">Use Default</a>
					<a wicket:id="cancel" class="btn btn-default">Cancel</a>
				</div>
			</form>
		</div>
	</wicket:fragment>	
</wicket:panel>