<wicket:panel>
	<div class="issue-list">
		<div class="head">
			<form wicket:id="query" class="clearable-wrapper">
				<div class="input-group">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order issues here">
					<span class="input-group-append">
						<button wicket:id="submit" type="submit" class="btn btn-outline-secondary" title="Query"><wicket:svg href="magnify" class="icon"></wicket:svg></button>
					</span>
				</div>
			</form>
			<a wicket:id="newIssue" class="open-new btn btn-success"></a>
			<div class="operations">
				<a wicket:id="showSavedQueries" class="show-saved-queries">
					<wicket:svg href="eye" class="icon"></wicket:svg>
					Show Saved Queries
				</a>
				<a wicket:id="saveQuery" class="save-query">
					<wicket:svg href="save" class="icon"></wicket:svg>
					Save Query
				</a>
				<a wicket:id="batchEditSelected">
					<wicket:svg href="edit-selected" class="icon"></wicket:svg>
					Batch Edit Selected
				</a>
				<a wicket:id="batchEditAll">
					<wicket:svg href="edit-all" class="icon"></wicket:svg>
					Batch Edit All
				</a>
				<a wicket:id="listFields" class="list-fields">
					<wicket:svg href="select" class="icon"></wicket:svg>
					Display Fields
				</a>
				<a wicket:id="orderBy" class="order-by">
					<wicket:svg href="sort" class="icon"></wicket:svg>
					Order By
				</a>
			</div>
		</div>
		<div wicket:id="body" class="body">
			<div wicket:id="feedback"></div>
			<table wicket:id="issues" class="table"></table>
		</div>
	</div>
	<wicket:fragment wicket:id="contentFrag">
		<div class="primary clearfix">
			<div class="float-left">
				<a wicket:id="number" class="number"></a> 
				<span wicket:id="title" class="title"></span> 
				<a wicket:id="copy" title="Copy issue number and title" class="copy">
					<wicket:svg href="copy" class="icon"></wicket:svg>
				</a>
			</div>
			<div class="float-right">
				<span class="votes" title="Votes">
					<wicket:svg href="thumb-up" class="icon"></wicket:svg> <span wicket:id="votes"></span>
				</span>
				<span class="comments" title="Comments">
					<wicket:svg href="comments" class="icon"></wicket:svg> <span wicket:id="comments"></span>
				</span>
			</div>
		</div>
		<div class="secondary clearfix">
			<div class="float-left clearfix">
				<div wicket:id="fields" class="field float-left"></div>
			</div>
			<div class="last-update float-right">
				<a wicket:id="user"></a> <span wicket:id="activity"></span> <span wicket:id="date"></span>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="stateFrag">
		<span wicket:id="state"></span>
	</wicket:fragment>
	<wicket:fragment wicket:id="listFieldsFrag">
		<div class="issue-list-fields">
			<form wicket:id="form">
				<div class="modal-header">
					<h5 id="modal-title" class="modal-title">Fields to Display</h5>
					<button wicket:id="close" type="button" class="close">&times;</button>
				</div>
				<div class="modal-body">
					<input wicket:id="fields" type="hidden" class="form-control">
				</div>
				<div class="modal-footer">
					<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" value="Save">
					<button wicket:id="useDefault" class="btn btn-primary">Use Default</button>
					<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</wicket:fragment>	
</wicket:panel>