.issue-list>div>.body table>tbody>tr>td {
	padding: 1.2rem 0.8rem 0.7rem 0.8rem;
}

.issue-list .field.undefined {
	display: none;
}
.issue-list .field .issue-state {
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
}

.issue-list>div>.body .new-indicator {
	width: 4px;
	padding: 0;
}
.issue-list>div>.body tr.issue.new td.new-indicator {
	background: var(--primary);
}
