<wicket:panel>
	<div class="issue-list card">
		<div class="card-body">
			<div class="d-flex mb-4">
				<form wicket:id="query" class="clearable-wrapper flex-grow-1">
					<div class="input-group">
						<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order issues here">
						<span class="input-group-append">
							<button wicket:id="submit" type="submit" class="btn btn-outline-secondary btn-icon" title="Query"><wicket:svg href="magnify" class="icon"></wicket:svg></button>
						</span>
					</div>
				</form>
				<a wicket:id="newIssue" class="add-new btn btn-primary btn-icon flex-shrink-0 ml-3" title="Create new issue"><wicket:svg href="plus" class="icon"/></a>
			</div>
			<div class="mb-5">
				<a wicket:id="showSavedQueries" class="show-saved-queries text-gray mr-4">
					<wicket:svg href="eye" class="icon"></wicket:svg> Show Saved Queries
				</a>
				<a wicket:id="saveQuery" class="save-query text-gray mr-4">
					<wicket:svg href="save" class="icon"></wicket:svg> Save Query
				</a>
				<a wicket:id="batchEditSelected" class="text-gray mr-4">
					<wicket:svg href="edit-selected" class="icon"></wicket:svg> Batch Edit Selected
				</a>
				<a wicket:id="batchEditAll" class="text-gray mr-4">
					<wicket:svg href="edit" class="icon"></wicket:svg> Batch Edit All
				</a>
				<a wicket:id="listFields" class="list-fields text-gray mr-4">
					<wicket:svg href="select" class="icon"></wicket:svg> Display Fields
				</a>
				<a wicket:id="orderBy" class="order-by text-gray">
					<wicket:svg href="sort" class="icon"></wicket:svg> Order By
				</a>
			</div>
			<div wicket:id="body" class="body">
				<div wicket:id="feedback"></div>
				<table wicket:id="issues" class="table"></table>
			</div>
		</div>
	</div>
	<wicket:fragment wicket:id="contentFrag">
		<div class="primary d-flex mb-3">
			<div class="mr-4 flex-grow-1">
				<a wicket:id="number" class="number h6 mr-2"></a> 
				<span wicket:id="title" class="title h6 mr-1"></span> 
				<a wicket:id="copy" title="Copy issue number and title" class="copy btn btn-icon btn-xs btn-light btn-hover-primary">
					<wicket:svg href="copy" class="icon"></wicket:svg>
				</a>
			</div>
			<div class="flex-shrink-0 d-none d-lg-block text-muted">
				<span class="votes mr-2" title="Votes">
					<wicket:svg href="thumb-up" class="icon"></wicket:svg> <span wicket:id="votes"></span>
				</span>
				<span class="comments" title="Comments">
					<wicket:svg href="comments" class="icon"></wicket:svg> <span wicket:id="comments"></span>
				</span>
			</div>
		</div>
		<div class="secondary d-flex flex-wrap">
			<div class="flex-grow-1 d-flex flex-wrap">
				<div wicket:id="fields" class="field"></div>
			</div>
			<div class="last-update flex-shrink-0 d-none d-lg-block text-muted font-size-sm">
				<a wicket:id="user" class="link-gray"></a> <span wicket:id="activity"></span> <span wicket:id="date"></span>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="stateFrag">
		<span wicket:id="state"></span>
	</wicket:fragment>
	<wicket:fragment wicket:id="listFieldsFrag">
		<div class="issue-list-fields">
			<form wicket:id="form">
				<div class="modal-header">
					<h5 id="modal-title" class="modal-title">Fields to Display</h5>
					<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
				</div>
				<div class="modal-body">
					<input wicket:id="fields" type="hidden" class="form-control">
				</div>
				<div class="modal-footer">
					<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" value="Save">
					<button wicket:id="useDefault" class="btn btn-primary">Use Default</button>
					<a wicket:id="cancel" class="btn btn-secondary">Cancel</a>
				</div>
			</form>
		</div>
	</wicket:fragment>	
</wicket:panel>