#ajax-loading-indicator {
	position: absolute; 
	top: 0;
	left: 50%;	
	display:none;
}
#ajax-loading-indicator>div {
	position:relative; 
	left:-50%;	
	top:0; 
	background:#FFFFDE; 
	text-align:center;
	width:80px;
	border:1px solid #9C9E9C; 
	border-top:none; 
	padding:6px 6px 6px 10px; 
	z-index:10000; 
	border-radius:0 0 4px 4px; 
	box-shadow:2px 2px 5px #888; 
	-moz-border-radius:0 0 4px 4px; 
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-border-radius:0 0 4px 4px; 
	-webkit-box-shadow:2px 2px 5px #888;
}