.issue-activities>.activity {
	border-left: 4px solid white;
}
.dark-mode .issue-activities>.activity {
	border-left-color: var(--dark-mode-dark);
}
.issue-activities>.activity.new {
	border-left-color: var(--primary) !important;
}

.issue-activities>.activity {
	border-top: 1px solid var(--light-gray);
}
.dark-mode .issue-activities>.activity {
	border-top-color: var(--dark-mode-light-dark);
}
.issue-activities>.activity:first-child {
	border-top-width: 2px;
	border-top-style: dashed;
}
.issue-activities>.activity>div {
	padding: 16px 0 16px 8px;
}
.issue-activities>.comment.activity img.avatar {
	width: 40px;
	height: 40px;
}
.issue-activities>.activity .activity-anchor {
	display: none;
}
.issue-activities>.activity:hover .activity-anchor {
	display: inline;
}
.issue-activities>.non-comment+.non-comment {
	border-top: none !important;
}

.issue-activities>.activity.non-comment>div {
    border-left: 1px solid var(--light-gray) !important;
	margin-left: 4.6rem;
	position: relative;
	padding-left: 1.3rem;
}
.dark-mode .issue-activities>.activity.non-comment>div {
	border-color: var(--dark-mode-light-dark) !important;
}
.issue-activities>.activity.non-comment>div>.icon {
	position: absolute;
	left: -0.6rem;
	top: 1.4rem;
	background: white;
}
.dark-mode .issue-activities>.activity.non-comment>div>.icon {
	background: var(--dark-mode-dark);
}
