.issue-activity-options {
	text-align: right;
}
.issue-activity-options>div {
	padding-left: 12px;
	display: inline-block;
}
.issue-activities tr.activity.new>.avatar {
	border-left-color: #4667EE;
}

.issue-activities>table>tbody>tr>td {
	border-bottom: 1px solid #EEE;
	padding: 16px 0;
}
.issue-activities>table>tbody>tr:last-child>td {
	border-bottom: none;
}
.issue-activities>table>tbody>tr>td.avatar {
	width: 1px;
	border-left: 4px solid white;
	padding-left: 8px;
}
.issue-activities>table>tbody>tr>td.avatar .avatar {
	width: 40px;
	height: 40px;
}
.issue-activities>table>tbody>tr>td.content {
	padding-left: 16px;
}
.issue-activities .activity>.content>.head {
	color: #888;
}
.issue-activities .activity.commit .body a.summary {
	font-size: 14px;
	margin-right: 4px;
}

.issue-activities .activity>.content>.body {
	margin-top: 8px;
}
.issue-activities .activity>.content>.body>.referenced-from .label {
	line-height: inherit;
}

.issue-activities .activity>.content>.body>.actions {
	margin-top: 8px;
}
.issue-activities .activity>.content>.body>.actions a {
	color: #888;
	margin-right: 0;
}
.issue-activities .activity>.content>.body .actions .middot {
	margin: 0 4px;
}
.issue-activities .activity>.content>.body .plain.diff {
	margin-bottom: 12px;
}
.issue-activities .activity>.content>.body .plain.diff>tbody>tr>td {
	background: none !important;
}
.issue-activities .activity>.content>.body>.commits td {
	color: #888;
	padding: 4px 0;
}
.issue-activities .activity>.content>.body>.commits tr:hover td {
	background: #F5F5F5;
}
.issue-activities .activity>.content>.body>.commits td.author {
	width: 28px;
}
.issue-activities .activity>.content>.body>.commits td.hash-and-status {
	width: 170px;
}
.issue-activities .activity>.content>.body>.commits td.hash-and-status>span {
	margin-left: 4px;
}
.issue-activities .activity>.content>.head a {
	color: #999;
	margin-left: 8px;
}
.issue-activities .add-comment {
	margin-top: 16px;
}
.issue-activities .login-to-comment {
	border: 1px solid #EEE;
	vertical-align: center;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	background: #F9F9F9;
	border-radius: 4px;	
}
@media(max-width: 991px) {
	.issue-activities>table>tbody>tr>td.avatar .avatar {
		width: 24px;
		height: 24px;
	}
	.issue-activities>table>tbody>tr>td.content {
		padding-left: 6px;
	}
	.issue-activities .activity>.content>.body {
		margin-top: 12px;
		margin-left: -24px;
	}
}
