.instant-search input.form-control {
	width: 200px; 
	display: none; 
	cursor: text;
	margin-right: 8px;
}
.instant-search a {
	color: #666;
}
.instant-search-result {
	padding: 12px; 
}
.instant-search-result ul {
	margin-bottom: 0;
}
.instant-search-result li.hit .scope {
	color: #666; 
	font-size: 12px;
}
.instant-search-dropdown.floating {
	max-width: 600px;
}