.symbol-tooltip {
	background-color: #FBFCC5; 
	border: 1px solid black;
	border-radius: 4px; 
	color: black; 
	font-family: monospace; 
	font-size: 10pt; 
	padding: 4px 8px; 
	z-index: 100; 
	font-weight: bold;
}
.symbol-tooltip ul.declarations li {
	vertical-align: top; 
	padding: 2px 4px; 
	white-space: nowrap;
}
.symbol-tooltip ul.declarations .scope {
	color: #666;
}
