div.revision-selector input.revision {
	margin-bottom: 12px;
	background: url(search.gif) no-repeat right 6px center;
	padding-right: 26px;
}
div.revision-selector .nav-tabs {
	margin-bottom: 8px;
}
div.revision-selector .nav-tabs>li>a {
	padding: 2px 4px; 
	color: #666; 
	font-size: 12px;
}
div.revision-selector .nav-tabs>li.active>a {
	color: #333; 
	font-weight: bold;
}
div.revision-selector {
	padding: 12px;
}
div.revision-selector ul.refs {
	margin-bottom: 0;
}
div.revision-selector ul.refs>li {
	position: relative;
}
div.revision-selector ul.refs>li>a {
	padding-left: 20px;
}
div.revision-selector .feedback {
	color: #F94949; 
	margin-bottom: 12px;
}
div.revision-selector .feedback:before {
	font-family: "FontAwesome"; 
	content: "\f071"; 
	margin-right: 4px;
}
div.revision-selector a.icon:before {
	font-family: "FontAwesome"; 
	margin-right: 4px;	
	position: absolute;
	left: 4px;
}   
div.revision-selector a.current:before {
	content: "\f00c"; 
}   
div.revision-selector a.commit:before {
	content: "\f1da"; 
}   
div.revision-selector a.add:before {
	content: "\f067"; 
}   
div.revision-selector ul.refs>li>a .revision {
	font-size: 13px;
	margin-top: 2px;
	color: #666;
}
