#dashboard {
	padding: 20px;
}

#dashboard .summary {
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
}
#dashboard .summary .help-block {
	margin-bottom: 20px;
}
#dashboard .summary a {
	color: #444;
	font-size: 20px;
	margin-right: 20px;
}
#dashboard .summary a .fa-ext {
	font-size: 20px;
}
