.instant-search input.form-control {
	width: 200px; 
	display: none; 
	cursor: text;
	margin-right: 8px;
}
.instant-search a {
	color: #666;
}
.instant-search-result .section {
	margin-bottom: 8px;
}
.instant-search-result {
	padding: 8px; 
}
.instant-search-result .section>.title {
	font-weight: bold; 
	margin-bottom: 4px;
}
.instant-search-result li.hit .scope {
	color: #666; 
	font-size: 12px;
}
.instant-search-dropdown.floating {
	max-width: 600px;
}