table.reflection {
	width: 100%;
	margin-bottom: 20px;
}
table.reflection>tbody>tr>td {
	vertical-align: top;
}
table.reflection>tbody>tr>td {
	padding: 10px;
}
table.reflection>tbody>tr>td.name {
	font-weight: bold;
	background: #EDEDED;
	text-align: right;
}
table.reflection td input.enable, table.reflection td select.type {
	margin-bottom: 8px;
}

table.list.editor {
	margin-bottom: 0;
}
table.list.editor input, table.list.editor select {
	margin-bottom: 0;
}
td.no-elements {
	font-style: italic;
}
