table.reflection {
	width: 100%;
	margin-bottom: 20px;
}
table.reflection>tbody>tr>td {
	vertical-align: top;
}
table.reflection>tbody>tr>td {
	padding: 10px;
}
table.reflection>tbody>tr>td.name {
	font-weight: bold;
	background: #F0F0F0;
	text-align: right;
	white-space: nowrap;
	width: 20%;
}
table.reflection>tbody>tr:first-child>td.name {
	border-radius: 4px 4px 0 0;
}
table.reflection>tbody>tr:last-child>td.name {
	border-radius: 0 0 4px 4px;
}
table.reflection>tbody>tr:first-child:last-child>td.name {
	border-radius: 4px;
}
table.reflection td.value {
	font-size: 13px;
}
table.reflection td input.enable, table.reflection td select.type {
	margin-bottom: 8px;
}

table.list.editor {
	margin-bottom: 0;
}
table.list.editor input, table.list.editor select {
	margin-bottom: 0;
}
td.no-elements {
	font-style: italic;
	padding-bottom: 10px;
}

table.polymorphic {
	width: 100%;
}
table.reflection table.reflection {
	margin-bottom: 10px;
}
table.reflection input[type="text"], table.reflection select {
	width: 100%;
	height: 32px;
	font-size: 13px;
}

div.reflection div.name {
	font-weight: bold;
}
div.reflection select.type, div.reflectio input.enable {
	margin-bottom: 15px;
}
table.reflection .right-spacing {
	margin-right: 8px;
}
.editor .has-error .help-block {color: #737373;}
.editor .has-error .control-label {color: #333333;}
.editor .has-error .error-message {color: #A94442;}
.editor .required {font-size: 16px; color: #B94A48;}
