table.reflection {
	width: 100%;
	margin-bottom: 20px;
}
table.reflection>tbody>tr>td {
	vertical-align: top;
}
table.reflection>tbody>tr>td {
	padding: 10px;
}
table.reflection>tbody>tr>td.name {
	font-weight: bold;
	background: #EDEDED;
	text-align: right;
	white-space: nowrap;
	width: 20%;
}
table.reflection td.value {
	font-size: 13px;
}
table.reflection td input.enable, table.reflection td select.type {
	margin-bottom: 8px;
}

table.list.editor {
	margin-bottom: 0;
}
table.list.editor input, table.list.editor select {
	margin-bottom: 0;
}
td.no-elements {
	font-style: italic;
	padding-bottom: 10px;
}

table.polymorphic {
	width: 100%;
}
table.reflection table.reflection {
	margin-bottom: 10px;
}
table.reflection input[type="text"], table.reflection select {
	width: 100%;
	height: 32px;
	font-size: 13px;
} 

div.reflection div.name {
	font-weight: bold;
}
div.reflection select.type, div.reflectio input.enable {
	margin-bottom: 15px;
}