<wicket:panel>
	<div class="order-edit">
		<table wicket:id="selected" class="selected">
			<tr wicket:id="selectedItems" class="clearfix">
				<td class="drag-indicator">
					<i class="fa fa-reorder"></i>
				</td>
				<td class="index"><span wicket:id="index"></span></td>
				<td class="name"><span wicket:id="name"></span></td>
				<td class="checkbox">
					<label>
						<input wicket:id="descending" type="checkbox"> descending 
					</label>
				</td>
				<td class="actions">
					<a wicket:id="remove" title="Remove"><i class="fa fa-times"></i></a>
				</td>
			</tr>
		</table>
		<ul wicket:id="available" class="available list-unstyled">
			<li wicket:id="availableItems">
				<a wicket:id="add" title="Add">
					<i class="fa fa-plus"></i>
					<span wicket:id="name"></span>
				</a>
			</li>
		</ul>
	</div>
</wicket:panel>