.cm-identifierhighlight {
	background: #D0D0D0;
}
.CodeMirror-selected {
	background-color: #3399FF !important;
}
.CodeMirror-selectedtext {
	color: white !important;
}
.CodeMirror-simplescroll-horizontal {
	height: 12px;
}
.CodeMirror-simplescroll-vertical {
	width: 12px;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
	background: none repeat scroll 0 0 #bbb; 
	border: 1px solid #aaa;
}
.cm-s-eclipse span.cm-meta {
	color: #888;
}

.CodeMirror-tokentooltip {
	background-color: infobackground; 
	border: 1px solid black;
	border-radius: 4px; 
	color: infotext; 
	font-family: monospace; 
	font-size: 10pt; 
	overflow: auto; 
	padding: 4px 8px; 
	z-index: 100; 
	max-width: 900px; 
	max-height: 600px;
}
.CodeMirror-search-match {
  background: orange;
  border-top: 1px solid orange;
  border-bottom: 1px solid orange;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
.CodeMirror-search-match2 {
  background: #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
