.cm-identifierhighlight {
	background: #CCC;
}
.CodeMirror-mark {
	background: #E2C7F3;
}
.CodeMirror {
	font-size: 13px;
}
.CodeMirror-gutters {
	background: white;
}
.CodeMirror-selected {
	background-color: #3399FF !important;
}
.CodeMirror-selectedtext {
	color: white !important;
}
.CodeMirror-simplescroll-horizontal {
	height: 12px;
}
.CodeMirror-simplescroll-vertical {
	width: 12px;
}
.CodeMirror-simplescroll-horizontal div, .CodeMirror-simplescroll-vertical div {
	background: none repeat scroll 0 0 #bbb; 
	border: 1px solid #aaa;
}
.cm-s-eclipse span.cm-meta {
	color: #888;
}
.cm-s-eclipse .CodeMirror-matchingbracket {
	outline: none;
	background: #69B7F7;
}
.CodeMirror-search-match {
  background: gold;
  border-top: 1px solid gold;
  border-bottom: 1px solid gold;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
.CodeMirror-search-match2 {
  background: #666;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  opacity: .5;
}
