#issue-boards>.head {
	position: relative;
}
#issue-boards>.head>form {
	margin-right: 120px;
}
#issue-boards>.head>.add-new {
	position: absolute;
	top: 0;
	right: 0;
}
#issue-boards .no-boards {
	font-size: 16px;
}
#issue-boards .no-boards a {
	margin-left: 12px;
}
#new-board>.head {
	margin-bottom: 20px;
}
.board-menu, .milestone-menu {
	padding: 8px 12px;
}
.board-menu .board, .milestone-menu .milestone {
	position: relative;
	padding: 4px 0 4px 20px;
	white-space: nowrap;
}
.board-menu .active:before, .milestone-menu .active:before {
	content: "\f00c";
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 4px;
}
.milestone-menu .active:before {
	top: 6px;
}
.board-menu a.action, .milestone-menu a.action {
	text-decoration: none;
	margin-left: 8px;
	color: #444;
}
.milestone-menu .status {
	margin-left: 4px;
}
.milestone-menu .action {
	font-size: 16px;
}
.milestone-menu>a {
	display: block;
	text-decoration: none;
	background: #F9F9F9;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 4px 8px;
	margin-top: 8px;
	color: #666;
	font-size: 12px;
}
.milestone-menu>a:hover {
	background: #E5E5E5;
}

#issue-boards>.body {
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 0 -20px;
	/* hack to makes all column of same width and same space */
	padding: 20px 0 20px 20px; 
	display: flex;
}
.board-column {
	flex: 1 1 auto;
	min-width: 250px;
	height: 100%;
	/* hack to makes all column of same width and same space */
	padding-right: 20px;
}
.board-column>.content {
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	height: 100%;
}
.board-column>.content>.head {
	font-weight: bold;
	padding: 6px 12px;
	font-size: 15px;
	border-bottom: 1px solid #E0E0E0;
}
.board-column>.content>.body {
	position: relative;
	overflow: auto;
} 
