#issue-boards>.head {
	position: relative;
}
#issue-boards>.head>form {
	margin-right: 120px;
}
#issue-boards>.head>.add-new {
	position: absolute;
	top: 0;
	right: 0;
}
#issue-boards .no-boards {
	font-size: 16px;
}
#issue-boards .no-boards a {
	margin-left: 12px;
}
#new-board>.head {
	margin-bottom: 20px;
}
.board-menu, .milestone-menu {
	padding: 8px 12px;
}
.board-menu .board, .milestone-menu .milestone {
	position: relative;
	padding: 4px 0 4px 20px;
	white-space: nowrap;
}
.board-menu .active:before, .milestone-menu .active:before {
	content: "\f00c";
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 4px;
}
.milestone-menu .active:before {
	top: 6px;
}
.board-menu a.action, .milestone-menu a.action {
	text-decoration: none;
	margin-left: 8px;
	color: #444;
}
.milestone-menu .status {
	margin-left: 4px;
}
.milestone-menu .action {
	font-size: 16px;
}
.milestone-menu>a {
	display: block;
	text-decoration: none;
	background: #F9F9F9;
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 4px 8px;
	margin-top: 8px;
	color: #666;
	font-size: 12px;
}
.milestone-menu>a:hover {
	background: #E5E5E5;
}

#issue-boards>.feedback .alert {
	margin-top: 20px;
	margin-bottom: 0;
}
#issue-boards>.body {
	position: relative;
	margin: 0 -20px;
	/* hack to makes all column of same width and same space */
	padding: 20px 0 20px 20px; 
	display: flex;
}
#issue-boards>.body>.column {
	flex: 1 1 auto;
	min-width: 250px;
	height: 100%;
	/* hack to makes all column of same width and same space */
	padding-right: 20px;
}
#issue-boards>.body>.column>.content {
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #F9F9F9;
}
#issue-boards>.body>.column>.content>.head {
	font-weight: bold;
	padding: 6px 12px;
	font-size: 15px;
	border-bottom: 1px solid #E0E0E0;
	border-top: 3px solid #E0E0E0;
}
#issue-boards>.body>.column>.content>.head a {
	color: #666;
	margin-right: 8px;
}

#issue-boards>.body>.column>.content>.body {
	position: relative;
	padding: 16px;
	overflow: auto;
	height: 100%;
} 
#issue-boards>.body>.column>.content>.body>.loading-indicator {
	margin-top: 8px;
}
#issue-boards>.body>.column>.content>.body>.card {
	margin-top: 16px;
} 
#issue-boards>.body>.column>.content>.body>.card:first-child {
	margin-top: 0;
} 

#issue-boards>.body>.column>.content>.body>.card {
	border-radius: 4px;
	padding: 8px 48px 8px 8px;
	background: white;
	position: relative;
	box-shadow: 1px 1px 4px 1px rgba(0 ,0 ,0 ,0.1);	
	cursor: move;
}
#issue-boards>.body>.column>.content>.body>.card>.number {
	margin-right: 8px;
	font-size: 12px;
	line-height: 20px;
}
#issue-boards>.body>.column>.content>.body>.card>.state {
	border-radius: 2px;
	width: 12px;
	height: 12px;
	position: absolute;
	right: 30px;
	top: 12px;
	cursor: default;
}
#issue-boards>.body>.column>.content>.body>.card>.detail {
	position: absolute;
	right: 8px;
	top: 7px;
	color: #666;
	text-decoration: none;
}

.board-card-detail>.modal-header .number {
	margin-right: 4px;
}
.board-card-detail>.modal-body>* {
	margin-bottom: 20px;
}
.board-card-detail>.modal-body>:last-child {
	margin-bottom: 0;
}
.board-card-detail>.modal-body>table>tbody>tr>td {
	padding: 6px;
	vertical-align: top;
	white-space: nowrap;
}
.board-card-detail>.modal-body>table>tbody>tr>td.spacing {
	width: 20px;
}
