<wicket:panel>
	<div class="watch-status py-3">
		<a wicket:id="default" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold"><wicket:t>Watch if involved (default)</wicket:t></div>
				<div class="text-muted font-size-sm mt-1"><wicket:t>Start to watch once I am involved</wicket:t></div>
			</div>
		</a>
		<a wicket:id="watch" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold"><wicket:t>Watch</wicket:t></div>
				<div class="text-muted font-size-sm mt-1"><wicket:t>You will be notified of any activities</wicket:t></div>
			</div>
		</a>
		<a wicket:id="ignore" class="d-flex px-3 py-2 text-hover-gray-dark">
			<wicket:svg href="tick" class="icon mr-2 mt-1"/>
			<div>
				<div class="font-weight-bold"><wicket:t>Ignore</wicket:t></div>
				<div class="text-muted font-size-sm mt-1"><wicket:t>Ignore activities irrelevant to me</wicket:t></div>
			</div>
		</a>
	</div>
</wicket:panel>
