.watch-status:AFTER {
	margin-left: 4px;
}
.watch-status.default:AFTER {
	content: "Watch if involved";
}
.watch-status.watch:AFTER {
	content: "Watch";
}
.watch-status.do-not-watch:AFTER {
	content: "Do not watch";
}
.watch-status .icon {
	display: none;
}
.watch-status.default .icon-bell, 
.watch-status.watch .icon-bell-ring, 
.watch-status.do-not-watch .icon-bell-off  {
	display: inline-block;
}

.floating .watch-status {
	padding: 16px 0;
}
.floating .watch-status a {
	display: block;
	color: #333;
	padding: 8px 8px 8px 28px;
	text-decoration: none;
	position: relative;
}
.floating .watch-status a .icon {
	display: none;
	position: absolute;
	width: 12px;
	height: 12px;
	left: 8px;
	top: 18px;
}
.floating .watch-status a.active .icon {
	display: inline-block;
}
.floating .watch-status a .title {
	font-weight: bold;
}
.floating .watch-status a .description {
	font-size: 13px;
	color: #666;
	margin-top: 4px;
}

.floating .watch-status a:hover {
	background: #F5F5F5;
}