.symbol-tooltip {
	background-color: var(--light-info); 
	border-radius: 0.42rem; 
	color: var(--info);
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; 
	font-size: 12px; 
	padding: 1rem; 
	z-index: 10000; 
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
	max-width: 720px;
}
.symbol-tooltip .hint {
	font-size: 11px;
	opacity: 0.7;
}
.dark-mode .symbol-tooltip {
	background-color: var(--dark-mode-light-info); 
	color: var(--info);
	box-shadow: 0 0 30px rgb(0 0 0 / 50%);	
}
.dark-mode .symbol-tooltip a {
	color: var(--primary);
}
.dark-mode .symbol-tooltip a:hover, .dark-mode .symbol-tooltip a:focus {
	color: #0073e9;
}

.symbol-tooltip .definition-inferring-indicator img {
	width: 14px;
	height: 14px;
}
.symbol-tooltip .definitions.no-definition-infer>li .most-probable-indicator {
	display: none;
}
.symbol-tooltip .definitions>li .most-probable-indicator {
	visibility: hidden;
}
.symbol-tooltip .definitions>li.most-probable .most-probable-indicator {
	visibility: visible;
}
.symbol-tooltip ul.definitions li {
	vertical-align: top; 
	padding: 2px 4px; 
	white-space: nowrap;
}
.symbol-tooltip ul.definitions .scope {
	color: var(--gray);
}
.dark-mode .symbol-tooltip ul.definitions .scope {
	color: var(--dark-mode-gray);
}
.symbol-tooltip a.find-occurrences[disabled] {
	opacity: 100%;
}