<wicket:panel>
	<div class="blob-search form-inline">
		<input wicket:id="instantSearchInput" placeholder="File names, symbols, contents" class="form-control input-sm"></input> 
		<div class="btn btn-group">
			<a title="Instant search" class="btn btn-default btn-sm" onclick="$(this).parent().prev().show().focus();"><i class="fa fa-search"></i></a>
			<a wicket:id="advancedSearch" title="Advanced search" class="btn btn-default btn-sm"><i class="fa fa-binoculars"></i></a>
		</div>
	</div>		
	<div wicket:id="instantSearchResult" class="blob-instant-search-result"></div>
	<div wicket:id="advancedSearchDlg" class="blob-advanced-search"></div>
	<wicket:fragment wicket:id="instantSearchResultFrag">
		<div class="symbols section">
			<div class="title">File names and symbols</div>
			<wicket:enclosure child="symbolHits">
			<table>
				<tr wicket:id="symbolHits" class="hit">
					<td class="icon"><img wicket:id="icon"></img></td>
					<td class="content">
						<a wicket:id="link"><span wicket:id="label"></span></a>
						<wicket:enclosure child="scope">
							<span class="scope">
							-- <span wicket:id="scope"></span> 
							</span>
						</wicket:enclosure>
					</td>
				</tr>
				<wicket:enclosure child="moreSymbolHits">
				<tr class="hit more-matches">
					<td class="icon"><i class="fa fa-arrow-circle-right"></i></td>
					<td><a wicket:id="moreSymbolHits">Show more</a></td>
				</tr>
				</wicket:enclosure>
			</table>
			</wicket:enclosure>
			<div wicket:id="noSymbolHits" class="no-matches"><i class="fa fa-info-circle"></i> No matches</div>
		</div>
		<div wicket:id="texts" class="texts section">
			<div class="title">Text occurrences</div>
			<wicket:enclosure child="textHits">
			<table>
				<tr wicket:id="textHits" class="hit">
					<td class="icon"><img wicket:id="icon"></img></td>
					<td class="content">
						<a wicket:id="link"><span wicket:id="label"></span></a>
						<wicket:enclosure child="scope">
							<span class="scope">
							-- <span wicket:id="scope"></span> 
							</span>
						</wicket:enclosure>
					</td>
				</tr>
				<wicket:enclosure child="moreTextHits">
				<tr class="hit more-matches">
					<td class="icon"><i class="fa fa-arrow-circle-right fa-fw"></i></td>
					<td><a wicket:id="moreTextHits">Show more</a></td>
				</tr>
				</wicket:enclosure>
			</table>
			</wicket:enclosure>
			<div wicket:id="noTextHits" class="no-matches"><i class="fa fa-info-circle"></i> No matches</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="advancedSearchFrag">
		<form wicket:id="form">
			<div class="modal-header">
				<h4 class="modal-title">Advanced Search</h4>
			</div>
			<div class="modal-body">
				<div wicket:id="searchFor" class="form-group">
					<label>Search For</label>
					<input wicket:id="input" class="form-control" type="text"></input>
					<div wicket:id="feedback"></div>
				</div>
				<div class="form-group">
					<label class="checkbox-inline"><input wicket:id="regex" type="checkbox"></input> Regular expression</label>
					<label class="checkbox-inline"><input wicket:id="wholeWord" type="checkbox"></input> Whole word</label>
					<label class="checkbox-inline"><input wicket:id="caseSensitive" type="checkbox"></input> Case sensitive</label>
				</div>
				<fieldset>
					<legend>Search Scope</legend>
					<div>
						<div class="form-group">
							<label>File types (separated by comma or space)</label>
							<input wicket:id="fileTypes" class="form-control" type="text" placeholder="File types such as *.java, *.c"></input>
						</div>
						<div wicket:id="searchType" class="form-group">
							<label class="radio-inline"><input wicket:id="texts" type="radio" name="searchScope"></input> Text occurrences</label>
							<label class="radio-inline"><input wicket:id="symbols" type="radio" name="searchScope"></input> File names and symbols</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<button wicket:id="search" class="btn btn-primary">Search</button>
					<button wicket:id="cancel" class="btn btn-default">Cancel</button>
				</div>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>