.blob-search input.form-control {
	width: 200px; 
	display: none; 
	cursor: text;
}
.blob-search a {
	color: #666;
}
.blob-search a.instant-search {
	margin-right: 4px;
}
.instant-search-result .section {
	margin-bottom: 8px;
}
.instant-search-result {
	padding: 8px; 
	width: 600px; 
	max-height: 600px; 
	overflow: auto;
}
.instant-search-result a {
	color: #444;
}
.instant-search-result .section>.title {
	font-weight: bold; 
	margin-bottom: 4px;
}
.instant-search-result tr.hit>td {
	vertical-align: top; 
	padding: 1px 0;
} 
.instant-search-result tr.hit>td.icon {
	width: 24px;
}
.instant-search-result tr.hit.active>td {
	background: #E8E8E8;
} 
.instant-search-result tr.more-matches .fa {
	font-size: 16px;
}
.instant-search-result tr.more-matches>td {
	padding: 8px 0; 
	font-style: italic;
}
.instant-search-result .no-matches {
	font-style: italic;
}
.instant-search-result td.content .scope {
	color: #666; 
	font-size: 12px;
}

.advanced-search label {
	font-weight: normal;
}
.advanced-search .modal-footer {
	border-top: none;
}
.advanced-search fieldset {
	border: 1px solid #DDD; 
	padding: 16px 12px;
}
.advanced-search fieldset legend {
	width: inherit; 
	padding: 4px; 
	margin: 0 0 0 -4px; 
	border-bottom: none; 
	font-size: 16px;
}
.advanced-search fieldset>div {
	margin-top: -12px;
}
.advanced-search .feedbackPanelERROR {
	margin-top: 16px;
}
