<wicket:panel>
	<form wicket:id="form" class="create-branch">
		<div class="modal-header">
			<button wicket:id="close" type="button" class="close">&times;</button>
			<h4 class="modal-title">Specify Branch Name</h4>
		</div>
		<div class="modal-body">
			<div wicket:id="feedback"></div>
			<input wicket:id="name" class="form-control">
		</div>
		<div class="modal-footer">
			<button wicket:id="create" class="btn btn-primary">Create</button>
			<button wicket:id="cancel" class="btn btn-default">Cancel</button>
		</div>
	</form>
</wicket:panel>