#repo-commits {
	padding: 20px;
	position: relative;
}
#repo-commits>.body li {
	padding: 4px 0;
}
#repo-commits>.body .avatar {
	width: 40px;
}
#repo-commits>.body .avatar img {
	width: 37px; 
	height: 37px;
}
#repo-commits>.body .info {
	text-align: right;
	white-space: nowrap;
}
#repo-commits>.body a {
	color: #666;
}
#repo-commits>.body a.summary {
	font-weight: bold;
}
#repo-commits>.body .detail {
	padding-left: 8px; 
	padding-right: 8px;
}
#repo-commits>.body .detail .name {
	color: #666;
}
#repo-commits>.body .commit-hash {
	font-family: monospace;
}
#repo-commits>.body li:hover {
	background: #F7ECB9;
}
#repo-commits>.body .commit-message>.full {
	margin-bottom: 4px;
}
#repo-commits>.body .commit-message .detail {
	margin-bottom: 8px;
}
#repo-commits>.body>.list {
	margin-bottom: 0;
}
#repo-commits>.body>.lane {
	position: absolute;
}
#repo-commits>.foot {
	text-align: center;
}
#repo-commits>.foot>.alert, #repo-commits>.footer>.btn {
	margin-top: 8px;
	margin-bottom: 0;
}
