#repo-commits {
	padding: 20px;
	position: relative;
}
#repo-commits>.body li {
	padding: 4px 0;
}
#repo-commits>.body .avatar {
	width: 40px;
}
#repo-commits>.body .avatar img {
	width: 37px; 
	height: 37px;
}
#repo-commits>.body .info {
	text-align: right;
	white-space: nowrap;
}
#repo-commits>.body a {
	color: #666;
}
#repo-commits>.body a.summary {
	font-weight: bold;
}
#repo-commits>.body .detail {
	padding-left: 8px; 
	padding-right: 8px;
}
#repo-commits>.body .detail .name {
	color: #666;
}
#repo-commits>.body .commit-hash {
	font-family: monospace;
}
#repo-commits>.body li:hover {
	background: #F7ECB9;
}
#repo-commits>.body .commit-message>.full {
	margin-bottom: 4px;
}
#repo-commits>.body .commit-message .detail {
	margin-bottom: 8px;
}
#repo-commits>.body>.list {
	margin-bottom: 0;
}
#repo-commits>.body>.lane {
	position: absolute;
}
#repo-commits>.foot {
	text-align: center;
}
#repo-commits>.foot>.alert, #repo-commits>.footer>.btn {
	margin-top: 8px;
	margin-bottom: 0;
}

.commit-lane-dot {
	fill: #53a8fd;
}
.commit-lane-line {
	stroke-width: 2px;
	stroke: #53a8fd;
	fill: none;
}

.commit-lane-dot1 {
	fill: #53a8fd;
}
.commit-lane-line1 {
	stroke: #53a8fd;
}

.commit-lane-dot2 {
	fill: #09c112;
}
.commit-lane-line2 {
	stroke: #09c112;
}

.commit-lane-dot3 {
	fill: #ff4242;
}
.commit-lane-line3 {
	stroke: #ff4242;
}

.commit-lane-dot4 {
	fill: #0252a2;
}
.commit-lane-line4 {
	stroke: #0252a2;
}

.commit-lane-dot5 {
	fill: #056d0b;
}
.commit-lane-line5 {
	stroke: #056d0b;
}

.commit-lane-dot6 {
	fill: #b00000;
}
.commit-lane-line6 {
	stroke: #b00000;
}

.commit-lane-dot7 {
	fill: #af29f8;
}
.commit-lane-line7 {
	stroke: #af29f8;
}

.commit-lane-dot8 {
	fill: #ee6c1e;
}
.commit-lane-line8 {
	stroke: #ee6c1e;
}

.commit-lane-dot9 {
	fill: #ef56cd;
}
.commit-lane-line9 {
	stroke: #ef56cd;
}

.commit-lane-dot10 {
	fill: #630596;
}
.commit-lane-line10 {
	stroke: #630596;
}

.commit-lane-dot11 {
	fill: #8e4509;
}
.commit-lane-line11 {
	stroke: #8e4509;
}

.commit-lane-dot12 {
	fill: #9b0f7b;
}
.commit-lane-line12 {
	stroke: #9b0f7b;
}
