#main>.head {
	padding: 16px;
	background: #333;
}
#topnav>a, #topnav>span {
	color: white; 
	font-size: 18px; 
	margin-right: 8px;
}

#account-info a, #account-info span {
	color: white; 
}
#account-info span {
	color: white; 
}

#topnav>.home .fa {
	font-size: 24px;
}

#main>.body>.head {
	background: #DDD;
	border: 1px solid #BBB;
	border-left: none;
	border-right: none;
	font-size: 16px;
}
#maintab {
	margin: 0 16px;
}
#maintab>li {
	float: left;
	margin-right: 3px;
}
#maintab>li>a {
	display: block; 
	text-decoration: none; 
	padding: 6px 10px;
	color: #333; 
}
#maintab>li.active>a {
	font-weight: bold; 
	color: black;
}
#main>.body>.content {
	background: white;
	border-bottom: 1px solid #BBB;
	padding: 20px;
}

#main>.foot {
	font-size: 11px;
	padding: 8px; 
}

section>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
