html, body {
	background: #f0f2f4; 
}
#main>.head {
	padding: 16px;
	background: #303845;
}
#topnav>a, #topnav>span {
	color: #EEE; 
	font-size: 18px; 
	margin-right: 8px;
}
#topnav>a.home {
	text-decoration: none;
}
#topnav>a.home span:hover {
	text-decoration: underline;
}
#topnav>.home .fa {
	font-size: 24px;
}
#topnav>.separator .fa {
	font-size: 20px;
}
#topnav .avatar {
	width: 24px;
	height: 24px;
	vertical-align: bottom;
}

#toptray a, #toptray span {
	color: #EEE; 
}
#toptray>a, #toptray>span {
	margin-right: 8px;
} 
#toptray>:last-child {
	margin-right: 0;
} 
#toptray .avatar {
	width: 32px;
	height: 32px;
	margin: -4px 0;
	vertical-align: bottom;
	box-shadow: -1px 0px 3px 0px rgba(0,0,0,1), 
				1px 0px 3px 0px rgba(0,0,0,1), 
				0px -1px 3px 0px rgba(0,0,0,1), 
				0px 1px 3px 0px rgba(0,0,0,1);
}
#toptray a.previous {
	text-decoration: none;
	display: block;
	float: left;
}
#toptray a.previous .avatar {
	margin-right: -20px;
}
#toptray a.previous:hover .avatar {
	margin-right: -7px;
}
.runas-tooltip {
	padding: 4px 8px;
}

#toptray .user-link span {
	font-size: 16px;
}
#toptray a.sign-out .fa {
	font-size: 20px;
	vertical-align: middle;
}

#main>.body>.head {
	background: #EEE;
	border: 1px solid #BBB;
	border-left: none;
	border-right: none;
	font-size: 16px;
}
#maintab {
	margin: 0 16px;
}
#maintab>li {
	float: left;
	margin-right: 3px;
}
#maintab>li>a {
	display: block; 
	text-decoration: none; 
	padding: 6px 10px;
	color: #666; 
}
#maintab>li.active>a {
	color: #333;
	font-weight: bold; 
}
#main>.body>.content {
	background: white;
	border-bottom: 1px solid #BBB;
	padding: 20px;
}

#main>.foot {
	font-size: 11px;
	padding: 8px; 
}

section>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
