#project-tags>.list>.body>table>thead {
	display: none;
}
#project-tags .tag {
	padding: 8px;
}
#project-tags .tag .title>a.name {
	font-weight: bold;
	font-size: 15px;
}
#project-tags .tag .actions a {
	color: #444;
}
#project-tags .annotated {
	color: #999;
	font-size: 12px;
	margin-left: 8px;
}
#project-tags .annotated .ellipsis-expander {
	margin-left: 4px;
}
#project-tags .annotated .message {
	display: none;
	border: none;
	font-size: 12px;
	background: none;
}
#project-tags .annotated>pre {
	margin-bottom: 0;
	padding-bottom: 0
}

#project-tags .tag>div {
	margin: 8px 0;
}

