@media(max-width: 991px) {
	#project-branches>.list>table .behind-ahead {
		display: none;
	}
}
#project-branches>.list>.head>.base {
	width: 240px;
}
#project-branches>.list>.body>table>thead {
	display: none;
}

#project-branches>.list>.body>table td.branch>div {
	margin: 8px 0;
}

#project-branches>.list>.body>table .branch .make-default {
	display: none;
}
#project-branches>.list>.body>table>tbody>tr:hover .branch .make-default {
	display: inline;
}
#project-branches>.list>.body>table td.branch>.title>.name {
	font-weight: bold;
}
#project-branches .actions a {
	color: #444;
}

#project-branches>.list>.body>table td.branch>.title>* {
	margin-right: 8px;
}
#project-branches>.list>.body>table td.branch>.title .build-status svg {
	margin: 0;
}

#project-branches>.list>.body>table td.behind {
	padding-right: 0;
}
#project-branches>.list>.body>table td.ahead {
	padding-left: 0;
}
#project-branches>.list>.body>table td.behind>div {
	border-right: 2px solid #BBB;
}
#project-branches>.list>.body>table td.behind-ahead div.text {
	margin: 0 8px;
}
#project-branches>.list>.body>table td.behind-ahead {
	font-size: 13px;
	padding-top: 12px;
	width: 20%;
}
#project-branches>.list>.body>table td.behind-ahead.behind>div {
	text-align: right;
}
#project-branches>.list>.body>table .bar {
	height: 6px;
	display: inline-block;
}
#project-branches>.list>.body>table .ahead .bar {
	background: #ccc;
	border-radius: 0 2px 2px 0;
}
#project-branches>.list>.body>table .behind .bar {
	background: #ccc;
	border-radius: 2px 0 0 2px;
}
#searching-branches {
	position: absolute; 
	left: 50%; 
	top: 250px; 
	z-index: 100; 
	display: none;
}
