#issue-detail>.main>div {
	margin-bottom: 20px;
}
#issue-detail>.main>div:last-child {
	margin-bottom: 0;
}
#issue-detail .issue-side>.nav {
	padding-right: 20px;
	border-right: 1px solid #D8D8D8;
	margin-right: 30px;
}

@media(min-width: 1150px) {
	#issue-detail>.main {
		padding-right: 360px;
	}
	#issue-detail .side-info {
		box-shadow: none;
		border-left-width: 2px;
		display: block !important;
	}
	#issue-detail .issue-operations a.more-info, #issue-detail .side-info>a.close {
		display: none;
	}
	#issue-detail .issue-side .nav {
		padding-right: 0;
		border-right: none;
		margin-right: 0;
	}
}
