<wicket:panel>
	<div class="d-flex align-items-center p-2 border position-sticky head">
		<a wicket:id="toggleBody" class="btn btn-icon btn-xs btn-hover-light mr-2 toggle">
			<wicket:svg href="arrow" class="icon rotate-90" />
		</a>
		<div wicket:id="title" class="mr-3 text-break"></div>
		<div class="ml-auto text-nowrap d-flex align-items-center">
			<a wicket:id="toggleReviewed" class="btn btn-xs btn-icon btn-hover-light"><svg wicket:id="icon"
					class="icon" /></a>
			<a wicket:id="blameFile" class="btn btn-xs btn-icon btn-hover-light" t:data-tippy-content="Blame">
				<wicket:svg href="commit" class="icon" />
			</a>
			<a wicket:id="viewFile" class="btn btn-xs btn-icon btn-hover-light ml-1" t:data-tippy-content="View">
				<wicket:svg href="eye" class="icon" />
			</a>
			<a wicket:id="editFile" class="btn btn-xs btn-icon btn-hover-light ml-1" t:data-tippy-content="Edit on source branch">
				<wicket:svg href="edit" class="icon" />
			</a>
			<span wicket:id="diffStat" class="ml-2 text-nowrap"></span>
		</div>
	</div>
	<div wicket:id="body" class="body"></div>
	<wicket:fragment wicket:id="messageFrag">
		<svg wicket:id="icon" class="icon mr-2"></svg> <i wicket:id="message"></i>
	</wicket:fragment>
</wicket:panel>