<wicket:panel>
	<div class="file-navigator clearfix">
		<div wicket:id="paths" class="pull-left clearfix">
			<a wicket:id="link" class="pull-left"><span wicket:id="label"></span></a>
			<a wicket:id="subtreeDropdownTrigger" class="subtree-dropdown-trigger pull-left"></a>
			<div wicket:id="subtreeDropdown" class="subtree-dropdown"></div>
		</div>
	</div>
	<wicket:fragment wicket:id="treeNodeFrag">
		<i wicket:id="icon"></i> <a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
</wicket:panel>