#request-detail>.compare>.head {
	background: #F2F2F2; 
	z-index: 200; 
	padding: 8px; 
	border: 1px solid #DDD;
	margin-bottom: 16px;
}
.content>.commit-choice {
	max-height: 400px; 
	padding: 8px 0; 
	overflow-y: scroll;
}
.content>.commit-choice a {
	text-decoration: none; 
	color: #333; 
	display: block; 
	padding: 8px;
}
.content>.commit-choice li {
	border-bottom: 1px dotted #BBB;
}
.content>.commit-choice li:hover {
	background: #FDF2C3;
}
.content>.commit-choice a .commit {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
.content>.commit-choice a .subject {
	font-size: 12px; 
	color: #999;
} 
table.old-vs-new td {
	padding: 0 8px;
}
table.old-vs-new td.old {
	width: 140px; 
	text-align: left;
}
table.old-vs-new td.new {
	width: 140px; 
	text-align: right;
}
table.old-vs-new td.vs {
	width: 1px; 
	text-align: center; 
	font-weight: bold;
}
