.blob-view .markdown-viewer {
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.blob-edit .markdown-editor>.head {
	border: none;
}
.blob-edit .markdown-editor>.body>.edit>textarea, 
.blob-edit .markdown-editor>.body>.preview>.markdown-rendered {
	border-radius: 0 !important;
} 
.blob-edit .markdown-editor.edit-mode>.body>.edit>textarea, 
.blob-edit .markdown-editor.preview-mode>.body>.preview>.markdown-rendered, 
.blob-edit .markdown-editor.split-mode>.body>.preview>.markdown-rendered {
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.blob-edit .markdown-editor.split-mode>.body>.edit>textarea, 
.blob-edit .markdown-editor>.body>.preview>.markdown-rendered {
	border-bottom: none;
	border-left: none;
}