.blob-view .markdown-viewer {
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.blob-edit .markdown-editor>.body.edit-mode>.input, 
.blob-edit .markdown-editor>.body.preview-mode>.preview, 
.blob-edit .markdown-editor>.body.split-mode>.preview {
	border-bottom: none;
	border-left: none;
	border-right: none;
}
.blob-edit .markdown-editor>.body.split-mode>.input, 
.blob-edit .markdown-editor>.body>.preview {
	border-bottom: none;
	border-left: none;
}
.blob-edit .markdown-editor>.body>.input {
	min-height: none;
	max-height: none;
	resize: none;
}
