.field-values {
	border-bottom: 2px dotted transparent;
}
.field-values.editable {
	cursor: pointer;
}
.field-values.editable:hover {
	border-color: var(--gray);
}
.field-values .icon {
	cursor: pointer;
	display: none;
}
.field-values .value .badge {
	padding: 0.25rem 0.4rem;
}