<wicket:panel>
	<div wicket:id="edit" class="field-values d-flex flex-nowrap">
		<div wicket:id="content" class="d-flex flex-wrap flex-grow-1"></div>
		<wicket:svg href="gear" class="icon icon-sm flex-shrink-0 ml-2"></wicket:svg>
	</div>
	<wicket:fragment wicket:id="nonEmptyValuesFrag">
		<div wicket:id="values" class="value mb-2 mr-2"><span wicket:id="value"></span></div>	
	</wicket:fragment>
	<wicket:fragment wicket:id="linkFrag">
		<a wicket:id="link" onclick="event.stopPropagation();"><span wicket:id="label"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="commitFrag">
        <a wicket:id="hashLink" onclick="event.stopPropagation();" class="hash"><span wicket:id="hash"></span></a>
        <a wicket:id="copyHash" onclick="event.stopPropagation();" class="ml-1"><wicket:svg href="copy" class="icon icon-sm"></wicket:svg></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="notAccessibleCommitFrag">
        <span wicket:id="hash"></span>
        <a wicket:id="copyHash" onclick="event.stopPropagation();" class="ml-1"><wicket:svg href="copy" class="icon icon-sm"></wicket:svg></a>
	</wicket:fragment>
</wicket:panel>
