.dropdown-panel {
    background-clip: padding-box;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
	z-index: 2000;
}
.dropdown-panel>.content {
	margin: 0;
	padding: 0;
}
.dropdown-panel>.loading, .dropdown-panel>.loading.content {
	margin: 4px;
	padding: 0 0 0 20px;
	background: url("ajax-indicator.gif") left center no-repeat;
}
.dropdown-panel>.indicator {
    display: inline-block;
    position: absolute;
}
.dropdown-panel>.indicator.bottom:last-child {
    border-bottom: 6px solid #FFF;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    top: -6px;
}
.dropdown-panel>.indicator.top:last-child {
    border-top: 6px solid #FFF;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    top: 100%;
}
.dropdown-panel>.indicator.left:last-child {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-left: 6px solid #FFF;
    left: 100%;
}
.dropdown-panel>.indicator.right:last-child {
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #FFF;
    left: -6px;
}
.dropdown-panel>.indicator.bottom:first-child {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: -7px;
}
.dropdown-panel>.indicator.top:first-child {
    border-top: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 100%;
}
.dropdown-panel>.indicator.left:first-child {
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-left: 7px solid rgba(0, 0, 0, 0.2);
    left: 100%;
}
.dropdown-panel>.indicator.right:first-child {
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    left: -7px;
}
.nav-tabs .dropdown-toggle.dropdown-hover:hover, .nav-pills .dropdown-toggle.dropdown-hover:hover {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}
.nav li.dropdown .dropdown-hover:hover .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
    opacity: 1;
}

.dropdown-toggle.pill {
    border-radius: 4px;
    margin: 2px 2px 2px 0;
    padding: 4px 6px;
    line-height: 12px;
}
.dropdown-toggle.pill .caret {
    border-bottom-color: #0088CC;
    border-top-color: #0088CC;
    margin-top: 8px;
}
.dropdown-toggle.pill:hover {
	background-color: #EEE;
	text-decoration: none;
}
.dropdown-toggle.pill:hover .caret {
    border-bottom-color: #005580;
    border-top-color: #005580;
}
.dropdown-toggle.pill.open, .dropdown-toggle.dropdown-hover.pill:hover {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}
.dropdown-toggle.pill.open .caret, .dropdown-toggle.pill.dropdown-hover:hover .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
    opacity: 1;
}

.piped>a.dropdown-toggle {
    border-radius: 4px;
    margin: 2px 2px 2px -5px;
    padding: 3px 6px;
    line-height: 11px;
}
.piped .dropdown-toggle .caret {
    border-bottom-color: #0088CC;
    border-top-color: #0088CC;
    margin-top: 9px;
}
.piped .dropdown-toggle:hover {
	background-color: #EEE;
	text-decoration: none;
}
.piped .dropdown-toggle:hover .caret {
    border-bottom-color: #005580;
    border-top-color: #005580;
}
.piped .dropdown-toggle.open, .piped .dropdown-toggle.dropdown-hover:hover {
    background-color: #999;
    border-color: #999;
    color: #FFF;
}
.piped .dropdown-toggle.open .caret, .piped .dropdown-toggle.dropdown-hover:hover .caret {
    border-bottom-color: #FFF;
    border-top-color: #FFF;
    opacity: 1;
}