.source-view>.outline {
	overflow: auto; 
	background: white; 
	padding-left: 4px; 
	border-left: 1px solid #DDD;
}
.source-view>.outline {
	font-size: 13px;
}
.source-view>.outline .tree-node {
	line-height: 1.6;
}
.source-view .new-comment>.feedback .alert {
	margin-bottom: 8px;
}
.selection-permalink {
	margin-left: 16px;
	display: none;
	color: #333;
}
.selection-permalink:hover {
	color: #333;
}

.CodeMirror-annotations {
	width: 240px;
}

.CodeMirror-annotation {
	font-size: 12px;
	font-family: monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: #999;
	font-size: 10px;
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}
pre+.CodeMirror-linewidget>.comment>div, pre+.CodeMirror-linewidget>.comment>form {
	border-top: 1px solid #DDD;
}
.CodeMirror-linewidget>.comment>div, .CodeMirror-linewidget>.comment>form {
	border-bottom: 1px solid #DDD;
	padding: 12px;
	background: white;
}
.source-view>.comment {
	display: none;
}
.CodeMirror-addcomments {
	width: 12px;
}
.CodeMirror-addcomment>a {
	font-size: 12px;
	color: #BBB;
	background: white;
}
.CodeMirror-addcomment>a:hover {
	color: black;
	font-size: 14px;
}
