.source-view>.outline {
	font-size: 13px;
	overflow: auto; 
	background: white; 
	padding-left: 4px; 
	border-left: 1px solid #DDD;
}
.source-view>.outline .tree-node {
	line-height: 1.6;
}
.CodeMirror-annotations {
	width: 240px;
}

.CodeMirror-annotation {
	font-family: monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: #666;
	font-size: 16px;
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}
