.source-view>.outline {
	overflow: auto; 
	background: white; 
	padding-left: 4px; 
	border-left: 1px solid #DDD;
}
.CodeMirror-tokentooltip ul.declarations li {
	vertical-align: top; 
	padding: 2px 4px; 
	white-space: nowrap;
}
.CodeMirror-tokentooltip ul.declarations .scope {
	color: #666;
}
.CodeMirror-tokentooltip>div {
	font-weight: bold;
}

.source-view>.outline {
	font-size: 13px;
}
.source-view>.outline .tree-node {
	line-height: 1.6;
}

.CodeMirror-annotations {
	width: 240px;
}

.CodeMirror-annotation {
	font-size: 12px;
	font-family: monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 4px;
}
.CodeMirror-annotation .hash, .CodeMirror-annotation .date {
	margin-right: 8px;
}
.CodeMirror-annotation .same-as-above {
	margin-left: 100px;
	color: #999;
	font-size: 10px;
}
.CodeMirror-activeline .CodeMirror-annotation {
	background: #E8F2FE;	
}
pre+.CodeMirror-linewidget>.comment {
	border-top: 1px solid #DDD;
}
.CodeMirror-linewidget>.comment {
	border-bottom: 1px solid #DDD;
	padding: 12px;
	background: white;
}
.CodeMirror-linewidget>.comment>.detail {
	margin-left: 36px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.CodeMirror-linewidget>.comment>.avatar img {
	width: 28px;
	height: 28px;
}
.source-view>.comment {
	display: none;
}