.text-diff {
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}
.text-diff>.head {
	padding: 8px;
	border-bottom: 1px solid #D8D8D8;
}
.text-diff>.head>div {
	margin-right: 8px;
}
.text-diff>.head>div:last-child {
	margin-right: 0;
}
.text-diff>.body {
	width: 100%;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
	table-layout: fixed;
}
.text-diff>.body>tbody>tr>td.number {
	padding: 0 8px;
	border-left: 1px solid #EEE;
	border-right: 1px solid #EEE;
	text-align: right;
	font-size: 12px;
	color: #BBB;
}
.text-diff>.body>tbody>tr>td:first-child {
	border-left: none !important;
}
.text-diff>.body>tbody>tr.expander>td.skipped {
	padding: 6px 16px;
	background: #f4f7fb;
	color: #999;
}
.text-diff>.body>tbody>tr.expander>td.expander {
	border-right: 1px solid #EEE;
	text-align: center;
}
.text-diff>.body>tbody>tr.expander>td.expander>a {
	display: block;
	color: #888;
	padding: 6px 8px;
	background: #edf2f9;
}
.text-diff>.body>tbody>tr.expander>td.expander>a:hover {
	background: #4078c0;
	color: white;
}
.text-diff>.body>tbody>tr.line>td.old.number {
	background: #ffdddd;
	border-left: 1px solid #f1c0c0;
	border-right: 1px solid #f1c0c0;
}
.text-diff>.body>tbody>tr.line>td.old.content {
	background: #ffecec;
}
.text-diff>.body>tbody>tr.line>td.old .delete {
	background-color: #f8cbcb;
}
.text-diff>.body>tbody>tr.line>td.new.number {
	background: #dbffdb;
	border-left: 1px solid #c1e9c1;
	border-right: 1px solid #c1e9c1;
}
.text-diff>.body>tbody>tr.line>td.new.content {
	background: #eaffea;
}
.text-diff>.body>tbody>tr.line>td.new .insert {
	background-color: #a6f3a6;
}
.text-diff>.body>tbody>tr.line>td.old.new.number {
	background: #F6EAAC;
	border-left: 1px solid #F1DE7D;
	border-right: 1px solid #F1DE7D;
}
.text-diff>.body>tbody>tr.line>td.old.new.content {
	background: #FAF3D0;
}
.text-diff>.body>tbody>tr>td.content {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.text-diff>.body>tbody>tr>td.content>.operation {
	font-weight: bold;
	margin: 0 2px 0 4px;
}
.text-diff>.body>tbody>tr.expanded>td {
	background: #F9F9F9;
}
