.text-diff {
	border: 1px solid #D8D8D8;
	border-radius: 4px;
}
.text-diff>.head {
	padding: 8px;
	border-bottom: 1px solid #D8D8D8;
}
.text-diff>.head>div {
	margin-right: 8px;
}
.text-diff>.head>div:last-child {
	margin-right: 0;
}
.text-diff>.body {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
	table-layout: fixed;
	border-collapse: separate;
}

/* 
 * have to use relative here as otherwise the last table row will have problem
 * focusing on expander or comment link. This relates to negative margin top 
 * specified for change class in revision diff panel
 */
.text-diff>.body>tbody>tr>td {
	position: relative;
}
.text-diff>.body>tbody>tr:last-child>td:first-child {
	border-radius: 0 0 0 4px;
}
.text-diff>.body>tbody>tr:last-child>td:last-child {
	border-radius: 0 0 4px 0;
}
.text-diff>.body>tbody>tr>td.number {
	padding: 0 8px;
	border-left: 1px solid #EEE;
	text-align: right;
	font-size: 12px;
	color: #BBB;
}
.text-diff>.body>tbody>tr>td.content {
	border-left: 1px solid #EEE;
}
.text-diff>.body>tbody>tr>td:FIRST-CHILD {
	border-left: none !important;
}
.text-diff>.body>tbody>tr:FIRST-CHILD>td {
	border-top: none !important;
}
.text-diff>.body>tbody>tr:LAST-CHILD>td {
	border-bottom: none !important;
}
.text-diff>.body>tbody>tr.expander>td.skipped {
	padding: 6px 16px;
	border-left: 1px solid #D8E2F2;
	background: #f4f7fb;
	color: #999;
}
.text-diff>.body>tbody>tr.expander>td.expander {
	border-left: 1px solid #D8E2F2;
	text-align: center;
}
.text-diff>.body>tbody>tr.expander>td.expander a {
	display: block;
	background: #edf2f9;
	padding: 6px 0;
	color: #888;
}
.text-diff>.body>tbody>tr:last-child>td.expander a {
	border-radius: 0 0 0 4px;
}
.text-diff>.body>tbody>tr.expander>td.expander>a:hover {
	background: #4078c0;
	color: white;
}
.text-diff>.body>tbody>tr.line>td.old.number {
	background: #ffdddd;
	border-left: 1px solid #f1c0c0;
}
.text-diff>.body>tbody>tr.line>td.old.content {
	border-left: 1px solid #f1c0c0;
	background: #ffecec;
}
.text-diff>.body>tbody>tr.line>td.old .delete {
	background-color: #f8cbcb;
}
.text-diff>.body>tbody>tr.line>td.new.number {
	background: #dbffdb;
	border-left: 1px solid #c1e9c1;
}
.text-diff>.body>tbody>tr.line>td.new.content {
	border-left: 1px solid #c1e9c1;
	background: #eaffea;
}
.text-diff>.body>tbody>tr.line>td.new .insert {
	background-color: #a6f3a6;
}
.text-diff>.body>tbody>tr.line>td.old.new.number {
	background: #F6EAAC;
	border-left: 1px solid #EBD049;
}
.text-diff>.body>tbody>tr.line>td.old.new.content {
	border-left: 1px solid #EBD049;
	background: #FAF3D0;
}
.text-diff>.body>tbody>tr.line>td.old.new .delete {
	text-decoration: line-through;
}
.text-diff>.body>tbody>tr>td.content {
	white-space: pre-wrap;
	word-wrap: break-word;
}
.text-diff>.body>tbody>tr>td.content>.operation {
	font-weight: bold;
	margin: 0 2px 0 8px;
}
.text-diff>.body>tbody>tr.expanded>td {
	background: #F9F9F9;
}
.text-diff>.body>tbody>tr>td.content>span.add-comment {
	position: absolute;
	display: none;
}
.text-diff>.body>tbody>tr>td.content>span.add-comment>a {
	display: block;
	position: absolute;
	left: -8px;
	border-radius: 3px;
	color: white;
	background: #087AD8;
	z-index: 100;
	line-height: 14px;
	padding: 1px 2px;
	text-decoration: none;
}
.text-diff>.body>tbody>tr>td.content>span.add-comment>a:hover {
	font-size: 16px;
	left: -9px;
	top: -1px;
	padding-top: 2px;
}
.text-diff>.body>tbody>tr>td.content:hover>span.add-comment, 
.text-diff>.body>tbody>tr>td.number:hover+.content>span.add-comment,
.text-diff>.body>tbody>tr>td.number:hover+.number+.content>span.add-comment {
	display: inline-block;
}
.text-diff>.body>tbody>tr.comment>td.content.comment {
	white-space: normal;
	word-wrap: normal;
	padding: 12px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}
.text-diff>.body>tbody>tr.comment>td.content.comment>div>.detail {
	margin-left: 36px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-diff>.body>tbody>tr.comment>td.content.comment>div>.avatar img {
	width: 28px;
	height: 28px;
}
.text-diff>.comment {
	display: none;
}