/* TEXT DIFF */
.text-diff>.head {border: 1px solid #DDD; padding: 8px; z-index: 10; background: white;}
.text-diff>.body {border: 1px solid #DDD; border-top: none;}
.text-diff>.head .title {font-size: 16px;}
.text-diff>.head .pull-right {margin-left: 12px;}

.text-diff>.body .line.diff>td.line-no {color: #999; width: 1%; text-align: right; white-space: nowrap;}
.text-diff>.body .line.diff td.text, .text-diff>.body .hunk-head td.content {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;}
.text-diff>.body .line.diff td.text {overflow: visible; white-space: pre;}
.text-diff>.body {font-size: 12px; position:relative;}
.text-diff>.body>tbody>tr>td {padding: 2px 8px;}
.text-diff>.body>tbody>tr>td.text, .text-diff>.body>tbody>tr>td.detail, .text-diff>.body>tbody>tr>td.new {
	border-left: 1px solid #E5E5E5;}  
.text-diff>.body .old.line.diff>td.line-no {background: #faa; color: #8f0000;}
.text-diff>.body .old.line.diff {background: #fdd;}
.text-diff>.body .old.line.diff .emphasize {background: #FC9090;}
.text-diff>.body .new.line.diff {background: #cfc;}
.text-diff>.body .new.line.diff>td.line-no {background: #89FB89; color: #007f00;}
.text-diff>.body .new.line.diff .emphasize {background: #07C907;}
.text-diff>.body .line.diff:hover {background: #fea; } 
.text-diff>.body .line.diff:hover>td.line-no, .text-diff>.body .line.hunk-head:hover .action {background: #FBDE6D;}
.text-diff>.body .hunk-head, .equal.hunk-line>td.info {color: #999;}
.text-diff>.body .hunk-head a {display: block; color: #999;}
.text-diff>.body .hunk-head a:hover {color: #444;}
.text-diff>.body .hunk-head td.action {text-align: center;}
.text-diff>.body .hunk-head {background: none repeat scroll 0 0 #eef;}

.text-diff>.body table.content {width: 100%;}
.text-diff>.body .line.comments>td {padding: 0 12px; border-top: 1px solid #DDD; 
	border-bottom: 1px solid #DDD;}
	
.text-diff>.body .line.comments td.avatar .fa-flag {display: none; margin-top: 12px; font-size: 36px; color: #E7C325;}	
.text-diff>.body .line.comments .concerned td.avatar .fa-flag {display: block;}
form#add-comment {margin: 16px 4px;}
.text-diff>.body a.add-comment {position: absolute; left:0; margin-left: -20px; 
	width: 20px; height: 20px; text-decoration: none;}
.text-diff>.body a.add-comment .fa {display:none; font-size: 18px;}
.text-diff>.body tr:hover a.add-comment .fa {display:inline;}
.text-diff>.body .md-editor {margin-bottom: 16px;}
