.floating.menu .content {
	padding: 4px 0; 
	min-width: 120px;
}
.floating.menu ul {
	margin:0; 
	padding: 0;
}
.floating.menu li {
	white-space: nowrap;
}
.floating.menu li:hover {
	background-color: #f5f5f5;
}
.floating.menu ul>li>a {
	position: relative;
	color: #333333; 
	display: block; 
	font-weight: normal; 
	line-height: 20px; 
	text-decoration: none; 
	padding: 6px 24px 6px 32px; 
	white-space: nowrap;
}
.floating.menu ul>li>a>.icon {
	position: absolute;
	left: 8px;
	top: 8px;
	color: #444;
}
.floating.menu ul>li.divider div {
	border-top: 1px solid #DDD;
	margin: 8px 0; 
}