<wicket:panel>
	<div class="blob-diff">
		<div class="well well-sm">
			<div wicket:id="blobRenamed">
				<strong wicket:id="oldPath"></strong> is renamed to <strong wicket:id="newPath"></strong> 
			</div>
			<div wicket:id="blobAdded">
				<strong wicket:id="newPath"></strong> is added 
			</div>
			<div wicket:id="blobDeleted">
				<strong wicket:id="oldPath"></strong> is deleted 
			</div>
			<div wicket:id="blobModified">
				<strong wicket:id="oldPath"></strong> is modified
			</div>
			<div wicket:id="blobUnchanged">
				<strong wicket:id="oldPath"></strong> is unchanged
			</div>
			<div wicket:id="blobTypeChanged">
				Blob type is changed from <strong wicket:id="oldType"></strong> to <strong wicket:id="newType"></strong>
			</div>
			<div wicket:id="fileModeChanged">
				File mode is changed from <strong wicket:id="oldMode"></strong> to <strong wicket:id="newMode"></strong>
			</div>
		</div>
		<div class="content">
			<wicket:enclosure child="originalContent">
				<div class="original">
					<div class="head"><i class="fa fa-minus"></i> old content</div>
					<div wicket:id="originalContent" class="body"></div>
				</div>
			</wicket:enclosure>
			<wicket:enclosure child="revisedContent">
				<div class="revised">
					<div class="head"><i class="fa fa-plus"></i> new content</div>
					<div wicket:id="revisedContent" class="body"></div>
				</div>
			</wicket:enclosure>
			<div wicket:id="blobContent"></div>
		</div>
	</div>
</wicket:panel>