<wicket:panel>
	<wicket:enclosure child="originalContent">
		<div class="blob-diff original">
			<div class="head">
				<i class="fa fa-minus"></i> <span wicket:id="originalTitle"></span>
			</div>
			<div wicket:id="originalContent" class="body"></div>
		</div>
	</wicket:enclosure>
	<wicket:enclosure child="revisedContent">
		<div class="blob-diff revised">
			<div class="head">
				<i class="fa fa-plus"></i> <span wicket:id="revisedTitle"></span>
			</div>
			<div wicket:id="revisedContent" class="body"></div>
		</div>
	</wicket:enclosure>
	<div wicket:id="blobContent"></div>
	<wicket:fragment wicket:id="notChangedFrag">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title"><span wicket:id="title"></span> <span class="label label-warning">unchanged</span></div>
			</div>
			<div wicket:id="content" class="panel-body"></div>
		</div>				
	</wicket:fragment>
	<wicket:fragment wicket:id="emptyFileFrag">
		<div class="panel panel-default">
			<div class="panel-heading"><span wicket:id="summary"></span></div>
			<div class="panel-body">
				<i class='fa fa-info-circle'></i> <em>File is empty</em>
			</div>
		</div>				
	</wicket:fragment>
	<wicket:fragment wicket:id="binaryFileFrag">
		<div class="panel panel-default">
			<div class="panel-heading"><span wicket:id="summary"></span></div>
			<div class="panel-body">
				<i class='fa fa-info-circle'></i> <em>Binary files</em>
			</div>
		</div>				
	</wicket:fragment>
	<wicket:fragment wicket:id="nonFileDiffFrag">
		<div class="blob-diff">
			<div class="head">
				<wicket:enclosure child="renamedTitle">
					<span wicket:id="renamedTitle"></span>
					<i class="fa fa-arrow-slim-right"></i>
				</wicket:enclosure>
				<span wicket:id="title"></span>
			</div>
			<div class="body">
				<div class="original line">
					<i class="fa fa-minus"></i>
					<span wicket:id="oldContent"></span>
				</div>
				<div class="revised line">
					<i class="fa fa-plus"></i>
					<span wicket:id="newContent"></span>
				</div>
			</div>
		</div>				
	</wicket:fragment>
</wicket:panel>