<wicket:panel>
	<div class="diff-tree">
		<div wicket:id="tree"></div>
	</div>
	<wicket:fragment wicket:id="nodeFrag">
		<span wicket:id="addedDir" class="added dir"><i class="fa fa-folder-added-o"></i></span>
		<span wicket:id="deletedDir" class="deleted dir"><i class="fa fa-folder-removed-o"></i></span>
		<span wicket:id="modifiedDir" class="modified dir"><i class="fa fa-folder-modified-o"></i></span>
		<span wicket:id="unchangedDir" class="unchanged dir"><i class="fa fa-folder-o"></i></span>
		<span wicket:id="addedFile" class="added file"><i class="fa fa-file-added"></i></span>
		<span wicket:id="deletedFile" class="deleted file"><i class="fa fa-file-removed"></i></span>
		<span wicket:id="modifiedFile" class="modified file"><i class="fa fa-file-modified"></i></span>
		<span wicket:id="unchangedFile" class="unchanged file"><i class="fa fa-file-txt"></i></span>
		<a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
</wicket:panel>