<wicket:panel>
	<div class="text-diff">
		<div wicket:id="head" class="head clearfix">
			<div class="pull-left">
				<span wicket:id="diffStat"></span>
				<span wicket:id="title" class="title"></span>
			</div>
			<div class="pull-right">
				<span wicket:id="diffOptionsTrigger" class="btn btn-xs btn-default" title="Diff options"><i class="fa fa-gear"></i> <i class="caret"></i></span>
				<div wicket:id="diffOptions"></div>
			</div>
			<div class="pull-right">
				<span wicket:id="displayFull" class="btn btn-xs btn-default" title="Expand to display full file"><i class="fa fa-file-txt"></i> </span>
			</div>
			<div wicket:id="commentNavs" class="btn-group pull-right">
				<span wicket:id="prevComment" class="btn btn-default btn-xs comments-nav" title="Previous comment not in view"><i class="fa fa-arrow-up"></i> <i class="fa fa-comments"></i></span>
				<span wicket:id="nextComment" class="btn btn-default btn-xs comments-nav" title="Next comment not in view"><i class="fa fa-arrow-down"></i> <i class="fa fa-comments"></i></span>
				<span wicket:id="showComments" class="btn btn-default btn-xs show-comments" title="Show comments"><i class="fa fa-eye-open"></i> <i class="fa fa-comments"></i></span>
				<span wicket:id="hideComments" class="btn btn-default btn-xs hide-comments" title="Hide comments"><i class="fa fa-eye-slash"></i> <i class="fa fa-comments"></i></span>
			</div>
			<div wicket:id="diffNavs" class="btn-group pull-right">
				<span wicket:id="prevDiff" class="btn btn-default btn-xs" title="Previous change not in view"><i class="fa fa-arrow-up"></i> <i class="fa fa-diff"></i></span>
				<span wicket:id="nextDiff" class="btn btn-default btn-xs" title="Next change not in view"><i class="fa fa-arrow-down"></i> <i class="fa fa-diff"></i></span>
			</div>
			<div class="pull-right">
				<span wicket:id="identical" class="label label-warning">Identical Content</span>
			</div>
		</div>
		<table id="diffs-table" class="table-diff body">
			<wicket:container wicket:id="hunks">
				<tr wicket:id="head" class="line hunk-head">
					<td colspan="2" class="action">
						<a wicket:id="expand"><i class="fa fa-expand"></i></a>
					</td>
					<td class="content"><span wicket:id="content"></span></td>
				</tr>
				<wicket:container wicket:id="body"></wicket:container>
			</wicket:container>
			<tr wicket:id="lastRow" class="line hunk-head">
				<td colspan="2" class="action"><a wicket:id="expand"><i class="fa fa-expand"></i></a></td>
				<td class="content">&nbsp;</td>
			</tr>
		</table>
		
		<div id="comments-placeholder" class="hidden">
			<table wicket:id="lines" class="comments">
				<tr wicket:id="comments">
					<td class="avatar">
						<div wicket:id="avatar"></div>
						<div wicket:id="concerned" class="fa fa-flag concerned-comment" title="Concerned comment"></div>
					</td>
					<td class="comment">
						<div wicket:id="comment"></div>
					</td>
				</tr>
			</table>
			<form wicket:id="addComment" id="add-comment">
				<div wicket:id="input"></div>
				<div class="actions">
					<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Comment on this line</button>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<button wicket:id="cancel" class="btn btn-sm btn-default">Close form</button>
				</div>
			</form>
		</div>
	</div>
</wicket:panel>