<wicket:panel>
	<div class="text-diff panel panel-default">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				<span wicket:id="diffStat"></span>
				<span wicket:id="title" class="panel-title"></span>
			</div>
			<div class="pull-right">
				<span wicket:id="identical"><i class="fa fa-info-circle fa-lg"></i> <em>content is identical</em></span>
				<span wicket:id="firstDiffBlock" class="fa fa-file-diff fa-lg action" title="Go to first difference block"></span>
				<span wicket:id="firstCommentLine" class="fa fa-comment fa-lg action" title="Go to first commented line"></span>
				<span wicket:id="diffOptionsTrigger" class="fa fa-gear fa-lg action" title="Diff options"></span>
				<div wicket:id="diffOptions"></div>
			</div>
		</div>
		<table class="table-diff">
			<wicket:container wicket:id="hunks">
				<tr wicket:id="hunkHead" class="hunk-head hunk-row">
					<td colspan="2" class="info">
						<a wicket:id="expand"><i class="fa fa-expand"></i></a>
					</td>
					<td class="content"><span wicket:id="content"></span></td>
				</tr>
				<tr wicket:id="hunkLines" class="hunk-line hunk-row">
					<td class="original info">
						<a wicket:id="addComment" class="add-comment"><i class="fa fa-comment-add"></i></a>
						<span wicket:id="originalLineNo"></span>
					</td>
					<td class="revised info">
						<span wicket:id="revisedLineNo"></span>
					</td>
					<td class="content">
						<pre><wicket:container wicket:id="partials"><span wicket:id="partial"></span></wicket:container></pre>
					</td>
				</tr>
			</wicket:container>
			<tr wicket:id="hunkFoot" class="hunk-head hunk-row">
				<td colspan="2" class="info"><a wicket:id="expand"><i class="fa fa-expand"></i></a></td>
				<td class="content">&nbsp;</td>
			</tr>
		</table>
	</div>
</wicket:panel>