.navbar.fixed-top {
    max-height: 500px;
	overflow-y: auto;
}
.navbar-brand img {
	width: 32px;
	height: 32px;
}
.navbar-header>.nav-context {
	color: white;
	display: inline-block;
	margin-top: 10px;
}
@media(min-width: 768px) {
	.navbar-header>.nav-context {
		display: none;
	}
	.navbar.fixed-top {
		overflow-y: visible;
	}
}
.navbar .nav-link .fa {
	font-size: 20px;
	vertical-align: bottom;
}
.navbar .avatar {
	width: 24px;
	height: 24px;
}
.navbar-header>.nav-context .text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 240px;
}
.navbar-header>.nav-context a {
	color: white;
	text-decoration: none;
}
@media (max-width: 767px) {
	.navbar .github .icon, 
	.navbar .help .icon, 
	.navbar .signed-in .avatar, 
	.navbar .signed-in .dropdown-header, 
	.navbar .signed-in .dropdown-header+.dropdown-divider {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar .github .name,
	.navbar .help .name,
	.navbar .signed-in .name {
		display: none;
	}
}

#layout>.body {
	padding: 79px 20px 20px 20px;
	width: 100%;
}

#layout .sidebar {
	top: 59px;
}

.floating.side {
	position: fixed;
	top: 59px;
	border-top: none;
	border-bottom: none;
	bottom: 0;
	width: 360px;
	border-radius: 0;
	overflow: auto;
}
.floating.side-left {
	border-left: none;
	left: 0;
}
.floating.side-right {
	border-right: none;
	right: 0;
}
.floating.side>.content>.head {
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #E0E0E0;
}
.floating.side>.content>.head>.help-block {
	font-weight: normal;
	margin-bottom: 0;
}
.floating.side>.content>.body {
	padding: 12px;
}

.nav-context-dropdown.floating>.content {
	padding: 20px;
	width: 100vw;
}
.nav-context-dropdown.floating .menu a {
	display: block;
	color: #666;
	padding: 8px;
	text-decoration: none;
}
.nav-context-dropdown.floating .menu li.active a {
	background: #EEE;
	color: black;
	font-weight: bold;
}
.nav-context-dropdown.floating .menu li:hover a {
	background: #EEE;
}

.page-title {
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}
.page-title>.help-block {
	font-weight: normal;
	margin-bottom: -10px;
}