.navbar-brand {
	padding-top: 14px;
	padding-bottom: 14px;
	margin-right: 12px;
}
.navbar-brand img {
	width: 32px;
	height: 32px;
	margin-left: -6px;
	margin-top: -8px;
}
.navbar-brand .separator {
	border-left: 1px solid #444;
	height: 30px;
	position: absolute;
	left: 52px;
	top: 11px;
}
@media(min-width: 768px) {
	.navbar-header>.nav-context, .navbar-brand .separator {
		display: none;
	}
}
.navbar-header>.nav-context {
	color: white;
	margin-top: 14px;
}
.navbar-header>.nav-context .text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 240px;
}
.navbar-header>.nav-context a {
	color: white;
	text-decoration: none;
}
.navbar a {
	font-size: 16px;
}
.navbar .dropdown-menu a {
	font-size: 14px;
}
.navbar-nav>li.signed-in>a {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar img.avatar {
	width: 30px;
	height: 30px;
}
.navbar .dropdown-menu .dropdown-header {
	font-size: 16px;
	padding: 4px 20px 0 20px;
}

@media (max-width: 767px) {
	.navbar .github .icon, 
	.navbar .help .icon, 
	.navbar .signed-in .avatar, 
	.navbar .signed-in .dropdown-header, 
	.navbar .signed-in .dropdown-header+.divider {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar .github .name,
	.navbar .help .name,
	.navbar .signed-in .name {
		display: none;
	}
}

#layout>.body {
	padding: 70px 20px 20px 20px;
	width: 100%;
}

#layout .sidebar {
	top: 50px;
}

.floating.side {
	position: fixed;
	top: 51px;
	border-top: none;
	border-bottom: none;
	bottom: 0;
	width: 360px;
	border-radius: 0;
	overflow: auto;
}
.floating.side-left {
	border-left: none;
	left: 0;
}
.floating.side-right {
	border-right: none;
	right: 0;
}
.floating.side>.content>.head {
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #E0E0E0;
}
.floating.side>.content>.body {
	padding: 12px;
}

.nav-context-dropdown.floating>.content {
	padding: 20px;
	width: 100vw;
}
.nav-context-dropdown.floating .menu a {
	display: block;
	color: #666;
	padding: 8px;
	text-decoration: none;
}
.nav-context-dropdown.floating .menu li.active a {
	background: #EEE;
	color: black;
	font-weight: bold;
}
.nav-context-dropdown.floating .menu li:hover a {
	background: #EEE;
}

.page-title {
    font-weight: bold; 
    font-size: 18px; 
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8;
}