/* MARKDOWN */
.atwho-view .emoji {
	display: inline-block; 
	height: 20px; 
	width: 20px; 
	vertical-align: middle; 
	background-repeat: no-repeat; 
	background-size: 20px 20px;
}
.atwho-view .avatar img {
	display: inline-block; 
	width: 20px; 
	height: 20px; 
	vertical-align: middle;
}
.atwho-view .cur .text-muted {
	color: inherit;	
}

.md-help, .md-emojis {
	padding: 0 8px 8px 8px; 
	display: none;
}

.md-emojis {
	position: relative;
}
.md-emojis .loading {
	padding: 20px; 
	text-align: center; 
	font-size: 16px;
}
.md-emojis .emoji {
	margin-right: 12px;
}
.md-emojis .emoji img {
	width: 16px; 
	height: 16px;
}
.md-emojis .content {
	font-size: 12px; 
	line-height: 24px; 
	height: 200px; 
	overflow: auto;
}
.md-emojis .mask {
	position: absolute; 
	height: 208px; 
	width: 100%; 
	left: 0; 
	top: 0; 
	background-color: rgba(0, 0, 0, 0.2); 
	display: none;
}

/* original value is 99999 which will hide image/link dialogs */
.md-editor.md-fullscreen-mode {
    z-index: 100 !important;
}
.md-editor .md-preview {
	padding: 10px 20px;
}
.md-editor>textarea.md-input {
	padding: 8px; 
	border-bottom: none;
}

.select-url form.url {
	margin-bottom: 20px;
}
.select-url input.url {
	width: 495px;
	margin-right: 7px;
}
.select-url .attachments {
	max-height: 300px;
	overflow: auto;
	margin-bottom: 20px;
}
.select-url .attachments img {
	max-width: 100%;
}
.select-url .attachment a {
	color: #666;
}
.select-url .attachment a.select {
	margin-right: 6px;
}
.select-url .alert-info {
	margin-top: 20px;
}
.md-input.drag-over {
	border: 2px solid #69B7F7;
}
.md-fullscreen-mode textarea {
	max-height: inherit;
}
.md-nooverflow .btn, .md-nooverflow .form-control {
	z-index: 0 !important;
}
.md-control-fullscreen, .exit-fullscreen {
	display: none;
}

.md-preview {
	overflow: auto;
	font-size: 16px;
	line-height: 1.5;
}
.md-preview li {
	margin-bottom: 6px;
}
.md-preview .emoji {
	width: 20px; 
	height: 20px;
}
.md-preview table {
	width: auto; 
	margin-bottom: 10px;
}
.md-preview table th, .md-preview table td {
	padding: 4px 8px; 
	border: 1px solid #C8C8C8;
}
.md-preview table tr:nth-child(even) td {
	background: #F5F5F5;
}
.md-preview h1, .md-preview h2, .md-preview h3, 
.md-preview h4, .md-preview h5, .md-preview h6 {
	font-weight: bold;
}
.md-preview h1 a, .md-preview h2 a, .md-preview h3 a, 
.md-preview h4 a, .md-preview h5 a, .md-preview h6 a {
	color: #333;
	text-decoration: none;
}
.md-preview blockquote {
	font-size: 15px; 
	border-left: 4px solid #ddd; 
	color: #777; 
	padding: 0 16px;
}
.md-preview code {
	color: #333;
	background: rgba(0, 0, 0, 0.04);
}
.md-preview img {
	max-width: 100%;
}
.md-preview .task-list-item {
	list-style: none;
	margin-left: -21px;
}
.md-preview .task-list-item input {
	margin-right: 8px;
}
.md-preview .permalinked a.permalink {
	display: none;
}
.md-preview .permalinked:hover a.permalink {
	display: inline;
}
.md-preview h1.permalinked a.permalink {
	margin-left: 12px;
	font-size: 24px;
}
.md-preview h2.permalinked a.permalink {
	margin-left: 10px;
	font-size: 20px;
}
.md-preview h3.permalinked a.permalink {
	margin-left: 8px;
	font-size: 16px;
}
.md-preview h4.permalinked a.permalink {
	margin-left: 6px;
	font-size: 14px;
}
.md-preview h5.permalinked a.permalink {
	margin-left: 4px;
	font-size: 12px;
}
.md-preview h6.permalinked a.permalink {
	margin-left: 2px;
	font-size: 10px;
}
