<wicket:panel>
	<div class="file-navigator clearfix">
		<div wicket:id="treeSegments" class="pull-left clearfix">
			<a wicket:id="link" class="pull-left"><span wicket:id="label"></span></a>
			<!-- below separator makes slash appearing in path when the path is copied -->
			<span style="position:absolute; top: -10000px;">/</span>
			<a wicket:id="subtreeDropdownTrigger" class="subtree-dropdown-trigger pull-left"></a>
		</div>
		<div wicket:id="lastSegment" class="pull-left last-segment"></div>
		<a wicket:id="fileMenu" class="pull-left file-menu"><i class="fa fa-angle-down"></i></a>
	</div>
	<wicket:fragment wicket:id="blobNameFrag">
		<span wicket:id="label" class="name"></span>
	</wicket:fragment>
	<wicket:fragment wicket:id="nameEditFrag">
		<form class="leave-confirm">
			<input wicket:id="name" type="text" placeholder="Name your file" class="name form-control input-sm"></input>		
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="treeNodeFrag">
		<i wicket:id="icon"></i> <a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
</wicket:panel>