<wicket:panel>
	<span wicket:id="overall" class="verification-status"></span>
	<div wicket:id="detail"></div>
	<wicket:fragment wicket:id="detailFrag">
		<table class="verifications table table-striped">
			<thead>
				<tr>
					<th>Configuration</th>
					<th>Message</th>
				</tr>
			</thead>
			<tbody>
				<tr wicket:id="verifications">
					<td wicket:id="configuration"></td>
					<td><span class="fa fa-check"></span><span class="fa fa-times"></span><span class="fa fa-cog"></span>
					<span wicket:id="message"></span></td>
				</tr>
			</tbody>
		</table>	
	</wicket:fragment>
</wicket:panel>