<html xmlns:wicket>
<wicket:panel>
	<div class="commit file-commit">
		<div class="commit-title">
			<a class="message"><span wicket:id="message"></span></a>
		</div>
		<div class="commit-meta clearfix">
			<div class="persons">
				<div class="author">
					<span class="name" wicket:id="author"></span> <time class="age" wicket:id="author-date"></time>
				</div>
			</div>
		</div>
		<div class="contributors">
			<span>contributors[TODO]</span>
		</div>
	</div>
	
	<div class="blob">
		<div class="blob-meta clearfix">
			<div class="left summary">
				<i class="icon icon-file-text"></i>
				<span>file</span>
				<span>2 lines (1 sloc)</span>
				<span>0.17 kb</span>
			</div>
			<div class="right actions">
				<div class="btn-group">
					<a class="btn btn-default">Edit</a>
					<a class="btn btn-default">Raw</a>
					<a class="btn btn-default">Blame</a>
					<a class="btn btn-default">History</a>
				</div>
				
				<div class="btn-group">
					<a class="btn btn-danger">Delete</a>
				</div>
			</div>
		</div>
		<div class="blob-body">
			
		</div>
	</div>
</wicket:panel>
</html>