<html xmlns:wicket>
<wicket:panel>
	<div class="well">
		The JIRA FishEye Plugin connects your JIRA instance to any Subversion, Git, Perforce, Mercurial or 
		CVS repository which are linked to your FishEye instance. This allows you to view commits for a 
		JIRA issue right within JIRA. This plugin also provides a Reviews tab to each issue showing which 
		Code Reviews were done for each issue if you are running Crucible.
		
		<a>edit</a> <i class="icon-pencil"></i> 
	</div>
</wicket:panel>
</html>