#repo-file>.head {
	border-bottom: 1px solid #BBB;
	height: 31px;
}
#repo-file>.head>.revision-selector {
	padding: 0;
}
#repo-file>.head>.revision-selector>a {
	display: block;
	border-right: 1px solid #BBB;
	color: #333;
	text-decoration: none;
}
#repo-file>.head>.revision-selector>a:hover {
	background: #EEE;
	clear: both;
}
#repo-file>.head>.revision-selector>a, #repo-file>.head>.file-navigator, #repo-file>.file-navigator>div {
	padding: 5px 8px;
}
#repo-file>.head>.search {
	position: absolute;
	margin-top: 5px;
	right: 6px;
}
#repo-file>.head>.search>a {
	color: #666;
	margin: 0 8px;
}
#repo-file>.head>.search input {
	box-shadow: none;
	border-radius: 0;
	border-color: #BBB;
	height: 30px;
	border-top: none;
	border-bottom: none;
	top: -5px;
	padding: 0px 8px;
	position: absolute;
	width: 250px;
	left: -260px;
	font-size: 14px;
}

#repo-file>.file-navigator {
	display: none;
	padding: 2px 0 3px 0;
}

#repo-file>.revision-indexing {
	padding: 8px 8px 9px 8px;
	background: #fcf8e3;
	border-bottom: 1px solid #DDD;
	color: #8a6d3b;
	font-size: 13px;
}
#repo-file>.last-commit {
	padding: 6px 12px;
	background: #EEE;
	max-height: 600px;
	overflow: auto;
}
#repo-file>.last-commit img.loading {
	padding: 4px 0;
}
#repo-file>.last-commit .pull-left {
	margin-right: 12px;
}
#repo-file>.last-commit .author {
	font-weight: bold;
}
#repo-file>.last-commit .date {
	color: #666;
	font-size: 13px;
	margin-top: 3px;
}
#repo-file>.last-commit .message {
	margin-top: 2px;
}
#repo-file>.last-commit .hash {
	font-size: 13px;
	width: 62px;
	border: none;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	background: #CCC;
	height: 22px;
	font-family: monospace;
}

#repo-file>.search-result {
	height: 200px;
	border-top: 1px solid #DDD;
	display: none;
}
#repo-file>.search-result>.ui-resizable-handle {
    background: #EEE url("hgrabber.gif") no-repeat scroll center top;
    cursor: n-resize;
    height: 4px;
}
#repo-file>.search-result>div>.head {
	padding: 4px 10px;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	background: white;
}
#repo-file>.search-result>div>.head .actions {
	margin-left: 16px;
}
#repo-file>.search-result>div>.head .warning {
	margin-left: 8px;
	font-size: 13px;
	vertical-align: middle;
	color: #666;
}
#repo-file>.search-result>div>.head a {
	color: #666;
}
#repo-file>.search-result>div>.head em {
	margin-right: 8px;
}
#repo-file>.search-result>div>.head em i {
	color: #999;
}

#repo-file>.search-result>div>.body {
	overflow: auto;
	padding: 0 10px;
	margin-bottom: 0;
}
#repo-file>.search-result>div>.body>li {
	border: none; 
	white-space: nowrap;
}
#repo-file>.search-result>div>.body>li .expand {
	margin-right: -4px;
}
#repo-file>.search-result>div>.body>li a {
	color: #333;
}
#repo-file>.search-result>div>.body>li a.selectable {
	display: inline-block;
}
#repo-file>.search-result>div>.body a.selectable.active span {
	background-color: inherit !important;
}
#repo-file>.search-result>div>.body>li>ul {
	margin-left: 34px;
}
#repo-file>.search-result>div>.body>li .fa-none {
	color: white;
}
#repo-file>.search-result>div>.body>li .scope {
	color: #666; 
	font-size: 12px;
}
#repo-file>.search-result>div>.body>li.no-matching-result {
	margin-top: 10px;
}
