#repo-file {
	margin: -20px;
}
#repo-file>.head .revision-selector {
	margin-right: 10px;
	display: block;
	border-right: 1px solid #DDD;
}
#repo-file>.head .file-navigator {
	margin-top: 3px;
}
#repo-file>.search-result {
	height: 200px;
	border: 1px solid #DDD;
	border-radius: 0 0 4px 4px;
	display: none;
}
#repo-file>.search-result>.ui-resizable-handle {
    background: #EEE url("hgrabber.gif") no-repeat scroll center top;
    cursor: n-resize;
    height: 4px;
}
#repo-file>.search-result>div>.head {
	padding: 4px 10px;
	font-size: 16px;
	border-bottom: 1px solid #DDD;
}
#repo-file>.search-result>div>.head .warning {
	margin-left: 8px;
	font-size: 13px;
	vertical-align: middle;
	color: #666;
}
#repo-file>.search-result>div>.head a {
	color: #666;
}
#repo-file>.search-result>div>.body {
	overflow: auto;
	padding: 0 10px;
	margin-bottom: 0;
}
#repo-file>.search-result>div>.body>li {
	border: none; 
	padding: 2px 0;
}
#repo-file>.search-result>div>.body>li a {
	color: #333;
}
#repo-file>.search-result>div>.body>li>ul {
	margin-left: 34px;
}
#repo-file>.search-result>div>.body>li .fa-none {
	color: white;
}
#repo-file>.search-result>div>.body>li .scope {
	color: #666; 
	font-size: 12px;
}
#repo-file>.search-result>div>.body>li.no-matching-result {
	margin-top: 10px;
}
