#issue-detail>.main>.activities tr.activity.new>.avatar {
	border-left-color: #4667EE;
}

#issue-detail>.main>.activities>table>tbody>tr>td {
	border-bottom: 1px solid #EEE;
	padding: 16px 0;
}
#issue-detail>.main>.activities>table>tbody>tr:last-child>td {
	border-bottom: none;
}
#issue-detail>.main>.activities>table>tbody>tr>td.avatar {
	width: 40px;
	border-left: 4px solid white;
	padding-left: 12px;
}
#issue-detail>.main>.activities>table>tbody>tr>td.avatar .avatar {
	width: 40px;
	height: 40px;
}
#issue-detail>.main>.activities>table>tbody>tr>td.content {
	padding-left: 20px;
}
#issue-detail>.main>.activities .activity>.head {
	color: #888;
}
#issue-detail>.main>.activities .activity>.body {
	margin-top: 8px;
}
#issue-detail>.main>.activities .activity>.body>.actions {
	margin-top: 8px;
}
#issue-detail>.main>.activities .activity>.body>.actions a {
	color: #888;
}
#issue-detail>.main>.activities .activity>.head a {
	color: #999;
	margin-left: 8px;
}
#issue-detail>.main>.activities .add-comment {
	margin-top: 16px;
}
#issue-detail>.main>.activities .login-to-comment {
	border: 1px solid #EEE;
	vertical-align: center;
	text-align: center;
	padding: 20px;
	font-size: 20px;
	background: #F9F9F9;
	border-radius: 4px;	
}
