<wicket:panel>
	<form wicket:id="form" class="create-tag">
		<div class="modal-header">
			<h4 class="modal-title">Specify Tag Message</h4>
		</div>
		<div class="modal-body">
			<textarea wicket:id="message" rows="10" class="form-control focusable"></textarea>
		</div>
		<div class="modal-footer">
			<div class="form-group">
				<button wicket:id="create" class="btn btn-primary">Create</button>
				<button wicket:id="cancel" class="btn btn-default">Cancel</button>
			</div>
		</div>
	</form>
</wicket:panel>
