.wizard {
	text-align: left;	
}
.wizard .panel-heading {
	font-size: 16px;
}
.wizard .buttons span em {
	font-style: normal;
}
.wizard .buttons .previous, .wizard .buttons .skip {
	margin-right: 20px;
}