a.revision-selector {
	color: #333;
	text-decoration: none;
}
div.revision-selector ul.refs {
	width: 400px; 
	max-height: 300px; 
	overflow: auto;
}
div.revision-selector input.revision {
	margin-bottom: 12px;
	background: url(search.gif) no-repeat right 6px center;
	padding-right: 26px;
}
div.revision-selector .nav-tabs {
	margin-bottom: 8px;
}
div.revision-selector .nav-tabs>li>a {
	padding: 2px 4px; 
	color: #666; 
	font-size: 12px;
}
div.revision-selector .nav-tabs>li.active>a {
	color: #333; 
	font-weight: bold;
}
div.revision-selector {
	padding: 12px;
}
div.revision-selector ul.refs {
	margin-bottom: 0;
}
div.revision-selector ul.refs>li {
	position: relative;
}
div.revision-selector ul.refs>li>a {
	padding-left: 20px;
}
div.revision-selector .feedback {
	color: #F94949; 
	margin-bottom: 12px;
}
div.revision-selector .feedback:before {
	font-family: "FontAwesome"; 
	content: "\f071"; 
	margin-right: 4px;
}
div.revision-selector a.current:before {
	font-family: "FontAwesome"; 
	content: "\f00c"; 
	margin-right: 4px;	
	position: absolute;
	left: 4px;
}   
.repository-and-revision {
	width: 100%;
}
.repository-and-revision td {
	padding: 12px; 
	white-space: nowrap;
}
.repository-and-revision td.name {
	text-align: right; 
	padding-right: 0; 
	font-size: 16px; 
	width: 1%; 
	padding-top: 16px;
}
.repository-and-revision .select2-choice {
	width: 100%;
}
