#request-detail>.main>.merge-preview>.available>.commits {
	margin-bottom: 20px;
}
#request-detail>.main>.merge-preview>.available>.commits>.commit {
	background: #FAFAFA; 
	border: 2px solid #E0E0E0;
	padding: 20px;
}
#request-detail>.main>.merge-preview>.available>.commits>.vs {
	margin: 55px 20px 0 20px;
	color: #999;
}
#request-detail>.main>.merge-preview>.available>.commits>.commit>.title {
	font-size: 16px;
	color: #666;
	margin-bottom: 6px;
}
#request-detail>.main>.merge-preview>.available>.commits>.commit>.description {
	font-size: 13px;
	color: #999;
	margin-top: 8px;
}
#request-detail>.main>.merge-preview>.available>.commits>.commit span.build-status {
	margin-left: 4px;
}

#request-detail>.main>.merge-preview>.available>.out-dated a {
	color: #836A05;
}
#request-detail>.main>.merge-preview>.not-available {
	font-size: 16px;
}
