<wicket:panel>
	<div class="revision-diff">
		<table class="head">
			<tr>
				<td class="view-mode">
					<span class="btn-group">
						<a wicket:id="unified" class="btn btn-default">Unified</a>
						<a wicket:id="split" class="btn btn-default">Split</a>
					</span>
				</td>
				<td class="whitespace-option">
					<span wicket:id="whitespaceOption" class="btn btn-default" title="White space options">White space <i class="caret"></i></span>
				</td>
				<td class="path-filter">
					<form wicket:id="pathFilter">
						<div class="input-group">
							<input wicket:id="input" class="form-control" spellcheck="false" placeholder="Filter by path pattern" type="text"></input> 
							<span class="input-group-btn">
								<button wicket:id="submit" title="Filter" class="btn btn-default" type="submit"><i class="fa fa-filter"></i></button>
							</span>
						</div>
					</form>
				</td>
			</tr>
		</table>
		<div wicket:id="body" class="body">
			<div class="title">
				Total <a wicket:id="totalChanged"></a>
			</div>
			<div wicket:id="tooManyChanges" class="alert alert-warning">Sorry we are unable to display the full diff as there are too many changes</div>
			<ul wicket:id="diffStats" class="diff-stats list-unstyled">
				<li wicket:id="diffStats" class="diff-stat clearfix">
					<i wicket:id="icon" class="icon pull-left"></i>
					<a wicket:id="file" class="file pull-left"><span wicket:id="name"></span></a>
					<wicket:enclosure child="bar">
					<span wicket:id="bar" class="bar pull-right"></span>
					<span wicket:id="deletions" class="deletions pull-right"></span>
					<span wicket:id="additions" class="additions pull-right"></span>
					</wicket:enclosure>
				</li>
			</ul>
			<div class="loading">Loading...</div>
			<div class="detail">
				<div wicket:id="comment" class="comment">
					<div class="ui-resizable-handle ui-resizable-e"></div>
					<div class="content">
						<div class="head clearfix">
							<span class="pull-left">Comment</span>
							<a wicket:id="close" class="pull-right close" title="Hide comment"><i class="fa fa-times"></i></a>
							<a wicket:id="locate" class="pull-right locate close" title="Locate marked text of this comment"><i class="fa fa-hand-o-right"></i></a>
						</div>
						<div wicket:id="body" class="body"></div>
					</div>
				</div>
				<ul class="diffs list-unstyled">
					<li wicket:id="diffs" class="diff">
						<div wicket:id="diff"></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</wicket:panel>