.revision-diff>.head {
	margin-bottom: 16px;
}
.revision-diff>.head td.view-mode {
	width: 140px;
}
.revision-diff>.head td.whitespace-option {
	width: 140px;
}
.revision-diff>.body>.title {
	font-size: 16px;
	margin-bottom: 16px;	
}
.revision-diff>.body>.alert {
	margin-bottom: 16px;
}
.revision-diff .total-changed:after {
    font-family: FontAwesome; 
    font-weight: bold;
    content: "\f107";
}
.revision-diff .total-changed.expanded:after {
    content: "\f106";
}
.revision-diff>.body>ul>li.diff-stat {
	font-size: 13px;
}
.revision-diff>.body>ul>li.diff-stat>.icon {
	margin-top: 2px;
}
.revision-diff>.body>ul>li.diff-stat .fa-diff-modified, .revision-diff>.body>ul>li.diff-stat .fa-diff-renamed {
	color: #D0B44C;
}
.revision-diff>.body>ul>li.diff-stat .fa-diff-added {
	color: #35C335;
}
.revision-diff>.body>ul>li.diff-stat .fa-diff-removed {
	color: #C33535;
}
.revision-diff>.body>.diff-stats {
	margin-top: -10px;
}
.revision-diff>.body>.diff-stats li {
	padding: 6px 0;
	border-bottom: 1px solid #F2F2F2;
}
.revision-diff>.body>.diff-stats li:last-child {
	border-bottom: none;
}
.revision-diff>.body>.diff-stats li a.file {
	padding: 0 6px;
}
.revision-diff>.body>.diff-stats li>.additions {
	color: #35C335;
}
.revision-diff>.body>.diff-stats li>.deletions {
	color: #C33535;
}
.revision-diff>.body>.diff-stats li>.additions, .revision-diff .diff-stats li>.deletions {
	font-size: 12px;
	font-weight: bold;
	margin-right: 4px;
	margin-top: 2px;
}

.revision-diff>.body>.changes>.change {
	margin-bottom: 20px;
}
