<wicket:panel>
	<div class="revision-diff">
		<div class="head clearfix">
			<div class="pull-left">
				<span wicket:id="path" class="btn btn-sm btn-default" title="Filter changes by path">
					<span wicket:id="label"></span>
					<i class="fa fa-caret-down"></i>
				</span>
				<a wicket:id="clear" title="Clear path filter"><i class="fa fa-close"></i></a>
				<div wicket:id="pathDropdown"></div>
			</div>
			<div wicket:id="lineProcessOptionMenuTrigger" class="line-process btn btn-sm btn-default pull-left" title="Line process options">White space <i class="caret"></i></div>
			<div wicket:id="lineProcessOptionMenu"></div>
			<div class="title pull-left">
				<span class="fa fa-ext fa-file-diff"></span> Total
				<a onclick="$(this).closest('.revision-diff').find('.diff-stats').toggle();$(document.body).trigger('sticky_kit:recalc');return false;"><span wicket:id="totalChanged"></span> changed files</a>
			</div>
			<div wicket:id="diffMode" class="pull-right"></div>
		</div>
		<div wicket:id="tooManyChanges" class="alert alert-warning">Sorry we are unable to display the full diff as there are too many changes</div>
		<ul class="diff-stats list-unstyled">
			<li wicket:id="diffStats" class="diff-stat clearfix">
				<i wicket:id="icon" class="icon pull-left"></i>
				<a wicket:id="path" class="path pull-left"><span wicket:id="path"></span></a>
				<wicket:enclosure child="bar">
				<span wicket:id="bar" class="bar pull-right"></span>
				<span wicket:id="deletions" class="deletions pull-right"></span>
				<span wicket:id="additions" class="additions pull-right"></span>
				</wicket:enclosure>
			</li>
		</ul>
		<ul class="changes list-unstyled">
			<li wicket:id="changes" class="change">
				<div wicket:id="change"></div>
			</li>
		</ul>
	</div>
</wicket:panel>