.revision-diff>.title {
	font-size: 16px;
	margin-bottom: 16px;	
}
.revision-diff>.alert {
	margin-bottom: 16px;
}
.revision-diff>ul>li.diff-stat {
	font-size: 13px;
}
.revision-diff>ul>li.diff-stat>.icon {
	margin-top: 2px;
}
.revision-diff>ul>li.diff-stat .fa-diff-modified, .revision-diff>ul>li.diff-stat .fa-diff-renamed {
	color: #D0B44C;
}
.revision-diff>ul>li.diff-stat .fa-diff-added {
	color: #35C335;
}
.revision-diff>ul>li.diff-stat .fa-diff-removed {
	color: #C33535;
}
.revision-diff>.diff-stats {
	display: none;
	margin-top: -10px;
}
.revision-diff>.diff-stats li {
	padding: 6px 0;
	border-bottom: 1px solid #F2F2F2;
}
.revision-diff>.diff-stats li:last-child {
	border-bottom: none;
}
.revision-diff>.diff-stats li a.path {
	padding: 0 6px;
}
.revision-diff>.diff-stats li>.additions {
	color: #35C335;
}
.revision-diff>.diff-stats li>.deletions {
	color: #C33535;
}
.revision-diff>.diff-stats li>.additions, .revision-diff .diff-stats li>.deletions {
	font-size: 12px;
	font-weight: bold;
	margin-right: 4px;
	margin-top: 2px;
}

.revision-diff>.changes>.change {
	margin-bottom: 20px;
}
