.revision-diff>.head {
	margin-bottom: 16px;
}
.revision-diff>.head td.view-mode {
	width: 140px;
}
.revision-diff>.head td.whitespace-option {
	width: 140px;
}
.revision-diff>.body>.title {
	font-size: 16px;
	margin-bottom: 16px;	
}
.revision-diff>.body>.alert {
	margin-bottom: 16px;
}
.revision-diff>.body>.title>a:after {
    font-family: FontAwesome; 
    font-weight: bold;
    content: "\f107";
}
.revision-diff>.body>.title>a.expanded:after {
    content: "\f106";
}
.revision-diff>.body>.diff-stats>.diff-stat {
	font-size: 13px;
}
.revision-diff>.body>.diff-stats>.diff-stat>.icon {
	margin-top: 2px;
	margin-right: 0;
}
.revision-diff>.body>.diff-stats>.diff-stat .fa-square-o {
	font-size: 16px;
}
.revision-diff>.body>.diff-stats>.diff-stat .has-comments {
	color: #999;
}

.revision-diff>.body>.diff-stats>.diff-stat .fa-diff-modified, 
.revision-diff>.body>.diff-stats>.diff-stat .fa-diff-renamed {
	color: #D0B44C;
}
.revision-diff>.body>.diff-stats>.diff-stat .fa-diff-added {
	color: #35C335;
}
.revision-diff>.body>.diff-stats>.diff-stat .fa-diff-removed {
	color: #C33535;
}
.revision-diff>.body>.diff-stats {
	margin-top: -10px;
}
.revision-diff>.body>.diff-stats>.diff-stat {
	padding: 6px 0;
	border-bottom: 1px solid #F2F2F2;
}
.revision-diff>.body>.diff-stats>.diff-stat:last-child {
	border-bottom: none;
}
.revision-diff>.body>.diff-stats>.diff-stat a.file {
	padding: 0 6px;
}
.revision-diff>.body>.diff-stats>.diff-stat>.additions {
	color: #35C335;
}
.revision-diff>.body>.diff-stats>.diff-stat>.deletions {
	color: #C33535;
}
.revision-diff>.body>.diff-stats>.diff-stat>.additions, 
.revision-diff>.body>.diff-stats>.diff-stat>.deletions {
	font-size: 12px;
	font-weight: bold;
	margin-right: 4px;
	margin-top: 2px;
}
.revision-diff>.body>.detail>.diffs {
	margin-bottom: 0;
}
.revision-diff>.body>.detail>.diffs>.diff {
	margin-bottom: 20px;
}
.revision-diff>.body>.detail {
	position: relative;
}
.revision-diff>.body>.detail>.comment {
	border: 1px solid #DDD;
	margin-right: 12px;
	padding-right: 3px;	
	background: white;
	position: fixed;
	z-index: 100;
}
.revision-diff>.body>.detail>.comment>.content>.head .locate {
	font-size: 20px;
}
.revision-diff>.body>.detail>.comment>.content>.head .permanent {
	margin-top: 2px;
	font-size: 18px;
}
.revision-diff>.body>.detail>.comment>.content>.head .context {
	margin-top: -2px;
}
.revision-diff>.body>.detail>.comment>.content>.head .context .fa-ext {
	font-size: 16px;
}
.revision-diff>.body>.detail>.comment>.content>.head .resolve {
	margin-right: 0;
	margin-top: -2px;
	font-size: 20px;
}
.revision-diff>.body>.detail>.comment>.content>.head .resolve.resolved {
	color: #24BE10;
}
.revision-diff>.body>.detail>.comment>.content>.head .resolve.unresolved {
	color: #BBB;
}

.revision-diff>.body>.detail>.comment>.ui-resizable-handle {
	position: absolute;
	background: #EEE url(vgrabber.png) no-repeat scroll right center;
    cursor: e-resize;
    width: 3px;
    right: 0;
    top: 0;
}
.revision-diff>.body>.detail>.comment>.content>.head {
	font-weight: bold;
	padding: 8px 12px;
	background: #F2F2F2;
}
.revision-diff>.body>.detail>.comment>.content>.head .title {
	margin-bottom: 8px;
}
.revision-diff>.body>.detail>.comment>.content>.body {
	overflow: auto; 
	border-left: 3px solid #F2F2F2;
	border-bottom: 3px solid #F2F2F2;
}
.revision-diff>.body>.detail>.comment>.content>.body>* {
	margin: 12px;
}

.request-commit-selector {
	margin-bottom: 0;
}
.request-commit-selector a {
	text-decoration: none;
	display: block;
	color: #333;
	padding: 4px 8px;
	white-space: nowrap;
	font-family: monospace;
}
.request-commit-selector a:hover {
	background: #F2F2F2;
}
.request-commit-selector a.commented {
	background: white;
	cursor: default;
}
.request-commit-selector a .hash, .request-commit-selector .icon {
	color: #666;
}
