/**************************************************************
 * This file defines common css styles for PMEase products. 
 * 
 **************************************************************/

/* Alignments */
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}

/* Spacings */
.left-spacing {margin-left: 10px;}
.right-spacing {margin-right: 10px;}
.top-spacing {margin-top: 10px;}
.bottom-spacing {margin-bottom: 10px;}
.spacing {margin: 10px;}

/* Links */
a {cursor: pointer;}
a.fa {text-decoration: none;}
a.fa-times {color: #FF2A68;}
a.fa-times:hover {color: #BD2E29;}

/* Feedback */
#session-feedback {position:absolute; background:#FFFFDE; max-width:75%;
	border:1px solid #9C9E9C; border-top:none; padding: 6px; z-index:10000; 
	border-radius:0 0 4px 4px; box-shadow:2px 2px 5px #888; display: none;}
#session-feedback ul {padding: 0; margin: 0;}
#session-feedback li {list-style: none;}

/* Table */
table .navigator {border-radius: 4px 4px 4px 4px; margin-bottom: 0px; margin-left: 0; float: right;}
table thead .navigatorLabel, table tfoot .navigatorLabel {padding-top: 2px; padding-right: 8px; float: left;}
table thead tr.navigation td, table tfoot tr.navigation td {vertical-align: middle; padding-top: 12px; 
	text-align: right; min-width: 500px;}
table .navigator>div a, table .navigator>div em {-moz-border-bottom-colors: none; -moz-border-left-colors: none;
    -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #FFFFFF; border-color: #DDDDDD;
    border-image: none; border-style: solid; border-width: 1px 1px 1px 0; line-height: 18px; padding: 4px 8px;
    text-decoration: none; float: left;}
table .navigator>div .first em, table .navigator>div a.first {border-bottom-left-radius: 4px; border-left-width: 1px;
    border-top-left-radius: 4px;}
table .navigator>div .last em, table .navigator>div a.last {border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
table .navigator>div em {font-style: normal; cursor: default;}
table .navigator>div .first, table .navigator>div .last, table .navigator>div .prev, table .navigator>div .next {
	font-family: monospace inherit;} 
table .navigator>div a:hover, table .navigator>div a:focus, 
table .navigator>div em:hover, table .navigator>div em:focus, 
table .navigator>div .goto em {background-color: #F5F5F5;}
table .navigator>div .goto em, table .navigator>div>span>em {color: #999999; cursor: default;}
table .navigator>div>span>em, table .navigator>div>span>em:hover, table .navigator>div>span>em:focus {background-color: transparent;}
table .row-selector {width: 24px;}
table td, table th {text-align: left;}

/* Tree */
.tree-theme-windows .tree-node span.tree-content a {color: #444444;}
.tree-content {white-space: nowrap;}

/* Modal dialog */
.modal>.modal-dialog>.loading {margin:8px; min-height:64px;
	background: url("ajax-indicator.gif") center center no-repeat white;}

/* Dropdown panel */
.dropdown-panel {background-clip: padding-box; background-color: #FFF; border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); position: absolute;
	z-index: 2000; display: none;}
.dropdown-panel>.content {margin: 0; padding: 0;}
.dropdown-panel>.loading, .dropdown-panel>.loading.content {margin: 8px; padding: 0 0 0 20px;
	background: url("ajax-indicator.gif") left center no-repeat;}
.dropdown-panel>.indicator {display: inline-block; position: absolute;}
.dropdown-panel>.indicator.bottom:last-child {border-bottom: 6px solid #FFF; border-right: 6px solid transparent;
    border-left: 6px solid transparent; top: -6px;}
.dropdown-panel>.indicator.top:last-child {border-top: 6px solid #FFF; border-right: 6px solid transparent;
    border-left: 6px solid transparent; top: 100%;}
.dropdown-panel>.indicator.left:last-child {border-bottom: 6px solid transparent; border-top: 6px solid transparent;
    border-left: 6px solid #FFF; left: 100%;}
.dropdown-panel>.indicator.right:last-child {border-bottom: 6px solid transparent; border-top: 6px solid transparent;
    border-right: 6px solid #FFF; left: -6px;}
.dropdown-panel>.indicator.bottom:first-child {border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-right: 7px solid transparent; border-left: 7px solid transparent; top: -7px;}
.dropdown-panel>.indicator.top:first-child {border-top: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid transparent; border-left: 7px solid transparent; top: 100%;}
.dropdown-panel>.indicator.left:first-child {border-bottom: 7px solid transparent;
    border-top: 7px solid transparent; border-left: 7px solid rgba(0, 0, 0, 0.2); left: 100%;}
.dropdown-panel>.indicator.right:first-child {border-bottom: 7px solid transparent; border-top: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.2); left: -7px;}
.nav-tabs .dropdown-toggle.dropdown-hover:hover, .nav-pills .dropdown-toggle.dropdown-hover:hover {
    background-color: #999; border-color: #999; color: #FFF;}
.nav li.dropdown .dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

.dropdown-toggle.pill {border-radius: 4px; margin: 2px 2px 2px 0; padding: 4px 6px; line-height: 12px;}
.dropdown-toggle.pill .caret {border-bottom-color: #0088CC; border-top-color: #0088CC; margin-top: 8px;}
.dropdown-toggle.pill:hover {background-color: #EEE; text-decoration: none;}
.dropdown-toggle.pill:hover .caret {border-bottom-color: #005580; border-top-color: #005580;}
.dropdown-toggle.pill.open, .dropdown-toggle.dropdown-hover.pill:hover {background-color: #999; border-color: #999; color: #FFF;}
.dropdown-toggle.pill.open .caret, .dropdown-toggle.pill.dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

.piped>a.dropdown-toggle {border-radius: 4px; margin: 2px 2px 2px -5px; padding: 3px 6px; line-height: 11px;}
.piped .dropdown-toggle .caret {border-bottom-color: #0088CC; border-top-color: #0088CC; margin-top: 9px;}
.piped .dropdown-toggle:hover {background-color: #EEE; text-decoration: none;}
.piped .dropdown-toggle:hover .caret {border-bottom-color: #005580; border-top-color: #005580;}
.piped .dropdown-toggle.open, .piped .dropdown-toggle.dropdown-hover:hover {background-color: #999; border-color: #999; color: #FFF;}
.piped .dropdown-toggle.open .caret, .piped .dropdown-toggle.dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

/* Menu */
.dropdown-panel.menu .content {padding: 4px 0; min-width: 120px;}
.dropdown-panel.menu ul {list-style: none outside none; margin:0; padding: 0;}
.dropdown-panel.menu a {clear: both; color: #333333; display: block; font-weight: normal; line-height: 20px;
    padding: 3px 20px; white-space: nowrap; text-decoration: none;}
.dropdown-panel.menu li.submenu>a {margin-right: 2px; margin-left: 2px; padding-left: 18px; padding-right: 18px;}
.dropdown-panel.menu li.submenu>a:after {border-color: transparent transparent transparent #CCCCCC; border-style: solid;
    border-width: 5px 0 5px 5px; content: " "; display: block; float: right; height: 0; margin-right: -10px; margin-top: 5px; width: 0;}
.dropdown-panel.menu li.submenu:hover > a:after {border-left-color: #FFFFFF;}
.dropdown-panel.menu li:hover {background-color: #f5f5f5;}
.dropdown-panel.menu li input[type=checkbox] {margin-right: 8px; vertical-align: text-bottom;}
.dropdown-panel.menu .divider {background-color: #E5E5E5; border-bottom: 1px solid #FFFFFF; height: 1px;
    margin: 8px 1px; overflow: hidden;}
.dropdown-panel.menu li.divider:hover {background-color: #E5E5E5;}

/* Tabs */
.tabbable>.tab-content {padding-top: 16px;}

/* Wizard */
.wizard {text-align: left;}
.wizard .panel-heading {font-size: 16px;}
.wizard .panel-body {padding: 24px;}

/* Editor and Viewer */
.editable table.list {margin-bottom: 0;}
.editable table.list>tbody>tr>td, .editable table.list>tfoot>tr>td {
	border-top-style: dotted; border-top-width: 2px;}
.editable table.list>tfoot>tr.add-element>td {border-bottom: 2px dotted #DDD; padding: 0;}
.editable table.list>tfoot>tr.add-element>td>a {
	display: block; text-decoration: none; padding: 4px 8px;}

.editable table.list>tbody>tr.no-elements>td {font-style: italic;}
.editable table.list>tbody>tr.no-elements>td:hover {background: inherit;}
.editable table.list>tfoot>tr.add-element>td:hover {background-color: #F2F2F2;}

.editable>.reflection>table {width: 100%;}
.editable>.reflection>table>tbody>tr>td {vertical-align: top;}
.editable>.reflection>table>tbody>tr>td {padding: 10px;}
.editable>.reflection>table>tbody>tr>td.name {font-weight: bold; background: #F0F0F0; 
	text-align: right; white-space: nowrap; width: 20%;}
.editable>.reflection>table>tbody>tr:first-child>td.name {border-radius: 4px 4px 0 0;}
.editable>.reflection>table>tbody>tr:last-child>td.name {border-radius: 0 0 4px 4px;}
.editable>.reflection>table>tbody>tr:first-child:last-child>td.name {border-radius: 4px;}

.editor>.reflection.properties>div.form-group:last-child {margin-bottom: 0;} 

.editable>table.polymorphic.vertical.list>tbody>tr>td>.type-selector {margin-bottom: 8px;}
.editable>.polymorphic.vertical>div.type-selector {margin-bottom: 8px;}

.editable>.polymorphic.horizontal>table {width: 100%;}
.editable>.polymorphic.horizontal>table>tbody>tr>td {vertical-align: top;}
.editable>.polymorphic.horizontal>table>tbody>tr>td:first-child {padding-right: 8px;}

.editor>table.list .help-block {display: none;}

.editor>table.concrete.list>tbody>tr>td.actions {width: 76px;}
.editor>table.concrete.list>tbody>tr>td.actions a {margin-right: 8px;}
.editor>table.list>tbody>tr>td.actions .handle {
	color: #666; cursor: move; font-size: 22px; margin-top: 4px;}
.editor>table.list .sort-helper {border: 2px solid #DDD; background: #F5F5F5;}

.editor>input.enable {margin-bottom: 12px;}

.editor .required {font-size: 16px; color: #B94A48;}
.editor ul.feedbackPanel {margin: 4px 0 0 -8px; padding-bottom: 0;}
.editor li.feedbackPanelERROR {color: #AA0000;}

.viewer .reflection>table>tbody>tr.name-omitted>td {padding: 0;}
.viewer .type-selector {font-style: italic;} 

/* Select2 */
.editor .select2-container {width: 100%;}
.input-group .select2-container.form-control .select2-choice, 
.input-group .select2-container.form-control .select2-choices {
	border-radius: 0 4px 4px 0;}
	
/* Ajax Loading Indicator */
#ajax-loading-indicator {position: absolute; top: 0;
	left: 50%; display:none;}
#ajax-loading-indicator>div {position:relative; left:-50%;	
	top:0; background:#FFFFDE; text-align:center; width:80px;
	border:1px solid #9C9E9C; border-top:none; padding:6px 6px 6px 10px; 
	z-index:10000; border-radius:0 0 4px 4px; box-shadow:2px 2px 5px #888;}	

/* Ajax Loading Overlay */
#ajax-loading-overlay {z-index:1; display: none;}
#ajax-loading-overlay>div {bottom: 0; left: 0; position: fixed;
    right: 0; top: 0; z-index: 1000000; filter:alpha(opacity=0); /* Only applies to IE */
    background: white; /* This will be overwritten by browsers that support rgba */
    background: rgba(255,255,255,0.0); /* IE ignores this since it's not supported */}
    
/* div table */
div.table {display: table;}
div.tr {display: table-row;}    
div.td {display: table-cell;}