/**************************************************************
 * This file defines common css styles for PMEase products. 
 * 
 **************************************************************/

/* Alignments */
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}

/* spacings */
.left-spacing {
	margin-left: 10px;
}
.right-spacing {
	margin-right: 10px;
}
.top-spacing {
	margin-top: 10px;
}
.bottom-spacing {
	margin-bottom: 10px;
}
.spacing {
	margin: 10px;
}


/* Default style of Wicket table */
table .navigator {
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 0px;
    margin-left: 0;	
    float: right;
}
table tfoot .navigatorLabel {
	padding-top: 2px;
	padding-right: 8px;
	float: left;
}
table tfoot tr.navigation td {
	vertical-align: middle;
	padding-top: 12px;
	text-align: right;
	min-width: 500px;
}
table .navigator>div a, table .navigator>div em {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    line-height: 18px;
    padding: 4px 8px;
    text-decoration: none;
    float: left;
}
table .navigator>div .first em, table .navigator>div a.first {
    border-bottom-left-radius: 4px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
}
table .navigator>div .last em, table .navigator>div a.last {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
table .navigator>div em {font-style: normal; cursor: default;}
table .navigator>div .first, table .navigator>div .last, table .navigator>div .prev, table .navigator>div .next {
	font-family: monospace inherit;
} 
table .navigator>div a:hover, table .navigator>div a:focus, 
table .navigator>div em:hover, table .navigator>div em:focus, 
table .navigator>div .goto em {background-color: #F5F5F5;}
table .navigator>div .goto em, table .navigator>div>span>em {
    color: #999999;
    cursor: default;
}
table .navigator>div>span>em, table .navigator>div>span>em:hover, table .navigator>div>span>em:focus {
	background-color: transparent;
}
table .row-selector {width: 24px;}
table td, table th {text-align: left;}

/* Feedback panel*/
.alert ul.feedbackPanel {margin: 0; padding-left: 20px;}
