<wicket:panel>
	<div class="blob-view autofit">
		<div class="head clearfix">
			<div class="float-left info expanded">
				<wicket:enclosure child="lines">
				<span wicket:id="lines"></span>
				<span class="separator">|</span>
				<span wicket:id="charset"></span>
				<span class="separator">|</span>
				</wicket:enclosure>
				<span wicket:id="size"></span>
			</div>
			<div class="actions-and-options float-right clearfix">
				<div wicket:id="options" class="float-left options expanded"></div>
				<div class="float-left actions">
					<wicket:container wicket:id="changeActions">
					<a wicket:id="edit">
						<wicket:svg href="edit" class="icon"></wicket:svg>
						Edit
					</a>
					<a wicket:id="delete">
						<wicket:svg href="trash" class="icon"></wicket:svg>
						Delete
					</a>
					</wicket:container>
                    <a wicket:id="raw">
						<wicket:svg href="file" class="icon"></wicket:svg>
						Raw
					</a>
                    <wicket:enclosure child="viewPlain">
					<label><input type="checkbox" wicket:id="viewPlain"> View Source</label>
                    </wicket:enclosure>
                    <wicket:enclosure child="blame">
					<label><input type="checkbox" wicket:id="blame"> Blame</label>
                    </wicket:enclosure>
					<wicket:container wicket:id="extraActions"></wicket:container>
				</div>
			</div>
		</div>
		<div class="body">
			<wicket:child></wicket:child>
		</div>
	</div>
</wicket:panel>