<wicket:panel>
	<div class="commit-list">
		<div wicket:id="tooManyCommits" class="alert alert-warning"></div>
		<ul class="list-unstyled">
			<li wicket:id="commits"><div wicket:id="commit"></div></li>
		</ul>
	</div>
	<wicket:fragment wicket:id="commitFrag">
		<div class="avatar pull-left">
			<span wicket:id="avatar"></span>
		</div>
		<div class="detail pull-left">
			<div wicket:id="message" class="message"></div>
			<div wicket:id="contribution"></div>
		</div>
		<div wicket:id="hashAndCode" class="pull-right"></div>
	</wicket:fragment>
	<wicket:fragment wicket:id="dateFrag">
		<i class="fa fa-calendar"></i> <span wicket:id="date"></span>
	</wicket:fragment>
</wicket:panel>