.commit-list>div>ul {
	margin-bottom: 0;
}
.commit-list>div>ul li {
	padding: 4px 0;
}
.commit-list>div>ul .commit>.avatar {
	margin-top: 4px;
}
.commit-list>div>ul .label {
	margin: 3px 0 0 4px;
}
.commit-list>div>ul .browse {
	margin-left: 8px;
}
.commit-list>div>ul a {
	color: #555;
}
.commit-list>div>ul a.summary {
	font-weight: bold;
	font-size: 15px;
}
.commit-list>div>ul .detail {
	padding-left: 8px; 
	padding-right: 8px;
}
.commit-list>div>ul .commit:hover, .commit-list>div>ul .commit.hover {
	background: #F7ECB9;
}
.commit-list>div>ul .commit .contribution {
	font-size: 12px;
}
.commit-list>div>ul .message {
	margin-bottom: 4px;
}
.commit-list .date {
	font-size: 18px;
	margin-top: 12px;
	text-align: left;
	border-bottom: 1px solid #EEE;
}
.commit-list .date.first {
	margin-top: 0;
}
.commit-list .alert {
	margin-bottom: 12px;
}