<wicket:panel>
	<div class="pack-side">
        <div class="properties">
        	<div>
        		<div class="name">Published By</div>
        		<div class="value">
					<a wicket:id="publisher" class="text-break"></a>
        		</div>
        	</div>
			<div>
				<div class="name">Published At</div>
				<div class="value">
					<span wicket:id="publishDate"></span>
				</div>
			</div>
        </div>
		<wicket:enclosure child="fixedIssuesSince">
			<div>
				<input wicket:id="fixedIssuesSince" type="hidden" class="form-control">
			</div>
		</wicket:enclosure>
		<wicket:enclosure child="changesSince">
			<div>
				<input wicket:id="changesSince" type="hidden" class="form-control">
			</div>
		</wicket:enclosure>
		<wicket:enclosure child="delete">
			<div class="actions">
				<a wicket:id="delete" class="delete btn btn-light-danger">Delete</a>
			</div>
		</wicket:enclosure>
	</div>
</wicket:panel>
