<html xmlns:wicket>
<wicket:panel>
	<div class="panel panel-default panel-comment">
		<div class="panel-heading">
			<div class="clearfix">
				<div class="left">
					<span class="author" wicket:id="author"></span>
					<span class="label " wicket:id="authorType"></span>
				</div>
				<div class="right actions">
					<span wicket:id="age"></span>
					<a wicket:id="editlink"><i class="icon icon-pencil"></i></a>
					<a wicket:id="removelink"><i class="icon icon-delete"></i></a>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div wicket:id="content"></div>
		</div>
	</div>
	
	<wicket:fragment wicket:id="submitfrag">
		<button class="btn btn-default secondary" wicket:id="btnCancel">Cancel</button>
		<button class="btn btn-gray primary" wicket:id="btnUpdate">Update Comment</button>
	</wicket:fragment>
</wicket:panel>
</html>