<html xmlns:wicket>
<wicket:panel>
	<form class="form-comment" wicket:id="form">
		<div class="comment-editor-head">
			<ul class="nav nav-tabs">
				<li class="active"><a wicket:id="writelink">Write</a></li>
				<li><a wicket:id="previewlink">Preview</a></li>
			</ul>
		</div>
		<div class="tab-content comment-editor-body">
			<div class="tab-pane active" wicket:id="edit"></div>
			<div class="tab-pane" wicket:id="preview"></div>
			
			<div class="form-actions clearfix" wicket:id="actions"></div>
		</div>
	</form>
	
	<wicket:fragment wicket:id="editfrag">
		<div wicket:id="feedback"></div>
		<textarea wicket:id="input" placeholder="Leave a comment" class="focusable"></textarea>
	</wicket:fragment>
	
	<wicket:fragment wicket:id="previewfrag">
		<div class="panel panel-default panel-comment">
			<div class="panel-heading">
				<span class="author" wicket:id="author"></span>
			</div>
			<div class="panel-body">
				<div wicket:id="content"></div>
			</div>
		</div>
	</wicket:fragment>
	
	<wicket:fragment wicket:id="submitfrag">
		<button class="btn btn-default btn-cancel secondary" wicket:id="btnCancel"><span wicket:id="name"></span></button>
		<button class="btn btn-success dirty-aware primary" wicket:id="btnSubmit"><span wicket:id="name"></span></button>
	</wicket:fragment>
</wicket:panel>
</html>