#request-detail {padding: 20px;}
#request-detail>div, #request-detail>ul {margin-bottom: 20px;}
#request-detail>div:last-child {margin-bottom: 0;}
#request-detail table {width: 100%;}
#request-detail td {vertical-align: top;}
#request-detail .md-editor {margin-bottom: 16px;}

#request-detail>.head {font-size: 24px; font-weight: bold; padding: 0;}
#request-detail>.head input[type="text"] {width: 600px;}
#request-detail>.head a i {color: #999; font-size: 19px;}
#request-detail>.head>div {margin-right: 8px;}
#request-detail>.head>.id {color: #999;}
#request-detail>.head>.label {margin-top: 3px;}

#request-detail>.summary>div {border-bottom: 1px dotted #BBB; margin-bottom: 12px; padding-bottom: 8px;}
#request-detail>.summary>div:last-child {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
#request-detail>.summary>.status-reasons ul {margin-bottom: 0; padding-left: 16px;} 

#request-detail>.summary img {width: 24px; height: 24px; vertical-align: middle;}
#request-detail>.summary .conflict {color: #DD4B4B; font-size: 16px;} 
#request-detail>.summary .no-conflict {color: #399529; font-size: 16px;}

#request-detail>.summary>.operations>.buttons>a, 
#request-detail>.summary>.operations>.confirm>form>input {margin-right: 12px;} 
#request-detail>.summary>.operations>.confirm>form>textarea, 
#request-detail>.summary>.operations>.confirm>form>.delete-source {margin-bottom: 16px;} 

#request-detail>.overview>tbody>tr>td.activities {width: 75%; padding-right: 16px;}
#request-detail .activities>table {margin-bottom: 20px; border-bottom: 1px solid #E5E5E5;}
#request-detail .activities>table>tbody>tr.discussion>td {border-top: 1px solid #E5E5E5; padding: 12px 0;}
#request-detail .activities>table>tbody>tr.discussion.collapsed>td {padding: 8px 0;}
#request-detail .activities>table>tbody>tr.discussion>td.avatar {width: 1px; padding-left: 12px; padding-right: 12px;}
#request-detail .activities>table>tbody>tr.discussion>td.activity {padding-left: 12px;}
#request-detail .activities>table>tbody>tr.activity>td.avatar {border-right: 1px dashed #DDD;}

#request-detail .activities>table>tbody>tr.activity.discussion>td.avatar {border-right: none;}
#request-detail .activities>table>tbody>tr.discussion+.non-discussion>td {border-top: 1px solid #E5E5E5;}
#request-detail .activities>table>tbody>tr.discussion+.non-update>td {padding-top: 8px;}
#request-detail .activities>table>tbody>tr.discussion>.avatar img {width: 40px; height: 40px;}
#request-detail .activities>table>tbody>tr.non-discussion>td {padding-left: 6px; font-size: 13px;}
#request-detail .activities>table>tbody>tr.non-discussion>td.avatar img {display: none;}
#request-detail .activities>table>tbody>tr.non-discussion>.activity>div.summary .user a {font-weight: normal;}
#request-detail .activities>table>tbody>tr.update+.update>td>table {margin-top: -12px;}

#request-detail .activities .activity>.commits {color: #777; margin-left: -32px;}
#request-detail .activities .activity>.commits a {color: #555;}
#request-detail .activities .activity>.commits td {padding-top: 8px; padding-bottom: 8px;}
#request-detail .activities .non-update+.update>td tr:first-child td {border-top: none;}
#request-detail .activities .activity>.commits td.icon {width: 32px; white-space: nowrap; text-align: right;}
#request-detail .activities .activity>.commits tr.integrated td.icon .fa {color: #35A612;}
#request-detail .activities .activity>.commits td.detail {padding-left: 15px; padding-right: 8px;}
#request-detail .activities .activity>.commits td.status {text-align: right;}
#request-detail .activities .activity>.commits tr:hover td.detail, 
#request-detail .activities .activity>.commits tr:hover td.status {background: #F5F5F5;}
#request-detail .activities .activity>.commits td.status a.commit-hash {
	font-family: monospace;
}
#request-detail .activities .activity>.commits tr.rebased td a {color: #AAA;}
#request-detail .activities .activity>.commits tr.rebased td.icon .fa {color: #CCC;}
#request-detail .activities .activity>.commits tr.rebased img.avatar {opacity: 0.5;}
#request-detail .activities .activity>.commits td.status .successful {color: #35A612;}
#request-detail .activities .activity>.commits td.status .failed {color: #F93333;}
#request-detail .activities .activity>.commits td.status .running {color: #AFAD1F;}
#request-detail .activities .activity.new>.avatar {background: #FCF6D6;}

#request-detail .others>div>div {border-bottom: 1px dotted #BBB; margin-bottom: 16px; 
	padding-bottom: 16px; font-size: 13px; color: #666;}
#request-detail .others>div>div:last-child {border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
#request-detail .others .help-block {margin-bottom: 0; color: #888}
#request-detail .others .fa.small {font-size: 14px; vertical-align: middle;}
#request-detail .others label {margin-right: 4px; font-weight: normal;}
#request-detail .others .select2-container {width: 100%;}
#request-detail .others .avatar {width: 24px; height: 24px;}
#request-detail .others .select2-container .avatar {width: 20px; height: 20px;}

#request-detail .others .basic-info .submitter, #request-detail .others .basic-info .target {margin-bottom: 4px;}
#request-detail .others .basic-info span, #request-detail .others .basic-info a {white-space: nowrap;}
#request-detail .others .basic-info .source>a {margin-left: 4px;}

#request-detail .others .reviewers ul {margin-bottom: 0;}
#request-detail .others .reviewers li {margin-right: 20px; margin-bottom: 10px; position: relative;}
#request-detail .others .reviewers li a:hover {text-decoration: none;}

#request-detail .others .reviewers .review-result {top: 12px;}
	
#request-detail .activities .table-diff>tbody>.line.comments>td {padding: 12px;}
#request-detail .activities .table-diff>tbody>tr.omit>td .fa {font-size: 24px; color: #888; margin-left: 12px;}
#request-detail .activities .inline-comment.panel>.panel-heading {padding: 8px;}
#request-detail .activities .inline-comment.panel>.panel-heading .actions {margin-left: 12px;}
#request-detail .activities .inline-comment.panel>.panel-heading .actions a {color: #BBB; margin-right: 4px;}
#request-detail .activities .inline-comment.panel>.panel-heading:hover .actions a {color: #666;}
#request-detail .activities .inline-comment.panel {margin-bottom: 4px;}

#request-detail .activities .activity.non-discussion>.activity>.summary .fa {background: white;}
#request-detail .activities .activity>div>.fa {vertical-align: middle; margin: 0 8px 0 -16px; font-size: 24px;}
#request-detail .activities .activity>.update>.fa {margin: 0 8px 0 -15px; font-size: 20px;}
#request-detail .activities .activity>.discard>.fa {color: #F93333;}
#request-detail .activities .activity>.integrate>.fa {color: #35A612; margin-left: -20px;}
#request-detail .activities .activity>.approve>.fa {color: #35A612; margin-left: -18px;}
#request-detail .activities .activity>.disapprove>.fa {color: #F93333; margin-left: -18px;}
#request-detail .activities .activity>.undo-review>.fa {color: #666; margin-left: -14px;}
#request-detail .activities .activity>.reopen>.fa {color: #666; font-size: 30px; margin-left: -20px; margin-right: 7px;}

#request-detail>.updates>.update {padding: 12px; margin: 20px 0; border: 1px solid #DDD; border-radius: 4px;}
#request-detail>.updates>.update>.summary .actions .fa {font-size: 16px;}
#request-detail>.updates>.update>.summary>.reviews>.review {margin-left: 12px; white-space: nowrap; position: relative;}

#request-detail>.updates>.update>.commits td {padding-top: 8px; padding-bottom: 8px; 
	color: #999; border-top: 1px dashed #CCC;}
#request-detail>.updates>.update>.commits tr.rebased td a {color: #AAA;}
#request-detail>.updates>.update>.commits tr.rebased img.avatar {opacity: 0.5;}
#request-detail>.updates>.update>.commits td.avatar {width: 1px;}
#request-detail>.updates>.update>.commits td.avatar img {width: 36px; height: 36px;}
#request-detail>.updates>.update>.commits a {color: #666;}
#request-detail>.updates>.update>.commits a.subject {font-weight: bold;}
#request-detail>.updates>.update>.commits td.detail {padding-left: 8px; padding-right: 8px;}
#request-detail>.updates>.update>.commits td.status {text-align: right;}
#request-detail>.updates>.update>.commits td.status a.commit-hash {
	font-family: monospace;
}
#request-detail>.updates>.update>.commits td.status>div:first-child {white-space: nowrap;}
#request-detail>.updates>.update>.commits tr:hover td {background: #F7ECB9;}
#request-detail>.updates>.update>.commits .commit-message>.full {margin-bottom: 4px;}

#request-detail .compare>.head {
	background: #F2F2F2; 
	z-index: 90; 
	padding: 8px; 
	border: 1px solid #DDD;
}

.content>.commit-choice {
	max-height: 400px; 
	padding: 8px 0; 
	overflow-y: scroll;
}
.content>.commit-choice a {
	text-decoration: none; 
	color: #333; 
	display: block; 
	padding: 8px;
}
.content>.commit-choice li {
	border-bottom: 1px dotted #BBB;
}
.content>.commit-choice li:hover {
	background: #FDF2C3;
}
.content>.commit-choice a .commit {
	font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
.content>.commit-choice a .subject {
	font-size: 12px; 
	color: #999;
} 
table.old-vs-new td {
	padding: 0 8px;
}
table.old-vs-new td.old {
	width: 140px; 
	text-align: left;
}
table.old-vs-new td.new {
	width: 140px; 
	text-align: right;
}
table.old-vs-new td.vs {
	width: 1px; 
	text-align: center; 
	font-weight: bold;
}

.conflict-resolve-instruction {
	padding: 8px; 
	width: 400px;
}
.conflict-resolve-instruction .terminal {
	background: #333;
	color: #EEE;
	border-radius: 4px;
	font-family: monospace;
	margin: 4px 0 16px 0;
}
