.copy-clipboard:not(.btn):not(.input-group-addon) {
    color: #666;
    position: relative;
}
.copy-clipboard:hover:not(.btn):not(.input-group-addon), 
.copy-clipboard:active:not(.btn):not(.input-group-addon) {
    color: black;
}
.copy-clipboard:active:not(.btn):not(.input-group-addon) {
    left: 1px;
    top: 1px;
}