.navbar-brand {
	padding-top: 14px;
	padding-bottom: 14px;
}
.navbar-brand img {
	width: 24px;
	height: 24px;
	margin-left: -6px;
}
.navbar a {
	font-size: 16px;
}
.navbar-nav>li>a.avatar {
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar img.avatar {
	width: 30px;
	height: 30px;
}
.navbar .dropdown-header {
	font-size: 16px;
	padding: 4px 20px 0 20px;
}

@media (max-width: 768px) {
	.navbar .expanded {
		display: none;
	}
}
@media (min-width: 768px) {
	.navbar .collapsed {
		display: none;
	}
}

#layout>.body {
	padding: 70px 20px 20px 20px;
	width: 100%;
}

#layout .sidebar {
	top: 50px;
}

.floating.side {
	position: fixed;
	top: 50px;
	border-top: none;
	border-bottom: none;
	bottom: 0;
	width: 360px;
	border-radius: 0;
	overflow: auto;
}
.floating.side-left {
	border-left: none;
	left: 0;
}
.floating.side-right {
	border-right: none;
	right: 0;
}
.floating.side>.content>.head {
	padding: 12px;
	font-weight: bold;
	font-size: 16px;
	border-bottom: 1px solid #E0E0E0;
}
.floating.side>.content>.body {
	padding: 12px;
}