<wicket:extend>
	<div id="layout">
		<nav class="navbar navbar-fixed-top navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
	        			<span class="sr-only">Toggle navigation</span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	        			<span class="icon-bar"></span>
	      			</button>					
	      			<a class="navbar-brand" href="https://onedev.io">
			        	<img alt="Brand" src="/img/logo.png">
			      	</a>
		    	</div>
				<div class="collapse navbar-collapse" id="navbar-collapse">
      				<ul class="nav navbar-nav tabs">
        				<li wicket:id="navProjects"><a wicket:id="link">Projects</a></li>
        				<li wicket:id="navContributions"><a wicket:id="link"><span wicket:id="label"></span></a></li>
        				<li wicket:id="navAdministration"><a wicket:id="link">Administration</a></li>
        				<li wicket:id="navMy"><a wicket:id="link">My</a></li>
					</ul>
 					<ul class="nav navbar-nav navbar-right">
        				<li class="dropdown">
							<a href="#" class="dropdown-toggle expanded" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-question-circle"></i> <i class="fa fa-angle-down"></i></a>
							<a href="#" class="dropdown-toggle collapsed" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <i class="fa fa-angle-down"></i></a>
          					<ul class="dropdown-menu">
								<li wicket:id="productVersion" class="dropdown-header"></li>          					
								<li role="separator" class="divider"></li>
								<li><a wicket:id="docLink">Documentation</a></li>
								<li><a href="mailto:support@onedev.io">Support &amp; Bug Report</a></li>
				          	</ul>        				
						</li>	
				  		<wicket:container wicket:id="notSignedIn">
				  		<li><a wicket:id="signIn">Sign in</a></li>
				  		<wicket:enclosure child="signUp">				  	
				  		<li><a wicket:id="signUp">Sign Up</a></li>
				  		</wicket:enclosure>
				  		</wicket:container>
				  		<wicket:container wicket:id="signedIn">
        				<li class="dropdown">
							<a href="#" class="dropdown-toggle avatar expanded" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img wicket:id="avatar"/> <i class="fa fa-angle-down"></i></a>
							<a href="#" class="dropdown-toggle collapsed" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span wicket:id="userNameCollapsed"></span> <i class="fa fa-angle-down"></i></a>
          					<ul class="dropdown-menu">
								<li wicket:id="userNameExpanded" class="dropdown-header expanded"></li>          					
								<li role="separator" class="divider expanded"></li>
								<li><a wicket:id="signOut">Sign Out</a></li>
				          	</ul>        				
				  		</li>
				  		</wicket:container>
        			</ul>					
			    </div>		    	
			</div>
		</nav>	
		<div class="body">
			<wicket:child></wicket:child>
		</div>
	</div>
</wicket:extend>