<wicket:panel>
	<div wicket:id="content" class="issue-title"></div>
	<wicket:fragment wicket:id="titleEditFrag">
		<form wicket:id="form">
			<div wicket:id="feedback"></div>
			<div class="clearable-wrapper">
				<input wicket:id="title" type="text" placeholder="Input title" class="form-control">
			</div>
			<div class="actions">
				<button wicket:id="save" title="Save" value="Save" class="btn btn-success" type="submit"><wicket:svg href="tick" class="icon"/></button>
				<a wicket:id="cancel" title="Cancel" type="button" value="Cancel" class="btn btn-danger"><wicket:svg href="times" class="icon"/></a>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="titleViewFrag">
		<div class="view clearfix">
			<span class="float-left">
				<span wicket:id="title"></span>
				<a wicket:id="copy" title="Copy issue number and title" class="copy"><wicket:svg href="copy" class="icon"></wicket:svg></a>
				<a wicket:id="edit" title="Edit issue title" class="edit"><wicket:svg href="edit" class="icon"></wicket:svg></a>
			</span>
			<a wicket:id="create" class="create btn btn-success btn-sm float-right"><wicket:svg href="plus" class="icon"></wicket:svg> New</a>
		</div>
	</wicket:fragment>
</wicket:panel>
