.issue-title {
	font-size: 20px;
	font-weight: bold;
	position: relative;
}
.issue-title .view>.pull-left>a {
	color: #666;
	margin-left: 4px;
	font-size: 16px;
}
.issue-title .view>.pull-right {
	margin-left: 8px;
}
.issue-title input[type=text] {
	font-weight: normal;
}
.issue-title .alert {
	font-weight: normal;
	font-size: 14px;
}
.issue-title form {
	position: relative;
	padding-right: 100px;
}
.issue-title form .actions {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}
.issue-title form .actions>:first-child {
	margin-right: 0;
}