<wicket:panel>
	<div wicket:id="content" class="issue-title"></div>
	<wicket:fragment wicket:id="titleEditFrag">
		<form wicket:id="form">
			<div wicket:id="feedback"></div>
			<div class="clearable-wrapper">
				<input wicket:id="title" type="text" placeholder="Input title" class="form-control">
			</div>
			<div class="actions">
				<button wicket:id="save" title="Save" value="Save" class="btn btn-success" type="submit"><i class="fa fa-check"></i></button>
				<a wicket:id="cancel" title="Cancel" type="button" value="Cancel" class="btn btn-danger"><i class="fa fa-times"></i></a>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="titleViewFrag">
		<div class="view clearfix">
			<span class="pull-left">
				<span wicket:id="title"></span>
				<a wicket:id="copy" title="Copy issue number and title" class="copy"><i class="fa fa-copy"></i></a>
				<a wicket:id="edit" title="Edit issue title" class="edit"><i class="fa fa-pencil"></i></a>
			</span>
			<a wicket:id="create" class="create btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> New</a>
		</div>
	</wicket:fragment>
</wicket:panel>
