<wicket:panel>
	<div wicket:id="content"></div>
	<wicket:fragment wicket:id="configuredFrag">
		<div class="alert alert-notice alert-light-success mb-0">
			<wicket:t>
			Two-factor authentication already set up. <a wicket:id="requestToSetupAgain"><wicket:t>Request to set up again</wicket:t></a> in case 
			both TOTP authenticator and access codes are lost 
			</wicket:t>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="notConfiguredFrag">
		<div class="alert alert-notice alert-light-warning mb-0">
			<wicket:t>Will be prompted to set up two-factor authentication upon next login</wicket:t>
		</div>
	</wicket:fragment>
</wicket:panel>