<wicket:panel>
	<div class="no-branch-workspaces">
		<div wicket:id="specs" class="spec">
			<div class="head px-3 py-2 bg-light border-top">
				<div class="d-flex text-nowrap align-items-center">
					<b wicket:id="name" class="mr-auto"></b>
					<a wicket:id="create" class="ml-2 d-flex align-items-center" t:data-tippy-content="Create workspace with this spec"><wicket:svg href="plus" class="icon"></wicket:svg></a>	
				</div>
				<div wicket:id="description" class="description text-muted font-size-sm"></div>
			</div>
			<div class="body font-italic text-nowrap"><wicket:t>No workspaces</wicket:t></div>
		</div>
	</div>
</wicket:panel>
