#repo-tags {
	padding: 20px;
}

#repo-tags>.list>table td {
	white-space: nowrap;
}
#repo-tags .tag a.name {
	color: #444;
	font-weight: bold;
	font-size: 16px;
}
#repo-tags .annotated {
	color: #999;
	font-size: 12px;
}
#repo-tags .annotated a {
	color: #666;
}
#repo-tags .annotated .ellipsis-expander {
	margin-left: 4px;
}
#repo-tags .annotated .message {
	display: none;
	border: none;
	font-size: 12px;
	background: none;
	margin: 0 0 -4px 0;
}
#repo-tags>.list>table td.actions {
	text-align: right;
}
#repo-tags>.list>table td.detail>div, 
#repo-tags>.list>table td.detail>div .name a {
	font-size: 13px; 
	color: #666;
}
#repo-tags>.list>table td.detail .commit {
	margin: 8px 0;
}
#repo-tags>.list>table td.detail .commit>* {
	margin-right: 4px;
}
#repo-tags>.list>table td.detail .commit>.message {
	color: #666;
}