#repo-tags {
	padding: 20px;
}
#repo-tags>.body>.options {
	margin-bottom: 16px;
}
#repo-tags>.body>.options>div {
	margin-right: 24px;
}

#repo-tags>.body>.options>div.search .input-group {
	width: 240px;
}
#repo-tags>.body>table td {
	white-space: nowrap;
}
#repo-tags .tag a.name {
	font-weight: bold;
	font-size: 16px;
}
#repo-tags .annotated {
	color: #666;
	font-size: 12px;
}
#repo-tags .annotated .ellipsis-expander {
	margin-left: 4px;
}
#repo-tags .annotated .message {
	display: none;
	border: none;
	font-size: 12px;
	background: none;
	margin: -8px 0;
}
#repo-tags .commit input {
	border: 1px dotted #999;	
}
#repo-tags>.body>table td.actions {
	width: 1%;
	text-align: right;
}
#repo-tags>.body>table td.actions .fa.fa-times {
	color: red;
}
#repo-tags>.body>table td.actions .fa.fa-download {
	font-size: 15px;
	vertical-align: middle;
}
#repo-tags>.body>table td.actions span.fa.fa-times {
	color: #888;
}
#repo-tags>.body>table td.detail>div, 
#repo-tags>.body>table td.detail>div .name a {
	font-size: 13px; 
	color: #666;
}
#repo-tags>.body>table td.detail .commit {
	margin: 8px 0;
}
