<wicket:panel>
	<div class="avatar-picker">
		<div wicket:id="currentAvatar" class="current-avatar"></div>
		<div class="upload">
			<input type="file" wicket:id="fileInput" class="btn btn-default"></input>
		</div>
		<div class="reset">
			<a wicket:id="reset" class="btn btn-default">Use default</a>
		</div>
		<div class="help-block">
			Supported image types are png, gif, jpg and jpeg. The image size should be less than <span wicket:id="maxSize"></span>M bytes.
		</div>
	</div>
</wicket:panel>