@font-face { font-family: "fontext"; src: url("fontext.eot?v=1.0.19"); src: url("fontext.eot?v=1.0.19#iefix") format("embedded-opentype"), url("fontext.ttf?v=1.0.19") format("truetype"), url("../fonts/ponticons.woff?v=1.0.19") format("woff"), url("fontext.svg?v=1.0.19#fontext") format("svg"); font-weight: normal; font-style: normal; }
.fa-ext {font: normal 14px "fontext"; display: inline-block; speak: none; text-transform: none; text-rendering: auto; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.fa-gitplex-logo:before { content: "\f100"; }

.fa-markdown:before { content: "\f110"; }

.fa-checklist:before { content: "\f111"; }

.fa-milestone:before { content: "\f112"; }

.fa-folder:before { content: "\f113"; }

.fa-folder-o:before { content: "\f114"; }

.fa-file-symbol-link:before { content: "\f115"; }

.fa-gatekeeper:before { content: "\f116"; }

.fa-book:before { content: "\f117"; }

.fa-repo:before { content: "\f200"; }

.fa-repo-add:before { content: "\f201"; }

.fa-repo-remove:before { content: "\f202"; }

.fa-repo-fork:before { content: "\f203"; }

.fa-repo-clone:before { content: "\f204"; }

.fa-repo-lock:before { content: "\f205"; }

.fa-repo-unlock:before { content: "\f206"; }

.fa-repo-pull:before { content: "\f207"; }

.fa-repo-push:before { content: "\f208"; }

.fa-repo-sync:before { content: "\f209"; }

.fa-diff-added:before { content: "\f210"; }

.fa-diff-removed:before { content: "\f211"; }

.fa-diff-modified:before { content: "\f212"; }

.fa-diff-renamed:before { content: "\f213"; }

.fa-diff-ignored:before { content: "\f214"; }

.fa-file-diff:before { content: "\f215"; }

.fa-file-added:before { content: "\f216"; }

.fa-file-removed:before { content: "\f217"; }

.fa-file-modified:before { content: "\f218"; }

.fa-file-renamed:before { content: "\f219"; }

.fa-folder-added-o:before { content: "\f21a"; }

.fa-folder-removed-o:before { content: "\f21b"; }

.fa-folder-modified-o:before { content: "\f21c"; }

.fa-folder-renamed-o:before { content: "\f21d"; }

.fa-commit:before { content: "\f220"; }

.fa-branch:before { content: "\f221"; }

.fa-branch-merge:before { content: "\f222"; }

.fa-branch-pattern:before { content: "\f223"; }

.fa-branch-compare:before { content: "\f224"; }

.fa-branch-lock:before { content: "\f225"; }

.fa-folder-symbol-link-o:before { content: "\f227"; }

.fa-folder-submodule-o:before { content: "\f228"; }
