.project-setting .avatar-edit .current img {
	height: 240px;
	width: 240px;
	display: block;
}

.project-setting .authorization-list .select2-container {
	width: 100%;
} 

.project-setting .web-hook-list table thead th {
	font-weight: bold !important;
}
.project-setting .web-hook-list table thead th.property-eventTypes {
	width: 25%;
}
.project-setting .web-hook-list table .select2-container {
    width: 100%;
}

.job-secret-edit textarea {
    font-family: monospace;
}
