.project-setting .avatar-edit .current img {
	height: 240px;
	width: 240px;
	display: block;
}

.job-secret-edit textarea {
    font-family: monospace;
}

.project-setting .web-hooks .bean-list td.property-eventTypes {
	width: 25%;
}
.project-setting .branch-protections .bean-list td.property-jobNames {
	width: 30%;
}
.project-setting .branch-protection>.card-header .badge, 
.project-setting .tag-protection>.card-header .badge {
	font-size: 0.9rem;
}
.project-setting .branch-protection>.card-header .toggle>.icon,
.project-setting .tag-protection>.card-header .toggle>.icon {
	width: 30px;
	height: 30px;
	margin-top: 2px;
	margin-left: -8px;
}
.project-setting .branch-protection.expanded>.card-header .toggle>.icon,
.project-setting .tag-protection.expanded>.card-header .toggle>.icon {
	transform: rotate(0deg);
}
.project-setting .branch-protection>.card-body,
.project-setting .tag-protection>.card-body {
	display: none;
}
.project-setting .branch-protection.expanded>.card-body,
.project-setting .tag-protection.expanded>.card-body {
	display: block;
}

.project-setting .project-authorizations .bean-list td.property-userName {
	width: 50%;
}