#issue-detail>.main {
	margin-right: 360px;
	pading-right: 20px;
}
#issue-detail>.main>div {
	margin-bottom: 20px;
}
#issue-detail>.main>.title {
	font-size: 20px;
	font-weight: bold;
	color: #444;
	position: relative;
}
#issue-detail>.main>.title a {
	color: #999;
}
#issue-detail>.main>.title input[type=text] {
	width: 600px;
	font-weight: normal;
}
#issue-detail>.main>.title .alert {
	font-weight: normal;
	font-size: 14px;
}
#issue-detail>.main>.state-and-actions>.state {
	font-size: 20px;
	font-weight: normal;
}
#issue-detail>.main>.state-and-actions>* {
	margin-right: 20px;
}

#issue-detail>.side {
	position: fixed;
	top: 48px;
	right: 0;
	bottom: 0;
	width: 360px;
	border-left: 2px solid #E0E0E0;
	padding: 20px;
	background: #F9F9F9;
	overflow: auto;
}
#issue-detail>.side>* {
	margin-bottom: 20px;
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
}
#issue-detail>.side>div:first-child {
	border-top: none;
	padding-top: 0;
}

#issue-detail>.side .fields td {
	padding-bottom: 10px;
	vertical-align: middle;
}
#issue-detail>.side .fields tr:last-child td {
	padding-bottom: 0;
}
#issue-detail>.side .fields .name {
	font-weight: bold;
	line-height: 20px;
	white-space: nowrap;
	padding-right: 20px;
}
#issue-detail>.side .fields .values .value>div {
	display: table-cell;
	border-radius: 3px;
	padding: 3px 6px;
}
#issue-detail>.side .fields>a {
	margin-top: 12px;
}
