<wicket:panel>
    <div class="audit-list no-autofocus">
        <div class="head align-items-center d-none d-lg-flex">
            <div class="clearable-wrapper date-range mr-2">
            <input wicket:id="dateRange" t:placeholder="Filter date range" class="form-control form-control-sm">
            </div>
            <input wicket:id="users" type="hidden" t:placeholder="Filter users" class="form-control form-control-sm users mr-2">
            <div class="clearable-wrapper action mr-2">
            <input wicket:id="action" t:placeholder="Filter actions" class="form-control form-control-sm">
            </div>
        </div>
        <ul class="body list-unstyled mb-0">
            <li wicket:id="audits" class="audit"></li>
            <li wicket:id="more" class="mt-3"><a wicket:id="link" class="btn btn-primary btn-sm"><wicket:t>More</wicket:t></a></li>
        </ul>
        <div wicket:id="noAudits" class="alert alert-light mt-4"><wicket:t>No audits</wicket:t></div>
    </div>
    <wicket:fragment wicket:id="dateFrag">
        <h6 class="mt-4 mb-3 d-flex align-items-center font-weight-bold font-size-lg">
            <wicket:svg href="calendar" class="icon mr-2"/> <span wicket:id="date"></span>
        </h6>
    </wicket:fragment>
    <wicket:fragment wicket:id="auditFrag">
        <div class="ml-4 mt-2">
            <span wicket:id="time" class="text-monospace mr-2"></span>
            <a wicket:id="user"></a> 
            <span wicket:id="action"></span>
            <a wicket:id="diff" title="Show change detail"><wicket:svg href="diff2" class="icon"/></a>
        </div>
    </wicket:fragment>
    <wicket:fragment wicket:id="diffFrag">
        <div wicket:id="content" class="p-3 audit-change-detail"></div>
    </wicket:fragment>
</wicket:panel>