<wicket:panel>
	<div class="project-selector">
		<wicket:enclosure child="search">
		<div class="search">
			<input wicket:id="search" class="form-control" placeholder="Search projects...">
		</div>
		</wicket:enclosure>
		<ul wicket:id="projects" class="list-unstyled projects autosize">
			<li wicket:id="projects" class="project selectable">
				<a wicket:id="link">
					<img wicket:id="avatar"> <span wicket:id="name"></span>
				</a>
			</li>
		</ul>
		<div wicket:id="noProjects" class="no-projects">No Projects Found</div>
	</div>
</wicket:panel>