<wicket:panel>
	<span class="actions d-inline-flex align-items-center">
		<a wicket:id="reopen" t:data-tippy-content="Reopen this iteration"><wicket:t>Reopen</wicket:t></a>
		<a wicket:id="close" t:data-tippy-content="Close this iteration"><wicket:t>Close</wicket:t></a>
		<span class="dot mx-2"></span>
		<a wicket:id="edit" t:data-tippy-content="Edit this iteration"><wicket:t>Edit</wicket:t></a>
		<span class="dot mx-2"></span>
		<a wicket:id="delete" t:data-tippy-content="Delete this iteration"><wicket:t>Delete</wicket:t></a>
	</span>
</wicket:panel>