.project-info {
	padding: 12px;
	width: 360px;
}
.project-info>div {
	margin-bottom: 12px;
}
.project-info>div:last-child {
	margin-bottom: 0; 
}
.project-info>.name {
	font-weight: bold;
	font-size: 16px;
}
.project-info>.forks>.forks {
	margin-right: 8px;
}
.project-info>.description {
	border: 1px dashed #BBB;
	padding: 20px 20px 10px 20px;
	border-radius: 4px;
	background: #F5F5F5;
}
