<wicket:panel>
	<div class="rev-signature-detail p-4">
		<div wicket:id="message"></div>
		<wicket:enclosure child="keyId">
			<div class="d-flex justify-content-between flex-nowrap mt-3">
				<div class="mr-4">
					<div class="font-weight-bolder mb-2 text-nowrap">Signing Key ID</div>
					<div wicket:id="keyId" class="text-nowrap"></div>			
				</div>
				<div>
					<div class="font-weight-bolder mb-2 text-nowrap">Signer Email Addresses</div>
					<div wicket:id="emailAddresses" class="text-nowrap"></div>			
				</div>
			</div>
		</wicket:enclosure>
	</div>
</wicket:panel>