#project-code-comments {
	display: table;
	width: 100%;
}
#project-code-comments>div {
	display: table-cell;
}
#project-code-comments>.side {
	width: 240px;
	border: 1px solid #E0E0E0;
	padding: 20px; 
	border-radius: 4px;
}
#project-code-comments>.main {
	padding-left: 20px;
	vertical-align: top;
}
