#project-tags {
	padding: 20px;
}

#project-tags .tag {
	border-top: 1px solid #DDD;
	margin: 16px 0;
}

#project-tags .tag>.title>a.name {
	color: #444;
	font-weight: bold;
	font-size: 16px;
}
#project-tags .annotated {
	color: #999;
	font-size: 12px;
	margin-left: 8px;
}
#project-tags .annotated a {
	color: #666;
}
#project-tags .annotated .ellipsis-expander {
	margin-left: 4px;
}
#project-tags .annotated .message {
	display: none;
	border: none;
	font-size: 12px;
	background: none;
}

#project-tags .tag>div {
	margin: 8px 0;
}

#project-tags .tag>.commit-message>a {
	color: #666;
}
#project-tags .tag>.actions>a {
	color: #444;
}