html, body {
	background: #f0f2f4; 
}
#main>.head {
	background: #303845;
	padding: 8px 0;
}
#main>.head>.logo .fa {
	font-size: 28px;
	color: #69B7F7; 
}

#main>.head>.nav ul {
	margin-bottom: 0;
}
#main>.head>.nav li {
	float: left;
}
#main>.head>.nav a {
	display: block; 
	text-decoration: none; 
	color: #999; 
	margin-right: 20px;
	font-size: 17px;
	border-top: 2px solid #303845;
}
#main>.head>.nav li.active a {
	color: #EEE;
	border-top-color: #69B7F7;
}

#main>.head>.status {
	text-align: right;
	font-size: 18px;
}
#main>.head>.status a, #main>.head>.status span {
	color: #EEE; 
	margin-right: 8px;
}
#main>.head>.status .avatar {
	width: 32px;
	height: 32px;
	box-shadow: -1px 0px 3px 0px #333, 
				1px 0px 3px 0px #333, 
				0px -1px 3px 0px #333, 
				0px 1px 3px 0px #333;
}
#main>.head>.status a.previous .avatar {
	margin-right: -24px;
}
#main>.head>.status a.previous:hover .avatar {
	margin-right: -12px;
}
#runas-tooltip {
	padding: 4px 8px;
}

#main>.head>.status .user-link span {
	font-size: 16px;
}
#main>.head>.status a.sign-out .fa {
	font-size: 20px;
	vertical-align: middle;
}

#main>.body {
	background: white;
	border-bottom: 1px solid #BBB;
	margin: 0 -15px;
	padding: 20px;
}

.sidebar {
	margin: -20px;
}
.sidebar>table {
	width: 100%;
}
.sidebar>table>tbody>tr>td {
	vertical-align: top;
}
.sidebar>table>tbody>tr>td.nav {
	padding: 20px 0;
	width: 200px;
	border-right: 1px solid #BBB;
	background: #FBFBFB;
}
.sidebar>table>tbody>tr>td.nav>.tabs {
	margin-bottom: 0;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	border-left: 4px solid #FBFBFB;
	color: #666;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .fa {
	font-size: 16px;
	margin-right: 4px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li:hover>a {
	color: #303845;
	background: #EEE;
	border-left-color: #EEE;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li.active>a {
	color: #303845;
	background: #DDD;
	border-left-color: #69B7F7;
	font-weight: bold;
}
.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
.sidebar>table>tbody>tr>td.mini.nav {
	width: 50px;
}
.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.text {
	display: none;
}
#main>.foot {
	font-size: 11px;
	margin: 0 -15px;
	padding: 8px; 
}

section>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
