html, body {
	background: #f0f2f4; 
}
#main>.head {
	background: #303845;
	padding: 8px 16px;
}
#main>.head>div {
	margin-right: 16px;
}
#main>.head a {
	text-decoration: none;
	color: #EEE;
}
#main>.head>.logo .fa {
	font-size: 28px;
	color: #69B7F7; 
}
#main>.head>.context {
	color: #EEE;
	font-size: 20px;
	margin-left: 40px;
}
#main>.head>.administration a {
	font-size: 30px;
	line-height: 20px;
}
#main>.head>.account {
	margin-right: 0;
}
#main>.head>.account>.logged-in>.notifications {
	color: #69B7F7;
}
#main>.head>.account>.logged-in>a, #main>.head>.account>.logged-in>span {
	margin-right: 8px;
	font-size: 20px;
}
#main>.head>.account>.logged-in>.menu {
	margin-right: 8px;
}
#main>.head>.account>.logged-out a {
	font-size: 16px;
}
#main>.head>.account .avatar {
	width: 32px;
	height: 32px;
	box-shadow: -1px 0px 3px 0px #333, 
				1px 0px 3px 0px #333, 
				0px -1px 3px 0px #333, 
				0px 1px 3px 0px #333;
}
#main>.head>.account a.previous .avatar {
	margin-right: -24px;
}
#main>.head>.account a.previous:hover .avatar {
	margin-right: -12px;
}
#runas-tooltip {
	padding: 4px 8px;
}

#main>.body {
	background: white;
	border-bottom: 1px solid #BBB;
}

.sidebar>table>tbody>tr>td.nav {
	padding: 20px 0;
	width: 1px;
	border-right: 1px solid #BBB;
}
.sidebar>table>tbody>tr>td.nav>.tabs {
	margin-bottom: 0;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	color: #666;
	display: block;
	text-decoration: none;
	padding: 8px;
	height: 36px;
	white-space: nowrap;
	border-left: 4px solid white;
	width: 180px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .fa {
	font-size: 16px;
	margin-right: 4px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li:hover>a {
	color: #303845;
	background: #EEE;
	border-left-color: #EEE;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li.active>a {
	color: #303845;
	background: #DDD;
	border-left-color: #69B7F7;
	font-weight: bold;
}
#main>.foot {
	font-size: 11px;
	margin: 0 -15px;
	padding: 8px; 
}
section>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
