<wicket:extend>
	<div id="main">
		<div wicket:id="mainHead" class="head clearfix">
			<div class="logo pull-left">
				<a wicket:id="home"><i class="fa fa-ext fa-gitplex-logo"></i></a>
			</div>
			<div wicket:id="pageInfo" class="page-info pull-left"></div>
			<div class="account pull-right">
			  	<wicket:enclosure child="login">
			  		<div class="logged-out">
				  		<a wicket:id="login">Log in</a>
				  		<span class="separator">|</span>
				  		<a wicket:id="register">Sign up</a>
			  		</div>
				</wicket:enclosure>
				<wicket:enclosure child="user">
					<div class="logged-in">
				  		<a wicket:id="notification" class="notifications" title="You've got tasks"><i class="fa fa-circle"></i></a>
				  		<a wicket:id="prevUser" class="previous">
				  			<img wicket:id="avatar" class="avatar"/>
				  		</a>
				  		<div wicket:id="tooltip" id="runas-tooltip"></div>
				  		<span wicket:id="user" class="current"></span>
				  		<a wicket:id="userMenuTrigger" class="menu"><i class="fa fa-angle-down"></i></a>
				  		<div wicket:id="userMenu"></div>
					</div>
			  	</wicket:enclosure>
			</div>
			<div class="administration pull-right">
				<a wicket:id="administration" title="Administration"><i class="fa fa-bars"></i></a>
			</div>
		</div>
		<div class="body">
			<wicket:child></wicket:child>
		</div>
		<div class="foot clearfix">
			<div class="pull-left">
				<a href="http://www.pmease.com">PMEase GitPlex</a>, 1.0.0, 2013-03-05, Commercial License for Site 'PMEase Inc.'
			</div>
			<div class="pull-right">
			    <a href="http://www.pmease.com/support">Support</a> | <a href="http://track.pmease.com">Report Bug or Enhancement</a> 
			</div>
		</div>
	</div>
</wicket:extend>