<html xmlns:wicket>
<wicket:extend>
	<div id="top"></div>
	<header id="global-header">
		<wicket:container wicket:id="header"></wicket:container>
	</header>
	<wicket:enclosure child="gitError">
		<div class="alert alert-danger git-error text-center">
			<span wicket:id="gitError"></span>
			<a wicket:id="checkGit" title="Check again"><i class="icon icon-refresh"></i></a>
			<a wicket:id="configureGit" title="Configure git"><i class="icon icon-tools"></i></a>
		</div>
	</wicket:enclosure>
	
	<div id="main">
		<wicket:child></wicket:child>
	</div>
	
	<footer id="global-footer">
		<p class="pull-left">
			<a href="http://www.pmease.com">PMEase Gitop</a>, <span>1.0.0</span>, 
			<span>2013-03-05</span>,
			<span class="license-info">Commercial License for Site 'PMEase Inc.'</span> 
		</p>
		<ul class="pull-right piped">
			<li><a href="http://www.pmease.com/support" target="_blank" class="first">Support</a></li>
			<li><a target="_blank" href="http://track.pmease.com">Report Bug or Enhancement</a></li>
		</ul>
	</footer>
</wicket:extend>
</html>
