html, body {
	background: #F7F6F2;
}
#main>.head {
	background: #010203;
	padding: 8px 16px;
}
#main>.head>div {
	margin-right: 20px;
}
#main>.head a {
	text-decoration: none;
	color: #CCC;
}
#main>.head>.logo .fa {
	font-size: 28px;
	color: #EEE;
}
#main>.head>.context {
	color: #CCC;
	font-size: 20px;
}
#main>.head>.context a {
	color: #EEE;
}
#main>.head>.search {
	padding-top: 2px;
	position: relative;
}
#main>.head>.search input {
	background: #333;
	border: 1px solid #333;
	box-shadow: none;
	transition: none;
	color: #CCC;
}
#main>.head>.search input:FOCUS {
	background: #DDD;
	border-color: #DDD;
	color: #333;
}
#main>.head>.actions {
	padding-top: 7px;
}
#main>.head>.actions>a {
	margin-right: 20px;
}
#main>.head>.actions a .fa {
	font-size: 18px;
}
#main>.head>.account {
	margin-right: 0;
}
#main>.head>.account>.logged-in>.notifications {
	color: #69B7F7;
}
#main>.head>.account>.logged-in>a, #main>.head>.account>.logged-in>span {
	margin-right: 8px;
	font-size: 20px;
}
#main>.head>.account>.logged-in>.menu {
	margin-right: 8px;
}
#main>.head>.account>.logged-out {
	padding-top: 4px;
}
#main>.head>.account>.logged-out a {
	font-size: 16px;
}
#main>.head>.account .avatar {
	width: 32px;
	height: 32px;
}

#main>.body {
	border-bottom: 1px solid #BBB;
	background: white;
}

.sidebar>table>tbody>tr>td.nav {
	padding: 20px 0;
	width: 1px;
	border-right: 1px solid #DDD;
}
.sidebar>table>tbody>tr>td.nav>.tabs {
	margin-bottom: 0;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	color: #666;
	display: block;
	text-decoration: none;
	padding: 12px;
	padding-right: 8px;
	white-space: nowrap;
	border-right: 4px solid white;
	width: 180px;
	font-family: monospace;
	clear: both;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .fa {
	font-size: 16px;
	margin-right: 4px;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li:hover>a {
	color: #010203;
	border-right-color: #777;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li.active>a {
	color: #010203;
	border-right-color: #010203;
	font-weight: bold;
}
.sidebar>table>tbody>tr>td.nav>.tabs>li>a .badge {
	float: right;
	margin-right: 4px;
	color: #888;
	background: #EEE;
}
#main>.foot {
	font-size: 11px;
	padding: 8px; 
}
section>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
