.problem-popover.popover {
	max-width: 360px;
}
@media(min-width: 600px) {
	.problem-popover.popover {
		max-width: 400px;
	}
}
@media(min-width: 900px) {
	.problem-popover.popover {
		max-width: 600px;
	}
}
@media(min-width: 1200px) {
	.problem-popover.popover {
		max-width: 900px;
	}
}
.problem-popover .problem-content+.problem-content {
	margin-top: 0.75rem;
	border-top: 1px solid var(--light);
	padding-top: 0.75rem;
}
.problem-popover .problem-content>.badge {
	width: 64px;
}
.dark-mode .problem-popover .problem-content+.problem-content {
	border-top-color: var(--dark-mode-light-dark);
}
