#project-contribs .options {
	margin-bottom: 20px;
	padding-bottom: 8px;
	border-bottom: 1px solid #EEE;
}
#project-contribs .note {
	margin-bottom: 20px;
	color: #666;
	font-size: 16px;
}
#project-contribs .options>.date-range {
	font-size: 20px;
}
#project-contribs .options select {
	width: 120px;
}
#project-contribs .overall {
	height: 360px;
	background: #F9F9F9;
	margin-bottom: 20px;
	border: 1px solid #EEE;
}
#project-contribs .overall .no-data {
	text-align: center;
	font-size: 36px;
	font-style: italic;
}
#project-contribs .top-contributors .loading {
	text-align: center;
}
#project-contribs .top-contributors .head .pull-left {
	padding-left: 48px;
	position: relative;
}
#project-contribs .top-contributors .head .pull-left .avatar {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
}
#project-contribs .top-contributors .row>div {
	padding: 0;
}
#project-contribs .top-contributors .row>div>.content {
	border: 1px solid #DDD;
}
#project-contribs .top-contributors .head {
	padding: 12px;
}

#project-contribs .top-contributors .head .name {
	margin-left: 0 !important;
}
#project-contribs .top-contributors .head .total-contribution span {
	margin-right: 12px;
	font-size: 12px;
}
#project-contribs .top-contributors .head .total-contribution span.additions {
	color: green;
}
#project-contribs .top-contributors .head .total-contribution span.deletions {
	color: red;
}
#project-contribs .top-contributors .head .pull-right {
	font-size: 20px;
}
#project-contribs .top-contributors .body {
	background: #F9F9F9;
	height: 300px;
}
