.commit-message>a {
	color: #444;
}
.commit-message>.detail {
	display: none; 
	margin-top: 8px; 
	color: #666; 
	font-size: 12px;
}
.commit-message>.toggle {
	display: inline-block;
	background: #DDD; 
	padding: 0px 6px;
	border-radius: 2px; 
	color: #777;
}
.commit-message>.toggle:hover {
	background: #888;
}
.commit-message>.toggle:hover .fa {
	color: white;
}
