#request-detail>.overview>tbody>tr>td.activities {
	width: 75%; 
	padding-right: 16px;
}
#request-detail .activities>table {
	margin-bottom: 20px; 
	border-bottom: 1px solid #E5E5E5;
	table-layout: fixed;
}
#request-detail .activities>table>tbody>tr.discussion>td {
	border-top: 1px solid #E5E5E5; 
	padding: 12px 0;
}
#request-detail .activities>table>tbody>tr.discussion>td.avatar {
	width: 40px; 
}
#request-detail .activities>table>tbody>tr.discussion>td.detail {
	padding-left: 12px;
}
#request-detail .activities>table>tbody>tr.activity>td.avatar {
	border-right: 1px dashed #DDD;
}
#request-detail .activities>table>tbody>tr.activity.discussion>td.avatar {
	border-right: none;
}
#request-detail .activities>table>tbody>tr.discussion+.non-discussion>td {
	border-top: 1px solid #E5E5E5;
}
#request-detail .activities>table>tbody>tr.discussion>.avatar img {
	width: 40px; 
	height: 40px;
}
#request-detail .activities>table>tbody>tr.non-discussion>td.detail {
	font-size: 13px;
	padding: 8px 0;
}
#request-detail .activities>table>tbody>tr.discussion+.non-discussion>td.detail {
	padding-top: 16px;
}
#request-detail .activities>table>tbody>tr.non-discussion .activity-summary {
	margin-left: -14px;
}
#request-detail .activities>table>tbody>tr.non-discussion .activity-summary .icon {
	border-radius: 13px;
	background: #5CA7F8;
	width: 26px;
	height: 26px;
	color: white;
	padding: 6px;
	margin-right: 4px;
}
#request-detail .activities>table>tbody>tr.non-discussion>td.avatar img {
	display: none;
}
#request-detail .activities>table>tbody>tr.non-discussion .activity-summary .user a {
	font-weight: normal;
}
#request-detail .activities .activity>.detail>.update .update-no {
	color: #555;
}
#request-detail .activities .activity>.detail>.update>.body {
	color: #777; 
	margin-left: -7px;
}
#request-detail .activities .activity>.detail>.update>.body>.alert {
	margin: 0 0 12px 28px;
}
#request-detail .activities .activity>.detail>.update>.body a {
	color: #555;
}
#request-detail .activities .activity>.detail>.update>.body td {
	padding: 4px 0;
}
#request-detail .activities .activity>.detail>.update>.body td.detail {
	padding-left: 14px;
	padding-right: 8px;
}
#request-detail .activities .activity>.detail>.update>.body td.icon {
	width: 1px; 
	padding-top: 7px;
}
#request-detail .activities .activity>.detail>.update>.body td.status {
	text-align: right;
	white-space: nowrap;
}
#request-detail .activities .activity>.detail>.update>.body tr:hover td {
	background: #F5F5F5;
}
#request-detail .activities .activity>.detail>.update>.body tr.integrated td.icon .fa {
	color: #35A612;
}
#request-detail .activities .activity>.detail>.update>.body tr.rebased td a {
	color: #AAA;
}
#request-detail .activities .activity>.detail>.update>.body tr.rebased td.icon .fa {
	color: #CCC;
}
#request-detail .activities .activity>.detail>.update>.body tr.rebased img.avatar {
	opacity: 0.5;
}
#request-detail .activities .activity>.detail>.update>.body td.status .successful {
	color: #35A612;
}
#request-detail .activities .activity>.detail>.update>.body td.status .failed {
	color: #F93333;
}
#request-detail .activities .activity>.detail>.update>.body td.status .running {
	color: #AFAD1F;
}
#request-detail .activities .activity-summary a.file {
	color: #666;
	font-weight: bold;
}
#request-detail .activities .activity.new>.avatar {
	background: #FCF6D6;
}

#request-detail .activities .activity>.detail>.discard>.icon {
	background: #F93333;
	padding-left: 8px;
}
#request-detail .activities .activity>.detail>.integrate>.icon {
	background: #35A612; 
}
#request-detail .activities .activity>.detail>.approve>.icon {
	background: #35A612; 
}
#request-detail .activities .activity>.detail>.disapprove>.icon {
	background: #F93333; 
}
#request-detail .activities .activity>.detail>.undo-review>.icon {
	padding-left: 8px;
	padding-top: 7px;
}
#request-detail .activities .activity>.detail>.reopen>.icon {
	padding-left: 7px;
}
#request-detail .activities .activity>.detail>.reference>.head>.icon {
	padding-left: 8px;
}
#request-detail .activities .activity>.detail>.reference>.body {
	margin-left: 20px;
	font-size: 15px;
}
#request-detail .activities .activity>.detail>.reference>.body a {
	color: #333;
}
#request-detail .activities .activity>.detail>.reference>.body a .id {
	color: #999;
}
#request-detail .activities .activity>.detail>.open .feedback .alert {
	margin-bottom: 8px;
}

#request-detail .info>div>div {
	border-bottom: 1px dotted #BBB; 
	margin-bottom: 16px; 
	padding-bottom: 16px; 
	color: #666;
}
#request-detail .info>div>div:last-child {
	border-bottom: none; 
	margin-bottom: 0; 
	padding-bottom: 0;
}
#request-detail .info .help-block {
	margin-bottom: 0; 
	color: #888;
}
#request-detail .info .fa.small {
	font-size: 14px; 
	vertical-align: middle;
}
#request-detail .info label {
	margin-right: 4px; 
	font-weight: normal;
}
#request-detail .info .select2-container {
	width: 100%;
}
#request-detail .info .avatar {
	width: 24px; 
	height: 24px;
}
#request-detail .info .select2-container .avatar {
	width: 20px; 
	height: 20px;
}
#request-detail .info .branch {
	font-weight: bold;
}
#request-detail .info .basic .submitter, #request-detail .info .basic .target {
	margin-bottom: 4px;
}
#request-detail .info .basic span, #request-detail .info .basic a {
	white-space: nowrap;
}

#request-detail .info .reviewers ul {
	margin-bottom: 0;
}
#request-detail .info .reviewers li {
	margin-right: 20px; 
	margin-bottom: 10px; 
	position: relative;
}
#request-detail .info .reviewers li a:hover {
	text-decoration: none;
}

#request-detail .info .reviewers .review-result {
	top: 12px;
}
