#repository>.head {
	padding: 8px 10px;
	border-bottom: 1px solid #BBB;
	font-size: 18px;
	color: #555;
}
#repository>.head>.nav .fa-repo {
	font-size: 24px;
	margin-right: 4px;
	vertical-align: middle;
}
#repository>.head>.clone {
	font-size: 14px;
}
#repository>.head>.clone>label {
	font-weight: normal;
}
#repository>.head>.clone>input {
	font-size: 12px;
	width: 200px;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	padding-left: 4px;
	padding-right: 4px;
	height: 22px;
}

#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle {
	display: block;
	margin-top: -20px;
	text-align: right;
	font-size: 20px;
	padding-right: 16px;
	border-bottom: 1px solid #BBB;
	text-decoration: none;
	color: #666;
	height: 31px;
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	color: #333;
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle>span:before {
	font-family: "FontAwesome";
	content: "\f100";
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav>.mini-toggle>span:before {
	content: "\f101";
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	background: #EEE;
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav {
	width: 40px;
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.text {
	display: none;
}
