#repository {
	margin: -20px;
}
#repository>.head {
	padding: 8px 16px;
	border-bottom: 1px solid #BBB;
	font-size: 18px;
	color: #555;
}
#repository>.head>.fa-repo {
	font-size: 24px;
	margin-right: 4px;
	vertical-align: middle;
}
#repository>.body {
	padding: 20px;
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle {
	display: block;
	margin-top: -20px;
	text-align: right;
	font-size: 20px;
	padding-right: 14px;
	border-bottom: 1px dashed #BBB;
	text-decoration: none;
	color: #666;
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	color: #333;
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle>span:before {
	font-family: "FontAwesome";
	content: "\f100";
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav>.mini-toggle>span:before {
	content: "\f101";
}
#repository>.body>.sidebar>table>tbody>tr>td.nav>.mini-toggle:hover {
	background: #EEE;
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav {
	width: 40px;
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a {
	padding: 10px 5px;
}
#repository>.body>.sidebar>table>tbody>tr>td.mini.nav>.tabs>li>a>.text {
	display: none;
}
