.script-support {
	border: 1px solid #E0E0E0;
	border-radius: 4px;
	padding: 1px;
}
.script-support.has-error {
	border-color: #a94442;
}
.script-support .CodeMirror {
	height: 500px;
}
.property.viewer .script-support .CodeMirror {
	height: auto;
}
.property.viewer .CodeMirror .CodeMirror-cursor {
	border-left: none;
}
