<wicket:extend>
    <div class="form-group">
        <label class="control-label">Status</label>
        <input wicket:id="status" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Submitted By</label>
        <input wicket:id="submittedBy" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Assigned To</label>
        <input wicket:id="assignedTo" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Label</label>
        <input wicket:id="label" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label">Active Since</label>
        <div class="clearable-wrapper">
            <input wicket:id="activeSince" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label">Not Active Since</label>
        <div class="clearable-wrapper">
            <input wicket:id="notActiveSince" type="text" class="form-control">
        </div>
    </div>    
</wicket:extend>