.pull-request-list>.head {
	position: relative;
}
.pull-request-list>.head>* {
	margin-bottom: 20px;
}
.pull-request-list>.head>form.can-create-pull-requests {
	margin-right: 170px;
}
.pull-request-list>.head>.open-new {
	position: absolute;
	width: 160px;
	right: 0;
	top: 0;
}
.pull-request-list>.head>.others:empty {
	margin-bottom: 0;
}
.pull-request-list>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
.pull-request-list>.head>.others>*:last-child {
	margin-right: 0;
}
.pull-request-list>.body .new-indicator {
	width: 4px;
	padding: 0;
}
.pull-request-list>.body td a {
	color: #444;
}
.pull-request-list>.body tr.request.new td.new-indicator {
	background: #4667EE;
}

.pull-request-list>.body td.summary .first-line {
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 16px;
}
.pull-request-list>.body td.summary .first-line>.title {
    margin-right: 8px;
    color: #444;
}
.pull-request-list>.body td.summary .second-line>* {
	margin-right: 12px;
}
.pull-request-list>.body td.summary .second-line>*:last-child {
	margin-right: 0;
}
.pull-request-list>.body td.summary .second-line>.status {
	width: 75px;
	padding: 6px 8px;
}
.pull-request-list>.body td.summary .second-line {
	color: #888;
}

@media(max-width: 991px) {
	.pull-request-list thead, .pull-request-list td.expanded {
		display: none;		
	}
}
