<wicket:panel>
	<div class="pull-request-list">
		<div class="head">
			<form wicket:id="query" class="clearable-wrapper">
				<div class="input-group">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order pull requests here">
					<span class="input-group-btn">
						<button wicket:id="submit" type="submit" class="btn btn-default" title="Query"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<a wicket:id="newRequest" class="open-new btn btn-success"><i class="fa fa-plus"></i> New</a>
			<div class="operations">
				<a wicket:id="showSavedQueries" class="show-saved-queries"><i class="fa fa-eye"></i> Show Saved Queries</a>
				<a wicket:id="saveQuery" class="save-query"><i class="fa fa-save"></i> Save Query</a>
			</div>
		</div>
		<div wicket:id="body" class="body">
			<div wicket:id="feedback"></div>
			<table wicket:id="requests" class="table"></table>
		</div>
	</div>
	<wicket:fragment wicket:id="contentFrag">
		<div class="primary clearfix">
			<div class="pull-left">
				<span wicket:id="number" class="number"></span> 
				<span wicket:id="title" class="title"></span> 
			</div>
			<div class="pull-right comments" title="Comments">
				<span class="fa fa-comments-o"></span> <span wicket:id="comments"></span>
			</div>
		</div>
		<div class="secondary clearfix">
			<div class="pull-left clearfix">
				<div class="status pull-left"><span wicket:id="status"></span></div>
				<div class="branches pull-left">
					<a wicket:id="target" title="Target"></a>
					<span class="fa fa-arrow-left"></span>
					<a wicket:id="source" title="Source"></a>
				</div>
			</div>
			<div class="last-update pull-right">
				<a wicket:id="user"></a> <span wicket:id="activity"></span> <span wicket:id="date"></span>
			</div>
		</div>
	</wicket:fragment>
</wicket:panel>