.verification-status {
	text-decoration: none !important;
}
.verification-status span.successful {
	color: #5CB85C;
}
.verification-status span.failed {
	color: #D9534F;
}
.verification-status span.running {
	color: #F0AD4E;
}

table.verifications td {
	white-space: nowrap; 
	color: #444;
}
table.verifications {
	margin-bottom: 1px;
}
table.verifications .fa {
	display: none;
}
table.verifications tr.successful .fa-check {
	display: inline; 
	color: #5CB85C;
}
table.verifications tr.failed .fa-times {
	display: inline; 
	color: #D9534F;
}
table.verifications tr.running .fa-cog {
	display: inline; 
	color: #F0AD4E;
}
