@media(min-width: 360px) {
    #new-pull-request>.page-content>ul.nav-tabs>li.collapsed {
        display: none;
    }
    #new-pull-request>ul.nav-tabs>li.expanded {
        display: block;
    }
}
body.NewPullRequestPage #layout>.body {
	padding: 50px 0 0 0;
}
#new-pull-request {
	position: relative;
	overflow: auto;
	padding: 20px;
}
#new-pull-request>.page-content>* {
	margin-bottom: 20px;
}
#new-pull-request>.page-content>.status .summary {
	font-size: 16px; 
	padding: 0; 
	margin-bottom: 8px;
}

#new-pull-request>.page-content>.status>.can-send form>table>tbody>tr>td {
	padding: 16px 0; 
	border-top: 1px dashed #BBB; 
	border-bottom: 1px dashed #BBB;
}
#new-pull-request>.page-content>.status>.can-send form>table>tbody>tr>td.name {
	width: 200px; 
	font-size: 18px; 
	padding-right: 8px;
}
#new-pull-request>.page-content>.status>.can-send form>table>tbody>tr>td.value {
	padding-left: 8px;
}
#new-pull-request>.page-content>.status>.can-send form>table {
	margin-bottom: 16px;
}
#new-pull-request>.page-content>.status>.can-send form>table>tbody>tr>td.name .required:BEFORE {
	content: "*"; 
	color: red;
}
#new-pull-request>.page-content table.reviewers {
	width: auto;
}
#new-pull-request>.page-content>.status>.can-send form .alert-danger {
	margin-bottom: 0; 
	margin-top: 16px;
}
#new-pull-request>.page-content>.status>.can-send form .help-block {
	margin-bottom: 0;
}
#new-pull-request>.page-content>.status>.can-send form select {
	width: auto;
}
#new-pull-request>.page-content>.status>.can-send table.reviews td.result {
	display: none;
}
#new-pull-request>.page-content>.nav-tabs {
	margin-bottom: 20px;
}
#new-pull-request>.page-content>.tab-panel>.diff-option {
	padding: 8px;
	background: #F2F2F2;
	border: 1px solid #DDD;
	z-index: 200;
	margin-bottom: 16px;
}
#new-pull-request>.page-content>.status>.can-send .merge-strategy .status {
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
}
#new-pull-request>.page-content>.status>.can-send .merge-strategy .status .no-conflict {
	color: #399529;
} 
#new-pull-request>.page-content>.status>.can-send .merge-strategy .status .conflict {
	color: #DD4B4B;
} 
#new-pull-request>.page-content>.status>.can-send .merge-strategy .status .calculating {
	color: #BC7E12;
}
#new-pull-request>.page-content>.status>.can-send .merge-strategy .status .calculating img {
	width: 24px;
	height: 24px;
}
#new-pull-request>.page-content>.status>.can-send .merge-strategy .merge-without-review {
	margin-top: 20px;
	margin-bottom: 0;
}
