/* 
 * have to use relative here as otherwise the last table row will have problem
 * focusing on expander link. This relates to negative margin top 
 * specified for change class in revision diff panel
 */
.blob-text-diff>.text-diff>tbody>tr>td {
	position: relative;
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.coverage {
	display: block;
	position: absolute;
	width: 4px;
	right: 0;
	top: 0;
	bottom: 0;
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.covered {
	background: var(--success);	
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.not_covered {
	background: var(--danger);	
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.partially_covered {
	background: var(--warning);	
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.covered:hover {
	background: #12827c;	
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.not_covered:hover {
	background: #BF3C4A;	
}
.blob-text-diff>.text-diff>tbody>tr>td.number>.partially_covered:hover {
	background: #b37600;	
}

/* Additional skipped border for blob diffs */
.blob-text-diff>.text-diff>tbody>tr.expander>td.skipped {
	border-left: 1px solid var(--light-gray);
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr.expander>td.skipped {
	border-left-color: var(--dark-mode-lighter-dark);
}

.blob-text-diff>.text-diff>tbody>tr>td:last-child {
	border-right: 1px solid var(--light-gray) !important;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td:last-child {
	border-right-color: var(--dark-mode-lighter-dark) !important;
}
.blob-text-diff>.text-diff>tbody>tr:last-child>td:first-child {
	border-radius: 0 0 0 0.42rem;
}
.blob-text-diff>.text-diff>tbody>tr:last-child>td:last-child {
	border-radius: 0 0 0.42rem 0;
}
.blob-text-diff>.text-diff>tbody>tr>td.operation {
	padding-top: 0.1rem;
	border-left: 1px solid var(--light-gray);
}

.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.operation {
	border-left-color: var(--dark-mode-lighter-dark);
}
.blob-text-diff>.text-diff>tbody>tr>td:first-child {
	border-left: 1px solid var(--light-gray) !important;	
}
.blob-text-diff>.text-diff>tbody>tr>td.old.number {
	border-left: 1px solid #f1c0c0 !important;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.old.number {
	border-left-color: rgb(97, 48, 63) !important;
}
.blob-text-diff>.text-diff>tbody>tr>td.new.number {
	border-left: 1px solid #c1e9c1 !important;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.new.number {
	border-left-color: rgb(38, 76, 50) !important;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td:first-child {
	border-left-color: var(--dark-mode-lighter-dark);
}
.blob-text-diff>.text-diff>tbody>tr:last-child>td {
	border-bottom: 1px solid var(--light-gray);
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr:last-child>td {
	border-bottom-color: var(--dark-mode-lighter-dark);
}
.blob-text-diff>.text-diff>tbody>tr>td.old.operation {
	border-left: 1px solid #f1c0c0;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.old.operation {
	border-left-color: rgb(97, 48, 63);
}
.blob-text-diff>.text-diff>tbody>tr>td.new.operation {
	border-left: 1px solid #c1e9c1;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.new.operation {
	border-left-color: rgb(38, 76, 50);
}
.blob-text-diff>.text-diff>tbody>tr>td.old.new.operation {
	border-left: 1px solid #EBD049;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.old.new.operation {
	border-left-color: rgb(103, 68, 0);
}

/* Special styling for modified lines (old+new) */
.blob-text-diff>.text-diff>tbody>tr>td.old.new.number {
	background: #FAF3D0;
	border-left: 1px solid #EBD049;
}
.dark-mode .blob-text-diff>.text-diff>tbody>tr>td.old.new.number {
	background: rgb(66, 44, 0);
	border-left-color: rgb(103, 68, 0);
}
.blob-text-diff>.text-diff td.content.active, .dark-mode .blob-text-diff>.text-diff td.content.active {
	border: 1px dotted var(--primary) !important;
}
.blob-text-diff>.text-diff>tbody>tr>td.content>span.content-mark {
	background: #8950FC;
	color: white !important;
}

.blob-text-diff>.text-diff>tbody>tr>td.number>.comment-indicator,
.blob-text-diff>.text-diff>tbody>tr>td.number>.problem-trigger, 
.blob-text-diff>.text-diff>tbody>tr>td.number>.confusable {
	margin-right: 0.3rem;
}

.blob-text-diff>.text-diff>tbody>tr>td.blame {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 0 0.3rem;
	border-left: 1px solid var(--secondary);
}
.blob-text-diff>.text-diff>tbody>tr>td.blame.abbr {
	text-overflow: inherit;
}
.blob-text-diff>.text-diff>tbody>tr>td.blame .hash, .blob-text-diff>.text-diff>tbody>tr>td.blame .date {
	margin-right: 0.6rem;
}
.blob-text-diff>.text-diff>tbody>tr>td.blame.abbr .hash {
	margin-right: 0;
}
.blob-text-diff>.text-diff>tbody>tr>td.blame .same-as-above {
	margin-left: 90px;
	margin-top: -0.6rem;
	color: var(--gray);
	font-size: 1.2rem;
}
.blob-text-diff>.text-diff>tbody>tr>td.blame.abbr .same-as-above {
	margin-left: 1rem;
}
.blob-text-diff>.text-diff {
	table-layout: fixed;
}
