<wicket:panel>
	<div class="account-selector">
		<div class="head">Joined Organizations</div>
		<div class="body">
			<div class="search">
				<input wicket:id="search" class="form-control input-sm" placeholder="Search..."></input>
			</div>
			<ul wicket:id="accounts" class="accounts list-unstyled autosize">
				<li wicket:id="accounts" class="account selectable">
					<a wicket:id="link">
						<img wicket:id="avatar" class="avatar"></img>
						<span wicket:id="name" class="name"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</wicket:panel>