.account-selector>.head {
	background: #EEE;
	padding: 8px;
	font-size: 16px;
}
.account-selector>.body {
	padding: 20px;
}
.account-selector ul.accounts {
	margin: 12px 0 0 0;
}
.account-selector a.current:before {
	font-family: "FontAwesome"; 
	content: "\f00c"; 
	margin-right: 4px;	
	position: absolute;
	left: 4px;
}