.organization-selector {
	padding: 10px;
}
.organization-selector ul, .organization-selector .alert {
	margin: 12px 0 0 0;
}
.organization-selector ul a {
	padding: 5px 20px;
	display: block;
	color: #333;
	text-decoration: none;
}
.organization-selector ul a.current>span:before {
	font-family: "FontAwesome"; 
	content: "\f00c"; 
	margin-right: 4px;	
	position: absolute;
	left: 12px;
}
.organization-selector ul a:hover {
	background-color: #E0F0FC;
	border-color: #BBDFF9;
}
