<wicket:extend>
    <div class="form-group">
        <label class="control-label"><wicket:t>Root Projects</wicket:t></label>
        <span class="switch switch-sm switch-primary">
            <label>
                <input wicket:id="roots" type="checkbox">
            </label>
        </span>
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Leaf Projects</wicket:t></label>
        <span class="switch switch-sm switch-primary">
            <label>
                <input wicket:id="leafs" type="checkbox">
            </label>
        </span>
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Child Projects Of</wicket:t></label>
        <input wicket:id="children" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Forks Of</wicket:t></label>
        <input wicket:id="forks" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Ownered By</wicket:t></label>
        <input wicket:id="ownedBy" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Label</wicket:t></label>
        <input wicket:id="label" type="hidden" class="form-control">
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Active Since</wicket:t></label>
        <div class="clearable-wrapper">
            <input wicket:id="activeSince" type="text" class="form-control">
        </div>
    </div>    
    <div class="form-group">
        <label class="control-label"><wicket:t>Not Active Since</wicket:t></label>
        <div class="clearable-wrapper">
            <input wicket:id="notActiveSince" type="text" class="form-control">
        </div>
    </div>    
</wicket:extend>