@media(max-width: 767px) {
	.project-list .expanded {
		display: none;
	}
}
.project-list>.head {
	position: relative;
}
.project-list>.head>* {
	margin-bottom: 20px;
}
.project-list>.head>form.can-create-projects {
	margin-right: 130px;
}
.project-list>.head>.add-new {
	width: 120px;
	position: absolute;
	right: 0;
	top: 0;
}

.project-list>.head>.others:empty {
	margin-bottom: 0;
}
.project-list>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
.project-list>.head>.others>*:last-child {
	margin-right: 0;
}