.ci-spec {
    padding: 20px;
}
.ci-spec>.invalid>.title {
    font-size: 20px;
    color: red;
    margin-bottom: 20px;
}
.ci-spec>.invalid>.error-message {
	white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 13px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.ci-spec>.empty {
    font-size: 20px;
}

.ci-spec>.valid>div {
    border-radius: 4px;
}
.ci-spec>.valid>div>.head {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.ci-spec>.valid>div>.body>div {
    margin-bottom: 20px;
    border-radius: 4px;
    border: 2px solid #BBB;
    padding: 20px;
}
.ci-spec>.valid .bean-properties>table>tbody>tr>td.name {
    width: 200px;
}
.ci-spec>.valid .bean-properties>table>tbody>tr>td.value .form-control {
    height: 32px;
    font-size: 13px;
}
.ci-spec>.valid .def-list table>tbody>tr>td:first-child>div>a {
    margin-left: 0;
}
.floating.job-param>.content>.body>.bean-viewer>.bean-properties>table>tbody>tr>td.name {
	min-width: 150px;
} 
