.issue-operations>div {
	margin-bottom: 20px;
}
.issue-operations>.state-and-actions {
	margin-bottom: 12px;
	padding-right: 30px;
	position: relative;
}
.issue-operations>.state-and-actions>.issue-state {
	font-size: 16px;
	padding: 7px 24px;
	margin-right: 32px;
}
.issue-operations>.state-and-actions>* {
	margin-right: 10px;
	margin-bottom: 8px;
}
.issue-operations>.state-and-actions>.more-info {
	position: absolute;
	right: 0;
	top: -3px;
	font-size: 24px;
	margin: 0;
	color: #666;
	transform: rotate(-90deg);
}
