.advanced-search .nav-tabs {
	margin-bottom: 16px;
} 
.advanced-search .help-block {
	margin-bottom: 0;
}
.advanced-search .alert {
	background: none;
	border: none;
	padding: 12px 0 0 0;
	margin-bottom: 0;
}
.advanced-search .alert:before {
	font-family: "FontAwesome";
	content: "\f071";
}
.advanced-search .alert .close {
	display: none;
}