<wicket:panel>
	<div class="watch-status">
		<a wicket:id="watching">
			<div class="title">Watching</div>
			<div class="description">You will be notified of any activities</div>
		</a>
		<a wicket:id="notWatching">
			<div class="title">Not Watching</div>
			<div class="description">Ignore notifications irrelevant to me, but start to watch once I am involved</div>
		</a>
		<a wicket:id="ignore">
			<div class="title">Ignore</div>
			<div class="description">Ignore notifications irrelevant to me</div>
		</a>
	</div>
</wicket:panel>
