/**************************************************************
 * This file defines common css styles for PMEase products. 
 * 
 **************************************************************/

/* CURSORS */
.pointer {cursor: pointer;}

/* TOOLTIPS */
.tooltip-inner {max-width: 400px;}
.tooltip .tooltip-inner {text-align: left;}
.tooltip .tooltip-inner dl dt {font-size: 15px;}
.tooltip .tooltip-inner dl {margin-bottom: 0;}

/* FEEDBACK */
#session-feedback {
	position:absolute; 
	max-width:75%;
	padding: 6px 12px; 
	z-index:10000; 
	border-radius:0 0 4px 4px; 
	border: 1px solid;
	border-top: none;
	display: none;
}
#session-feedback.success {
	background: #DFF0D8;
	color: #3C763D;
	border-color: #D6E9C6;
}
#session-feedback.error {
	background: #F2DEDE;
	color: #A94442;
	border-color: #EBCCD1;
}
#session-feedback.warning {
	background: #FCF8E3;
	color: #8A6D3B;
	border-color: #FAEBCC;
}
#session-feedback.info {
	background: #D9EDF7;
	color: #31708F;
	border-color: #BCE8F1;
}
#session-feedback ul {padding: 0; margin: 0;}
#session-feedback li {list-style: none;}
form>.test-feedback {margin-top: 16px;}

/* Table navigator */
table .navigator {border-radius: 4px 4px 4px 4px; margin-bottom: 0px; margin-left: 0; float: right;}
table thead .navigatorLabel, table tfoot .navigatorLabel {padding-top: 2px; padding-right: 8px; float: left;}
table thead tr.navigation td, table tfoot tr.navigation td {vertical-align: middle; padding-top: 12px; 
	text-align: right; min-width: 500px;}
table .navigator>div a, table .navigator>div em {-moz-border-bottom-colors: none; -moz-border-left-colors: none;
    -moz-border-right-colors: none; -moz-border-top-colors: none; background-color: #FFFFFF; border-color: #DDDDDD;
    border-image: none; border-style: solid; border-width: 1px 1px 1px 0; line-height: 18px; padding: 4px 8px;
    text-decoration: none; float: left;}
table .navigator>div .first em, table .navigator>div a.first {border-bottom-left-radius: 4px; border-left-width: 1px;
    border-top-left-radius: 4px;}
table .navigator>div .last em, table .navigator>div a.last {border-bottom-right-radius: 4px; border-top-right-radius: 4px;}
table .navigator>div em {font-style: normal; cursor: default;}
table .navigator>div .first, table .navigator>div .last, table .navigator>div .prev, table .navigator>div .next {
	font-family: monospace inherit;} 
table .navigator>div a:hover, table .navigator>div a:focus, 
table .navigator>div em:hover, table .navigator>div em:focus, 
table .navigator>div .goto em {background-color: #F5F5F5;}
table .navigator>div .goto em, table .navigator>div>span>em {color: #999999; cursor: default;}
table .navigator>div>span>em, table .navigator>div>span>em:hover, table .navigator>div>span>em:focus {background-color: transparent;}
table .row-selector {width: 24px;}

/* TABLE SORTER */
a.wicket_orderUp:after, a.wicket_orderDown:after, a.wicket_orderNone:after { 
    font-family: FontAwesome; font-weight: normal; font-style: normal; text-decoration: none; 
	display: inline-block; color: #666; margin-left: 8px;}

a.wicket_orderUp:AFTER { content: "\f062"; }
a.wicket_orderDown:AFTER { content: "\f063"; }

.pagination em {font-style: normal;}
.pagination .first, .pagination .last, .pagination .prev, .pagination .next {font-family: monospace inherit;} 
.pagination>li>span>em {color: #BBB;}
.pagination>li.active>span>em {color: white;}

/* TREE */
.tree-theme-windows .tree-node span.tree-content a {color: #444444;}
.tree-content {white-space: nowrap;}

/* MODAL DIALOG */
.modal>.modal-dialog>.loading {margin:8px; min-height:64px;
	background: url("ajax-indicator.gif") center center no-repeat white;}

/* DROPDOWN PANEL*/
.dropdown-panel {background-clip: padding-box; background-color: #FFF; border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); position: absolute;
	z-index: 2000; display: none;}
.dropdown-panel>.content {margin: 0; padding: 0;}
.dropdown-panel>.loading, .dropdown-panel>.loading.content {margin: 8px; padding: 0 0 0 20px;
	background: url("ajax-indicator.gif") left center no-repeat;}
.dropdown-panel>.indicator {display: inline-block; position: absolute;}
.dropdown-panel>.indicator.bottom:last-child {border-bottom: 6px solid #FFF; border-right: 6px solid transparent;
    border-left: 6px solid transparent; top: -6px;}
.dropdown-panel>.indicator.top:last-child {border-top: 6px solid #FFF; border-right: 6px solid transparent;
    border-left: 6px solid transparent; top: 100%;}
.dropdown-panel>.indicator.left:last-child {border-bottom: 6px solid transparent; border-top: 6px solid transparent;
    border-left: 6px solid #FFF; left: 100%;}
.dropdown-panel>.indicator.right:last-child {border-bottom: 6px solid transparent; border-top: 6px solid transparent;
    border-right: 6px solid #FFF; left: -6px;}
.dropdown-panel>.indicator.bottom:first-child {border-bottom: 7px solid rgba(0, 0, 0, 0.2);
	border-right: 7px solid transparent; border-left: 7px solid transparent; top: -7px;}
.dropdown-panel>.indicator.top:first-child {border-top: 7px solid rgba(0, 0, 0, 0.2);
    border-right: 7px solid transparent; border-left: 7px solid transparent; top: 100%;}
.dropdown-panel>.indicator.left:first-child {border-bottom: 7px solid transparent;
    border-top: 7px solid transparent; border-left: 7px solid rgba(0, 0, 0, 0.2); left: 100%;}
.dropdown-panel>.indicator.right:first-child {border-bottom: 7px solid transparent; border-top: 7px solid transparent;
    border-right: 7px solid rgba(0, 0, 0, 0.2); left: -7px;}
.nav-tabs .dropdown-trigger.dropdown-hover:hover, .nav-pills .dropdown-trigger.dropdown-hover:hover {
    background-color: #999; border-color: #999; color: #FFF;}
.nav li.dropdown .dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

.dropdown-trigger {cursor: pointer;}

.dropdown-trigger.pill {border-radius: 4px; margin: 2px 2px 2px 0; padding: 4px 6px; line-height: 12px;}
.dropdown-trigger.pill .caret {border-bottom-color: #0088CC; border-top-color: #0088CC; margin-top: 8px;}
.dropdown-trigger.pill:hover {background-color: #EEE; text-decoration: none;}
.dropdown-trigger.pill:hover .caret {border-bottom-color: #005580; border-top-color: #005580;}
.dropdown-trigger.pill.open, .dropdown-trigger.dropdown-hover.pill:hover {background-color: #999; border-color: #999; color: #FFF;}
.dropdown-trigger.pill.open .caret, .dropdown-trigger.pill.dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

.piped>a.dropdown-trigger {border-radius: 4px; margin: 2px 2px 2px -5px; padding: 3px 6px; line-height: 11px;}
.piped .dropdown-trigger .caret {border-bottom-color: #0088CC; border-top-color: #0088CC; margin-top: 9px;}
.piped .dropdown-trigger {background-color: #EEE; text-decoration: none;}
.piped .dropdown-trigger .caret {border-bottom-color: #005580; border-top-color: #005580;}
.piped .dropdown-trigger.open, .piped .dropdown-trigger.dropdown-hover:hover {background-color: #999; border-color: #999; color: #FFF;}
.piped .dropdown-trigger.open .caret, .piped .dropdown-trigger.dropdown-hover:hover .caret {border-bottom-color: #FFF; border-top-color: #FFF; opacity: 1;}

/* Tabs */
.tabbable>.tab-content {padding-top: 16px;}

/* Editor and Viewer */
.editable table.list {margin-bottom: 0;}
.editable table.list>tbody>tr>td, .editable table.list>tfoot>tr>td {
	border-top-style: dotted; border-top-width: 2px;}
.editable table.list>tfoot>tr.add-element>td {border-bottom: 2px dotted #DDD; padding: 0;}
.editable table.list>tfoot>tr.add-element>td>a {
	display: block; text-decoration: none; padding: 4px 8px;}

.editable table.list>tbody>tr.no-elements>td {font-style: italic;}
.editable table.list>tbody>tr.no-elements>td:hover {background: inherit;}
.editable table.list>tfoot>tr.add-element>td:hover {background-color: #F2F2F2;}

.editable>.reflection>table {width: 100%;}
.editable>.reflection>table>tbody>tr>td {vertical-align: top;}
.editable>.reflection>table>tbody>tr>td {padding: 10px;}
.editable>.reflection>table>tbody>tr>td.name {font-weight: bold; background: #F0F0F0; 
	text-align: right; white-space: nowrap; width: 20%;}
.editable>.reflection>table>tbody>tr:first-child>td.name {border-radius: 4px 4px 0 0;}
.editable>.reflection>table>tbody>tr:last-child>td.name {border-radius: 0 0 4px 4px;}
.editable>.reflection>table>tbody>tr:first-child:last-child>td.name {border-radius: 4px;}

.editor>.reflection.properties>div.form-group:last-child {margin-bottom: 0;} 

.editable>table.polymorphic.vertical.list>tbody>tr>td>.type-selector {margin-bottom: 8px;}
.editable>.polymorphic.vertical>div.type-selector {margin-bottom: 8px;}

.editable>.polymorphic.horizontal>table {width: 100%;}
.editable>.polymorphic.horizontal>table>tbody>tr>td {vertical-align: top;}
.editable>.polymorphic.horizontal>table>tbody>tr>td:first-child {padding-right: 8px;}

.editor>table.list .help-block {display: none;}

.editor>table.concrete.list>tbody>tr>td.actions {width: 76px;}
.editor>table.concrete.list>tbody>tr>td.actions a {margin-right: 8px;}
.editor>table.list>tbody>tr>td.actions .handle {
	color: #666; cursor: move; font-size: 22px; margin-top: 4px;}
.editor>table.list .sort-helper {border: 2px solid #DDD; background: #F5F5F5;}

.editor>input.enable {margin-bottom: 12px;}

.editor .required {font-size: 16px; color: #B94A48;}
.editor ul.feedbackPanel {margin: 4px 0 0 -8px; padding-bottom: 0;}
.editor li.feedbackPanelERROR {color: #AA0000;}
.editor .password-confirm {margin-top: 12px;}

.viewer .reflection>table>tbody>tr.name-omitted>td {padding: 0;}
.viewer .type-selector {font-style: italic;} 

/* Select2 */
.editor .select2-container {width: 100%;}
.input-group .select2-container.form-control .select2-choice, 
.input-group .select2-container.form-control .select2-choices {
	border-radius: 0 4px 4px 0;}
	
/* Ajax Loading Indicator */
#ajax-loading-indicator {
	position: fixed; 
	top: 0;
	left: 50%; 
	display:none;
	z-index: 10000;
}
#ajax-loading-indicator>div {
	position:relative; 
	left:-50%;	
	top:0; 
	text-align:center; 
	font-weight: bold;
	width:95px;
	background: #FAF3D0;
	color: #8A6D3B;
	border: 2px solid #F6DBA4;
	border-top:none; 
	padding:6px 12px; 
	border-radius:0 0 4px 4px;
}	

/* Ajax Loading Overlay */
#ajax-loading-overlay {
	z-index:1; 
	display: none;
}
#ajax-loading-overlay>div {
	bottom: 0; 
	left: 0; 
	position: fixed;
    right: 0; 
    top: 0; 
    z-index: 1000000; 
    filter:alpha(opacity=0); /* Only applies to IE */
    background: white; /* This will be overwritten by browsers that support rgba */
    background: rgba(255,255,255,0.0); /* IE ignores this since it's not supported */
}
    
/* ICONS */
span.add.icon {padding: 12px; background: url("add.png") no-repeat 50% 50%;}
span.delete.icon {padding: 12px; background: url("delete.png") no-repeat 50% 50%;}
span.move.icon {padding: 12px; background: url("move.png") no-repeat 50% 50%;}

/* CLEARABLE TEXT FIELD */
input.clearable::-ms-clear {display: none;}
.input-clear {background: url("clear.png") no-repeat; margin-left: -20px; z-index: 1000; position: relative; 
	cursor: pointer; top: 8px; color: #333; display: none;}	
@-moz-document url-prefix() {
    .input-clear {top: 7px;}
}

/* BACK TO TOP */
.back-to-top {position: fixed; right: 20px; bottom: 40px; cursor: pointer; padding: 25px; 
	background: url("back-to-top.png") no-repeat 0 0; z-index: 100; opacity: 0.8;}
	
/* WEB SOCKET ERROR */
#websocket-error {display: none; position: fixed; left: 50%; top: 0; background: #f2dede; 
	border: 1px solid #ebccd1; color: #a94442; padding: 4px 8px; margin-left: -120px;}	
#websocket-error span {width: 16px; height: 16px; background: url("error.png") 0 0 no-repeat;}

/* FILE INPUT */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}