.blob-view>.body {
	overflow: auto;
}
.blob-view>.head {
	border-bottom: 1px solid #BBB; 
	padding: 6px 12px;
	height: 36px;
}
.blob-view>.head>.info {
	color: #666;
}
.blob-view>.head>.info .separator {
	color: #BBB;	
}
