#administration.sidebar>table>tbody>tr>td.nav a {
	width: 200px;
}
#administration.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
.account.list .email {
	width: 20%;
}
.account.list .actions {
	width: 10%;
}
.auto-backup {
	margin-bottom: 20px;
}