#administration.sidebar>table>tbody>tr>td.nav a {
	width: 200px;
}
#administration.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
.auto-backup {
	margin-bottom: 20px;
}

.server-information table td {
	padding: 8px;
	font-size: 13px;
}
.server-information table td.name {
	width: 200px;
	font-weight: bold;
	font-size: 12px;
}

.server-log>.head {
	margin-bottom: 20px;
}
.server-log>.body>pre {
	background: black;
	border: 1px solid black;
	color: white;
}