<wicket:panel>
	<div class="state-transition-list def-list list">
		<div class="head">
			<a wicket:id="addNew" class="btn btn-success"><wicket:svg href="plus" class="icon"></wicket:svg> Add New</a>
		</div>
		<table wicket:id="stateTransitions" class="table table-hover"></table>
	</div>
	<wicket:fragment wicket:id="columnFrag">
		<a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="viewTransitionFrag">
		<div class="actions">
			<a wicket:id="edit" class="btn btn-sm btn-outline-secondary"><wicket:svg href="edit" class="icon"></wicket:svg> Edit</a>
			<a wicket:id="delete" class="btn btn-sm btn-outline-secondary"><wicket:svg href="trash" class="icon"></wicket:svg> Delete</a>
		</div>
		<div wicket:id="viewer"></div>
	</wicket:fragment>
</wicket:panel>
