.editable>.group {
	margin-bottom: 1rem;
}
.editable>.group:last-child {
    margin-bottom: 0;
}
.editable>.group>a {
    background: var(--light);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.42rem;
}
.editable>.group>a:hover, .editable>.group>a:focus, .editable>.group.expanded>a {
	color: white;
	background: var(--primary);
}
.editable>.group>a .icon {
    transform: rotate(90deg);
}
.editable>.group.expanded>a .icon {
    transform: rotate(-90deg);
}
.editable>.group>div {
	margin-left: 2rem;
    display: none;
}
.editable>.group:first-child>div {
	margin-left: 0;
}
.editable>.group.expanded>div {
    display: block;
}

.editable table {
	margin-bottom: 0;
	width: 100%;
	border-collapse: separate;
}
.editable table.norecords tfoot td {
	border: none;
	border-radius: 0.42rem;
	background-color: var(--light);
	opacity: 0.5;
	background-image: none;
	height: auto;
}
.editable table.norecords tfoot td>div {
	display: block;
}
.editable table th, .editable table td {
	padding: 0.8rem 1rem;
}
.editable table th {
	font-size: 0.92rem;
	font-weight: 500;
	border-top: 1px dashed var(--secondary);
	border-bottom: 1px dashed var(--secondary);
}
.editable table th:first-child {
	border-left: 1px dashed var(--secondary); 
	border-top-left-radius: 0.42rem;
}
.editable table th:last-child {
	border-right: 1px dashed var(--secondary); 
	border-top-right-radius: 0.42rem;
}
.editable table td {
	border-bottom: 1px dashed var(--secondary);
}
.editable table td:first-child {
	border-left: 1px dashed var(--secondary);
}
.editable table td:last-child {
	border-right: 1px dashed var(--secondary);
}
.editable table tr:last-child td:first-child {
	border-bottom-left-radius: 0.42rem;
}
.editable table tr:last-child td:last-child {
	border-bottom-right-radius: 0.42rem;
}

.editable table>thead>tr>th.minimum, table>tbody>tr>td.minimum {
    width: 1px;
	white-space: nowrap;
	padding-left: 0;
	padding-right: 0;
}
.editable table>thead>tr>th.minimum:first-child, table>tbody>tr>td.minimum:first-child {
	padding-left: 1rem;
}
.editable table>thead>tr>th.minimum:last-child, table>tbody>tr>td.minimum:last-child {
	padding-right: 1rem;
}

.editable .polymorphic>.type-selector {
	margin-bottom: 1rem;
}

.bean-editor>input.enable {
	margin-bottom: 1rem;
}

.bean-editor .password-confirm {
	margin-top: 1rem;
}

.bean-viewer .type-selector {
	font-style: italic;
} 

.editable ul.feedbackPanel {
    margin: 0.8rem 0;
}

.property-editor .select2-container {
	width: 100%;
}
