/**************************************************************
 * This file defines common css styles for all pmease products. 
 * 
 **************************************************************/

.tac {
	text-align:center;
}

/* Spacings */
.m24p {
	margin:24px;
}
.m16p {
	margin:16px;
}
.m12p {
	margin:12px;
}
.m8p {
	margin:8px;
}
.m4p {
	margin:4px;
}
.m2p {
	margin:2px;
}
.p24p {
	padding:24px;
}
.p16p {
	padding:16px;
}
.p12p {
	padding:12px;
}
.p8p {
	padding:8px;
}
.p4p {
	padding:4px;
}
.p2p {
	padding:2px;
}


/* Piped links */
.piped { 
	display: block; 
	zoom: 1; 
}
.piped:after { 
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden; 
}
.piped>li { 
	float: left; 
	display: inline; 
}
.piped>a, .piped>em, .piped>span { 
	border-right: 1px solid #797c80; 
	padding-right: 0.5em; 
	margin-right: 0.5em; 
}
.piped.dotted>a, .piped.dotted>em, .piped.dotted>span { 
	border-right: 1px dotted;
}
.piped.noborder>a, .piped.noborder>span, .piped.noborder>em { 
	border: none; 
}
.piped>a:last-child, .piped>span:last-child, .piped>em:last-child { 
	border-right: 0; 
	padding-right: 0; 
	margin-right: 0; 
}

#ajax-loading-indicator {
	position: absolute; 
	left: 50%;	
	display:none;
}
#ajax-loading-indicator>div {
	position:relative; 
	left:-50%;	
	top:0; 
	background:#FFFFDE; 
	text-align:center;
	width:80px;
	border:1px solid #9C9E9C; 
	border-top:none; 
	padding:6px 6px 6px 10px; 
	z-index:10000; 
	border-radius:0 0 4px 4px; 
	box-shadow:2px 2px 5px #888; 
	-moz-border-radius:0 0 4px 4px; 
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-border-radius:0 0 4px 4px; 
	-webkit-box-shadow:2px 2px 5px #888;
}

#ajax-loading-overlay {
	z-index:1;	
    display: none;
}
#ajax-loading-overlay>div {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000000;
    filter:alpha(opacity=0); /* Only applies to IE */
    background: white; /* This will be overwritten by browsers that support rgba */
    background: rgba(255,255,255,0.0); /* IE ignores this since it's not supported */
}