<wicket:panel>
	<div class="code-comment">
		<a wicket:id="outdatedContext" class="outdated-context">
			<i class="fa fa-warning"></i> comment context outdated, click to update
		</a>
		<div wicket:id="comment" class="comment section"></div>
		<div wicket:id="replies" class="reply section"></div>
		<div wicket:id="addReply" class="add-reply"></div>
	</div>
	<wicket:fragment wicket:id="viewFrag">
		<div class="user-avatar"><a wicket:id="userAvatar"></a></div>
		<div class="detail">
			<div class="head clearfix">
				<a wicket:id="userName" class="user-name pull-left"></a>
				<span class="reply pull-right">
					<span wicket:id="action" class="action"></span>
					<span wicket:id="date" class="date"></span>
				</span>
			</div>
			<div class="body">
				<div wicket:id="content"></div>
			</div>
			<div wicket:id="foot" class="foot">
				<a wicket:id="edit">Edit</a>
				<wicket:enclosure child="delete">
				<span class="middot"></span>
				<a wicket:id="delete">Delete</a>
				</wicket:enclosure>
			</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="commentEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<div class="form-group">
				<div wicket:id="content"></div>
			</div>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary dirty-aware">Save</button>
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="replyEditFrag">
		<form wicket:id="form" class="leave-confirm">
			<div wicket:id="feedback" class="feedback"></div>
			<div wicket:id="content"></div>
			<div class="actions">
				<button wicket:id="save" class="btn btn-sm btn-primary"><span wicket:id="label"></span></button>
				<button wicket:id="cancel" class="btn btn-sm btn-default">Cancel</button>
			</div>
		</form>
	</wicket:fragment>
	<wicket:fragment wicket:id="addReplyFrag">
		<a wicket:id="reply" class="btn btn-sm btn-default"><i class="fa fa-reply"></i> Reply</a>
	</wicket:fragment>
</wicket:panel>