@media(max-width: 991px) {
	.issue-list a.list-fields, 
	.issue-list th.custom-field, 
	.issue-list td.custom-field {
		display: none;
	}
}

.issue-list>.head {
	position: relative;
}
.issue-list>.head>* {
	margin-bottom: 20px;
}
.issue-list>.head>form {
	margin-right: 100px;
}
.issue-list>.head>.open-new {
	position: absolute;
	right: 0;
	top: 0;
}
.issue-list>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
.issue-list>.head>.others>*:last-child {
	margin-right: 0;
}
.issue-list>.body td.submitter,
.issue-list>.body th.custom-field, 
.issue-list>.body td.custom-field {
	white-space: nowrap;
}
.issue-list>.body .new-indicator {
	width: 4px;
	padding: 0;
}
.issue-list>.body tr.issue.new td.new-indicator {
	background: #4667EE;
}
.issue-batch-edit form .modal-body>div {
	margin-bottom: 20px;
}
.issue-batch-edit .alert {
	margin-top: 10px;
	margin-bottom: 5px;
}
.issue-batch-edit .select-fields>.checkboxes>* {
	margin-right: 10px;
}
