#group.sidebar>table>tbody>tr>td.nav>.tabs>li>a {
	width: 220px;
}
#group.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
#group .authorization.list .head .select2-container,
#group .membership.list .head .select2-container {
	width: 240px;
} 