<wicket:panel>
	<form wicket:id="form">
		<div wicket:id="retainNumbersNote" class="alert alert-notice alert-light mb-5">Importing issues 
		into currrent project. Please note that issue numbers will only be retained if the whole 
		project fork graph does not have any issues to avoid duplicate issue numbers</div>
		<div wicket:id="feedback"></div>
		<div wicket:id="editor"></div>
		<input wicket:id="back" type="button" class="btn btn-light-primary mr-1" value="Back">
		<input wicket:id="next" type="submit" class="btn btn-primary mr-1" value="Next">
		<input wicket:id="dryRun" type="submit" class="btn btn-light-primary mr-1" value="Dry Run">
		<input wicket:id="import" type="submit" class="btn btn-primary mr-1" value="Import">
	</form>
</wicket:panel>