#project-setting .issue-states table td {
	padding: 0;
}
#project-setting .issue-states table td.norecords-td {
	padding: 5px;
}
#project-setting .issue-states table a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 5px;
}
#project-setting .issue-states table>tbody>tr>td:first-child>div {
	position: relative;
	top: 0;
}
#project-setting .issue-states table>tbody>tr>td:first-child>div>.drag-handle {
	position: absolute;
	top: 8px;
}
#project-setting .issue-states table>tbody>tr>td:first-child a span {
	border-radius: 3px;
	padding: 2px 6px;
	margin-right: 8px;
}
#project-setting .issue-states table>tbody>tr>td:first-child>div>a {
	margin-left: 16px;
}
#project-setting .issue-states table .color span {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 3px;
}
.floating.state-spec .actions {
	margin-bottom: 12px;
}
