#project-pullrequests>.main {
	min-width: 330px;
}
#project-pullrequests>.main>.head {
	position: relative;
}
#project-pullrequests>.main>.head>* {
	margin-bottom: 20px;
}
#project-pullrequests>.main>.head>form {
	margin-right: 170px;
}
#project-pullrequests>.main>.head>.open-new {
	position: absolute;
	right: 0;
	top: 0;
}
#project-pullrequests>.main>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
#project-pullrequests>.main>.head>.others>*:last-child {
	margin-right: 0;
}
#project-pullrequests>.main>.body .new-indicator {
	width: 4px;
	padding: 0;
}
#project-pullrequests>.main>.body td a {
	color: #444;
}

#project-pullrequests>.main>.body tr.request.new td.new-indicator {
	background: #4667EE;
}
@media(max-width: 991px) {
	#project-pullrequests thead, #project-pullrequests td.expanded {
		display: none;		
	}
}
