.select2-container img.avatar {
	margin-right: 6px;
	margin-top: -2px;
}
.select2-results .user {
	clear: both;
}
.select2-results .user .avatar {
	float: left;
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	height: 36px;
	width: 36px;
	line-height: 1.428571429;
	margin: 2px 6px 0 0;
}
.select2-results .email {
	color: #666;
}
