li.collapsed {
    display: none;
}
@media(max-width: 767px) {
    ul.nav-tabs>li.collapsed {
        display: block;
    }
    ul.nav-tabs>li.expanded {
        display: none;
    }
}
ul.nav-tabs.collapsed>li.collapsed {
    display: block;
}
ul.nav-tabs.collapsed>li.expanded {
    display: none;
}

li.collapsed>a.multiple {
    cursor: pointer !important;
}
