img.avatar {
	border-radius: 3px;
	height: 24px;
	width: 24px;
}
.avatar-picker>.fileupload>.fileupload-preview {
	width: 220px; 
	height: 220px;
}
.avatar-picker>.fileupload>.actions a.btn-file {
	margin-right: 12px;
}
.avatar-picker>.current-avatar {
	width: 258px;
	height: 258px;
	margin-right: 20px;
}