<wicket:panel>
	<div class="edit-save autofit">
		<div class="head">
			Add New Commit
		</div>
		<div class="body">
			<div wicket:id="feedback"></div>
			<div wicket:id="changed" class="changed"> 
				<div class="alert alert-danger"><i class="fa fa-warning"></i> Someone has committed since you start editing. 
					<a onclick="$(this).parent().next().show();">See what changed.</a>
				</div>
				<div wicket:id="changes" class="changes"></div>
			</div>
			<form wicket:id="form" class="dirty-aware leave-confirm">			
				<div class="form-group">
					<label>Summary Commit Message</label>
					<input wicket:id="summaryCommitMessage" class="summary-commit-message form-control"></input>
				</div>
				<div class="form-group">
					<label>Detail Commit Message</label>
					<textarea wicket:id="detailCommitMessage" class="detail-commit-message form-control" rows="10"></textarea>
				</div>
				<div class="actions">
					<input wicket:id="save" type="submit" class="btn btn-primary" value="Commit"></input>
					<input wicket:id="cancel" type="button" class="btn btn-default" value="Cancel"></input>
				</div>
			</form>
		</div>
	</div>
</wicket:panel>