.edit-save {
	padding: 20px;
	overflow: auto;
}
.edit-save>.head {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
}
.edit-save>.body>.changed>.changes {
	margin-bottom: 20px;
	display: none;
}  
.edit-save .no-diff>.head, .edit-save .text-diff>.head {
	display: none;
}  
.edit-save .text-diff>.body>tbody>tr:first-child>td:first-child {
	border-radius: 4px 0 0 0;
}
.edit-save .text-diff>.body>tbody>tr:first-child>td:last-child {
	border-radius: 0 4px 0 0;
}
.edit-save .text-diff>.body>tbody>tr:first-child>td.expander a {
	border-radius: 4px 0 0 0;
}
