#repo-commits {
	position: relative;
	padding: 20px;
}
#repo-commits>.head>.query {
	margin-bottom: 20px;
}

#repo-commits>.body .no-commits {
	font-style: italic;
	font-size: 16px;
}
#repo-commits>.body li {
	padding: 4px 0;
}
#repo-commits>.body li.commit>.avatar {
	margin-top: 4px;
}
#repo-commits>.body .label {
	margin: 3px 0 0 4px;
}
#repo-commits>.body .hash-and-code {
	text-align: right;
	margin-top: 10px;
	white-space: nowrap;
}
#repo-commits>.body .compare {
	margin: 10px 0 0 8px;
}
#repo-commits>.body a {
	color: #555;
}
#repo-commits>.body a.summary {
	font-weight: bold;
	font-size: 15px;
}
#repo-commits>.body .detail {
	padding-left: 8px; 
	padding-right: 8px;
}
#repo-commits>.body li.commit:hover, #repo-commits>.body li.commit.hover {
	background: #F7ECB9;
}
#repo-commits>.body .commit-message .highlight {
	background: yellow;
}
#repo-commits>.body li.commit .contribution {
	font-size: 12px;
}
#repo-commits>.body li.commit .compare {
	color: #888;
}
#repo-commits>.body .message-and-labels {
	margin-bottom: 4px;
}
#repo-commits>.body>.list {
	margin-bottom: 0;
}
#repo-commits>.foot {
	text-align: center;
}
#repo-commits>.foot>.alert, #repo-commits>.foot>.btn {
	margin-top: 8px;
	margin-bottom: 0;
}
#repo-commits li.date {
	font-size: 18px;
	margin-top: 12px;
	text-align: left;
	border-bottom: 1px solid #EEE;
}
