.issue-title {
	font-size: 20px;
	font-weight: bold;
	color: #444;
	position: relative;
}
.issue-title a.edit {
	color: #666;
	margin-left: 8px;
	font-size: 16px;
}
.issue-title a.copy {
	color: #666;
	margin-left: 4px;
	font-size: 16px;
}
.issue-title input[type=text] {
	font-weight: normal;
}
.issue-title .alert {
	font-weight: normal;
	font-size: 14px;
}
