#request-list {
	display: table;
	width: 100%;
}
#request-list>div {
	display: table-cell;
}
#request-list>.side {
	width: 240px;
	border: 1px solid #E0E0E0;
	padding: 20px; 
	border-radius: 4px;
}
#request-list>.main {
	padding-left: 20px;
	vertical-align: top;
}

#request-list>.main>.head {
	position: relative;
}
#request-list>.main>.head>* {
	margin-bottom: 20px;
}
#request-list>.main>.head>form {
	margin-right: 168px;
}
#request-list>.main>.head>.open-new {
	position: absolute;
	right: 0;
	top: 0;
}
#request-list>.main>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
#request-list>.main>.head>.others a[disabled] {
	text-decoration: none;
	color: #999;
	cursor: default;
}
#request-list>.main>.body .new-indicator {
	width: 4px;
	padding: 0;
}
#request-list>.main>.body tr.request.new td.new-indicator {
	background: #4667EE;
}