.input-assist {
	padding: 8px;
}
.input-assist td {
	padding: 2px 4px;
}
.input-assist a {
	color: #333;
	text-decoration: none;
	display: block;
}
.input-assist tr.active td {
	background-color: #CBE8FB;
	border-color: #8BC8F9;
}

.input-assist .suggestions {
	max-height: 400px; 
	overflow: auto;
}
.input-assist .description {
	color: #999;
	text-align: right;
}
.input-assist .suggestion a {
	padding-right: 12px;
}
.input-assist .help {
	margin-top: 8px;
	background: #EEE;
	padding: 0 4px;
}
.input-error-mark {
	position: absolute;
    background: url(wave.png) bottom repeat-x;
    z-index: 100000;
}