.input-assist {
	padding: 8px;
}
.input-assist .suggestions {
	max-height: 300px; 
	overflow: auto;
}
.input-assist .description {
	color: #999;
	text-align: right;
	padding: 3px 4px;
}
.input-assist .suggestion a {
	padding-right: 12px;
}
.input-assist .help {
	margin-top: 8px;
	background: #EEE;
	padding: 0 4px;
}
.input-error-mark {
	position: absolute;
    background: url(wave.png) bottom repeat-x;
    z-index: 100000;
}