.blob-view>.body {
	overflow: auto;
}
.blob-view>.head {
	border-bottom: 1px solid #BBB; 
	padding: 6px 12px;
}
.blob-view>.head>.info {
	color: #666;
}
.blob-view>.head>.info .separator {
	color: #BBB;	
}
.blob-view>.head>.actions {
	white-space: nowrap;
}
.blob-view>.head>.actions>div {
	margin-left: 12px;
}
