#milestone-list>.head {
	margin-bottom: 20px;
}
#milestone-list>.head>.pull-left {
	margin-right: 20px;
}

#milestone-list>.body>table {
	table-layout: fixed;
}

#milestone-list>.body tbody td.actions {
	white-space: nowrap;
}
#milestone-list>.body tbody td.issue-stats .state-stats {
}

.milestone-sort.active:before {
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 6px;
}
#new-milestone>.head, #milestone-edit>.head {
	margin-bottom: 20px;
}
#milestone-detail>* {
	margin-bottom: 20px;
}
#milestone-detail>.title {
	margin-bottom: 12px;
}
#milestone-detail>.title>* {
	margin-right: 20px;
	margin-bottom: 8px;
}
#milestone-detail>.title>.name {
	margin-right: 10px;
}
#milestone-detail>.title .state-stats {
	width: 300px;
}
#milestone-detail>.title .due, #milestone-detail>.title a {
	font-weight: normal;
	font-size: 16px;
}
#milestone-detail .description {
	background: #F5F5F5;
	border-radius: 4px;
	padding: 20px;
}
@media(max-width: 767px) {
	#milestone-list>.body .expanded {
		display: none;
	}
}