#depot-blob>.head {
	border-bottom: 1px solid #BBB;
	height: 31px;
}
#depot-blob>.head>.revision-picker {
	padding: 0;
}
#depot-blob>.head>.comment-context {
	border-right: 1px solid #BBB;
	padding: 5px 8px 0 8px;
	height: 31px;
	cursor: pointer;
}
#depot-blob>.head>a.revision-picker {
	display: block;
	border-right: 1px solid #BBB;
	color: #333;
	text-decoration: none;
}
#depot-blob>.head>a.revision-picker:hover {
	background: #EEE;
	clear: both;
}
#depot-blob>.head>a.revision-picker, #depot-blob>.head>.blob-navigator, #depot-blob>.blob-navigator>div {
	padding: 5px 8px;
}
#depot-blob>.head>.blob-navigator, #depot-blob>.blob-navigator>div {
	padding: 5px 8px 0px 8px;
}
#depot-blob>.head>.blob-navigator form.name input {
	height: 30px;
	border: 1px solid #BBB;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
	margin-top: -5px;
	padding-left: 0px 8px;
	width: 160px;
}
#depot-blob>.blob-navigator {
	border-bottom: 1px solid #BBB;
}
#depot-blob>.blob-navigator form.name input {
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	height: 26px;
	margin-top: -1px;
	border-radius: 3px;
	width: 160px;
}					
	
#depot-blob>.head>.operations {
	position: absolute;
	margin-top: 5px;
	right: 6px;
}
#depot-blob>.head>.operations>a, #depot-blob>.head>.operations>span {
	color: #666;
	margin-right: 8px;
}
#depot-blob>.head>.operations .fa-download {
	font-size: 16px;
	vertical-align: bottom;
}
#depot-blob>.head>.operations .fa-history {
	font-size: 16px;
	vertical-align: middle;
}
#depot-blob>.head>.operations .fa-plus {
	font-size: 16px;
	vertical-align: middle;
}
#depot-blob>.head>.operations input {
	border-radius: 0;
	border-color: #BBB;
	height: 30px;
	border-top: none;
	border-bottom: none;
	top: -5px;
	padding: 0px 8px;
	position: absolute;
	width: 250px;
	left: -260px;
	font-size: 14px;
}

#depot-blob>.blob-navigator {
	display: none;
	padding: 2px 0 3px 0;
}

#depot-blob>.revision-indexing {
	padding: 8px 8px 9px 8px;
	background: #fcf8e3;
	border-bottom: 1px solid #DDD;
	color: #8a6d3b;
	font-size: 13px;
}
#depot-blob>.search-result {
	height: 200px;
	border-top: 1px solid #CCC;
}
#depot-blob>.search-result>.ui-resizable-handle {
	background: #EEE url(hgrabber.png) no-repeat scroll center top;
    cursor: n-resize;
    height: 4px;
}

.floating ul.contributors {
	margin: 0;
	padding: 8px 0;
}
.floating ul.contributors>li>a {
	display: block;
	padding: 4px 8px;
	text-decoration: none;
	color: #666;
}
.floating ul.contributors>li>a:hover {
	background: #EEE;
}

