<wicket:panel>
	<form wicket:id="form" class="bean-edit">
		<div class="modal-header">
			<button wicket:id="close" type="button" class="close">&times;</button>
			<h4 wicket:id="title" class="modal-title"></h4>
		</div>
		<div class="modal-body">
            <div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<button wicket:id="ok" class="btn btn-primary">Ok</button>
			<button wicket:id="cancel" class="btn btn-default">Cancel</button>
		</div>
	</form>
</wicket:panel>