.api-help dd>dl {
	margin-left: 2rem;
}
.api-help dt {
	font-weight: 500;
	font-size: 1.1rem;
	margin-bottom: 0.8rem;
}
.api-help dd {
	margin-bottom: 1.6rem;
}
.api-help dl {
	margin-bottom: 0;
}

.api-help>.card-body>.title {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.example-value-scalar, .example-value-brace, 
.example-value-bracket, .example-value-comma {
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 87.5%;
}

a.example-value-hint {
	margin-left: 0.2rem;
}
a.example-value-implementations>.icon {
	width: 12px;
	height: 12px;
}
.floating>.content>.example-value-hint {
	padding: 1rem;
}

