.select2-container img.avatar {
	margin-right: 6px;
	margin-top: -2px;
}
.select2-container .account-name, .select2-container .account-fullname  {
	font-style: normal;
}
.select2-results .account {
	clear: both;
}
.select2-results .account .avatar {
	height: 24px;
	width: 24px;
	margin-right: 6px;
}
