#request-list {
	padding: 20px;
}
#request-list>.head {
	margin-bottom: 20px;
}
#request-list>.head>.title {
	margin-top: 3px;
	font-size: 18px;
}
#request-list>.head>div {
	margin-right: 20px;
}

#request-list table.body>tbody>tr>td {
	border: 3px solid #EEE;
}
#request-list td.filter {
	width: 200px;
	padding: 20px;
}
#request-list td.filter .select2-container .avatar {
	display: none;
}
#request-list td.requests>table>tbody>tr:FIRST-CHILD>td {
	border-top: none;
}
#request-list td.request .first-line {
	margin-bottom: 4px;
}
#request-list td.request .first-line>span.pull-left {
	margin-right: 6px;
}
#request-list td.request .title {
	font-weight: bold;
}
#request-list td.request .title a {
	color: #444;
}
#request-list td.request .id {
	font-size: 16px;
	color: #888;
}
#request-list td.request .status {
	font-size: 14px;
}
#request-list td.request .auxiliary {
	color: #888;
}