#request-list>.head {
	padding: 12px 20px;
	border-bottom: 1px solid #BBB;
}
#request-list>.head>a {
	margin-right: 16px;
}

#request-list td.filter {
	width: 200px;
	padding: 20px;
	border-right: 1px solid #BBB;
}
#request-list td.filter form button.top {
	margin-bottom: 10px;
}
#request-list td.filter .select2-container .avatar {
	display: none;
}
#request-list td.requests>table td {
	padding: 12px;
}
#request-list td.requests>table>thead td {
	border-bottom: 1px solid #DDD;
}
#request-list td.requests>table>tfoot td {
	border-top: none;
}
#request-list td.requests>table>tbody>tr:FIRST-CHILD>td {
	border-top: none;
}
#request-list td.request .first-line {
	font-size: 16px;
	margin-bottom: 4px;
}
#request-list td.request .first-line>span.pull-left {
	margin-right: 6px;
}
#request-list td.request .title {
	font-weight: bold;
}
#request-list td.request .title a {
	color: #444;
}
#request-list td.request .id, #request-list td.request .auxiliary {
	color: #888;
}
