#request-list {
	padding: 20px;
}
#request-list>.head {
	margin-bottom: 20px;
}
#request-list>.head>.title {
	margin-top: 3px;
	font-size: 18px;
}
#request-list>.head>div {
	margin-right: 20px;
}

#request-list table.body {
	width: 100%;
}
#request-list table.body>tbody>tr>td {
	vertical-align: top;
	border: 3px solid #EEE;
}
#request-list td.filter {
	width: 200px;
	padding: 20px;
}
#request-list td.filter .select2-container .avatar {
	display: none;
}
#request-list td.request .title {
	font-size: 16px;
}
#request-list td.request .id {
	font-size: 16px;
	color: #888;
}
#request-list td.request .status {
	font-size: 14px;
}