table.diff {
	border: 1px solid #E0E0E0;
	position: relative;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 12px;
	table-layout: fixed;
	border-collapse: separate;
}

/* 
 * have to use relative here as otherwise the last table row will have problem
 * focusing on expander link. This relates to negative margin top 
 * specified for change class in revision diff panel
 */
table.diff>tbody>tr>td {
	position: relative;
}
table.diff>tbody>tr>td.number {
	padding: 0 4px;
	border-left: 1px solid #E0E0E0;
	text-align: right;
	font-size: 12px;
	color: #9E9E9E;
}
table.diff>tbody>tr>td.operation {
	border-left: 1px solid #E0E0E0;
}
table.diff>tbody>tr>td:FIRST-CHILD {
	border-left: none !important;
}
table.diff>tbody>tr:FIRST-CHILD>td {
	border-top: none !important;
}
table.diff>tbody>tr:LAST-CHILD>td {
	border-bottom: none !important;
}
table.diff>tbody>tr.expander>td.skipped {
	padding: 6px 16px;
	border-left: 1px solid #D8E2F2;
	background: #f4f7fb;
	color: #999;
}
table.diff>tbody>tr.expander>td.expander {
	border-left: 1px solid #D8E2F2;
	text-align: center;
}
table.diff>tbody>tr.expander>td.expander a {
	display: block;
	background: #edf2f9;
	padding: 6px 0;
	color: #888;
}
table.diff>tbody>tr.expander>td.expander>a:hover {
	background: #4078c0;
	color: white;
}
table.diff>tbody>tr>td.old.number {
	background: #ffdddd;
	border-left: 1px solid #f1c0c0;
}
table.diff>tbody>tr>td.old.content {
	background: #ffecec;
}
table.diff>tbody>tr>td.old.operation {
	border-left: 1px solid #f1c0c0;
	background: #ffecec;
}
table.diff>tbody>tr>td.old .delete {
	background-color: #F8B8B8;
	text-decoration: line-through;
}
table.diff>tbody>tr>td.new.number {
	background: #dbffdb;
	border-left: 1px solid #c1e9c1;
}
table.diff>tbody>tr>td.new.content {
	background: #eaffea;
}
table.diff>tbody>tr>td.new.operation {
	border-left: 1px solid #c1e9c1;
	background: #eaffea;
}
table.diff>tbody>tr>td.new .insert {
	background-color: #94F094;
}
table.diff>tbody>tr>td.old.new.number {
	background: #FAF3D0;
	border-left: 1px solid #EBD049;
}
table.diff>tbody>tr>td.old.new.content {
	background: #FCF8E4;
}
table.diff>tbody>tr>td.old.new.operation {
	border-left: 1px solid #EBD049;
	background: #FCF8E4;
}
table.diff>tbody>tr>td.content {
	white-space: pre-wrap;
	word-wrap: break-word;
}
table.diff>tbody>tr>td.operation {
	font-weight: bold;
	padding: 0 4px 0 4px;
}
table.diff>tbody>tr.original+.expanded>td {
	border-top: 1px solid #E8E8E8;
}
table.diff>tbody>tr.expanded+.original>td {
	border-top: 1px solid #E8E8E8;
}
table.diff>tbody>tr.expanded>td {
	background: #F9F9F9;
}
table.diff>tbody>tr:hover>td {
	background: #E8F2FE !important;
}
table.plain.diff>tbody>tr.code>td {
	padding: 4px 8px;
}
