<wicket:panel>
	<div class="project-info p-4">
		<div class="d-flex justify-content-between">
			<div class="mr-4">
				<div class="d-flex">
					<span wicket:id="path" class="mb-0 mr-2 h6"></span>
					<span wicket:id="labels"></span>
				</div>
				<div class="font-size-sm">
					<span wicket:id="id"></span><span wicket:id="key"></span><wicket:enclosure child="forkedFrom">, <wicket:t>forked from <a wicket:id="forkedFrom"></a></wicket:t></wicket:enclosure>
				</div>
			</div>
			<wicket:enclosure child="forkInfo">
			<div>
				<span wicket:id="forkInfo" class="btn-group fork-info">
				    <a wicket:id="forks" class="btn btn-light btn-hover-primary"><span wicket:id="label"></span></a>
					<a wicket:id="forkNow" class="btn btn-light btn-hover-primary btn-icon" t:data-tippy-content="Fork now"><wicket:svg href="fork" class="icon"/></a>
				</span>			
			</div>
			</wicket:enclosure>
		</div>
		<wicket:enclosure child="serviceDesk">
		<div class="mt-2">
		<a wicket:id="serviceDesk"><wicket:svg href="mail" class="icon"></wicket:svg> <span wicket:id="label"></span></a>
		<div class="font-size-sm mt-1 text-muted"><wicket:t>Issues can be created in this project by sending email to this address</wicket:t></div>
		</div>
		</wicket:enclosure>
		<div wicket:id="description" class="border-top pt-3 mt-3"></div>
		<wicket:enclosure child="replicas">
			<div class="font-weight-bolder font-size-lg mt-4 mb-2"><wicket:t>Replicas</wicket:t></div>
			<table class="table mb-0">
				<tbody>
				<tr wicket:id="replicas">
					<td wicket:id="server"></td>
					<td class="text-right">
						<a wicket:id="sync" t:data-tippy-content="Request to sync"><wicket:svg href="refresh" class="icon"/></a>
					</td>
				</tr>
				</tbody>
			</table>
		</wicket:enclosure>
	</div>
</wicket:panel>