.accounts .head {
	margin-bottom: 20px;
}
.accounts .head .search {
	width: 250px;
}
.accounts .head>.pull-left {
	margin-right: 20px;
}
.accounts .pagination {
	margin: 0;
}
.accounts .actions .fa {
	font-size: 18px;
	color: #666;
}