<wicket:panel>
    <div class="commit-filter-edit">
        <div class="mb-3 font-size-sm text-muted">
            <wicket:svg href="bulb" class="icon"/> 
            <wicket:t>Below are some common criterias. Type in search box above to view the complete list and available combinations.</wicket:t>
        </div>
        <div class="form-group">
            <label class="control-label"><wicket:t>Branch</wicket:t></label>
            <input wicket:id="branch" type="hidden" class="form-control">
        </div>  
        <div class="form-group">
            <label class="control-label"><wicket:t>Tag</wicket:t></label>
            <input wicket:id="tag" type="hidden" class="form-control">
        </div>  
        <div class="form-group">
            <label class="control-label"><wicket:t>Build</wicket:t></label>
            <input wicket:id="build" type="hidden" class="form-control">
        </div>  
        <div class="form-group">
            <label class="control-label"><wicket:t>Touched File</wicket:t></label>
            <input wicket:id="file" type="hidden" class="form-control">
        </div>  
        <div class="form-group">
            <label class="control-label"><wicket:t>Authored By</wicket:t></label>
            <input wicket:id="authoredBy" type="hidden" class="form-control">
        </div>    
        <div class="form-group">
            <label class="control-label"><wicket:t>Committed By</wicket:t></label>
            <input wicket:id="committedBy" type="hidden" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label"><wicket:t>Committed After</wicket:t></label>
            <div class="clearable-wrapper">
                <input wicket:id="committedAfter" type="text" class="form-control">
            </div>
        </div>    
        <div class="form-group">
            <label class="control-label"><wicket:t>Committed Before</wicket:t></label>
            <div class="clearable-wrapper">
                <input wicket:id="committedBefore" type="text" class="form-control">
            </div>
        </div>        
    </div>
</wicket:panel>