<wicket:panel>
	<div class="commit-list">
		<div class="head">
			<form wicket:id="query" class="clearable-wrapper">
				<div class="input-group">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query commits here">
					<span class="input-group-btn">
						<button wicket:id="submit" type="submit" class="btn btn-default" title="Query"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<div class="operations">
				<a wicket:id="showSavedQueries" class="show-saved-queries"><i class="fa fa-eye"></i> Show Saved Queries</a>
				<a wicket:id="saveQuery" class="save-query"><i class="fa fa-save"></i> Save Query</a>
			</div>
		</div>
        <div wicket:id="body" class="body">
            <div wicket:id="feedback"></div>
            <ul class="list list-unstyled">
                <li wicket:id="commits"></li>
            </ul>
            <div wicket:id="noCommits" class="no-records">No commits found</div>
        </div>
        <div wicket:id="foot" class="foot">
            <a wicket:id="more" class="btn btn-default">More commits</a>
            <div wicket:id="tooMany" class="alert alert-warning">Too many commits to load</div>
        </div>
	</div>
	<wicket:fragment wicket:id="commitFrag">
		<div class="avatar">
			<span wicket:id="avatar"></span>
		</div>
		<div class="detail">
			<div class="message-and-labels clearfix">
				<div wicket:id="message" class="message pull-left"></div>
				<div wicket:id="labels" class="pull-left">
					<span wicket:id="label" class="label label-default"></span>
				</div>
			</div>
			<div wicket:id="contribution"></div>
		</div>
		<div class="actions">
	        <span wicket:id="buildStatus" class="build-status"></span>
	        <span class="btn-group hash">
	            <a wicket:id="hashLink" class="btn btn-default hash"><span wicket:id="hash"></span></a>
	            <a wicket:id="copyHash" class="btn btn-default"><i class="fa fa-clipboard"></i></a>
	        </span>
	        <span class="btn-group browse">
	            <a wicket:id="browseCode" title="Browse code" class="btn btn-default"><i class="fa fa-file-text-o"></i></a>
	            <wicket:enclosure>
	            <a wicket:id="compare" class="compare btn btn-default" title="Compare with base revision"><i class="fa fa-ext fa-file-diff"></i></a>
	            </wicket:enclosure>
	        </span>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="dateFrag">
		<i class="fa fa-calendar"></i> <span wicket:id="date"></span>
	</wicket:fragment>
</wicket:panel>