.commit-list {
    position: relative;
}
.commit-list>.head {
	position: relative;
}
.commit-list>.head>* {
	margin-bottom: 20px;
}
.commit-list>.head>.others:empty {
	margin-bottom: 0;
}
.commit-list>.head>.others>* {
	margin-right: 16px;
	color: #444;
}
.commit-list>.head>.others>*:last-child {
	margin-right: 0;
}

.commit-list>.body .no-commits {
	font-size: 16px;
}
.commit-list>.body>ul>li {
	padding: 4px 8px;
	position: relative;
}
.commit-list>.body li.commit>.avatar {
	left: 8px;
	top: 8px;
	position: absolute;
}
.commit-list>.body .label {
	margin-right: 8px;
}
.commit-list>.body .summary a {
	font-weight: bold;
	font-size: 15px;
	line-height: 12px;
}
.commit-list>.body .commit>.detail {
	padding-left: 48px; 
	padding-right: 180px;
	word-break: break-all;
}
.commit-list>.body .commit.with-status>.detail {
	padding-right: 240px;
}
.commit-list>.body .commit>.actions {
	position: absolute;
	right: 8px;
	top: 8px;
}

.commit-list>.body li.commit:hover, .commit-list>.body li.commit.hover {
	background: #F7ECB9;
}
.commit-list>.body .commit-message .highlight {
	background: yellow;
}
.commit-list>.body li.commit .contribution {
	font-size: 12px;
}
.commit-list>.body .message-and-labels {
	margin-bottom: 4px;
}
.commit-list>.body .message-and-labels .commit-message {
	margin-right: 8px;
}
.commit-list>.body .commit>.actions>span {
    margin-left: 4px;
}
.commit-list>.body>.list {
	margin-bottom: 0;
}
.commit-list>.foot {
	text-align: center;
}
.commit-list>.foot>.alert, .commit-list>.foot>.btn {
	margin-top: 12px;
	margin-bottom: 0;
}
.commit-list li.date {
	font-size: 18px;
	margin-top: 12px;
	text-align: left;
	border-bottom: 1px solid #EEE;
}

@media(max-width: 991px) {
	.commit-list li.commit .hash, .commit-list li.commit .browse {
		display: none;
	}
	.commit-list>.body .commit>.detail {
		padding-right: 0;
	}
	.commit-list>.body .commit.with-status>.detail {
		padding-right: 60px;
	}
}
