<wicket:extend>
	<div id="main">
		<div wicket:id="mainHead" class="head clearfix">
			<div class="logo pull-left">
				<a wicket:id="home" title="Dashboard"><i class="fa fa-ext fa-gitplex-logo"></i></a>
			</div>
			<div wicket:id="breadcrumbs" class="breadcrumb pull-left clearfix">
				<a wicket:id="nav" class="nav pull-left"></a>
				<div wicket:id="separator" class="separator pull-left">></div>
			</div>
			<div class="user pull-right">
			  	<wicket:enclosure child="login">
			  		<div class="logged-out">
				  		<a wicket:id="login">Log in</a>
				  		<a wicket:id="register">Sign up</a>
			  		</div>
				</wicket:enclosure>
				<wicket:enclosure child="user">
					<div class="logged-in">
				  		<a wicket:id="tasks" class="tasks" title="You've got tasks"><i class="fa fa-circle"></i></a>
				  		<a wicket:id="user" class="current"></a>
				  		<a wicket:id="userMenuTrigger" class="menu"><i class="fa fa-angle-down"></i></a>
					</div>
			  	</wicket:enclosure>
			</div>
			<div class="help pull-right">
				<a wicket:id="docLink" title="Help"><i class="fa fa-question"></i></a>
			</div>
			<wicket:enclosure child="pushDisabled">
			<div class="push-disabled pull-right">
				<span wicket:id="pushDisabled" class="label label-danger">Git Push Disabled</span>
			</div>
			</wicket:enclosure>
		</div>
		<div class="body">
			<wicket:child></wicket:child>
		</div>
		<div wicket:id="mainFoot" class="foot clearfix">
			<div class="pull-left">
				<a href="https://www.gitplex.com">GitPlex</a>, <span wicket:id="productVersion"></span>, <span wicket:id="releaseDate"></span>
			</div>
			<div class="pull-right">
			    <a href="mailto:support@gitplex.com">Support & Bug Report</a> 
			</div>
		</div>
	</div>
	<wicket:fragment wicket:id="userMenuFrag">
		<div class="user">
			<a wicket:id="profile"><i class="fa fa-fw fa-gear"></i> My profile</a>
			<a wicket:id="logout"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
		</div>
	</wicket:fragment>
</wicket:extend>