#request-list {
	padding: 20px;
}
#request-list>.head {
	margin-bottom: 20px;
}
#request-list>.head a {
	margin-right: 8px;
}
#request-list td.filter {
	width: 25%;
	border: 1px solid #DDD;
}
#request-list td.filter>.head {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding: 8px 12px;
	background: #F2F2F2;
}
#request-list td.filter>.body {
	padding: 12px;
}
#request-list td.spacing {
	width: 20px;
}
#request-list td.result {
	border: 1px solid #DDD;
}
#request-list td.request {
	color: #888;
	padding: 8px 8px 0 8px;
	border-left: 4px solid white;
}
#request-list td.request img.avatar {
	width: 20px;
	height: 20px;
	vertical-align: text-top;
}

#request-list td.request.new {
	border-left: 4px solid #4667EE;
}
#request-list td.request>div {
	padding-bottom: 8px;
	border-bottom: 1px dotted #BBB;
}
#request-list td.result tr:last-child td.request>div {
	border-bottom: none;
}
#request-list td.request a.title {
	font-weight: bold;
	font-size: 16px;
	color: #444;
	margin-right: 8px;
}
#request-list td.request .number {
	font-size: 16px;
	margin-right: 8px;	
}
#request-list td.request .branches {
	margin-left: 12px;
	white-space: nowrap;
}
#request-list td.request a.branch {
	color: #444;
	font-size: 16px;
}
#request-list td.request .second-line {
	margin-top: 2px;
}
#request-list td.request .second-line a {
	color: #444;
}
#request-list td.result .norecords-td {
	padding: 20px;
	font-size: 20px;
}
