#request-list {
	padding: 20px;
}
#request-list>.head {
	margin-bottom: 20px;
}
#request-list>.head a {
	margin-right: 8px;
}
#request-list td.filter {
	width: 25%;
	border: 1px solid #DDD;
}
#request-list td.filter>.head {
	font-size: 16px;
	border-bottom: 1px solid #DDD;
	padding: 8px 12px;
	background: #F2F2F2;
}
#request-list td.filter>.body {
	padding: 12px;
}
#request-list td.spacing {
	width: 20px;
}
#request-list td.result {
	border: 1px solid #DDD;
}
#request-list td.request {
	color: #888;
	padding: 12px 12px 0 12px;
	border-left: 4px solid white;
}

#request-list td.request.new {
	border-left: 4px solid #4667EE;
}
#request-list td.request>div {
	padding-bottom: 12px;
	border-bottom: 2px dotted #BBB;
}
#request-list td.result tr:last-child td.request>div {
	border-bottom: none;
}

#request-list td.request .title {
	margin-right: 4px;
	font-size: 16px;
}
#request-list td.request .title a {
	color: #333;
}

#request-list td.request .title>* {
	margin-right: 8px;
}
#request-list td.request .title>.status {
	margin-right: 0;
}

#request-list td.request .branches {
	white-space: nowrap;
	font-size: 15px;
}
#request-list td.request .additional-info {
	margin-top: 4px;
	margin-left: 32px;
}
#request-list td.request .additional-info a {
	color: #444;
}
#request-list td.request .additional-info .middot:before {
	margin-left: 8px; 
	margin-right: 8px;
	font-size: 20px;
	line-height: 9px;
	
}

#request-list td.result .norecords-td {
	padding: 20px;
	font-size: 20px;
}
