.entity-selector {
	padding: 20px;
}
.entity-selector ul {
	margin: 0;
}
.entity-selector a.current:before {
	font-family: "FontAwesome"; 
	content: "\f00c"; 
	margin-right: 4px;	
	position: absolute;
	left: 4px;
}
.entity-selector .alert {
	margin: 0;
}
.entity-selector .search+.entities, .entity-selector .search+ul+.alert {
	margin-top: 12px;
}