<wicket:panel>
	<div class="entity-selector">
		<wicket:enclosure child="search">
		<div class="search">
			<input wicket:id="search" class="form-control input-sm" placeholder="Search..."></input>
		</div>
		</wicket:enclosure>
		<ul wicket:id="entities" class="list-unstyled entities autosize">
			<li wicket:id="entities" class="entity selectable">
				<a wicket:id="link">
					<span wicket:id="entity"></span>
				</a>
			</li>
		</ul>
		<div wicket:id="noEntities" class="alert alert-warning"></div>
	</div>
</wicket:panel>