<wicket:panel>
	<span class="issue-state">
		<span wicket:id="name" class="label"></span> <a wicket:id="undefined" title="State is undefined, click for details"><i class="fa fa-warning"></i></a>
	</span>
	<wicket:fragment wicket:id="fixUndefinedFrag">
		<form wicket:id="form" class="missing-state leave-confirm">
			<div class="modal-header">
				<button wicket:id="close" type="button" class="close">&times;</button>
				<h4 id="modal-title" class="modal-title">
					Undefined State
				</h4>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning">State '<span wicket:id="state"></span>'
				is undefined. You may change it to another existing state below</div>
				<div wicket:id="editor"></div>
			</div>
			<div class="modal-footer">
				<input wicket:id="fix" type="submit" class="dirty-aware btn btn-primary" value="Fix"></input>
				<a wicket:id="cancel" class="btn btn-default">Cancel</a>
			</div>
		</form>	
	</wicket:fragment>
</wicket:panel>