.user-detail {
    position: relative;
    font-size: 16px;
    padding: 12px;
    line-height: 22px;
}
.user-detail.non-git-user .other {
    padding: 8px 12px 12px 80px;
}
.user-detail.git-user .other {
    padding: 8px 12px 12px 104px;
}
.user-detail.non-git-user img {
    position: absolute;
    width: 64px;
    height: 64px;
}
.user-detail.git-user img {
    position: absolute;
    width: 90px;
    height: 90px;
}
.user-detail i {
    color: #888;
    font-size: 14px;
}