#request-detail>.overview>tbody>tr>td.activities {
	width: 75%; 
	padding-right: 16px;
}
#request-detail .activities>table {
	margin-bottom: 20px; 
	table-layout: fixed;
	border-bottom: 1px solid #CCC;
}
#request-detail tr.activity>td.spacer {
	border-right: 1px solid #E8E8E8;
}
#request-detail td.avatar {
	width: 48px; 
	border-left: 4px solid white;
	padding-left: 8px;
}
#request-detail td.spacer {
	width: 30px; 
}
#request-detail .discussion>td.content>div.activity {
	position: relative;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: white;
	margin-left: -15px;
}
#request-detail .discussion>td.content>div.activity:before {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: -8px;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #CBCBCB;
	content: "";
}
#request-detail .discussion>td.content>.activity:after {
	display: inline-block;
	position: absolute;
	top: 11px;
	left: -7px;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	border-right: 7px solid #F5F5F5;
	content: "";
}
#request-detail .discussion+.discussion>td {
	padding-top: 30px;
}
#request-detail .discussion:last-child>td {
	padding-bottom: 20px;
}
#request-detail .non-discussion:last-child>td.content {
	padding-bottom: 20px;
}
#request-detail .non-discussion>td.content {
	border-top: 1px solid #EEE;
}
#request-detail .discussion+.non-discussion>td.content,
#request-detail .update+.update>td.content {
	border-top: none;
}
#request-detail .discussion>.avatar img {
	width: 40px; 
	height: 40px;
}
#request-detail .non-discussion>td.content {
	font-size: 13px;
	padding: 10px 0;
}

#request-detail div.activity, #request-detail div.activity a {
	color: #999; 
}
#request-detail div.activity>div.body {
	color: #444; 
}

#request-detail div.activity .operations>* {
	color: #DDD;
	margin-left: 4px;
}
#request-detail div.activity:hover .operations>* {
	color: #999;
}
#request-detail div.activity .user a {
	color: #666; 
	font-weight: bold; 
	font-style: normal;
}
#request-detail .non-discussion div.activity {
	margin-left: -14px;
}
#request-detail .non-discussion div.activity>.icon {
	border-radius: 13px;
	background: #5CA7F8;
	width: 26px;
	height: 26px;
	color: white;
	padding: 6px;
	margin-right: 4px;
}
#request-detail .discussion div.activity>.head {
	padding: 10px;
	border-radius: 4px 4px 0 0;
	background: #F5F5F5;
}
#request-detail .discussion div.activity>.body {
	padding: 12px;
}
#request-detail .non-discussion div.activity .user a {
	font-weight: normal;
}

#request-detail .non-discussion>td.avatar img {
	display: none;
}
#request-detail .activities tr.activity>.content>.update {
	color: #777; 
	margin-left: -7px;
}
#request-detail .activities tr.activity>.content>.update>.alert {
	margin: 0 0 8px 28px;
}
#request-detail .activities tr.activity>.content>.update a {
	color: #555;
}
#request-detail .activities tr.activity>.content>.update td {
	padding: 4px 0;
}
#request-detail .activities tr.activity>.content>.update td.status {
	width: 120px;
}
#request-detail .update+.update>td.content>div {
	margin-top: -16px;
}
#request-detail .update+.update>td.content>div>.alert {
	margin-top: 16px;
}
#request-detail .discussion+.non-discussion>td.content {
	padding-top: 16px;
}
#request-detail .non-discussion+.discussion>td {
	padding-top: 8px;
}

#request-detail .activities tr.activity>.content>.update td.detail {
	padding-left: 13px;
	padding-right: 8px;
}
#request-detail .activities tr.activity>.content>.update td.detail .commit-message {
	padding-left: 4px;
}
#request-detail .activities tr.activity>.content>.update td.icon {
	width: 1px; 
	padding-top: 7px;
}
#request-detail .activities tr.activity>.content>.update td.status {
	text-align: right;
	white-space: nowrap;
}
#request-detail .activities tr.activity>.content>.update tr:hover td {
	background: #F5F5F5;
}
#request-detail .activities tr.activity>.content>.update tr.integrated td.icon .fa {
	color: #35A612;
}
#request-detail .activities tr.activity>.content>.update tr.rebased td a {
	color: #AAA;
}
#request-detail .activities tr.activity>.content>.update tr.rebased td.icon .fa {
	color: #CCC;
}
#request-detail .activities tr.activity>.content>.update tr.rebased img.avatar {
	opacity: 0.5;
}
#request-detail .activities tr.activity>.content>.update td.status .successful {
	color: #35A612;
}
#request-detail .activities tr.activity>.content>.update td.status .failed {
	color: #F93333;
}
#request-detail .activities tr.activity>.content>.update td.status .running {
	color: #AFAD1F;
}
#request-detail .activities tr.activity.new>.avatar {
	border-color: #4667EE;
}

#request-detail .activities tr.activity>.content>.discard>.icon {
	background: #F93333;
	padding-left: 7px;
}
#request-detail .activities tr.activity>.content>.integrate>.icon {
	background: #35A612; 
}
#request-detail .activities tr.activity>.content>.approve>.icon {
	background: #35A612; 
}
#request-detail .activities tr.activity>.content>.disapprove>.icon {
	background: #F93333; 
}
#request-detail .activities tr.activity>.content>.undo-review>.icon {
	padding-left: 8px;
	padding-top: 7px;
}
#request-detail .activities tr.activity>.content>.delete-source-branch>.icon,
#request-detail .activities tr.activity>.content>.restore-source-branch>.icon {
	padding-top: 7px;
	padding-left: 8px;
}
#request-detail .activities tr.activity>.content>.delete-source-branch .branch,
#request-detail .activities tr.activity>.content>.restore-source-branch .branch {
	color: #666;
}
#request-detail .activities tr.activity>.content>.reopen>.icon {
	padding-left: 7px;
}
#request-detail .activities tr.activity>.content>.reference>.head>.icon {
	padding-left: 8px;
}
#request-detail .activities tr.activity>.content>.reference>.head {
	margin-bottom: 10px;
}
#request-detail .activities tr.activity>.content>.reference>.body {
	margin-left: 20px;
	font-size: 15px;
}
#request-detail .activities tr.activity>.content>.reference>.body a {
	color: #333;
}
#request-detail .activities tr.activity>.content>.reference>.body a .id {
	color: #999;
}
#request-detail .activities tr.activity>.content>.reference>.body .status .help {
	display: none;
}
#request-detail .activities tr.activity>.content>.open .feedback .alert {
	margin-bottom: 8px;
}

#request-detail .info>div>div {
	border-bottom: 1px dotted #BBB; 
	margin-bottom: 16px; 
	padding-bottom: 16px; 
	color: #666;
}
#request-detail .info>div>div:last-child {
	border-bottom: none; 
	margin-bottom: 0; 
	padding-bottom: 0;
}
#request-detail .info .help-block {
	margin-bottom: 0; 
	color: #888;
}
#request-detail .info .fa.small {
	font-size: 14px; 
	vertical-align: middle;
}
#request-detail .info label {
	margin-right: 4px; 
	font-weight: normal;
}
#request-detail .info .select2-container {
	width: 100%;
}
#request-detail .info .avatar {
	width: 24px; 
	height: 24px;
}
#request-detail .info .select2-container .avatar {
	width: 20px; 
	height: 20px;
}

#request-detail .info .reviewers ul {
	margin-bottom: 0;
}
#request-detail .info .reviewers li {
	margin-right: 20px; 
	margin-bottom: 10px; 
	position: relative;
}
#request-detail .info .reviewers li a:hover {
	text-decoration: none;
}

#request-detail .info .reviewers .review-result {
	top: -4px;
}

