.floating {
	background-clip: padding-box; 
	background-color: #FFF; 
	border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
    position: absolute;
	z-index: 2000;
}

/* wicket default ajax lazyload style */ 
.floating>.content>div>img[alt="Loading..."] {
	margin: 8px;
}