.instant-search input.form-control {
	width: 200px; 
	display: none; 
	cursor: text;
}
.instant-search a {
	color: #666;
}
.instant-search-result .section {
	margin-bottom: 8px;
}
.instant-search-result {
	padding: 8px; 
	width: 600px; 
	max-height: 600px; 
	overflow: auto;
}
.instant-search-result .section>.title {
	font-weight: bold; 
	margin-bottom: 4px;
}
.instant-search-result li.hit .scope {
	color: #666; 
	font-size: 12px;
}