<wicket:panel>
	<div wicket:id="term" class="form-group">
		<label class="control-label"><wicket:message key="Search_for" /> <span class="text-danger">*</span></label>
		<input wicket:id="term" name="searchFor" class="form-control" type="text">
		<div wicket:id="feedback" class="mt-2"></div>
	</div>
	<div class="form-group">
		<div class="checkbox-inline">
			<label class="checkbox"><input wicket:id="regex" type="checkbox"> <wicket:message key="Regular_Expression" /></label>
			<label class="checkbox"><input wicket:id="wholeWord" type="checkbox"> <wicket:message key="Whole_Word" /></label>
			<label class="checkbox"><input wicket:id="caseSensitive" type="checkbox"> <wicket:message key="Case_Sensitive" /></label>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label"><wicket:message key="File_Name_Patterns" /></label>
		<input wicket:id="fileNames" class="form-control" type="text" wicket:message="placeholder:File_Name_Patterns_Desc">
	</div>
</wicket:panel>
