<wicket:panel>
	<div wicket:id="term" class="form-group">
		<label>Text <span class="text-danger">*</span></label>
		<input wicket:id="term" name="searchFor" class="form-control" type="text">
		<div wicket:id="feedback" class="mt-2"></div>
	</div>
	<div class="form-group">
		<div class="checkbox-inline">
			<label class="checkbox"><input wicket:id="regex" type="checkbox"> Regular expression</label>
			<label class="checkbox"><input wicket:id="wholeWord" type="checkbox"> Whole word</label>
			<label class="checkbox"><input wicket:id="caseSensitive" type="checkbox"> Case sensitive</label>
		</div>
	</div>
	<div class="form-group">
		<label>File name patterns (separated by comma)</label>
		<input wicket:id="fileNames" class="form-control" type="text" placeholder="File name patterns such as *.java, *.c">
	</div>
</wicket:panel>
