.build-artifacts th, .build-artifacts td {
    padding: 8px;
    border-bottom: 1px solid #DDD;
}
.build-artifacts th.tree {
    padding-left: 18px;
}
.build-artifacts td.tree {
    padding-left: 0px;
}
.build-artifacts th {
    border-bottom-width: 2px;
}
.build-artifacts .tree-content>a:before {
    margin-right: 4px;
    width: 1.28571429em;
    text-align: center;
	font-family: "FontAwesome";
}
.build-artifacts .tree-content>a.folder:before {
    content: "\f114";
}
.build-artifacts .tree-content>a.file:before {
    content: "\f0f6";
}