#request-detail>.updates>.update {
	margin: 20px 0; 
	border: 1px solid #DDD; 
	border-radius: 4px;
}
#request-detail>.updates>.update>.summary {
	color: #999;
	padding: 8px 12px;
	border-bottom: 1px solid #DDD;	
	background: #F5F5F5;
	border-radius: 4px 4px 0 0;
}
#request-detail>.updates>.update>.summary .update-no {
	font-weight: bold;
	color: #666;
}
#request-detail>.updates>.update>.summary .operations {
	margin-left: 8px;
}
#request-detail>.updates>.update>.summary .operations .fa {
	color: #999;
}
#request-detail>.updates>.update>.summary>.reviews>.review {
	margin-left: 12px; 
	white-space: nowrap; 
	position: relative;
}
#request-detail>.updates>.update>.alert {
	margin-bottom: 0;
	border-radius: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
#request-detail>.updates>.update>.commits td {
	padding: 8px; 
	color: #888; 
	border-top: 1px dashed #CCC;
}
#request-detail>.updates>.update>.commits tr:first-child td {
	border-top: none;
}
#request-detail>.updates>.update>.commits tr.rebased td a {
	color: #AAA;
}
#request-detail>.updates>.update>.commits tr.rebased img.avatar {
	opacity: 0.5;
}
#request-detail>.updates>.update>.commits td.avatar {
	width: 1px;
	padding-top: 12px;
	padding-right: 0;
}
#request-detail>.updates>.update>.commits a {
	color: #666;
}
#request-detail>.updates>.update>.commits a.summary {
	font-weight: bold;
}
#request-detail>.updates>.update>.commits td.detail {
	padding-left: 8px; 
	padding-right: 8px;
}
#request-detail>.updates>.update>.commits td.status {
	text-align: right;
}
#request-detail>.updates>.update>.commits td.status a.commit-hash {
	font-family: monospace;
}
#request-detail>.updates>.update>.commits td.status>div:first-child {
	white-space: nowrap;
}
#request-detail>.updates>.update>.commits tr:hover td {
	background: #F7ECB9;
}
#request-detail>.updates>.update>.commits .commit-message>.detail {
	margin-bottom: 4px;
}
