#server-init.center-box {
	width: 900px;
}
#server-init.inited {
	text-align: center;
}
#server-init>.title {
	font-size: 32px;
	font-weight: bold;
}
#server-init>.title .fa {
	font-size: 32px;
}
#server-init .wizard {
	padding-top: 20px;
	border-top: 1px solid #BBB;
	margin-top: 20px;
}