.issue-list>.head {
	position: relative;
}
.issue-list>.head>* {
	margin-bottom: 20px;
}
.issue-list>.head>form {
	margin-right: 124px;
}
.issue-list>.head>.open-new {
	position: absolute;
	right: 0;
	top: 0;
}
.issue-list>.head>.others>* {
	margin-right: 16px;
	color: #666;
}
.issue-list>.head>.others a[disabled] {
	text-decoration: none;
	color: #999;
	cursor: default;
}
.issue-list>.body td.custom-field div, .issue-list>.body td.state div {
	display: inline;
}
.issue-list>.body .field-values .value.has-color, .issue-list>.body td.state div {
	padding: 2px 4px;
	border-radius: 3px;
}
.issue-list>.body td.custom-field {
	white-space: nowrap;
}
.issue-list>.body tr.issue.new {
	font-weight: bold;
}
.issue-batch-edit form .modal-body>div {
	margin-bottom: 20px;
}
.issue-batch-edit .alert {
	margin-top: 10px;
	margin-bottom: 5px;
}
.issue-batch-edit .select-fields>.checkboxes>* {
	margin-right: 10px;
}