<wicket:panel>
	<div class="issue-list">
		<div class="head">
			<form wicket:id="query" class="clearable-wrapper">
				<div class="input-group no-autofocus">
					<input wicket:id="input" spellcheck="false" autocomplete="off" class="form-control" placeholder="Query and order issues here"></input>
					<span class="input-group-btn">
						<button wicket:id="submit" type="submit" class="btn btn-default" title="Query"><i class="fa fa-search"></i></button>
					</span>
				</div>
			</form>
			<a wicket:id="newIssue" class="open-new btn btn-success"><i class="fa fa-plus"></i> New Issue</a>
			<div class="others clearfix">
				<a wicket:id="saveQuery" class="pull-left"><i class="fa fa-save"></i> Save Query</a>
				<a wicket:id="batchEditSelected" class="pull-left"><i class="fa fa-pencil"></i> Batch Edit Selected</a>
				<a wicket:id="batchEditAll" class="pull-left"><i class="fa fa-pencil"></i> Batch Edit All</a>
				<a wicket:id="displayFields" class="display-fields pull-left"><i class="fa fa-list-ul"></i> Display Fields</a>
				<div wicket:id="pageInfo" class="page-info pull-right"></div>
			</div>
		</div>
		<div class="body">
			<div wicket:id="feedback"></div>
			<table wicket:id="issues" class="table"></table>
		</div>
	</div>
	<wicket:fragment wicket:id="linkFrag">
		<a wicket:id="link"><span wicket:id="label"></span></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="userFrag">
		<a wicket:id="avatar" class="avatar"></a>
		<a wicket:id="name" class="name"></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="fieldsFrag">
		<form wicket:id="form" class="issue-table-fields leave-confirm no-autofocus">
			<div class="modal-header">
				<button wicket:id="close" type="button" class="close">&times;</button>
				<h4 id="modal-title" class="modal-title">
					Fields to Display
				</h4>
			</div>
			<div class="modal-body">
				<div wicket:id="editor"></div>
			</div>
			<div class="modal-footer clearfix">
				<input wicket:id="save" type="submit" class="dirty-aware btn btn-primary" value="Save"></input>
				<a wicket:id="cancel" class="btn btn-default">Cancel</a>
			</div>
		</form>	
	</wicket:fragment>	
</wicket:panel>