.fieldspec-edit .property-showCondition>.value label {
	font-weight: normal;
}

#project-setting .issue-custom-fields table td {
	padding: 0;
}
#project-setting .issue-custom-fields table td.norecords-td {
	padding: 5px;
}
#project-setting .issue-custom-fields table a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 5px;
}
#project-setting .issue-custom-fields table>tbody>tr>td:first-child>div {
	position: relative;
	top: 0;
}
#project-setting .issue-custom-fields table>tbody>tr>td:first-child>div>.handle {
	position: absolute;
	top: 8px;
}
#project-setting .issue-custom-fields table>tbody>tr>td:first-child>div>a {
	margin-left: 16px;
}

.floating.issue-custom-field {
	width: 600px;
}
.floating.issue-custom-field .actions {
	margin-bottom: 12px;
}

.floating.issue-custom-field .property-showCondition .property-inputName td.name, 
.floating.issue-custom-field .property-choicesProvider .property-inputName td.name,
.floating.issue-custom-field .property-choicesOfOtherValues td.name,
.floating.issue-custom-field .property-defaultValueProvider .property-inputName td.name,
.floating.issue-custom-field .property-defaultValueOfOtherValues td.name { 
	border-right: none;
	text-align: left;
}

.fieldspec-edit .property-choicesProvider>.value label.name,
.fieldspec-edit .property-choicesProvider>.value .bean.list thead th,
.property-nameOfEmptyValue .control-label {
	font-weight: normal;
}
