<wicket:panel>
    <a wicket:id="link" class="commit-status"><span wicket:id="icon"></span></a>
    <wicket:fragment wicket:id="detailFrag">
        <div class="commit-status-detail">
            <div wicket:id="jobs" class="job">
                <div class="head clearfix">
                    <a wicket:id="jobDetailToggle" class="detail pull-left"><span wicket:id="icon"></span></a>
                    <a wicket:id="jobDef" class="def pull-left" title="Goto job definition"><span wicket:id="label"></span></a>
                    <a wicket:id="runJob" class="run pull-right" title="Run this job"><i class="fa fa-play"></i></a>
                    <a wicket:id="showInList" class="show-in-list pull-right" title="Show in build list"><i class="fa fa-list-ul"></i></a>
                </div>
                <div wicket:id="jobDetail" class="body"></div>
            </div>
        </div>
    </wicket:fragment>
</wicket:panel>