.commit-status {
    display: inline-block;
}
.commit-status-detail {
    padding: 12px;
}
.commit-status-detail>.job>.head {
    padding: 4px 0;
}
.commit-status-detail>.job>.head>.detail {
    margin-right: 8px;
}
.commit-status-detail>.job>.head>.def {
    margin-right: 40px;
}
.commit-status-detail>.job>.head>.run {
    margin-left: 8px;
    color: #666;
}
.commit-status-detail>.job>.head>.show-in-list {
    color: #666;
}
.commit-status-detail>.job>.body {
    border-top: 1px solid #D8D8D8;
    padding: 8px 0 0 8px;
}
.commit-status-detail>.job>.head>.detail {
    margin-top: 2px;
}