table.assignments>tbody>tr>td {
	padding: 0.5rem 1rem;
	vertical-align: middle;
}
table.assignments>tbody>tr>td:first-child {
	padding-left: 0;
}
table.assignments>tbody>tr>td:last-child {
	padding-right: 0;
}
table.assignments>tbody>tr:first-child>td {
	padding-top: 0;
}
table.assignments>tbody>tr:last-child>td {
	padding-bottom: 0;
}
table.assignments>tbody>tr>td.actions {
	text-align: right;
}
