<wicket:panel>
	<table class="assignments">
		<tr wicket:id="assignments">
			<td class="user float-left">
				<a wicket:id="user"></a> 
			</td>
			<td class="actions">
				<a wicket:id="delete" class="btn btn-icon btn-xs btn-light btn-hover-danger" title="Remove this assignee"><wicket:svg href="trash" class="icon"></wicket:svg></a>
			</td>
		</tr>
		<wicket:enclosure>
		<tr class="add-assignee">
			<td colspan="2">
				<input wicket:id="addAssignee" type="hidden" class="form-control">
			</td>
		</tr>
		</wicket:enclosure>
	</table>
</wicket:panel>