.file-list {
	overflow: auto;
}
.file-list>table>tbody>tr>td {
	padding: 6px 12px; 
	border-top: 1px solid #EEE; 
}

.file-list>table>tbody>tr>td.path, .file-list>table>tbody>tr>td.last-commit.author, 
.file-list>table>tbody>tr>td.last-commit.when {
	white-space: nowrap;
}
.file-list>table>tbody>tr>td.last-commit img {
	width: 20px;
	height: 20px;
}
.file-list>table>tbody>tr>td.last-commit, .file-list>table>tbody>tr>td.last-commit a {
	color: #444;
	font-size: 13px;
}
.file-list>table>tbody>tr>td.last-commit .when {
	color: #888;
}
.file-list>table>tbody>tr:first-child>td {
	border-top: none;
}
.file-list>table tr.parent td {
	padding: 3px 12px;
}
.file-list>table tr.parent td a i {
	margin-right: 2px;
}
.file-list>table tr.parent td a span {
	font-size: 18px;
}
.file-list>.readme {
	border-top: 1px solid #BBB;
}
.file-list>.readme>.head {
	padding: 6px 12px;
	background: #F2F2F2;
	font-weight: bold;	
	border-bottom: 1px solid #BBB;
}
.file-list>.readme>.head a {
	color: #333;
	margin-left: 4px;
}
.file-list>.readme>.body {
	padding: 20px;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}