@media(max-width: 767px) {
	.gpg-key-list .expanded {
		display: none;
	}
}

.gpg-key-list .email-addresses .value {
	margin-right: 0.5rem;
}
.gpg-key-list .email-addresses .value:last-child {
	margin-right: 0;
}
.insert-gpg-key textarea {
	font-family: monospace;
	height: 200px !important;
}