<wicket:panel>
	<div class="insert-gpg-key">
		<div class="modal-header">
			<h5 class="modal-title"><wicket:t>Add a GPG Public Key</wicket:t></h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<form wicket:id="form">
			<div class="modal-body">
				<div wicket:id="editor"></div>
			</div>
			<div class="modal-footer">
				<input wicket:id="add" type="submit" t:value="Add" class="btn btn-primary dirty-aware">
				<button wicket:id="cancel" type="button" class="btn btn-secondary"><wicket:t>Cancel</wicket:t></button>
			</div>
		</form>
	</div>
</wicket:panel>