.issue-side>div>.head {
	font-weight: bold;
	margin-bottom: 16px;
}
.issue-side>div .body>* {
	margin-bottom: 16px;
}
.issue-side>div>.body a.avatar {
	margin-right: 8px;
}
.issue-side>div>.body .field-values a.avatar {
	margin-right: 0;
}
.issue-side>* {
	margin-bottom: 20px;
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
}
.issue-side>div:first-child {
	border-top: none;
	padding-top: 0;
}

.issue-side .fields td {
	padding-bottom: 12px;
	vertical-align: top;
}
.issue-side .fields tr:last-child td {
	padding-bottom: 0;
}
.issue-side .fields td.name {
	white-space: nowrap;
	padding-right: 20px;
}
.issue-side a.action {
	margin-top: 0;
	margin-left: 8px;
	color: #666;
}
.issue-side .milestone>.body>.progress {
	margin-top: 20px;
}
.issue-side .commits .commit {
    margin-bottom: 4px;
}
.issue-side .commits .commit .avatar {
    width: 16px;
    height: 16px;
}