#revision-compare {
	padding: 20px 20px 0 20px;
}
#revision-compare>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
#revision-compare>.body>div {
	margin-bottom: 20px;
}
#revision-compare>.body>.revisions {
	margin-bottom: 20px;
}
#revision-compare>.body>.revisions>.revision {
	background: #F0F0F0; 
	border: 1px dashed #BBB;
	border-radius: 4px; 
	padding: 12px;
}
#revision-compare>.body>.revisions>.action {
	margin-right: 0;
	padding: 18px;
}
#revision-compare>.body>.revisions>.revision>div>label {
	font-size: 16px;
	color: #888;
	font-weight: normal;
}
#revision-compare>.body>.revisions>.revision>div>input {
	margin-left: 16px;
}
#revision-compare>.body>.revisions>.revision>div>span {
	color: #888;
	margin-left: 4px;
}
#revision-compare>.body>.revisions>.revision>div>a {
	color: #666;
	margin-left: 4px;
	margin-bottom: 4px;
}

#revision-compare .with-merge-base ul>li.commit:last-child {
	opacity: 0.6;	
}
