#revision-compare {
	padding: 20px 20px 0 20px;
}
#revision-compare>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
#revision-compare>.body>div {
	margin-bottom: 20px;
}
#revision-compare>.body>.revisions {
	margin-bottom: 20px;
}
#revision-compare>.body>.revisions>.revision {
	background: #F0F0F0; 
	border: 1px dashed #BBB;
	border-radius: 4px; 
	padding: 12px;
}
#revision-compare>.body>.revisions>.action {
	margin-right: 0;
	padding: 18px;
}
#revision-compare>.body>.revisions>.revision>label {
	font-size: 16px;
	color: #888;
	font-weight: normal;
}
#revision-compare>.body>.revisions>.revision>input {
	margin-left: 16px;
}
#revision-compare>.body>.revisions>.revision>span {
	vertical-align: top;
	color: #888;
}
#revision-compare>.body>.revisions>.revision>a {
	color: #666;
}

#revision-compare>.body>.nav-tabs {
	margin-bottom: 20px;
}
#revision-compare>.body>.tab-panel>.diff-option {
	padding: 8px;
	background: #F2F2F2;
	border: 1px solid #DDD;
	z-index: 200;
	margin-bottom: 16px;
}
