.log-entry>.date {
	color: var(--gray);	
}
.dark-mode .log-entry>.date {
	color: var(--dark-mode-gray);	
}
.log-entry>.font-weight-bold {
    font-weight: 600 !important;
}

.log-entry>.fg-fg-default {
	color: var(--dark);
}
.log-entry>.fg-bg-default {
	color: white;
}
.log-entry>.fg-30 {
	color: black;
}
.log-entry>.fg-31 {
	color: rgb(252, 2, 7);
}
.log-entry>.fg-32 {
	color: rgb(0, 188, 0);
}
.log-entry>.fg-33 {
	color: rgb(236, 153, 2);
}
.log-entry>.fg-34 {
	color: rgb(90, 156, 252);
}
.log-entry>.fg-35 {
	color: rgb(213, 0, 220);
}
.log-entry>.fg-36 {
	color: rgb(0, 198, 201);
}
.log-entry>.fg-37 {
	color: white;
}
.log-entry>.fg-90 {
	color: black;
}
.log-entry>.fg-91 {
	color: rgb(252, 2, 7);
}
.log-entry>.fg-92 {
	color: rgb(0, 188, 0);
}
.log-entry>.fg-93 {
	color: rgb(236, 153, 2);
}
.log-entry>.fg-94 {
	color: rgb(90, 156, 252);
}
.log-entry>.fg-95 {
	color: rgb(213, 0, 220);
}
.log-entry>.fg-96 {
	color: rgb(0, 198, 201);
}
.log-entry>.fg-97 {
	color: white;
}

.log-entry>.bg-fg-default {
	background-color: var(--dark);
}
.log-entry>.bg-bg-default {
	background-color: white;
}
.log-entry>.bg-40 {
	background-color: black;
}
.log-entry>.bg-41 {
	background-color: rgb(255, 170, 166);
}
.log-entry>.bg-42 {
	background-color: rgb(162, 254, 152);
}
.log-entry>.bg-43 {
	background-color: rgb(255, 248, 188);
}
.log-entry>.bg-44 {
	background-color: rgb(185, 223, 255);
}
.log-entry>.bg-45 {
	background-color: rgb(255, 192, 247);
}
.log-entry>.bg-46 {
	background-color: rgb(174, 255, 248);
}
.log-entry>.bg-47 {
	background-color: white;
}
.log-entry>.bg-100 {
	background-color: black;
}
.log-entry>.bg-101 {
	background-color: rgb(255, 170, 166);
}
.log-entry>.bg-102 {
	background-color: rgb(162, 254, 152);
}
.log-entry>.bg-103 {
	background-color: rgb(255, 248, 188);
}
.log-entry>.bg-104 {
	background-color: rgb(185, 223, 255);
}
.log-entry>.bg-105 {
	background-color: rgb(255, 192, 247);
}
.log-entry>.bg-106 {
	background-color: rgb(174, 255, 248);
}
.log-entry>.bg-107 {
	background-color: white;
}

.dark-mode .log-entry>.fg-fg-default {
	color: var(--dark-mode-light-gray);
}
.dark-mode .log-entry>.fg-bg-default {
	color: var(--dark-mode-dark);
}
.dark-mode .log-entry>.fg-30 {
	color: white;
}
.dark-mode .log-entry>.fg-31 {
	color: rgb(173, 1, 4);
}
.dark-mode .log-entry>.fg-32 {
	color: rgb(0, 151, 0);
}
.dark-mode .log-entry>.fg-33 {
	color: rgb(199, 128, 1);
}
.dark-mode .log-entry>.fg-34 {
	color: rgb(79, 134, 213);
}
.dark-mode .log-entry>.fg-35 {
	color: rgb(165, 0, 170);
}
.dark-mode .log-entry>.fg-36 {
	color: rgb(0, 169, 172);
}
.dark-mode .log-entry>.fg-37 {
	color: black;
}
.dark-mode .log-entry>.fg-90 {
	color: white;
}
.dark-mode .log-entry>.fg-91 {
	color: rgb(173, 1, 4);
}
.dark-mode .log-entry>.fg-92 {
	color: rgb(0, 151, 0);
}
.dark-mode .log-entry>.fg-93 {
	color: rgb(199, 128, 1);
}
.dark-mode .log-entry>.fg-94 {
	color: rgb(79, 134, 213);
}
.dark-mode .log-entry>.fg-95 {
	color: rgb(165, 0, 170);
}
.dark-mode .log-entry>.fg-96 {
	color: rgb(0, 169, 172);
}
.dark-mode .log-entry>.fg-97 {
	color: black;
}

.dark-mode .log-entry>.bg-fg-default {
	background-color: white;
}
.dark-mode .log-entry>.bg-bg-default {
	background-color: var(--dark-mode-dark);
}
.dark-mode .log-entry>.bg-40 {
	background-color: white;
}
.dark-mode .log-entry>.bg-41 {
	background-color: rgb(135, 1, 3);
}
.dark-mode .log-entry>.bg-42 {
	background-color: rgb(0, 125, 0);
}
.dark-mode .log-entry>.bg-43 {
	background-color: rgb(151, 98, 1);
}
.dark-mode .log-entry>.bg-44 {
	background-color: rgb(62, 107, 173);
}
.dark-mode .log-entry>.bg-45 {
	background-color: rgb(135, 0, 140);
}
.dark-mode .log-entry>.bg-46 {
	background-color: rgb(0, 115, 119);
}
.dark-mode .log-entry>.bg-47 {
	background-color: black;
}
.dark-mode .log-entry>.bg-100 {
	background-color: white;
}
.dark-mode .log-entry>.bg-101 {
	background-color: rgb(135, 1, 3);
}
.dark-mode .log-entry>.bg-102 {
	background-color: rgb(0, 125, 0);
}
.dark-mode .log-entry>.bg-103 {
	background-color: rgb(151, 98, 1);
}
.dark-mode .log-entry>.bg-104 {
	background-color: rgb(62, 107, 173);
}
.dark-mode .log-entry>.bg-105 {
	background-color: rgb(135, 0, 140);
}
.dark-mode .log-entry>.bg-106 {
	background-color: rgb(0, 115, 119);
}
.dark-mode .log-entry>.bg-107 {
	background-color: black;
}
