.no-commits {
	margin: 20px;
}
.no-commits>.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.push-instructions {
	padding: 12px;
}
.push-instructions .title {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 12px;
}
.push-instructions .code {
	border: 1px dashed #BBB;
	background: #F5F5F5;
	border-radius: 4px;
	padding: 8px;
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 13px;
	margin-bottom: 8px;
}
