.no-commits {
	margin: 20px;
}
.no-commits>.title {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.push-instructions {
	padding: 20px;
	width: 600px;
}
.push-instructions .title {
	font-weight: bold;
	margin-bottom: 12px;
}
.push-instructions .content {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 13px;
	margin-bottom: 8px;
}
.push-instructions .help-block {
	margin-bottom: 0;
}