.no-commits {
	padding: 20px;
}
.no-commits>.head {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.no-commits>.body>* {
	margin-bottom: 20px;
}
.no-commits>.body>code {
	display: block;
	color: #444;
	background: #F5F5F5;
	padding: 8px;
}
