<wicket:panel>
	<a wicket:id="link"><span wicket:id="label"></span> <wicket:svg href="arrow" class="icon rotate-90"></wicket:svg></a>
	<wicket:fragment wicket:id="dropdownFrag">
		<div class="p-3" style="max-height:480px;overflow:auto;">
			<table class="table table-hover mb-0">
				<thead>
					<tr>
						<th><wicket:t>Path</wicket:t></th>
						<th><wicket:t>Size</wicket:t></th>
					</tr>
				</thead>
				<tbody>
					<tr wicket:id="paths">
						<td><span wicket:id="path"></span></td>
						<td class="text-nowrap"><span wicket:id="size"></span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</wicket:fragment>
</wicket:panel>
