<wicket:panel>
	<div class="source-view">
		<div class="head">
			<a wicket:id="outlineToggle" title="Toggle outline"><i class="fa fa-list-ul"></i></a>
		</div>
		<div class="body clearfix">
			<div wicket:id="code" class="code pull-left"></div>
			<div wicket:id="outline" class="outline pull-left"></div>
		</div>
		<div wicket:id="symbols" class="hidden">
			<wicket:enclosure child="declarations">
			<div>Declaration occurrences of this name</div>
			<table class="declarations">
				<tr wicket:id="declarations">
					<td class="icon"><img wicket:id="icon"></img></td>
					<td class="content">
						<a wicket:id="link"><span wicket:id="label"></span></a>
						<wicket:enclosure child="scope">
							<span class="scope">
							-- <span wicket:id="scope"></span> 
							</span>
						</wicket:enclosure>
					</td>
				</tr>
			</table>
			</wicket:enclosure>
			<div>
				<a wicket:id="findOccurrences" class="find-occurrences">Find all occurrences of this name</a>
			</div>
		</div>
	</div>
</wicket:panel>