.source-view>.body>.outline {overflow: auto;}
.source-view {height: 600px; border: 1px solid red;}
.CodeMirror-tokentooltip table.declarations td {vertical-align: top; padding: 2px 4px; white-space: nowrap;}
.CodeMirror-tokentooltip table.declarations .scope {color: #666;}
.CodeMirror-tokentooltip>div {font-weight: bold;}

.outline {font-size: 13px;}
.outline .tree-node {line-height: 1.6;}