<wicket:panel>
	<div wicket:id="code" class="source-view"></div>
	<div wicket:id="symbols" class="hidden">
		<wicket:enclosure child="declarations">
		<div>Declaration occurrences of this name</div>
		<table class="declarations">
			<tr wicket:id="declarations">
				<td class="icon"><img wicket:id="icon"></img></td>
				<td class="content">
					<a wicket:id="link"><span wicket:id="label"></span></a>
					<wicket:enclosure child="scope">
						<span class="scope">
						<i class="fa fa-long-arrow-left"></i> <span wicket:id="scope"></span> 
						</span>
					</wicket:enclosure>
				</td>
			</tr>
		</table>
		</wicket:enclosure>
		<div>
			<a wicket:id="findOccurrences" class="find-occurrences">Find all occurrences of this name</a>
		</div>
	</div>
</wicket:panel>