.group>.body>.feedback>.feedbackPanel {
	margin-bottom: 0;
}
.issue-boards>.body>.columns>.column {
	flex: 1;
}
.issue-boards>.body>.feedback>.feedbackPanel {
	margin-bottom: 0;
	margin-top: 1rem;
}
.issue-boards>.body>.columns>.column>.content {
	border: 1px solid var(--secondary);
	border-radius: 0.42rem;
	background: white;
}
.dark-mode .issue-boards>.body>.columns>.column>.content {
	border-color: var(--dark-mode-lighter-dark);
	background: var(--dark-mode-dark);
}
.issue-boards>.body>.columns>.column>.content>.head {
	font-weight: 600;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	border-bottom: 1px solid var(--light-gray);
	border-top: 3px solid var(--light-gray);
}
.dark-mode .issue-boards>.body>.columns>.column>.content>.head {
	border-bottom-color: var(--dark-mode-lighter-dark);
	border-top-color: var(--dark-mode-lighter-dark);
}
.issue-boards>.body>.columns .column:first-child {
	margin-left: 0;
}
.issue-boards>.body>.columns>.column>.content>.body.issue-droppable.ui-droppable-active {
	background: #FDF2C5;
} 
.dark-mode .issue-boards>.body>.columns>.column>.content>.body.issue-droppable.ui-droppable-active {
	background: var(--dark-mode-light-dark);
} 
.issue-boards>.body>.columns>.column>.content>.body.issue-droppable.ui-droppable-hover {
	background: #FAE280;
}
.dark-mode .issue-boards>.body>.columns>.column>.content>.body.issue-droppable.ui-droppable-hover {
	background: var(--dark-mode-lighter-dark);
}
.issue-boards>.body>.columns>.column {
	margin-left: 0.5rem;
	min-width: 256px;
}
.issue-boards>.head .milestone-selector.btn-danger {
	background-color: var(--danger) !important;
	border-color: var(--danger) !important;
}
.issue-boards>.head .milestone-selector.btn-danger:hover, 
.issue-boards>.head .milestone-selector.btn-danger:focus {
	background-color: #EE2D41 !important;
    border-color: #EE2D41 !important;
}
.floating>.content>.milestone-menu>table>tbody>tr:first-child>td {
	border-top: none;
}

.issue-boards>.body .board-card {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.15);
	position: relative;
}
.dark-mode .issue-boards>.body .board-card {
	background: var(--dark-mode-light-dark) !important;
	border: 1px solid var(--dark-mode-lighter-dark);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}
.issue-boards>.body .board-card .primary {
	position: relative;
	padding-right: 20px;
}
.issue-boards>.body .board-card .primary .title {
	word-break: break-word !important;
	overflow-wrap: break-word !important;
	font-size: 1.175rem;
}
.issue-boards>.body .board-card .primary .number {
	margin-right: 0.25rem;
	font-size: 1.175rem;
}
.issue-boards>.body .board-card .primary .issue-link {
	font-weight: 500;
}

.issue-boards>.body .board-card .primary .show-detail {
	position: absolute;
	right: 0;
	top: 0;
}
.issue-boards>.body .board-card .secondary .working-indicator {
	margin-bottom: 6px;
}
.issue-boards>.body .board-card .secondary .avatars-and-progress>:last-child,
.issue-boards>.body .board-card .secondary .avatars-and-progress>.avatar:last-child .value:last-child {
	margin-right: 0 !important;
}

.issue-boards>.body .board-card .linked-issues {
	border-left: 2px dashed var(--secondary);
}
.dark-mode .issue-boards>.body .board-card .linked-issues {
	border-left-color: var(--dark-mode-dark-gray);
}
.issue-boards>.body .board-card .linked-issue {
	margin-top: 0.7rem;
	padding-top: 0.8rem;
	border-top: 1px solid var(--light-gray);
}
.dark-mode .issue-boards>.body .board-card .linked-issue {
	border-top-color: var(--dark-mode-light-dark);
}

.issue-boards>.body .board-card .state .badge {
	padding: 0.25rem 0.4rem;
}

.issue-boards>.body .board-card .state {
	border-bottom: 2px dotted transparent;
	cursor: pointer;
}
.issue-boards>.body .board-card .state:hover {
	border-color: var(--gray);
}
.dark-mode .issue-boards>.body .board-card .state:hover {
	border-color: var(--dark-mode-gray);
}

.issue-boards>.body .board-card.issue-dragging {
	visibility: hidden;
}
.issue-boards>.body .board-card.ui-draggable-dragging {
	box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);	
}
.dark-mode .issue-boards>.body .board-card.ui-draggable-dragging {
	box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.5);	
}
.issue-boards>.body .board-card .issue-progress .completion-rate {
	width: 19px !important;
	height: 19px !important;
}

.board-card-detail .modal-header h5 {
	width: 100%;
	margin-right: 36px;
}

.board-card-detail .issue-operations .new-issue {
	display: none;
}

