.blob-searcher input.form-control {width: 300px; display: none;}
.blob-searcher .btn-group {margin-left: -8px;}
.blob-searcher a {color: #666;}
.blob-searcher .input-group-addon {padding: 6px;}
.blob-searcher .input-group-addon {padding: 6px;}

.blob-instant-search-results>.content {padding: 8px;}
.blob-instant-search-results a {color: #444;}
.blob-instant-search-results a:hover {text-decoration: none;}
.blob-instant-search-results .section>.title {font-weight: bold; margin-bottom: 4px;}
.blob-instant-search-results li.hit:hover {background: #E8E8E8;} 
.blob-instant-search-results li.hit.active {background: #888; color: white;} 
.blob-instant-search-results li.hit.active {background: #888; color: white;} 
.blob-instant-search-results li.hit.active a {color: white;}
.blob-instant-search-results .no-matches {margin-bottom: 8px; font-style: italic;}

.blob-advanced-search label {font-weight: normal;}
.blob-advanced-search .modal-footer {border-top: none;}
.blob-advanced-search form fieldset {border: 1px solid #DDD; padding: 8px 12px;}
.blob-advanced-search form fieldset legend {width:inherit; padding: 4px; margin:0 0 0 -4px; border-bottom:none; font-size: 16px;}
.blob-advanced-search form fieldset>div {margin-top: -12px;}
.blob-advanced-search .feedbackPanelERROR {margin-top: 16px;}