<wicket:panel>
	<div class="blob-searcher form-inline">
		<input wicket:id="input" placeholder="File names, symbols, contents" class="form-control input-sm"></input> 
		<div class="btn btn-group">
			<a title="Instant search" class="btn btn-default btn-sm" onclick="$(this).parent().prev().show().focus();"><i class="fa fa-search"></i></a>
			<a wicket:id="advanced" title="Advanced search" class="btn btn-default btn-sm"><i class="fa fa-binoculars"></i></a>
		</div>
	</div>		
	<div wicket:id="dropdown" class="blob-instant-search-results"></div>
	<div wicket:id="modal" class="blob-advanced-search"></div>
	<wicket:fragment wicket:id="resultsFrag">
		<div class="symbols section">
			<div class="title">File names and symbols</div>
			<wicket:enclosure child="symbolHits">
			<ul class="list-unstyled">
				<li wicket:id="symbolHits" class="hit"><a wicket:id="link"><span wicket:id="label"></span></a></li>
			</ul>
			</wicket:enclosure>
			<div wicket:id="noSymbolHits" class="no-matches">No matches</div>
		</div>
		<div class="texts section">
			<div class="title">Text occurrences</div>
			<wicket:enclosure child="textHits">
			<ul class="list-unstyled">
				<li wicket:id="textHits" class="hit"><a wicket:id="link"><span wicket:id="label"></span></a></li>
			</ul>
			</wicket:enclosure>
			<div wicket:id="noTextHits" class="no-matches">No matches</div>
		</div>
	</wicket:fragment>
	<wicket:fragment wicket:id="advancedSearchFrag">
		<form wicket:id="form">
			<div class="modal-header">
				<h4 class="modal-title">Advanced Search</h4>
			</div>
			<div class="modal-body">
				<div wicket:id="searchFor" class="form-group">
					<label>Search For</label>
					<input wicket:id="input" class="form-control" type="text"></input>
					<div wicket:id="feedback"></div>
				</div>
				<div class="form-group">
					<label class="checkbox-inline"><input wicket:id="regex" type="checkbox"></input> Regular expression</label>
					<label class="checkbox-inline"><input wicket:id="wholeWord" type="checkbox"></input> Whole word</label>
					<label class="checkbox-inline"><input wicket:id="caseSensitive" type="checkbox"></input> Case sensitive</label>
				</div>
				<fieldset>
					<legend>Search Scope</legend>
					<div>
						<wicket:enclosure child="insideCurrentDir">
						<div class="checkbox">
							<label><input wicket:id="insideCurrentDir" type="checkbox"></input> Under current directory</label>
							<p class="help-block">If checked, search will be performed recursively under current directory
							instead of the whole repository.</p>
						</div>
						</wicket:enclosure>
						<div class="form-group">
							<label>File types (separated by comma or space)</label>
							<input wicket:id="fileTypes" class="form-control" type="text" placeholder="File types such as *.java, *.c"></input>
						</div>
						<div wicket:id="searchType" class="form-group">
							<label class="radio-inline"><input wicket:id="texts" type="radio" name="searchScope"></input> Text occurrences</label>
							<label class="radio-inline"><input wicket:id="symbols" type="radio" name="searchScope"></input> File names and symbols</label>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="modal-footer">
				<div class="form-group">
					<button wicket:id="search" class="btn btn-primary">Search</button>
					<button wicket:id="cancel" class="btn btn-default">Cancel</button>
				</div>
			</div>
		</form>
	</wicket:fragment>
</wicket:panel>