#new-request {
	padding: 20px 20px 0 20px;
}
#new-request>.head {
	font-size: 18px;
	margin-bottom: 20px;
}
#new-request>.body>div {
	margin-bottom: 20px;
}
#new-request>.body>.branches {
	margin-bottom: 20px;
	width: auto;
}
#new-request>.body>.branches td {
	vertical-align: middle;
	background: #F5F5F5; 
	border: 1px solid #DDD;
	border-radius: 4px;
	padding: 12px;
}
#new-request>.body>.branches td.action {
	text-align: center;
	background: white;
	border-top: none;
	border-bottom: none;
}
#new-request>.body>.branches .branch .message {
	margin-top: 8px;
}
#new-request>.body>.branches .branch .message a {
	font-size: 13px;
	color: #888;
}
#new-request>.body>.status .summary {
	font-size: 16px; 
	padding: 0; 
	margin-bottom: 8px;
}

#new-request>.body>.status>.can-send form>table td {
	padding: 16px 0; 
	border-top: 1px dashed #BBB; 
	border-bottom: 1px dashed #BBB;
}
#new-request>.body>.status>.can-send form>table tr.description td {
	padding-bottom: 8px;
}
#new-request>.body>.status>.can-send form>table td.name {
	width: 120px; 
	font-size: 18px; 
	padding-right: 8px;
}
#new-request>.body>.status>.can-send form>table td.value {
	padding-left: 8px;
}
#new-request>.body>.status>.can-send form>table {
	margin-bottom: 16px;
}
#new-request>.body>.status>.can-send form>table .select2-container {
	min-width: 250px;
}
#new-request>.body>.status>.can-send form>table td.name .required:BEFORE {
	content: "*"; 
	color: red;
}
#new-request>.body>.status>.can-send form>table .reviewers li {
	margin-right: 10px;
}
#new-request>.body>.status>.can-send form>table .reviewers li a:hover {
	text-decoration: none;
}
#new-request>.body>.status>.can-send form .alert {
	margin-bottom: 0; 
	margin-top: 16px;
}
#new-request>.body>.status>.can-send form .assignee .help-block {
	margin-top: 12px;
}
#new-request>.body>.status>.can-send form .help-block {
	margin-bottom: 0;
}
#new-request>.body>.nav-tabs {
	margin-bottom: 20px;
}
#new-request>.body>.tab-panel>.diff-option {
	padding: 8px;
	background: #F2F2F2;
	border: 1px solid #DDD;
	z-index: 200;
	margin-bottom: 16px;
}
