.file-edit>.head {
	border-bottom: 1px solid #BBB;
	height: 36px;
	background: #F2F2F2;
}
.file-edit>.head a.tab {
	color: #666;
	margin-top: 7px;
	padding: 4px 12px;
	text-decoration: none;
}
.file-edit>.head a.edit {
	margin-left: 12px;
}
.file-edit>.head a.active.tab {
	background: white;
	border: 1px solid #BBB;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid white;
	font-weight: bold;
	color: #333;
}
.file-edit>.head a.cancel {
	margin-top: 11px;
	margin-left: 12px;
}
.file-edit>.body {
	overflow: hidden;
}
.file-edit>.body>.preview, .file-edit>.body>.save {
	display: none;
}  
.file-edit>.body>.save>.edit-save {
	overflow: hidden;	
}
.file-edit>.body>.preview>div>.no-diff, .file-edit>.body>.preview>div>.text-diff {
	border: none;
}  
.file-edit>.body>.preview>div>.no-diff>.head, .file-edit>.body>.preview>div>.text-diff>.head {
	display: none;
}  
