.fieldspec-edit .property-showCondition>.value label {
	font-weight: normal;
}

#project-setting .issue-fields table td {
	padding: 0;
}
#project-setting .issue-fields table td.norecords-td {
	padding: 5px;
}
#project-setting .issue-fields table a {
	display: block;
	color: #666;
	text-decoration: none;
	padding: 5px;
}
#project-setting .issue-fields table>tbody>tr>td:first-child>div {
	position: relative;
	top: 0;
}
#project-setting .issue-fields table>tbody>tr>td:first-child>div>.drag-handle {
	position: absolute;
	top: 8px;
}
#project-setting .issue-fields table>tbody>tr>td:first-child>div>a {
	margin-left: 16px;
}

.floating.field-view {
	width: 600px;
}
.floating.field-view .actions {
	margin-bottom: 12px;
}

.floating.field-view .property-showCondition .property-inputName td.name, 
.floating.field-view .property-choicesProvider .property-inputName td.name,
.floating.field-view .property-defaultValueProvider .property-inputName td.name {
	border-right: none;
	text-align: left;
}

.field-edit .property-choicesProvider>.value label.name,
.field-edit .property-choicesProvider>.value .bean.list thead th,
.property-nameOfEmptyValue .control-label {
	font-weight: normal;
}

.property-outerWrappers table>thead,
.field-edit .property-outerWrappers>div>table>tbody>tr:first-child .name,
.field-view .property-outerWrappers>td>div>div>table>tbody>tr:first-child .name,
.field-edit .property-outerWrappers .required,
.field-edit .property-outerWrappers .handle {
	display: none;
}

.field-view .property-outerWrappers table td {
	border: none !important;
	display: block;
	padding-top: 0 !important;
	padding-left: 0 !important;
}
.field-view .property-outerWrappers .property-inputName td {
	padding-bottom: 8px !important;
}
.field-view .property-outerWrappers table td.name {
	text-align: left !important;
	padding: 8px 0 !important;
}
.field-view .property-condition td {
	padding-bottom: 0 !important;
}
.property-innerWrapper .bean.editor { 
	border-top: none !important;
	padding-top: 0 !important;
	margin-bottom: 0 !important;
}
.property-innerWrapper .property-condition,
.property-innerWrapper .property-valueMatcher,
.property-innerWrapper .property-values {
	margin-bottom: 0 !important;
}