#issue-detail {
	display: table;
	width: 100%;
}
#issue-detail>* {
	display: table-cell;
}
#issue-detail>.main {
	padding-right: 20px;
}
#issue-detail>.main>div {
	margin-bottom: 20px;
}
#issue-detail>.side {
	width: 360px;
	padding: 20px;
	background: #F9F9F9;
	border-radius: 4px;
}
