<wicket:panel>
	<form wicket:id="form" class="save-request-query">
		<div class="modal-header">
			<h5 id="modal-title" class="modal-title"><wicket:t>Save Query</wicket:t></h5>
			<button wicket:id="close" type="button" class="close"><wicket:svg href="times" class="icon"/></button>
		</div>
		<div class="modal-body">
			<div wicket:id="editor"></div>
		</div>
		<div class="modal-footer">
			<input wicket:id="saveForMine" type="submit" t:value="Save as Mine" class="dirty-aware btn btn-primary">
			<button wicket:id="save" class="dirty-aware btn btn-primary"><wicket:t>Save</wicket:t></button>
			<a wicket:id="cancel" class="btn btn-secondary"><wicket:t>Cancel</wicket:t></a>
		</div>
	</form>	
</wicket:panel>