#commit-detail>div {
	margin-bottom: 20px;
}
#commit-detail>div:LAST-CHILD {
	margin-bottom: 0;
}
#commit-detail>.info {
	border: 4px solid #EEE;
	border-radius: 4px;
}

#commit-detail>.info>.message {
	background: #F9F9F9;
	border-bottom: 2px solid #EEE;
	padding: 8px 12px 0 12px;
	border-radius: 4px 4px 0 0;
}
#commit-detail>.info>.message>.subject>.pull-left {
	font-size: 17px;
	font-weight: bold;
	padding-top: 2px;
	color: #555;
	margin-bottom: 8px;
}
#commit-detail>.info>.message>.subject>.pull-right {
	margin-left: 8px;
	margin-bottom: 8px;
}
#commit-detail>.info>.message>.subject .btn-group .fa {
	color: #666;
	font-size: 12px;
}
#commit-detail>.info>.message>.detail {
	color: #666;
	padding: 0 0 12px 0;
	font-size: 13px;
	border: none;
	background: none;
	margin-bottom: 0;
}
#commit-detail>.info>.refs {
	padding: 12px;
	background: #F9F9F9;
	border-bottom: 2px solid #EEE;
}
#commit-detail>.info>.refs .branch:before {
	font-family: Fontawesome;
	content: "\f126";
	color: #444;
}
#commit-detail>.info>.refs .tag:before {
	font-family: Fontawesome;
	content: "\f02b";
	color: #444;
}
#commit-detail>.info>.refs>div>span {
	margin-right: 6px;
}
#commit-detail>.info>.refs a {
	color: #444;
}
#commit-detail>.info>.contribution-and-parents {
	padding: 16px 12px 0 54px;
	position: relative;
}
#commit-detail>.info>.contribution-and-parents>* {
	margin-bottom: 16px;
	margin-right: 20px;
}
#commit-detail>.info>.contribution-and-parents>*:last-child {
	margin-right: 0;
}
#commit-detail>.info>.contribution-and-parents .avatars {
	position: absolute;
	left: 12px;
	top: 10px;
}
#commit-detail>.info>.contribution-and-parents .parents>div>* {
	margin-right: 4px;
}
#commit-detail>.info>.contribution-and-parents .parents>div>*:last-child {
	margin-right: 0;
}
#commit-detail>.info>.contribution-and-parents .parents .fa {
	font-size: 12px;
}

#commit-detail>.jobs>.job {
    border: 2px solid #DDD;
    padding: 4px 8px;
    margin-right: 20px;
    background: #F9F9F9;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}
#commit-detail>.jobs>.job>.run {
    margin-left: 20px;
    color: #666;
}