#project-commits>.main {
	position: relative;
}
#project-commits>.main>.head>* {
	margin-bottom: 20px;
}

#project-commits>.main>.body .no-commits {
	font-size: 16px;
}
#project-commits>.main>.body li {
	padding: 4px 0;
}
#project-commits>.main>.body li.commit>.avatar {
	margin-top: 4px;
}
#project-commits>.main>.body .label {
	margin: 3px 0 0 4px;
}
#project-commits>.main>.body a {
	color: #555;
}
#project-commits>.main>.body a.summary {
	font-weight: bold;
	font-size: 15px;
}
#project-commits>.main>.body .commit>.detail {
	padding-left: 8px; 
	padding-right: 8px;
}
#project-commits>.main>.body li.commit:hover, #project-commits>.main>.body li.commit.hover {
	background: #F7ECB9;
}
#project-commits>.main>.body .commit-message .highlight {
	background: yellow;
}
#project-commits>.main>.body li.commit .contribution {
	font-size: 12px;
}
#project-commits>.main>.body .message-and-labels {
	margin-bottom: 4px;
}
#project-commits>.main>.body .actions {
	margin: 6px 0 0 8px;
}
#project-commits>.main>.body .hash {
	margin-top: 6px;
}
#project-commits>.main>.body .actions .compare {
	color: #777;
}
#project-commits>.main>.body>.list {
	margin-bottom: 0;
}
#project-commits>.main>.foot {
	text-align: center;
}
#project-commits>.main>.foot>.alert, #project-commits>.main>.foot>.btn {
	margin-top: 8px;
	margin-bottom: 0;
}
#project-commits>.main li.date {
	font-size: 18px;
	margin-top: 12px;
	text-align: left;
	border-bottom: 1px solid #EEE;
}
