.subtree-dropdown-trigger {
	background: url("arrow-right.png") no-repeat center top 3px; 
	width: 16px; 
	height: 20px; 
	display: block;
}
.subtree-dropdown-trigger:hover, .subtree-dropdown-trigger.dropdown-open {
	background-image: url("arrow-down.png");
}	
.subtree-dropdown {
	padding: 8px 24px 8px 4px; 
	max-width: 800px; 
}
.subtree-dropdown .tree-theme-human span.tree-content a {
	color: #444; 
	font-size: 13px;
}
.file-navigator em {
	font-style: normal;
}
.file-navigator .add {
	font-size: 18px;
}
.file-navigator span.add em {
	color: #BBB;
}
