<wicket:panel>
	<span class="d-inline-flex align-items-center issue-progress flex-nowrap">
		<a wicket:id="completionRate" class="completion-rate d-inline-block align-middle" title="Estimated/Spent time. Click for details"></a>
		<span wicket:id="workingTime" class="working-time font-weight-bold font-size-h6 text-warning align-middle d-inline-block ml-2"></span>
		<a wicket:id="stopWork" class="btn btn-icon btn-xs btn-light-warning btn-hover-warning ml-2" title="Stop work"><wicket:svg href="stop" class="icon"/></a>
	</span>
</wicket:panel>