<wicket:panel>
	<form wicket:id="form" class="create-tag">
		<div class="modal-header">
			<button wicket:id="close" type="button" class="close">&times;</button>
			<h4 class="modal-title">Create Tag</h4>
		</div>
		<div class="modal-body">
			<div wicket:id="feedback"></div>
			<wicket:enclosure child="name">
			<div class="form-group">
				<label>Tag Name *</label>
				<input wicket:id="name" class="form-control">
			</div>
			</wicket:enclosure>
			<div class="form-group">
				<label>Tag Message</label>
				<textarea wicket:id="message" rows="10" class="form-control"></textarea>
			</div>
		</div>
		<div class="modal-footer">
			<button wicket:id="create" class="btn btn-primary">Create</button>
			<button wicket:id="cancel" class="btn btn-default">Cancel</button>
		</div>
	</form>
</wicket:panel>