<wicket:panel>
	<div class="comparable-branch-selector clearfix">
		<div class="pull-left project">
			<div class="input-group">
				<span class="input-group-addon">Project</span> 
				<input wicket:id="projectSelector" type="hidden" class="form-control"></input> 
			</div>
		</div>
		<div class="pull-left branch">
			<div class="input-group">
				<span class="input-group-addon">Branch</span> 
				<input wicket:id="branchSelector" type="hidden" class="form-control"></input> 
			</div>
		</div>
	</div>
</wicket:panel>