<wicket:panel>
	<div class="comparable-branch-selector clearfix">
		<div class="project">
			<div class="input-group">
				<span wicket:id="projectLabel" class="input-group-addon">Project</span> 
				<input wicket:id="projectChoice" type="hidden" class="form-control"></input> 
			</div>
		</div>
		<div class="connector">&mdash;</div>
		<div class="branch">
			<div class="input-group">
				<span wicket:id="branchLabel" class="input-group-addon">Branch</span> 
				<input wicket:id="branchChoice" type="hidden" class="form-control"></input> 
			</div>
		</div>
	</div>
</wicket:panel>