<wicket:panel>
	<div class="comparable-branch-selector clearfix">
		<div class="repository pull-left">
			<div class="input-group">
				<span class="input-group-addon"><span class="icon icon-repo"></span></span> 
				<input wicket:id="repositoryChoice" type="hidden" class="form-control"></input> 
			</div>
		</div>
		<div class="connector pull-left fa fa-chevron-right"></div>
		<div class="branch pull-left">
			<div class="input-group">
				<span class="input-group-addon"><span class="icon icon-git-branch"></span></span> 
				<input wicket:id="branchChoice" type="hidden" class="form-control"></input> 
			</div>
		</div>
	</div>
</wicket:panel>