.list table td.actions {
	width: 130px;
	white-space: nowrap;
}
.selection {
	padding: 8px;
}
.selection>a {
	padding: 4px;
	display: block;
	color: #666;
	text-decoration: none;
	max-width: 360px;
}
.selection>a>.title {
	font-weight: bold;
	margin-bottom: 4px;
}
.selection>a:FIRST-CHILD {
	margin-bottom: 8px;
}
.selection>a:hover {
	background: #F0F0F0;
}
.teams.table td.members img.avatar {
	margin-right: 4px;
}
.member.add .role label {
	font-weight: normal;
	margin-left: 8px;
	vertical-align: middle;
}
.team.detail .general {
	border: 1px solid #CCC;
	padding: 12px;
	margin-bottom: 20px;
	border-radius: 4px;
	background: #F0F0F0;
} 
.team.detail .general .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 12px;
}
.team.detail .general .actions {
	border-top: 1px solid #DDD;
	padding-top: 12px;
	margin-top: 16px;
}
.team.detail .tab-panel {
	margin-top: 20px;
}

.team.depot.list td.name .note {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
}

.greater-privileges .description {
	font-size: 13px;
	margin-bottom: 12px;
}
.greater-privileges .detail {
	overflow: auto;
	max-height: 500px;
}