#account>table>tbody>tr>td.content .list table td.actions {
	width: 20%;
	white-space: nowrap;
}
#account>table>tbody>tr>td.content .teams.table td.members img.avatar {
	margin-right: 4px;
}
#account>table>tbody>tr>td.content .member.add .role label {
	font-weight: normal;
	margin-left: 8px;
	vertical-align: middle;
}
#account>table>tbody>tr>td.content .detail>.head {
	padding: 12px;
	border: 1px dashed #BBB;
	background: #F0F0F0;
	border-radius: 4px;
	margin-bottom: 20px;
}
#account>table>tbody>tr>td.content .team.detail>.head .title {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 12px;
}
#account>table>tbody>tr>td.content .team.detail>.head .actions {
	border-top: 1px dashed #CCC;
	padding-top: 12px;
	margin-top: 16px;
}
#account>table>tbody>tr>td.content .detail .tab-panel {
	margin-top: 20px;
}

#account>table>tbody>tr>td.content .team.depot.list td.name .note {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
}

#account>table>tbody>tr>td.content .member.detail>.head .avatar {
	width: 32px;
	height: 32px;
}
#account>table>tbody>tr>td.content .member.detail>.head>a, 
#account>table>tbody>tr>td.content .member.detail>.head>span {
	margin-left: 8px;
}
#account>table>tbody>tr>td.content .member.detail>.head>a.name {
	margin-left: 2px;
	font-size: 16px;
	vertical-align: middle;
}
#account>table>tbody>tr>td.content td.privilege, #account>table>tbody>tr>td.content td.role {
	width: 20%;
}

.floating>.content>.selection {
	padding: 16px;
}
.floating>.content>.selection>a {
	padding: 4px;
	display: block;
	color: #666;
	text-decoration: none;
	max-width: 360px;
}
.floating>.content>.selection>a.active:BEFORE {
	font-family: "FontAwesome";
	content: "\f00c";
	position: absolute;
	left: 4px;
}
.floating>.content>.selection>a>.title {
	font-weight: bold;
	margin-bottom: 2px;
}
.floating>.content>.selection>a:hover {
	background: #F0F0F0;
}
.modal-content>.greater-privileges .description {
	font-size: 13px;
	margin-bottom: 12px;
}
.modal-content>.greater-privileges .detail {
	overflow: auto;
	max-height: 500px;
}
