#revision-compare>div {
	margin-bottom: 20px;
}
#revision-compare>div:LAST-CHILD {
	margin-bottom: 0;
}
#revision-compare>.revisions {
	margin-bottom: 20px;
	width: auto;
}
#revision-compare>.revisions td {
	vertical-align: middle;
	background: #FAFAFA; 
	border: 2px solid #E0E0E0;
    padding: 12px;
}
#revision-compare>.revisions td.action {
	text-align: center;
	background: white;
	border-top: none;
	border-bottom: none;
}
#revision-compare>.revisions .revision .title .checkbox {
	margin: 0 0 0 16px;
}
#revision-compare>.revisions .revision .title label {
	font-size: 16px;
	color: #888;
	font-weight: normal;
}
#revision-compare>.revisions .revision .title span {
	color: #888;
	margin-left: 4px;
}
#revision-compare>.revisions .revision .title a {
	color: #666;
	margin-left: 4px;
}
#revision-compare>.revisions .revision .message {
	margin-top: 8px;
}
#revision-compare>.revisions .revision .message a {
	font-size: 13px;
	color: #888;
}