#login .input-group-addon { 
	font-size: 18px; 
	color: #666; 
}
#login .username, #login .password  {
	margin-bottom: 20px;
}
#login .btn { 
	width: 100%;
}
#login .checkbox {
	margin-top: 6px;
}
#login .text-right>a {
	font-size: 16px;
	margin-left: 20px;
}