html, body {
	background: white;
}

.center-box { 
	padding: 50px; 
	width: 600px; 
	margin: 0 auto; 
	background: #F5F5F5;
	border: 8px solid #DDD;
	margin-top: 100px;
	margin-bottom: 20px;
	color: #333;
}

/* COMMON STYLES */
a {
	cursor: pointer;
}
a.fa {
	text-decoration: none; 
	color: #666;
}
table {
	width: 100%;
}
table>tbody>tr>td {
	vertical-align: top;
}
table.table>thead>tr>th>a {
	color: black;
	text-decoration: underline;
}

textarea {
	resize: vertical;
}
form>.actions {
	margin-top: 12px;
}
form>.actions>.btn {
	margin-right: 8px;
}
form>.actions>:last-child {
	margin-right: 0;
}
.actions>a {margin-right: 8px;}

.nav-tabs>li>a {
	color: #777;
}

li.selectable a, a.selectable {
	border: 1px solid white;
	text-decoration: none;
	display: block;
	padding: 2px 4px;
	color: #333;
}
li.selectable:hover a, a.selectable:hover {
	background-color: #E0F0FC;
	border-color: #BBDFF9;
}
li.selectable.active a, a.selectable.active {
	background-color: #CBE8FB;
	border-color: #8BC8F9;
}

.activity-summary {
	color: #999; 
	margin-bottom: 8px;
}
.activity-summary a {
	color: #999;
}
.activity-summary .operations {
	margin-left: 8px;
}
.activity-summary .operations>a, .activity-summary .operations>span {
	margin-right: 6px; 
	color: #DDD;
}
.activity-summary .operations a, .activity-summary .operations span {
	color: #DDD;
}
.activity-summary:hover .operations a, .activity-summary:hover .operations span {
	color: #999;
}
.activity-summary .user a, .activity-summary em {
	color: #666; 
	font-weight: bold; 
	font-style: normal;
}

img.avatar {
	border-radius: 3px;
	height: 24px;
	width: 24px;
}