html, body {
	background: white;
}

.center-box { 
	padding: 50px; 
	width: 600px; 
	margin: 0 auto; 
	background: #F5F5F5;
	border: 8px solid #DDD;
	margin-top: 100px;
	margin-bottom: 20px;
	color: #333;
}

/* COMMON STYLES */
a {
	cursor: pointer;
}
a.fa {
	text-decoration: none; 
	color: #666;
}
table.table>thead>tr>th>a {
	color: black;
	text-decoration: underline;
}

textarea {
	resize: vertical;
}
form>.actions {
	margin-top: 20px;
}
form>.actions>.btn {
	margin-right: 8px;
}
form>.actions>:last-child {
	margin-right: 0;
}
.actions>a {margin-right: 8px;}

.nav-tabs>li>a {
	color: #777;
}

li.selectable a, a.selectable {
	border: 1px solid white;
	text-decoration: none;
	display: block;
	padding: 2px 4px;
	color: #333;
}
li.selectable:hover a, a.selectable:hover {
	background-color: #E0F0FC;
	border-color: #BBDFF9;
}
li.selectable.active a, a.selectable.active {
	background-color: #CBE8FB;
	border-color: #8BC8F9;
}

/* TREE AND FILE DIFFS */
.added.folder:before {content: "\f21a"; color: #05B505;}
.deleted.folder:before {content: "\f21b"; color: #FA7C7C;}
.modified.folder:before {content: "\f21c"; color: #DEB626;}
.unchanged.folder:before {content: "\f114"; color: #888;}
.added.file:before {content: "\f216"; color: #05B505;}
.deleted.file:before {content: "\f217"; color: #FA7C7C;}
.modified.file:before {content: "\f218"; color: #DEB626;}
.renamed.file:before {content: "\f219"; color: #DEB626;}
.unchanged.file:before {content: "\f0f6"; color: #888;}
.diff-tree .tree-content.unchanged.file:before {font-family: "FontAwesome";}

.diff-tree .tree-content:before {font-family: "ponticons"; font-size: 17px;}
.diff-tree em span {font-style: normal;}

.changed-files li:before {font-family: "ponticons"; font-size: 17px;}
.changed-files a {color: black;}

/* TEXT DIFF */
.text-diff>.head {border: 1px solid #DDD; padding: 8px; z-index: 10; background: white;}
.text-diff>.body {border: 1px solid #DDD; border-top: none;}
.text-diff>.head .title {font-size: 16px;}
.text-diff>.head .pull-right {margin-left: 12px;}

.table-diff .line.diff>td.line-no {color: #999; width: 1%; text-align: right; white-space: nowrap;}
.table-diff .line.diff td.text, .table-diff .hunk-head td.content {
	font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;}
.table-diff .line.diff td.text {overflow: visible; white-space: pre;}
.table-diff {font-size: 12px; position:relative;}
.table-diff>tbody>tr>td {padding: 2px 8px;}
.table-diff>tbody>tr>td.text, .table-diff>tbody>tr>td.detail, .table-diff>tbody>tr>td.new {
	border-left: 1px solid #E5E5E5;}  
.table-diff .old.line.diff>td.line-no {background: #faa; color: #8f0000;}
.table-diff .old.line.diff {background: #fdd;}
.table-diff .old.line.diff .emphasize {background: #FC9090;}
.table-diff .new.line.diff {background: #cfc;}
.table-diff .new.line.diff>td.line-no {background: #89FB89; color: #007f00;}
.table-diff .new.line.diff .emphasize {background: #07C907;}
.table-diff .line.diff:hover {background: #fea; } 
.table-diff .line.diff:hover>td.line-no, .table-diff .line.hunk-head:hover .action {background: #FBDE6D;}
.table-diff .hunk-head, .equal.hunk-line>td.info {color: #999;}
.table-diff .hunk-head a {display: block; color: #999;}
.table-diff .hunk-head a:hover {color: #444;}
.table-diff .hunk-head td.action {text-align: center;}
.table-diff .hunk-head {background: none repeat scroll 0 0 #eef;}

.table-diff table.content {width: 100%;}
.table-diff .line.comments>td {padding: 0 12px; border-top: 1px solid #DDD; 
	border-bottom: 1px solid #DDD;}
	
.table-diff .line.comments td.avatar .fa-flag {display: none; margin-top: 12px; font-size: 36px; color: #E7C325;}	
.table-diff .line.comments .concerned td.avatar .fa-flag {display: block;}
form#add-comment {margin: 16px 4px;}
.table-diff a.add-comment {position: absolute; left:0; margin-left: -20px; 
	width: 20px; height: 20px; text-decoration: none;}
.table-diff a.add-comment .fa {display:none; font-size: 18px;}
.table-diff tr:hover a.add-comment .fa {display:inline;}
.table-diff .md-editor {margin-bottom: 16px;}

ul.diff-alerts li {text-align: left;}
ul.diff-alerts {margin: 0 0 0 8px; padding: 4px 8px 4px 12px;}

/* BLOB DIFF */
.binary-file {border: 1px solid #DDD;}
.binary-file>.head {padding: 8px; font-size: 16px; border-bottom: 1px solid #DDD;}
.binary-file>.body {padding: 8px;}

/* DIFF STAT */
.diff-stat {font-family: 'FontAwesome'; color: #ddd; }
.diff-stat>i {font-style: normal; word-spacing: -2px;}
.diff-stat .additions {color: #35c335;}
.diff-stat .deletions {color: #c33535;}

/* ACTIVITY */
.activity>div.summary {color: #999; margin-bottom: 8px;}
.activity>div.summary a {color: #999;}
.activity>div.summary .actions .fa {font-size: 13px;}
.activity>div.summary .actions {margin-left: 8px;}
.activity>div.summary .actions>a, .activity>div.summary .actions>span {margin-right: 6px; color: #DDD;}
.activity>div.summary .actions a, .activity>div.summary .actions span {color: #DDD;}
.activity:hover>div.summary .actions a, .activity:hover>div.summary .actions span {color: #999;}
.activity>div.summary .actions a .fa-times {font-size: 14px;}
.activity>div.summary .actions a .fa-diff {font-size: 14px;}
.activity>div.summary .user a, .activity>div.summary em {color: #666; font-weight: bold; font-style: normal;}

.collapsed>.avatar img {opacity: 0.3;}
.collapsed>.activity>div.summary {margin-bottom: 0; color: #AAA;}
.collapsed>.activity>div.summary .user a {color: #888;}
.collapsed>.activity>div.detail {
	text-overflow: ellipsis; overflow: hidden; 
	max-width: 600px; color: #777; white-space: nowrap;}

/* COMMENTS */
.comment .md-editor {margin-bottom: 16px;}
.reply>.activity {padding: 8px;}
.reply>.activity>div.summary {font-size: 13px;}
.reply.new>.avatar {background: #FCF6D6;}

div.replies {padding-top: 8px; padding-left: 16px;}
div.replies>table>tbody>tr>td {vertical-align: top; border-top: 1px dashed #CCC; 
	padding: 8px 0 8px 0; background: #F5F5F5;}
div.replies>table>tbody>tr:first-child>td {border-top: none;}
div.replies>table>tbody>tr>td.avatar {width: 1px; padding: 10px;}
div.replies>table>tbody>tr>td.avatar img {width: 26px; height: 26px;}
div.replies>.add-reply {padding-top: 10px; color: #999;}
div.replies>.add-reply>div>a {color: #999;}
div.replies>.add-reply:hover>div>a {color: #333;}
table.comments>tbody>tr>td.avatar {width: 1px; padding-right: 16px;}
table.comments>tbody>tr>td.avatar img {width: 36px; height: 36px;}
table.comments>tbody>tr>td {border-top: 1px solid #E5E5E5; padding: 12px 0 12px 0;}
table.comments>tbody>tr:first-child>td {border-top: none;}

ul.threads li {border-left: 4px solid #E5E5E5; padding-left: 8px;}
ul.threads li.unread {border-color: #70AEFA;}
ul.threads li a {color: #444; cursor: pointer;}
ul.threads li .markdown {color: #888; margin-top: 4px;}

.content>.commit-choice {max-height: 600px; padding: 8px 0; overflow-y: scroll;}
.content>.commit-choice a {text-decoration: none; color: #333; display: block; padding: 8px;}
.content>.commit-choice li {border-bottom: 1px dotted #BBB;}
.content>.commit-choice li:hover {background: #FDF2C3;}
.content>.commit-choice a .commit {font-family: Consolas, 'Liberation Mono', Courier, monospace;}
.content>.commit-choice a .subject {font-size: 12px; color: #999;} 
table.old-vs-new td {padding: 0 8px;}
table.old-vs-new td.old {width: 140px; text-align: left;}
table.old-vs-new td.new {width: 140px; text-align: right;}
table.old-vs-new td.vs {width: 1px; text-align: center; font-weight: bold;}

.conflict-resolve-instruction {padding: 8px; width: 400px;}
