table.project-list {
	font-size: 13px;
}
table.project-list td.project {
	font-size: 14px;
}

table.project-list td.project, table.project-list td.author {
	white-space: nowrap;
} 
table.project-list td.commit-date {
	color: #888;
}
