<wicket:panel>
	<table wicket:id="projects" class="table project-list"></table>
	<wicket:fragment wicket:id="projectFrag">
		<a wicket:id="link"><img wicket:id="avatar"> <span wicket:id="name" class="name"></span></a> 
	</wicket:fragment>
	<wicket:fragment wicket:id="authorFrag">
		<a wicket:id="avatar" class="avatar"></a> <a wicket:id="name" class="name"></a>
	</wicket:fragment>
	<wicket:fragment wicket:id="commitMessageFrag">
		<a wicket:id="link"><span wicket:id="message"></span></a> 
	</wicket:fragment>
</wicket:panel>
