html, body { background: #f0f2f4; }

a { color: #09f; }

body.modal-open { margin-right: 0; }

/**
 * MISC COMPONENTS
 */
.replaced { display: block; width: 1px; height: 1px; outline: none; overflow: hidden; text-indent: -9999px; }
.roundedtop { border-radius: 4px 4px 0 0; -webkit-border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; -khtml-border-radius: 4px 4px 0 0; }
.roundedbottom { border-radius: 0 0 4px 4px; -webkit-border-bottom-left-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius: 0 0 4px 4px; -o-border-radius: 0 0 4px 4px; -khtml-border-radius: 0 0 4px 4px; }
.roundedright { border-radius: 0 4px 4px 0; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; -khtml-border-radius: 0 4px 4px 0; }
.roundedleft { border-radius: 4px 0 0 4px; -webkit-border-top-left-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; -khtml-border-radius: 4px 0 0 4px; }
.roundedtopleft { border-radius:4px 0 0; -webkit-border-top-left-radius:4px; -moz-border-radius:4px 0 0; -o-border-radius:4px 0 0; -khtml-border-radius:4px 0 0; }
.roundedtopright { border-radius: 0 4px 0 0; -webkit-border-top-right-radius:4px; -moz-border-radius:0 4px 0 0; -o-border-radius:0 4px 0 0; -khtml-border-radius: 0 4px 0 0; }
.roundedbottomleft { border-radius: 0 0 0 4px; -webkit-border-bottom-left-radius:4px; -moz-border-radius: 0 0 0 4px; -o-border-radius: 0 0 0 4px; -khtml-border-radius: 0 0 0 4px; }
.roundedbottomright { border-radius: 0 0 4px 0; -webkit-border-bottom-right-radius:4px; -moz-border-radius: 0 0 4px 0; -o-border-radius: 0 0 4px 0; -khtml-border-radius: 0 0 4px 0; }

.shadow { -webkit-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; -moz-box-shadow: rgba(0,0,0,0.35) 0 1px 3px; box-shadow: rgba(0,0,0,0.35) 0 1px 3px; }
img.shadow { padding: 5px; background: #fff; margin-bottom: 2px; *border: 1px solid #e2e2e2; _position: relative; }

ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style:disc outside; }

/* Inline Lists */
.inline-list { margin: 0 auto 1.0625em auto; margin-left: -1.375em; margin-right: 0; padding: 0; list-style: none; overflow: hidden; }
.inline-list > li { list-style: none; float: left; margin-left: 1.375em; display: block; }
.inline-list > li > * { display: block; }

/* PIPED LINKS */
.piped { *zoom: 1; }
.piped li { display: inline-block; }
.piped li > * { border-left: 1px solid #797c80; padding: 0 0 0 0.75em; margin-left: 0.75em; }
.piped li:first-child > * { border-left: 0 !important; padding-left: 0; margin-left: 0 !important; }
.piped:before, .piped:after { display: table; line-height: 0; content: ""; }
.piped:after { clear: both; }
ul.piped, ol.piped { margin: 0; padding: 0; }
.piped li em { font-style: normal; color: #999; cursor: not-allowed;}

.piped.noborder a, .piped.noborder em { border: none; }
.action-links { white-space: nowrap; }
.action-links > .link-item { display: inline-block; margin-left: 12px; }
.action-links > .link-item:first-child { margin-left: 0;}


/* LINKS */
.checkable-link { color: #333; cursor: pointer; }
.checkable-link:hover { text-decoration: none; }
.checkable-link .icon-checkbox:before { content: "\f096"; width: 16px; }
.checkable-link.checked .icon-checkbox:before { content: "\f046"; width: 16px; }
.checkable-link.disabled,
.checkable-link > em { color: #999; font-style: normal; cursor: not-allowed;}

.light-link { color: #aaa; }
.light-link:hover { color: #08F; }

/** LIST GROUP */
.list-navs > .list-group-item { border-width: 1px 0; position: relative; }
.list-navs > .list-group-item:first-child,
.list-navs > .list-group-item:last-child { border-radius: 0; }

.list-group.list-group-hover .list-group-item:hover { background: #ffe; }
.list-group-item .item-actions { position: absolute; right: 30px; top: 10px; }
.list-group-item .item-actions a { color: #999; }
.list-group-item .item-actions a:hover { color: #333; text-decoration: none; }

.list-view .list-group-item { border-left: none; border-right: none; position: relative; }
.list-view .list-group-item:first-child,
.list-view .list-group-item:last-child { border-radius: 0; }


.left { float: left; }
.right { float: right; }
.inline { display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.replaced { display: block; width: 1px; height: 1px; outline: none; overflow: hidden; text-indent: -9999px; }

/* BUTTONS */
.btn { font-weight: normal; }
.btn-primary { background: #1aadf8; border-color: #1aadf8; }
.btn-warning { background: #ff9500; border-color: #ff9500; }
.btn-danger { background: #ff2a68; border-color: #ff2a68; }
.btn-success { background: #64da38; border-color: #64da38; }


.btn-colorful-text { background: transparent; border-color: #cccccc; }

.btn-danger.btn-colorful-text { color: #ff2a68; border-color: #ff2a68;}
.btn-warning.btn-colorful-text { color: #ff9500; border-color: #ff9500;}
.btn-success.btn-colorful-text { color: #64da38; border-color: #64da38;}
.btn-primary.btn-colorful-text { color: #1aadf8; border-color: #1aadf8; }
.btn-info.btn-colorful-text { color: #00B5AD; border-color:#00B5AD;}

.btn-group > .btn-colorful-text { }

.btn.btn-colorful-text:hover,
.btn.btn-colorful-text:focus,
.btn.btn-colorful-text:active,
.btn.btn-colorful-text.active,
.open .dropdown-toggle.btn.btn-colorful-text {
	color: #fff;
}

.btn-primary.btn-colorful-text:hover,
.btn-primary.btn-colorful-text:focus,
.btn-primary.btn-colorful-text:active,
.btn-primary.btn-colorful-text.active,
.open .dropdown-toggle.btn-primary.btn-colorful-text {
	background: #1aadf8;
}

.btn-warning.btn-colorful-text:hover,
.btn-warning.btn-colorful-text:focus,
.btn-warning.btn-colorful-text:active,
.btn-warning.btn-colorful-text.active,
.open .dropdown-toggle.btn-warning.btn-colorful-text {
	background: #ff9500;
}

.btn-danger.btn-colorful-text:hover,
.btn-danger.btn-colorful-text:focus,
.btn-danger.btn-colorful-text:active,
.btn-danger.btn-colorful-text.active,
.open .dropdown-toggle.btn-danger.btn-colorful-text {
	background: #ff2a68;
}

.btn-success.btn-colorful-text:hover,
.btn-success.btn-colorful-text:focus,
.btn-success.btn-colorful-text:active,
.btn-success.btn-colorful-text.active,
.open .dropdown-toggle.btn-success.btn-colorful-text {
	background: #64da38;
}

.btn-info.btn-colorful-text:hover,
.btn-info.btn-colorful-text:focus,
.btn-info.btn-colorful-text:active,
.btn-info.btn-colorful-text.active,
.open .dropdown-toggle.btn-info.btn-colorful-text {
	background: #2ba6cb;
}

.btn-gray {
  color: #333333;
  background-color: #eaeaea;
  border-color: #cccccc;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  color: #333333;
  background-color: #d5d5d5;
  border-color: #adadad;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
  background-color: #eaeaea;
  border-color: #cccccc;
}

.btn-inverse {
  color: #ffffff;
  background-color: #34495e;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #415b76;
  border-color: #415b76;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background: #2c3e50;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #34495e;
}

.btn-inverse .caret { border-top-color: #fff; }

.btn-radio-group .btn .icon-ok { display: none; }
.btn-radio-group .btn.active { background: #999; color: white; }
.btn-radio-group .btn.active .icon-ok, .btn-radio-group .btn:hover .icon-ok { display: inline-block; }
/**
 * TABLE
 */
.table { width: 100%; }
.norecords-tr .norecords-td { background: #F9F7ED; font-size: 1.5em; line-height: 3em; font-weight: bold; text-align: center; }
.table th a { color: #333; text-decoration: underline; }
.table .operations-td { white-space: nowrap; }
.operations-td a, .operations-td a.iconlink { color: #999; }
.operations-td a:hover { color: #333; text-decoration: none; }

.search-nav-td { font-size: 11px; }
.search-nav-td form { position: relative; }
.search-nav-td input.form-control, .search-nav-td select.form-control { padding: 2px 4px; height: 24px; }
.search-nav-td .btn { padding: 2px 8px; height: 24px; }

.form-inline.navigation-form select.form-control { width: 60px; }
.form-inline.navigation-form input.form-control { width: 40px;  }
.form-inline.navigation-form .btn-group { margin-left: 6px; }
.search-form button { position: absolute; right: 2px; top: 1px; border: none; height: 22px; background: transparent; color: #888; }

.form-inline .field-controls { display: block; }

/* FORM COMPONENT */
.select2-container .select2-choice { padding-top: 4px; padding-bottom: 4px; height: auto; }
.select2-highlighted .user-choice-row p.text-muted { color: #ccc; }

.required { color: #a00; margin-left: 3px;}
.field-help { color: #999; font-size: 11px; margin: 5px 0; }
.form-feedback { padding: 6px 1em; color: white; margin-bottom: 18px; border-style: solid; border-width: 1px 1px 1px 2px; }
.form-feedback ul.feedbackPanel, .field-feedback > ul.feedbackPanel { list-style: none; margin: 3px 0; padding: 0; }
.form-feedback.has-error {  color: #b94a48; background-color: #f2dede; border-color: #eed3d7 #eed3d7 #eed3d7 #b94a48; }
.form-feedback.has-warning { color: #c09853; background-color: #fcf8e3; border-color: #fbeed5 #fbeed5 #fbeed5 #c09853 ;}
.form-feedback.has-success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6 #d6e9c6 #d6e9c6 #468847; }
.form-feedback.has-info { color: #3a87ad; background-color: #d9edf7; border-color: #bce8f1 #bce8f1 #bce8f1 #3a87ad;}

.submits { margin-top: 20px; padding-top: 18px; text-align: right; }
.submits:before, .submits:after { display: table; content: " "; }
.submits:after { clear: both; }
.submits .btn + .btn { margin-bottom: 0; margin-left: 5px; }


.form-sm { width: 400px; }
.form-md { width: 600px; }
.form-lg { width: 800px; }

.radio-group .btn { color: #999; }
.radio-group .btn.active { background: #8e8e93; color: white; }
.radio-group .btn > .icon-circle:before { content: "\f10c"; }
.radio-group .btn.active > .icon-circle:before { content: "\f111"; }

.checkbox-flat { padding-left: 0; margin-top: 6px; margin-bottom: 6px; }
.checkbox-flat input[type="checkbox"] { display: none; }
.checkbox-flat .icon-checkbox:before { content: "\f096"; width: 16px; }
.checkbox-flat.checked .icon-checkbox:before { content: "\f046"; width: 16px; }
.checkbox-flat.disabled { color: #888; }

.radio-flat { padding-left: 0; cursor: pointer; }
.radio-flat input[type="radio"] { display: none; }
.radio-flat .icon-radio:before { content: "\f10c"; width: 16px; }
.radio-flat:hover .icon-radio:before,
.radio-flat.checked .icon-radio:before { content: "\f192"; }
.radio-flat:hover .icon-radio { color: #888; }
.radio-flat.checked:hover .icon-radio { color: #333; }

.radio-flat.disabled { color: #888; cursor: default; }

.form-horizontal .form-group {  }
.form-horizontal .control-label,
.form-horizontal .field-controls { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; float: left; }
.form-horizontal .control-label { width: 25%; }
.form-horizontal .field-controls { width: 74.884%; }
.form-horizontal .field-controls .message { margin: 0; padding-top: 7px; }

/**
 * AVATAR
 */
.avatar {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  height: 20px; width: 20px;
  line-height: 1.428571429;
  background-color: #fff;
  box-shadow: 0 1px 0 #fff;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.avatar.img-thumbnail { padding: 1px; }
.avatar > img { display: block; margin: 0 auto; width: 100%; height: 100%; border-radius: 3px; }
.avatar-circle { border-radius: 50%; }
.avatar-circle > img { border-radius: 50%; }
.avatar-big { width: 32px; height: 32px; }
.avatar-xlarge { width: 128px; height: 128px; }

/** FAUX ROW */
.faux { display: table; width: 100%; border-collapse: collapse; table-layout: fixed; border-spacing: 0; }
.faux-row { display: table-row; }
.faux-cell { display: table-cell; vertical-align: top; margin: 0; padding: 0; }
.faux-cell.sidebar { width: 240px; position: relative; border-right: 1px solid #ddd; }
.sidebar-inner { position: relative; width: 240px; }
.faux .content { }

