<wicket:panel>
	<div class="file-list autofit">
		<table class="files">
			<tr wicket:id="parent" class="parent">
				<td colspan="3">
					<a wicket:id="link"><i class="fa fa-level-up"></i> <span>..</span></a>
				</td>
			</tr>
			<tr wicket:id="children" class="child">
				<td class="path">
					<i wicket:id="pathIcon"></i>
					<a wicket:id="pathLink"><span wicket:id="label"></span></a>
				</td>
				<td wicket:id="lastCommit" class="last-commit author"></td>
				<td class="last-commit message"></td>
				<td class="last-commit when"></td>
			</tr>
		</table>
		<div wicket:id="readme" class="readme">
			<div class="head">
				<wicket:link><img src="book.png"/></wicket:link> <span wicket:id="title"></span>
			</div>
			<div wicket:id="body" class="body"></div>
		</div>
	</div>
</wicket:panel>