<html xmlns:wicket>
<wicket:panel>
	<div class="file-navigator">
		<a class="btn btn-success has-tip" data-toggle="tooltip" title="compare and review"><i class="fa fa-branch-compare"></i></a>
		<wicket:container wicket:id="revselector"></wicket:container>
		<ol class="breadcrumb inline breadcrumb-paths">
			<wicket:container wicket:id="paths"></wicket:container>
			<li>
				<a class="has-tip" data-toggle="tooltip" title="Fork this repository and add a new file"><i class="fa fa-file-add"></i></a>
			</li>
		</ol>
	</div>
</wicket:panel>
</html>