<wicket:panel>
	<div class="source-format clearfix">
		<wicket:enclosure child="indentType">
		<div class="float-left indent-type">
			<select wicket:id="indentType" class="form-control"></select>
		</div>
		</wicket:enclosure>
		<wicket:enclosure child="tabSize">
		<div class="float-left tab-size">
			<select wicket:id="tabSize" class="form-control"></select>
		</div>
		</wicket:enclosure>
		<wicket:enclosure child="lineWrapMode">
		<div class="float-left line-wrap-mode">
			<select wicket:id="lineWrapMode" class="form-control"></select>
		</div>
		</wicket:enclosure>
	</div>
</wicket:panel>