body.PullRequestDetailPage {
	min-width: 760px;
}
@media(max-width: 1270px) {
    ul.nav-tabs>li.collapsed {
        display: block;
    }
    ul.nav-tabs>li.expanded {
        display: none;
    }
}

#request-detail {
	display: table;
	width: 100%;
}
#request-detail>* {
	display: table-cell;
}
#request-detail>.main {
	padding-right: 20px;
}
#request-detail>.main>div {
	margin-bottom: 20px;
}
#request-detail>.main>.title>* {
	display: inline;
}
#request-detail>.main>.title {
	font-size: 20px;
	font-weight: bold;
	color: #444;
	position: relative;
}
#request-detail>.main>.title a.edit {
	color: #666;
	margin-left: 8px;
}
#request-detail>.main>.title input[type=text] {
	font-weight: normal;
}
#request-detail>.main>.title .alert {
	font-weight: normal;
	font-size: 14px;
}
#request-detail>.main>.status-and-branches {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 12px;
}
#request-detail>.main>.status-and-branches>* {
	margin-bottom: 8px;
}
#request-detail>.main>.status-and-branches>.status {
	font-size: 16px;
	margin-right: 8px;
}

#request-detail>.main>.summary>div {
	margin-bottom: 20px;
}
#request-detail>.main>.summary ul {
	margin-bottom: 0;
}
#request-detail>.main>.summary .calculating img {
	width: 24px;
	height: 24px;
}

#request-detail>.main>.summary .no-conflict>* {
	margin-right: 4px;
}

#request-detail>.main>.summary>.operations>.confirm>.hint {
	margin-bottom: 12px;
	font-size: 16px;
} 
#request-detail>.main>.summary>.operations>.confirm>.hint .warning {
	color: #EC5544;
} 
#request-detail>.main>.summary>.operations>.buttons>a, 
#request-detail>.main>.summary>.operations>.confirm>form>input {
	margin-right: 12px;
} 
#request-detail>.main>.summary>.operations>.confirm>form .markdown-editor {
	margin-bottom: 16px;
} 

ul>li>a.code-comments .fa-circle {
	color: #4667EE;
	display: none;
	margin-left: 4px;
}
ul>li>a.code-comments.new .fa-circle {
	display: inline;
}

#request-detail>.side>.nav {
	font-size: 16px;
	position: relative;
	text-align: center;
}
#request-detail>.side>.nav a {
	position: absolute;
	color: #666;
	top: 0;
}

#request-detail>.side>.nav .prev {
	left: 0;
}
#request-detail>.side>.nav .next {
	right: 0;
}

#request-detail>.side>div>.head {
	font-weight: bold;
	margin-bottom: 12px;
}

#request-detail>.side {
	width: 360px;
	padding: 20px;
	background: #F9F9F9;
}
#request-detail>.side>* {
	margin-bottom: 20px;
	border-top: 1px solid #E8E8E8;
	padding-top: 20px;
}
#request-detail>.side>div:first-child {
	border-top: none;
	padding-top: 0;
}

.floating>.content>.instruction {
	padding: 12px 12px 12px 24px; 
	width: 500px;
	margin-bottom: 0;
}
.floating>.content>.instruction>li {
	list-style: decimal;
	margin-bottom: 12px;
}
.floating>.content>.instruction>li:last-child {
	margin-bottom: 0;
}

.floating>.content>.instruction>li>.code {
	margin-top: 8px;
	font-family: monospace;
	font-size: 13px;
	background: #F5F5F5;
	border: 1px dashed #BBB;
	border-radius: 4px;
	padding: 8px;
}
