/* Side bar */
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background: #FAFAFA;
	overflow: hidden;
	width: 240px;
	border-left: 1px solid #FAFAFA;
	border-right: 2px solid #E0E0E0;
	z-index: 210;
}
.sidebar .fa, .sidebar .fa-ext {
	margin-right: 4px;
}
.sidebar>.tabs {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 20px 0;
	overflow: hidden;
	margin-bottom: 0;
}
.sidebar>.tabs>li>a {
	display: block;
	border-left: 4px solid #FAFAFA;
	padding: 12px 8px;
	text-decoration: none;
	color: #616161;
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.sidebar>.tabs>li:hover>a {
	background: #EEE;
	border-left-color: #9E9E9E;	
}
.sidebar>.tabs>li.active>a {
	background: #EEE;
	color: #212121;
	border-left-color: #212121;
	font-weight: bold;
}
.sidebar+.content {
	padding-left: 240px;
}

.minimizable.sidebar>.tabs {
	bottom: 36px;
}
.minimizable.sidebar>a.mini-toggle {
	display: block;
	border-top: 2px solid #E0E0E0;
	height: 40px;
	text-decoration: none;
	font-size: 24px;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: #888;
	font-weight: bold;
	margin-right: 1px;
	background: #FAFAFA;
}
.minimizable.sidebar>a.mini-toggle:before {
	font-family: "FontAwesome";
	content: "\f104";
}
.minimizable.sidebar>a.mini-toggle:hover {
	background: #EEE;
}

.minimized.sidebar {
	width: 44px;
}
.minimized.sidebar>.tabs>li>a>.text {
	display: none;
}
.minimized.sidebar>a.mini-toggle:before {
	content: "\f105";
}
.minimized.sidebar+.content {
	padding-left: 44px;
}