#user>.sidebar>.head {
	border-bottom: 2px solid #E0E0E0;
	padding: 6px 22px 6px 4px;
	font-size: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 46px;
}
#user>.sidebar>.tabs {
	top: 46px;
}
#user>.sidebar>.head img {
	height: 32px;
	width: 32px;
}
#user>.minimized.sidebar>.head>span {
	display: none;
}

#user .project.list .head .select2-container {
	width: 240px;
} 
#user .project.list table a {
	color: #666;
	margin-left: 4px;
} 

#user .avatar-edit .title {
	margin-bottom: 20px;
	font-size: 18px; 
	font-weight: bold;
}
#user .avatar-edit>.current {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #E8E8E8;
}
#user .avatar-edit .current img {
	height: 240px;
	width: 240px;
	display: block;
}
#user .avatar-edit .current a {
	margin-top: 20px;
}
#user .avatar-edit form>button {
	margin-top: 20px;
}

.user.list .actions a {
	color: #666;
}
.new-user .actions .btn {
	margin-right: 20px;
}

.token-generate .token-value {
	margin-top: 20px;
}
.token-generate .token-value a {
	color: #444;
	margin-left: 4px;
}