<wicket:panel>
	<table class="reviewers">
		<tr wicket:id="reviewers">
			<td class="result">
				<span wicket:id="result"></span>
			</td>
			<td class="reviewer">
				<a wicket:id="avatar"></a> <a wicket:id="name"></a>
			</td>
			<td class="actions">
				<a wicket:id="withdraw" title="Withdraw this review"><i class="fa fa-undo"></i></a>
				<a wicket:id="delete" title="Remove this reviewer"><i class="fa fa-trash"></i></a>
			</td>
		</tr>
		<wicket:container wicket:id="noReviewers">
		<tr>
			<td class="no-reviewers" colspan="3">
				<i>No reviewers specified</i>
			</td>
		</tr>
		</wicket:container>
		<wicket:enclosure child="addReviewer">
		<tr>
			<td ckass="add-reviewer" colspan="3">
				<input wicket:id="addReviewer" type="hidden"></input>
			</td>
		</tr>
		</wicket:enclosure>
	</table>
</wicket:panel>