.review-result {
	font-size: 16px; 
	position: absolute; 
	left: 30px; 
	top: -11px; 
	cursor: pointer;
	opacity: 100;
}
.review-result.current.approved {
	color: #35A612;
}
.review-result.current.disapproved {
	color: #F93333;
}
.review-result.previous.approved, .review-result.previous.disapproved {
	color: #888;
}
