.commit-message>.summary a {
	color: #444;
}
.commit-message>.detail {
	display: none; 
	color: #666; 
    font-size: 12px;
    border: none;
	border-left: 4px solid #E8E8E8;
    background: none;
    margin: 8px 0;
    padding: 0 0 0 12px;
    border-radius: 0;
}
.commit:hover .commit-message>.detail {
    border-left-color: #D8D8D8;
} 