.sidebar {
	margin: -20px;
}
.sidebar>table {
	width: 100%;
}
.sidebar>table>tbody>tr>td {
	vertical-align: top;
}
.sidebar>table>tbody>tr>td.tabs {
	padding: 20px 0 0 20px;
	width: 200px;
	border-right: 1px solid #BBB;
}
.sidebar>table>tbody>tr>td.tabs>ul {
	position: relative;
}
.sidebar>table>tbody>tr>td.tabs>ul>li>a {
	border: 1px solid white;
	color: #666;
	display: block;
	text-decoration: none;
	padding: 6px 12px;
}
.sidebar>table>tbody>tr>td.tabs>ul>li.active>a {
	border: 1px solid #BBB;
	border-right-color: white;
	color: black;
	margin-right: -1px;
}
.sidebar>table>tbody>tr>td.tabs>div {
	margin-top: 20px;
}
.sidebar>table>tbody>tr>td.content {
	padding: 20px;
}
