<html xmlns:wicket>
<wicket:panel>
	<div wicket:id="alert"></div>
	<wicket:container wicket:id="commits">
		<div class="panel panel-default panel-commit">
			<div class="panel-heading">
				<h3><i class="fa fa-calendar-month"></i> <span wicket:id="day"></span></h3>
			</div>
			<div class="panel-body">
				<table class="table table-compact table-commits table-striped">
					<tr wicket:id="rows">
						<td class="td-name">
							<div class="name" wicket:id="name"></div>
						</td>
						<td class="td-message">
							<wicket:container wicket:id="message"></wicket:container>
						</td>
						<td class="td-commitish">
							<a class="sha" wicket:id="commitlink"><span wicket:id="sha"></span></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</wicket:container>
</wicket:panel>
</html>